<template>
  <div class="mt-add-blog-post">

    <h1>Добавление поста в блог мотоцикла "{{ vehicleName }}"</h1>

    <mt-edit-post
      ref="postEditor"
      :disabled="sending"
      with-text
      with-gallery
      with-models
      with-meta
      @validateForm="validated = $event"
      >
    </mt-edit-post>

    <div class="form-group">
      <button class="btn btn-default pull-right" @click.prevent="publish" :disabled="sending || !validated">Опубликовать</button>
    </div>

  </div>
</template>

<script>
  import cuid from 'cuid';
  import api from '@/api';
  import { delay, uploadImage } from '@/utils';

  export default {

    head() {
      return {
        title: 'Добавление записи',
      };
    },

    fetch({ route, store }) {
      store.commit('replaceBreadcrumbs', [
        { title: 'Главная', to: '/' },
        { title: 'Мотоцикл', to: `/vehicle-${route.params.id}` },
        { title: 'Добавление записи (вы здесь)' },
      ]);
    },

    async asyncData(context) {
      var vehicleResponse = await api.get(`accountVehicles/${context.route.params.id}/get`);
      return {
        vehicle: _.get(vehicleResponse, 'data.data', {}),
      };
    },

    data() {
      return {
        sending: false,
        validated: false,
      };
    },

    computed: {
      vehicleName() {
        return _.get(this, 'vehicle.accountVehicle.name', 'Без имени');
      },
    },

    methods: {

      async publish() {
        this.sending = true;
        try {
          var payload = await this.$refs.postEditor.collectPayload();

          _.extend(payload, {
            categories: ['Review'], // @TODO: неправильная категория!
            spotType: 'Logbook'
          });

          let { data: { data: postData } } = await api.post(`articles/logbooks/${this.$route.params.id}/add`, payload);
          this.$router.push(`/post-${postData.article.id}`);
        }
        catch (err) {
          console.error(err);
          alert(err.message);
        }
        this.sending = false;
      },

    },

  };
</script>
