<!--
  https://www.dropbox.com/s/pnm3fxjdxqxzgru/страница-мотоцикла.jpg?dl=0

  @TODO: nuxt-links
 -->

<template>
  <main class="vehicle-page" v-if="user && vehicle">

    <!-- has prop :bg -->
    <mt-profile-background :user="user" :me="isMe">
    </mt-profile-background>

    <div class="button-block">
      <template v-if="!isMe"> <!-- нельзя подписаться на себя -->
        <div
          class="btn btn-default pull-right"
          @click="unsubscribe"
          v-if="user.subscribed"
          >
          <i class="mi mi-otpisat"></i>
          Отписаться
        </div>
        <div
          class="btn btn-default pull-right"
          @click="subscribe"
          v-else
          >
          <i class="mi mi-mail"></i>
          Подписаться
        </div>
      </template>
    </div>

    <mt-prev-next
      :prevDisabled="!prevId"
      :nextDisabled="!nextId"
      :prev="`/vehicle-${prevId}`"
      :next="`/vehicle-${nextId}`"
      />

    <!-- <div class="row"> -->
      <h1 class="title">{{vehicle.name}}</h1>
      <!-- в редактировании техники нет галереи -->
      <!-- <mt-page-gallery :items="galleryItems" @like="likeGalleryItem($event)"/> -->
    <!-- </div> -->

    <div class="h2">Отзыв</div>
    <p class="review">{{ vehicle.feedback }}</p>
    <mt-models-comparassion :count-to-compare="1" :vehicles="[vehicle]" />

    <div class="top-panel">
      <h2 class="title">
        {{blogName}}
      </h2>
      <div class="button-block">
        <nuxt-link :to="`/vehicle-${$route.params.id}/add-post`" class="btn btn-default pull-right">
          <i class="mi mi-add"></i>
          Добавить запись
        </nuxt-link>
      </div>
    </div>

    <div class="cont-feed cont-for-news">
      <mt-feed
        :items="articles.items"
        :loading="articles.loading"
        :page="articles.page"
        :page-min="1" :page-max="articles.pageMax"
        @update-page="updatePage(articles, $event)"
        @show-more="showMore(articles)"
        >
      </mt-feed>
    </div>

  </main>
</template>

<script>
  import api from '@/api';
  import { getStatic } from '@/api';
  import { delay, FeedList } from '@/utils';

  export default {

    head() {
      return {
        title: `Мотоцикл ${_.get(this, 'vehicle.name', '')}`,
      };
    },

    fetch({ route, store }) {
      store.commit('replaceBreadcrumbs', [
        { title: 'Главная', to: '/' },
        { title: 'Техника', to: '/vehicles' },
        { title: 'Вы здесь' },
      ]);
    },

    layout: 'personal',

    async asyncData(context) {
      var data = {
        id: 'sample',

        prevId: null,
        nextId: null,

        rawVehicle: null,
        rawUser: null,
        
        articles: await FeedList.makeAndLoad(`/articles/getAllFull?spotType="Logbook"&id=${context.route.params.id}`, 5, {mapper: 'fullArtice'}),
      };

      await context.store.dispatch('sidebar/loadUser');

      var vm = this;
      try {
        // GET /api/v1/accountVehicles/{id}/get
        var vehicleId = context.route.params.id;
        var { data: { data: vehicle } } = await api.get(`/accountVehicles/${vehicleId}/get`);
        if (!vehicle) {
          console.warn('Нет данных по просматриваемому мотоциклу');
          return;
        }
        data.prevId = vehicle.prev || null;
        data.nextId = vehicle.next || null;
        data.rawVehicle = vehicle.accountVehicle;
        var { data: { data: user } } = await api.get(`/accounts/${vehicle.accountVehicle.accountId}/get`);
        data.rawUser = user;
      }
      catch (err) {
        console.warn('данные по просматриваемому мотоциклу - ошибка при получении данных');
      }
      return data;
    },

    computed: {
      isMe() {
        return _.get(this, '$store.state.auth.account.id') == _.get(this, 'user.id');
      },
      user() {
        return _.extend({}, this.rawUser, {
          name: _.get(this, 'rawUser.nickName'),
          isNominated: true,
        });
      },
      vehicle() {
        return _.extend({}, this.rawVehicle, {
          name: _.get(this, 'rawVehicle.name'),
        });
      },
      blogName() {
        var vehicleName = _.get(this, 'vehicle.name', '');
        var userName = _.get(this, 'user.name', '');
        return `Блог "${vehicleName}" ${this.user ? '('+this.user.name+')' : ''}`;
      },



      // фотки берем из блога (просто все фотки)
      galleryItems() {
        return [
          {
            id: _.uniqueId(),
            href: 'https://dummyimage.com/970x560.jpg/92e1bb/444',
            liked: true,
          },
          {
            id: _.uniqueId(),
            href: 'https://dummyimage.com/970x560.jpg/92e1bb/444',
            liked: false,
          },
          {
            id: _.uniqueId(),
            href: 'https://dummyimage.com/970x560.jpg/92e1bb/444',
            liked: true,
          },
          {
            id: _.uniqueId(),
            href: 'https://dummyimage.com/970x560.jpg/92e1bb/444',
            liked: true,
          },
          {
            id: _.uniqueId(),
            href: 'https://dummyimage.com/970x560.jpg/92e1bb/444',
            liked: false,
          },
        ];
      },
    },

    methods: {
      async updatePage(list, page) {
        FeedList.updatePage(list, page);
      },
      async showMore(list) {
        FeedList.showMore(list);
      },
      async likeGalleryItem(item) {
        await delay(100);
        item.liked = !item.liked; // @TODO: бек
      },

      async subscribe() {
        try {
          let userId = _.get(this, 'user.id');
          await api.post(`/accounts/${userId}/subscribe`);
          this.rawUser.subscribed = true;
        }
        catch (err) {
          console.warn('не удалось подписаться на пользователя');
        }
      },
      async unsubscribe() {
        try {
          let userId = _.get(this, 'user.id');
          await api.post(`/accounts/${userId}/unsubscribe`);
          this.rawUser.subscribed = false;
        }
        catch (err) {
          console.warn('не удалось подписаться на пользователя');
        }
      },
    },

    async mounted() {
      var vm = this;
    },
  };
</script>

<style lang="scss">
  .vehicle-page {
    .property-review {
      display: none;
    }
    .blog-feed {
      .w-checkbox {
        display: none;
      }
      .nik-author {
        display: none;
      }
    }

    .button-block {
      padding: 20px 0;
      overflow: hidden;

      .btn-default {
        border: 0;
        display: flex;
        align-items: center;
        color: #999;
        font-size: 18px;
        line-height: 18px;
        text-transform: none;
        margin: 0 0 0 20px;
        padding: 0;
      }
      .btn-default:hover,
      .btn-default:active,
      .btn-default:focus,
      .btn-default:active:hover,
      .btn-default.active:hover,
      .open > .dropdown-toggle.btn-default:hover,
      .btn-default:active:focus,
      .btn-default.active:focus,
      .open > .dropdown-toggle.btn-default:focus,
      .btn-default:active.focus,
      .btn-default.active.focus,
      .open > .dropdown-toggle.btn-default.focus {
          background: transparent;
          border-color: transparent;
          color: #000;
          outline: none;
      }
      .btn-default i {
        font-size: 20px;
        margin: 0 10px 0 0;
      }
    }

    .review {
      max-width: 380px;
    }

    .mt-prev-next {
      margin-bottom: 20px;
    }

    .h2 {
      color: #666;
      font-size: 24px;
      line-height: 24px;
      text-transform: uppercase;
    }

    h1 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #999;
      font-size: 24px;
      line-height: 24px;
      text-transform: uppercase;
      margin: 0 0 20px 0;

      .button-block {
        padding: 0;
      }

      .btn-default {
        border: 0;
        display: flex;
        align-items: center;
        color: #999;
        font-size: 18px;
        line-height: 18px;
        text-transform: none;
        margin: 0 0 0 20px;
        padding: 0;
      }
      .btn-default:hover,
      .btn-default:active,
      .btn-default:focus,
      .btn-default:active:hover,
      .btn-default.active:hover,
      .open > .dropdown-toggle.btn-default:hover,
      .btn-default:active:focus,
      .btn-default.active:focus,
      .open > .dropdown-toggle.btn-default:focus,
      .btn-default:active.focus,
      .btn-default.active.focus,
      .open > .dropdown-toggle.btn-default.focus {
          background: transparent;
          border-color: transparent;
          color: #000;
          outline: none;
      }
      .btn-default i {
        font-size: 20px;
        margin: 0 10px 0 0;
      }
    }
  }
</style>
