<template>
  <div class="mt-header slider-header" :style="{ 'background-image': `url(${article.imageHref || EMPTY_PHOTO})` }">
    <div>
      <div class="best-review">Лучший обзор недели <i class="mi mi-diamond"></i></div>
      <div class="cont">
        <h1 class="title">
          <div>{{ article.title }}</div>
        </h1>
        <div>
          <nuxt-link :to="`/post-${article.id}`" class="btn btn-default read-more">Подробнее</nuxt-link>
        </div>
        <div>
          <nuxt-link :to="`/user/${author.id}`" class="user-name">{{ author.nickName }}</nuxt-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {

    props: {
      article: { type: Object },
      author: { type: Object },
    },

  };
</script>

<style lang="stylus" scoped>
  @import '~assets/styles/styles'

  .mt-header
    background-repeat no-repeat
    background-position center
    background-size cover
    margin-bottom 20px
    padding: 0;

    > div
      height 200px
      background: rgba(0,0,0,.5);
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-between;
      padding: 40px 35px;

      +up($lg)
        height 400px

      +up($xl)
        height 600px


    .best-review {
      display: flex;
      align-items: center;
      color: #fdf9f9;
      font-size: 24px;
      line-height: 24px;
      text-transform: uppercase;

      i {
        font-size: 55px;
        margin: 0 0 0 5px;
      }
      i:before {
        color: #fdf9f9;
      }
    }

    .cont {
      text-align: right;

      .title {
        color: #fff;
        font-size: 28px;
        line-height: 32px;
        text-transform: uppercase;
        margin: 0;
      }
      .read-more {
        border: solid 2px #fff;
        border-radius: 10px;
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
        margin: 15px 0 25px 0;
        padding: 10px 15px;
      }
      .read-more:hover {
        color: #000;
      }
      .user-name {
        color: #fdf9f9;
        font-size: 16px;
        line-height: 16px;
        text-decoration: underline;
      }
      .user-name:hover {
        font-weight: bold;
      }
    }
</style>
