<template>
  <div class="home__content">

    <!-- для маленьких экранов -->
    <ul class="visible-sm-block visible-xs-block mobile-block">
      <li v-for="section in sections">
        <button class="btn btn-link"
          :class="{ 'active': currentSection == section }"
          @click="currentSection = section"
        >
          {{ section.title }}
        </button>
        <div v-if="currentSection == section">
          <ul v-if="currentSection.items.length">
            <li v-for="item in currentSection.items">
              <template v-if="currentSection.type == 'article'">
                <nuxt-link :to="`/page-${item.article.id}`">{{ item.article.title }}</nuxt-link>
              </template>
              <template v-else-if="currentSection.type == 'event'">
                <nuxt-link :to="`/page-${item.gathering.id}`">{{ item.gathering.title }}</nuxt-link>
              </template>
              <template v-else>
                <div>Ошибка: неожиданный тип секции: {{ currentSection.type }}</div>
              </template>
            </li>
          </ul>
          <div v-else>Статей в разделе нет</div>
          <div>
            <nuxt-link :to="currentSection.to" class="home__btn_more">Перейти в раздел {{ currentSection.title }}</nuxt-link>
          </div>
        </div>
      </li>
    </ul>

    <!-- для больших экранов -->
    <nav class="vehicle-type-nav hidden-sm hidden-xs">
      <ul class="vehicle-type-nav__list">
        <li v-for="section in sections">
          <a href
            :class="{ 'link_active': currentSection == section }"
            @click.prevent="currentSection = section"
            >
            {{ section.title }}
          </a>
        </li>
      </ul>
    </nav>

    <!-- для больших экранов -->
    <div class="home__articles hidden-sm hidden-xs">

      <template v-if="currentSection.items.length">
        <article class="article" v-for="item in currentSection.items">

          <template v-if="currentSection.type == 'article'">
            <nuxt-link :to="`/post-${item.article.id}`" class="img__wrap">
              <img :src="_.get(item, 'photos[0].urls.original', NO_PHOTO)" :key="item.article.id" alt="">
            </nuxt-link>
            <div class="argicle__content">
              <h2 class="argicle__title"><nuxt-link :to="`/post-${item.article.id}`">{{ item.article.title }}</nuxt-link></h2>
              <hr>
              <p>{{ item.article.shortText }}</p>
            </div>
          </template>

          <template v-else-if="currentSection.type == 'event'">
            <nuxt-link :to="`/event-${item.gathering.id}`" class="img__wrap">
              <img :src="_.get(item, 'photos[0].urls.original', NO_PHOTO)" :key="item.gathering.id" alt="">
            </nuxt-link>
            <div class="argicle__content">
              <h2 class="argicle__title"><nuxt-link :to="`/event-${item.gathering.id}`">{{ item.gathering.title }}</nuxt-link></h2>
              <hr>
              <p>{{ item.gathering.description }}</p>
            </div>
          </template>

          <template v-else>
            <div>Ошибка: неожиданный тип секции: {{ currentSection.type }}</div>
          </template>

        </article>
      </template>
      <div v-else>Статей в разделе нет</div>

      <nuxt-link :to="currentSection.to" class="home__btn_more">Перейти в раздел {{ currentSection.title }}</nuxt-link>

    </div>

  </div>
</template>

<script>
  export default {

    props: {
      sections: { type: Array },
    },

    data() {
      return {
        currentSection: this.sections[0],
      };
    },

  };
</script>

<style lang="stylus" scoped>
  @import '~assets/styles/styles'

  // страница

  .home__content
    display flex
    flex-direction column

    +up($lg)
      flex-direction row

    +up($xl)
      margin-right gutter(2, div)

  // навигация

  .vehicle-type-nav
    +up($lg)
      col(4)
      padding-right 0

    &__list a
      text-transform uppercase
      letter-spacing 0.3px
      display block
      padding gutter(4, div) gutter(2, div)

    &__list a:hover span
      +up($lg)
        border-bottom 1px solid alpha($black, 0.2)

  .link_active
    +up($lg)
      background $gray-light
      color $black

  // разделы и статьи

  .home__articles
    display flex
    flex-direction column
    background $gray-light

  .home__btn_more
    display inline-block
    letter-spacing .3px
    padding gutter(2, div)
    margin-left auto
    margin-right auto
    text-transform uppercase
    text-decoration $decoration-hover
    margin-bottom gutter(2, div)

  .home__btn_more:hover
    +up($lg)
      text-decoration $decoration
    // +up($lg)
    //   padding-right 0
    //   margin-right  gutter(2, div)

 .article
   display flex
   flex-direction column
   margin-bottom gutter(1, mul)
   font-size rem(14)
   padding gutter(2, div)

   +up($md)
    flex-direction row

   +up($lg)
      flex-direction column

   +up($xl)
    flex-direction row

  .img__wrap
    width 100%
    margin-bottom gutter(2, div)
    line-height 2rem

    +up($md)
      margin-bottom 0
      width 40%

    +up($lg)
      margin-bottom gutter(2, div)
      width 100%

    +up($xl)
      margin-bottom 0
      width 40%

    +up($xxl)
      width 40%

  .argicle__content
    +up($md)
      width 80%

    +up($lg)
      width 100%

    +up($xl)
      width 80%

  .argicle__content *
    +up($md)
      padding 0 gutter(2, div)

    +up($lg)
      padding 0

    +up($xl)
      padding 0 gutter(2, div)

  .argicle__title
    margin-top 0
    color $black

</style>

<style lang="scss" scoped>
  .home__content {
    margin: 0;

    .vehicle-type-nav {
      padding: 0;

      a {
        color: #999;
        font-size: 16px;
        line-height: 16px;
        white-space: nowrap;
        padding: 10px;
      }
      a:hover,
      a:active,
      a:focus {
        text-decoration: none;
      }
      a:hover {
        color: #000;
      }
      a.link_active {
        color: #000;
      }
    }
  }

  .home__articles {
    padding: 30px;

    .article {
      margin: 0 0 25px 0;
      padding: 0;

      .img__wrap {
        overflow: hidden;
      }

      .argicle__content {
        width: 100%;
        padding: 0 0 0 30px;

        h2 {
          font-size: 14px;
          line-height: 14px;
          text-transform: uppercase;
          padding: 0;

          a {
            color: #666;
            padding: 0;
          }
        }
        p {
          color: #666;
          font-size: 14px;
          line-height: 18px;
          margin: 0;
          padding: 0;
        }
      }
    }

    .home__btn_more {
      color: #999;
      font-size: 16px;
      line-height: 16px;
      text-align: center;
      margin: 10px 0 0 0;
      padding: 0;
    }
    .home__btn_more:hover {
      color: #000;
      text-decoration: underline;
    }
  }
</style>
