<template>
  <div class="field__wrap">
    <label for="transmission">Трансмиссия</label>
    <input id="transmission" type="text" placeholder="Шестиступенчатая">
  </div>
</template>

<script>
  export default {
    props: {
      label: {
        type: String,
        default: ''
      },
      id: {
        type: String,
        default: ''
      },
      placeholder: {
        type: String,
        default: ''
      },
      type: {
        type: String,
        default: ''
      }
    }
  }
</script>

<style lang="stylus" scoped>
  @import '~assets/styles/styles'
</style>