<template>
  <div class="calendar">
    <div class="header">
      <div class="month-slider">
        Июнь

        <button class="btn btn_prev"></button>
        <button class="btn btn_next"></button>
      </div>
      <div class="year">
        2016
      </div>
    </div>

    <div class="body">
      <div class="week-mobile">
        <div class="weekday-mobile">пн</div>
        <div class="weekday-mobile">вт</div>
        <div class="weekday-mobile">ср</div>
        <div class="weekday-mobile">чт</div>
        <div class="weekday-mobile">пт</div>
        <div class="weekday-mobile">сб</div>
        <div class="weekday-mobile">вс</div>
      </div>
      <div class="days">
        <div class="row">
          <a href="#" class="day">
            <span class="week">пн</span>
            <span class="number">01</span>
          </a>
          <a href="#" class="day">
            <span class="week">вт</span>
            <span class="number">02</span>
          </a>
          <a href="#" class="day">
            <span class="week">ср</span>
            <span class="number">03</span>
          </a>
          <a href="#" class="day">
            <span class="week">чт</span>
            <span class="number">04</span>
          </a>
          <a href="#" class="day">
            <span class="week">пт</span>
            <span class="number">05</span>
          </a>
          <a href="#" class="day">
            <span class="week">сб</span>
            <span class="number">06</span>
          </a>
          <a href="#" class="day">
            <span class="week">вс</span>
            <span class="number">07</span>
          </a>
        </div>
        <div class="row">
          <a href="#" class="day">
            <span class="week">пн</span>
            <span class="number">08</span>
          </a>
          <a href="#" class="day">
            <span class="week">вт</span>
            <span class="number">09</span>
          </a>
          <a href="#" class="day">
            <span class="week">ср</span>
            <span class="number number_active">10</span>
          </a>
          <a href="#" class="day">
            <span class="week">чт</span>
            <span class="number">11</span>
          </a>
          <a href="#" class="day">
            <span class="week">пт</span>
            <span class="number number_active">12</span>
          </a>
          <a href="#" class="day">
            <span class="week">сб</span>
            <span class="number">13</span>
          </a>
          <a href="#" class="day">
            <span class="week">вс</span>
            <span class="number">14</span>
          </a>
        </div>
        <div class="row">
          <a href="#" class="day">
            <span class="week">пн</span>
            <span class="number number_active">15</span>
          </a>
          <a href="#" class="day">
            <span class="week">вт</span>
            <span class="number">16</span>
          </a>
          <a href="#" class="day">
            <span class="week">ср</span>
            <span class="number">17</span>
          </a>
          <a href="#" class="day">
            <span class="week">чт</span>
            <span class="number">18</span>
          </a>
          <a href="#" class="day">
            <span class="week">пт</span>
            <span class="number">19</span>
          </a>
          <a href="#" class="day">
            <span class="week">сб</span>
            <span class="number ">20</span>
          </a>
          <a href="#" class="day">
            <span class="week">вс</span>
            <span class="number ">21</span>
          </a>
        </div>
        <div class="row">
          <a href="#" class="day">
            <span class="week">пн</span>
            <span class="number">22</span>
          </a>
          <a href="#" class="day">
            <span class="week">вт</span>
            <span class="number">23</span>
          </a>
          <a href="#" class="day">
            <span class="week">ср</span>
            <span class="number">24</span>
          </a>
          <a href="#" class="day">
            <span class="week">чт</span>
            <span class="number">25</span>
          </a>
          <a href="#" class="day">
            <span class="week">пт</span>
            <span class="number">26</span>
          </a>
          <a href="#" class="day">
            <span class="week">сб</span>
            <span class="number">27</span>
          </a>
          <a href="#" class="day">
            <span class="week">вс</span>
            <span class="number">28</span>
          </a>
        </div>
        <div class="row">
          <a href="#" class="day">
            <span class="week">пт</span>
            <span class="number">29</span>
          </a>
          <a href="#" class="day">
            <span class="week">вт</span>
            <span class="number">30</span>
          </a>
          <a href="#" class="day">
            <span class="week">ср</span>
            <span class="number">31</span>
          </a>
          <a href="#" class="day">
            <span class="number"></span>
          </a>
          <a href="#" class="day">
            <span class="number"></span>
          </a>
          <a href="#" class="day">
            <span class="number"></span>
          </a>
          <a href="#" class="day">
            <span class="number"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="stylus" scoped>
  @import '~assets/styles/styles'

  .calendar
    background $gray-dark
    color $white
    margin-bottom gutter(2, div)

    +up($xl)
      display flex
      align-items center
      padding-top gutter(1, mul)
      padding-bottom gutter(1, mul)

  .header
    container(true)
    display flex
    font-size $font-size-lg

    +up($md)
      width 90%

    +up($xl)
      col(3)
      margin 0

  .month-slider
    col(6)
    padding-top gutter(2, div)
    padding-bottom gutter(2, div)
    text-align center

    +up($sm)
      col(4)

    +up($md)
      col(3)

    +up($xl)
      col(8)
      padding-left 0

  .year
    col(6)
    padding-top gutter(2, div)
    padding-bottom gutter(2, div)
    font-weight $bold

    +up($sm)
      col(7)
      offset(1)

    +up($md)
      col(8)
      offset(1)

    +up($xl)
      offset(0)
      col(4)
      border-right 1px solid $white

  .btn
    btn(  )
    position absolute
    display block
    content ''
    size 25px 30px
    background red
    top 50%
    transform translateY(-50%)

    &_prev
      left 0
      background svg-load('arrow-prev.svg') no-repeat center

      +up($xl)
        left -3px

    &_next
      right 0
      background svg-load('arrow-next.svg') no-repeat center

      +up($xl)
        right 12px

  .body
    +up($xl)
      display flex
      col(9)
      padding 0

  .week-mobile
    container(true)
    display flex
    justify-content space-between
    text-transform uppercase

    +up($md)
      width 90%

    +up($xl)
      display none

  .weekday-mobile
    width 100%
    text-align center
    font-weight $bold
    border-bottom 1px solid alpha($black, 0.1)
    background alpha($white, 0.3)
    padding 3px

  .days
    container(true)
    padding-bottom gutter(2, div)

    +up($md)
      width 90%

    +up($xl)
      display flex
      justify-content space-between
      width 100%
      padding-bottom 0

  .row
    display flex

    +up($xl)
      width 100%
      justify-content space-between
      align-items center

  .day
    position relative
    width 100%
    margin 2px
    text-align center
    display block
    color $white !important
    transform all 0.3s ease

    &:hover .number
      +up($lg)
        transform all 0.3s ease
        transform scale(1.3)

  .day span
    display block

  .number_active
    position relative

  .number_active::before
    position absolute
    display block
    content ''
    top 0
    left 0
    right 0
    bottom 0
    border 1px solid $white

    +up($md)
      width 80%
      margin auto

    +up($xl)
      size 100%

  .week
    display none
    +up($xl)
      display block
      font-weight $bold
      padding 0
</style>