<template>
  <article class="event">
    <div class="event__inner">
      <div class="event__title">Название соревнования</div>
      <p class="event__subtitle">
        Пять лет назад Yamaha отметилась на мотокроссовом. отметилась на мотокроссовом. Пять лет   назад Yamaha Yamaha отметилась
      </p>

      <a href="#" class="link_more">Подробнее...</a>

      <div class="event__footer">
        <div class="col_left">
          <button class="event__btn">Посмотреть очёт</button>
        </div>
        <div class="col_right">
          <div class="statistics">
            <span class="statistics__amount">12</span>
            <span class="statistics__friends"> Пойдёт друзей</span>
          </div>
          <div class="agree">
            <label>
              <input type="checkbox"/>
              <span>Я пойду</span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </article>
</template>

<style lang="stylus" scoped>
  @import '~assets/styles/styles'

  .event
    background transparent
    margin-bottom gutter(2, div)

  .event__inner
    display flex
    flex-direction column
    border 3px solid $white
    color $white
    padding gutter(2, div) gutter(4, div)

    +up($xl)
      padding gutter(2, div)

  .event__title
    width 90%
    font-weight $bold
    text-transform uppercase
    letter-spacing 0.3px
    // margin-bottom gutter(2, div)

  .event__subtitle
    width 90%
    font-size $font-size-sm

  .link_more
    display block
    margin-left auto
    font-size $font-size-xsm
    text-decoration underline
    color $white

    &:hover
      text-decoration none

  .event__footer
    padding-top gutter(2, div)
    display flex
    flex-direction column

  .event__btn
    btn()
    background transparent
    padding gutter(4, div) gutter(2, div)
    color $white
    border 2px solid $white
    text-transform uppercase
    transition background 0.3s ease

    &:hover
      +up($lg)
        background alpha($white, 0.2)

  .col_left
    margin-left auto

  .col_right
    padding-top gutter(2, div)
    font-size $font-size-xsm

  .statistics
    display flex
    align-items center

  .statistics__amount
    display inline-block
    vertical-align middle
    border 1px solid $white
    padding 0 5px
    font-weight $bold

  .statistics__friends
    padding-left 5px

  .agree
    padding-top gutter(4, div)

  .agree input
    position absolute
    opacity 0

  .agree input + span
    +up($xl)
      cursor pointer

  .agree input:not(checked) + span::before
    position absolute
    display block
    content ''
    left 0
    size 27px
    border 2px solid $white

  .agree input:not(checked) + span::after
    display none

  .agree input:checked + span::after
    position absolute
    display block
    content ''
    left 0
    size 10px
    background $white
    top 13px
    left 9px
    transform translateY(-50%) rotate(45deg)

  .agree span
    position relative
    display inline-block
    padding 0 0 0 32px

</style>