em(val)
  unit(val / $font-size-base, 'em')

rem(val)
  unit(val / $font-size-root, 'rem')

div(a, b)
  a / b

mul(a, b)
  a * b

gutter(val, func)
  rem(func($grid-gutter, val))

indent(val, func = mul)
  if func == mul
    return rem(mul($font-size-base, val))
  if func == div
    return rem(div($font-size-base, val))
