col(val = $columns, float = left)
  position: relative
  width: unit(100 / ($columns / val), '%')
  min-height: 1px
  padding-left: gutter(2, div)
  padding-right: gutter(2, div)

offset(val)
  margin-left: unit(100 / ($columns / val), '%')

push(val)
  left: unit(100 / ($columns / val), '%')

pull(val)
  right: unit(100 / ($columns / val), '%')

container(gutter = false)
  position: relative
  width: 100%
  min-height: 1px
  margin: auto
  max-width: 100%
  if gutter == true
    padding-left: gutter(2, div)
    padding-right: gutter(2, div)


  +up($sm)
    width: rem(540)

  +up($md)
    width: rem(720)

  +up($lg)
    width: rem(960)

  +up($xl)
    width: rem(1170)

  +up($xxl)
    width: rem(1380)

row()
  clear: fix
  margin-left: gutter(-2, div)
  margin-right: gutter(-2, div)

btn()
  display: inline-block
  padding: 0
  margin: 0
  border: none
  vertical-align: middle
  box-shadow: none
  text-align: center
  text-decoration: none
  cursor: pointer
  border-color: transparent
  border-radius: 0

  &:focus
    outline: none
