<template>
  <div class="mt-page">

    <mt-profile-background :user="user" :me="true">
    </mt-profile-background>

    <mt-prev-next
      prev="/user/inbox/sample"
      next="/user/inbox/sample"
      />

    <h1 class="title">{{ topMessage.topic }}</h1>
    <mt-comment :user="topMessage.author" :can-respond="false" :message="topMessage"></mt-comment>

    <mt-response-form :disabled="loading" v-model="response" @submit="submit">
    </mt-response-form>

    <mt-comment
      v-for="message in restMessages"
      :key="message.id"
      :user="message.author"
      :message="message"
      :can-respond="false"
    >
    </mt-comment>

    <br>

    <button class="btn btn-default btn-block" @click="loadMore">Показать еще</button>

  </div>
</template>

<script>
  import cuid from 'cuid';
  import { getStatic } from '@/api';
  import { delay } from '@/utils'
;
  export default {

    fetch({ route, store }) {
      store.commit('replaceBreadcrumbs', [
        { title: 'Главная', to: '/' },
        { title: 'Личный кабинет', to: '/user' },
        { title: 'Личные сообщения', to: '/user/inbox' },
        { title: 'Переписка (вы здесь)' },
      ]);
    },

    layout: 'personal',

    async asyncData(context) {
      await context.store.dispatch('sidebar/loadUser');
      var response = await getStatic('/fixtures/messages.json');
      return {
        // @TODO: запросить данные залогиненного пользователя
        user: await delay(500, {
          backgroundImageHref: require('@/assets/img/upload-field__bg.jpg'),
          name: 'Дима_DDD',
          isNominated: false,
        }),

        messages: response.data,
      };
    },

    data() {
      return {
        response: {
          text: '',
          image: null,
        },
        loading: false,
      };
    },

    head() {
      return {
        title: 'Переписка',
      };
    },

    computed: {
      topMessage() {
        return this.messages[0];
      },
      restMessages() {
        return this.messages.slice(1);
      },
    },

    methods: {
      async submit() {
        this.loading = true;
        await delay(500);

        // @TODO: бек
        this.messages.unshift({
          id: cuid(),
          date: moment().toISOString(),
          topic: 'Configurable 3rd generation knowledge user',
          text: this.response.text,
          length: this.response.text.length,
          author: {
            id: cuid(),
            username: 'dimaDDD',
            avatar: 'https://robohash.org/dima.png?size=90x90&set=set1',
            lastVisit: moment().toISOString(),
            name: 'Дима_DDD',
            age: 25,
            city: 'Москва',
          },
        });
        this.response.text = '';
        this.response.image = null;
        this.loading = false;
      },
      async loadMore() {
        var response = await getStatic('/fixtures/messages.json');
        this.messages = this.messages.concat(response.data);
      },
    },

  };
</script>

<style lang="scss" scoped>
  .mt-profile-background {
    margin-bottom: 20px;
  }
</style>
