<template>
  <div class="mt-page">

    <mt-profile-background :user="user" :me="true">
    </mt-profile-background>

    <h1 class="title">Новые сообщения</h1>
    <mt-message-preview
      v-for="(message, idx) in newMessages" :key="message.id"
      @remove="removeMessage(newMessages, message)"
      :message="message"
      :class="{ 'mt-odd': idx % 2 }"
    >
    </mt-message-preview>

    <h3>Прочитанные сообщения</h3>
    <mt-message-preview
      v-for="(message, idx) in oldMessages" :key="message.id"
      @remove="removeMessage(oldMessages, message)"
      :message="message"
      :class="{ 'mt-odd': idx % 2 }"
    >
    </mt-message-preview>

    <br>

    <button class="bnt btn-default btn-block" @click="loadMore" :disabled="loading">Показать еще</button>

  </div>
</template>


<script>
  import { getStatic } from '@/api';
  import { delay } from '@/utils';

  export default {

    fetch({ route, store }) {
      store.commit('replaceBreadcrumbs', [
        { title: 'Главная', to: '/' },
        { title: 'Личный кабинет', to: '/user' },
        { title: 'Личные сообщения (вы здесь)' },
      ]);
    },

    layout: 'personal',

    async asyncData(context) {
      await context.store.dispatch('sidebar/loadUser');
      var response = await getStatic('/fixtures/messages.json');
      return {
        // @TODO: запросить данные залогиненного пользователя
        user: await delay(500, {
          backgroundImageHref: require('@/assets/img/upload-field__bg.jpg'),
          name: 'Дима_DDD',
          isNominated: false,
        }),

        newMessages: response.data.slice(0, 3),

        loading: false,
        currentPage: 0,
        oldMessages: response.data,
      };
    },

    head() {
      return {
        title: 'Личные сообщения',
      };
    },

    methods: {
      async removeMessage(list, item) {
        await delay(200);
        var io = list.indexOf(item);
        list.splice(io, 1);
      },
      async loadMore() {
        this.loading = true;
        var nextPage = this.currentPage + 1;
        var response = await delay(500, getStatic('/fixtures/messages.json')); // @TODO: запрос страницы сообщений
        this.oldMessages = this.oldMessages.concat(response.data);
        this.currentPage = nextPage;
        this.loading = false;
      },
    },

  };
</script>

<style lang="scss" scoped>
  .mt-page {
    padding-right: 20px;
  }

  .mt-odd {
    background: #eee;
  }
</style>
