<template>
  <div>

    <h1>Редактирование события</h1>

    <mt-edit-post
      ref="postEditor"
      :value="postForm"
      :disabled="sending"
      with-text
      with-gallery
      with-models
      with-event
      with-meta
      >
    </mt-edit-post>

    <div class="form-group">
      <button class="btn btn-default" @click.prevent="publish" :disabled="sending">Опубликовать</button>
    </div>

  </div>
</template>

<script>
  import cuid from 'cuid';
  import api from '@/api';
  import { delay, uploadImage } from '@/utils';

  export default {

    layout: 'admin',

    head() {
      return {
        title: 'Редактирование события',
      };
    },

    fetch({ route, store }) {
      store.commit('replaceBreadcrumbs', [
        { title: 'Главная', to: '/' },
        { title: 'Мероприятие', to: `/event-${route.params.id}` },
        { title: 'Редактирование (вы здесь)' },
      ]);
    },

    async asyncData(context) {
      try {
        let gatheringId = context.route.params.id;
        let { data: { data: eventData } } = await api.get(`/gatherings/${gatheringId}/get`);
        let { data: { data: photosData } } = await api.get(`/photos/gatherings/${gatheringId}/getAll`);

        let gathering = eventData.gathering;
        if (!gathering) {
          return context.error({
            status: 404,
            message: 'Событие не найдено',
          });
        }

        return {

          // чтобы удалить старые при сохранении
          // @TODO: лучше бы перенести это на бэк
          originalPhotosIds: _.map(photosData, 'id'),

          postForm: {
            article: gathering,
            articleVehicles: eventData.articleVehicles,
            photos: photosData,
            logo: _.get(eventData, 'logoPhoto', {}),
            photo: _.get(eventData, 'trailPhoto', {}),
          },

        };
      }
      catch (err) {
        console.error(err);
        context.error({
          status: 500,
          message: err.message,
        });
      }
    },

    data() {
      return {
        sending: false,
      };
    },

    methods: {

      async publish() {
        this.sending = true;
        try {
          var payload = await this.$refs.postEditor.collectPayload();

          // let payload = {
          //   vehicleTypeId: this.eventForm.vehicleType ? Number(this.eventForm.vehicleType) : null,
          //   // cityId: 0,
          //   logoPhotoId: null, //  заполняется ниже
          //   trailPhotoId: null, // заполняется ниже
          //   place: this.eventForm.address,
          //   location: {
          //     latitude: Number(this.eventForm.coordinates[0]),
          //     longitude: Number(this.eventForm.coordinates[1]),
          //   },
          //   // slug: 'string',
          //   title: this.blogpostForm.title,
          //   description: this.metaForm.description,
          //   reportMarkdown: this.blogpostForm.body,
          //   startDate: moment(this.eventForm.start).format('YYYY-MM-DD'),
          //   endDate: moment(this.eventForm.end).format('YYYY-MM-DD'),
          //   organizer: {
          //     name: this.eventForm.organizer,
          //     // website: 'string',
          //     sponsor: this.eventForm.sponsor,
          //   },
          //   technicsClass: this.eventForm.classes,
          // };

          _.extend(payload, {
            categories: ['Review'], // @TODO: неправильная категория!
            description: payload.shortText,
            reportMarkdown: payload.fullText,
          });

          await api.post(`gatherings/${this.$route.params.id}/update`, payload);
          // await api.post(`/photos/gatherings/${this.$route.params.id}/delete`, photoIdsToDelete);

          this.$router.push(`/event-${this.$route.params.id}`);
        }
        catch (err) {
          console.error(err);
          alert(err.message);
        }
        this.sending = false;
      },

    },

  };
</script>
