<!--
  https://www.dropbox.com/s/mk9rn6nuyc2woo6/мероприятие.jpg?dl=0
 -->

<template>
  <main class="event-page">

    <h1 class="main-heading">
      {{eventTitle}}
      <nuxt-link
        class="pull-right"
        :to="`/event-${$route.params.id}/edit`"
        >
        <i class="mi mi-edit2"></i>
      </nuxt-link>
    </h1>
    <hr>

    <div class="table-wrap" v-if="gathering">
      <div class="table__col_left">
        <div class="table">
          <div class="table__row">
            <div class="table__cell table__title">Название мероприятия</div>
            <div class="table__cell"><strong>{{eventTitle}}</strong></div>
          </div>
          <div class="table__row">
            <div class="table__cell table__title">Тип техники</div>
            <div class="table__cell">{{gathering.vehicleTypeId ? $domainValue('VehicleType', { id: gathering.vehicleTypeId }, 'name') : 'Не указан'}}</div>
          </div>
          <div class="table__row">
            <div class="table__cell table__title">Дата проведения</div>
            <div class="table__cell">{{gathering.startDate ? $time(gathering.startDate, 'll') : 'Не указана'}}</div>
          </div>
          <div class="table__row">
            <div class="table__cell table__title">Место проведения</div>
            <div class="table__cell">
              <span>{{gathering.place || 'Не указано'}}</span>
            </div>
          </div>
          <div class="table__row">
            <div class="table__cell table__title">Участвуют классы</div>
            <div class="table__cell">
              {{ gathering.technicsClass || 'Не указано' }}
            </div>
          </div>
          <div class="table__row">
            <div class="table__cell table__title">Огранизатор</div>
            <div class="table__cell">
              <a
                v-if="eventOrganizerUrl"
                :href="eventOrganizerUrl"
                >
                {{eventOrganizerName}}
              </a>
              <span v-else>
                {{eventOrganizerName}}
              </span>
            </div>
          </div>
          <div class="table__row">
            <div class="table__cell table__title">Спонсор</div>
            <div class="table__cell">
              {{eventSponsorName}}
              <!-- @NOTE: согласно DTO бека, имя спонсора - это часть организатора, и не имеет ссылки -->
              <!-- <a
                v-if="eventSponsorUrl"
                :href="eventSponsorUrl"
                >
                {{eventSponsorName}}
              </a> -->
              <!-- <span v-else>
                {{eventSponsorName}}
              </span> -->
            </div>
          </div>
        </div> <!-- END table -->

        <div class="row">
          <div class="img-holders">
            <div class="img-holder">
              <div class="img-holder__inner">
                <img :src="logoPhoto ? logoPhoto.urls.original : NO_PHOTO_URL">
              </div>
            </div>

            <div class="img-holder">
              <div class="img-holder__inner">
                <img :src="trailPhoto ? trailPhoto.urls.original : NO_PHOTO_URL">
              </div>
            </div>
          </div>
        </div>
      </div> <!-- END table__col_left -->

      <div class="table__col_right">
        <div class="map">
          <div class="map__inner">
            <w-ymaps :value="gathering.location ? [gathering.location.latitude, gathering.location.longitude] : null"/>
          </div>
        </div>
      </div>
    </div>

    <div class="total-people">
      <label class="w-checkbox">
        пойду
        <input :checked="participate" @click.prevent="toggleParticipate" type="checkbox" name="checkbox-test" class="checkbox">
        <span class="checkbox-custom"></span>
      </label>
      <span>
        Пойдет друзей: <strong>{{friendCount || 0}}</strong>
      </span>
    </div>

    <article class="article" v-if="gathering && gathering.reportMarkdown">
      <h2 class="title">
        Репортаж: {{eventTitle}}
      </h2>
      <div v-html="$md(gathering.reportMarkdown)"></div>
    </article>

    <div class="row" v-if="vehicles && vehicles.length">
      <div class="col-md-12">
        <h3>Техника</h3>
        <mt-models-comparassion :count-to-compare="1" :vehicles="vehicles" />
      </div>
    </div>

    <div class="row" v-if="galleryItems && galleryItems.length">
      <div class="col-md-12">
        <h3>Фотоотчет</h3>
        <mt-page-gallery :items="galleryItems" @like="toggleLikeGalleryItem"/>
      </div>
    </div>

    <div class="inform-block">

      <!-- @TODO: поправить когда на беке будет готово, #427 -->
      <mt-like v-if="account" v-model="fake.isLiked" />

      <!-- @NOTE: согласно макету, тут нет кнопок "опубликовать" и "удалить" -->
      <!-- <div class="admin-btns hidden-sm hidden-xs">
        <div class="btn btn-primary red">Опубликовать</div>
        <div class="btn btn-primary green" @click="remove">Удалить</div>
      </div> -->

      <div class="right-block">
        <div>
          <i class="mi mi-mail"></i>
          Подписаться
        </div>
        <mt-share />
      </div>
    </div>

    <!-- @NOTE: согласно макету, тут нет кнопок "опубликовать" и "удалить" -->
    <!-- <div class="admin-btns hidden-lg hidden-md">
      <div class="btn btn-primary red">Опубликовать</div>
      <div class="btn btn-primary green" @click="remove">Удалить</div>
    </div> -->

    <mt-prev-next :prev="prevUrl" :next="nextUrl"/>

    <!-- @TODO: комментарии, #502 -->
    <mt-comments></mt-comments>

  </main>
</template>

<script>
  import NO_PHOTO_URL from '@/assets/img/no-photo.jpg';
  import { delay } from '@/utils';
  import { default as api, getStatic } from '@/api';

  export default {

    fetch({ route, store }) {
      store.commit('replaceBreadcrumbs', [
        { title: 'Главная', to: '/' },
        { title: 'Календарь', to: '/events' },
        { title: 'Событие (вы здесь)' },
      ]);
    },

    async asyncData(context) {
      try {
        let account = context.store.state.auth.account;

        let gatheringId = context.route.params.id;
        let { data: { data: eventData } } = await api.get(`/gatherings/${gatheringId}/get`);
        let { data: { data: photosData } } = await api.get(`/photos/gatherings/${gatheringId}/getAll`);
        let { data: { data: commentsData } } = await api.get(`/comments/gatherings/${gatheringId}/getAll`);

        let gathering = eventData.gathering;
        if (!gathering) {
          return context.error({
            status: 404,
            message: 'Событие не найдено',
          });
        }

        let likedIds;
        if (account) {
          let { data: { data: newLikedIds } } = await api.post('/photos/checkLiked', _.map(photosData, 'id'));
          likedIds = newLikedIds;
        }

        let galleryItems = _(photosData)
          .map(photo => {
            return {
              id: photo.id,
              href: photo.urls.original,
              liked: _.includes(likedIds, photo.id),
            };
          })
          .sortBy('id')
          .value();

        return {
          account,

          NO_PHOTO_URL,

          commentsData,

          gathering,
          galleryItems,

          nextUrl: eventData.next ? `/event-${eventData.next.id}` : null,
          prevUrl: eventData.previous ? `/event-${eventData.previous.id}` : null,

          participate: eventData.participate,
          logoPhoto: eventData.logoPhoto || null,
          trailPhoto: eventData.trailPhoto || null,
          friendCount: eventData.friendCount,

          // modelComparison: {
            vehicles: eventData.articleVehicles,
            // features: features,
          // }

          fake: {
            isLiked: false,
          },
        };
      }
      catch (err) {
        console.log(err);
      }
    },

    head() {
      return {
        title: this.eventTitle,
      };
    },

    computed: {

      eventTitle() {
        return _.get(this, 'gathering.title', '<Без названия>');
      },

      eventPlaceText() {
        return _.get(this, 'gathering.place', 'Не указано');
      },

      eventOrganizerUrl() {
        let url = _.get(this, 'gathering.organizer.website');
        return url;
      },

      eventOrganizerName() {
        return _.get(this, 'gathering.organizer.name', 'Не указан');
      },

      eventSponsorName() {
        return _.get(this, 'gathering.organizer.sponsor', 'Не указан');
      },

    },

    methods: {

      // @TODO: Метод "подписаться" - [отложено, #427]

      async toggleLikeGalleryItem(item) {
        try {
          if (item.liked) {
            await api.post(`/photos/${item.id}/unlike`);
          }
          else {
            await api.post(`/photos/${item.id}/like`);
          }
          item.liked = !item.liked;
        }
        catch (err) {
          console.error(err);
          alert(err.message);
        }
      },

      async toggleParticipate() {
        try {
          if (this.participate) {
            await api.post(`/gatherings/${this.$route.params.id}/leave`);
          }
          else {
            await api.post(`/gatherings/${this.$route.params.id}/join`);
          }
          this.participate = !this.participate;
        }
        catch (err) {
          console.error(err);
          alert(err.message);
        }
      },

      async remove() {
        try {
          await api.post(`/gatherings/${this.$route.params.id}/delete`);
          this.$router.go(-1);
        }
        catch (err) {
          console.error(err);
          alert(err.message);
        }
      },

    },

  };
</script>

<style lang="scss" scoped>

  .map {
    width: 100%;
    height: 100%;
    .map__inner {
      width: 100%;
      height: 100%;
    }
  }

  .w-checkbox {
    .checkbox-custom {
      position: relative !important;
      display: inline-block !important;
    }
  }

  .event-page {
    h3 {
      color: #666;
      font-size: 24px;
      line-height: 24px;
    }

    .table-wrap {
      display: flex;
      justify-content: space-between;

      .table__col_left {
        width: 60%;
        margin: 0 0 15px 0;

        .table__row {
          display: flex;
          flex: 1;

          .table__cell {
            width: 60%;
            background: transparent;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #666;
            font-size: 16px;
            line-height: 20px;
            padding: 10px;

            .table__link {
              font-size: 12px;
              margin: 0;
              padding: 0;
            }
          }
          .table__cell.table__title {
            width: 40%;
            font-weight: normal;
          }
        }

        .row {
          width: 100%;
          margin: 0;
        }
      }
      .table__col_right {
        width: 37%;
        max-height: 450px;
        height: 450px;
        margin: 0 0 15px 0;
        overflow: hidden;

        .ymaps-2-1-50-map {
          height: 100%;
        }
      }
    }

    .img-holders {
      display: flex;
      justify-content: space-between;
      margin: 0;

      .img-holder {
        width: 49.5%;
        margin-left: 15px;
      }
      .img-holder:first-child {
        margin: 0;
      }
    }

    .total-people {
      margin-bottom: 10px;
      .w-checkbox {
        color: #999;
        font-size: 18px;
        line-height: 18px;
        font-weight: normal;

        .checkbox {
          display: none;
        }
        .checkbox-custom {
          width: 28px;
          height: 28px;
          border: 1px solid #999;
          background: transparent;
          margin: 0 20px 0 7px;
        }
        .checkbox:checked + .checkbox-custom::before {
          content: "";
          display: block;
          position: absolute;
          top: 2px;
          right: 2px;
          bottom: 2px;
          left: 2px;
          background: #999;
        }
      }
    }

    .article {
      img {
        width: 100%;
      }
    }

    > p {
      width: 100%;
    }
    blockquote {
      width: 100%;
      background: #e5e5e5;
      border: 0;
      color: #414141;
      font-size: 24px;
      line-height: 28px;
      margin: 30px 0;
      padding: 20px 50px;
    }

    .inform-block {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #999;
      padding: 35px 0 15px 0;
      // overflow: hidden;

      i {
        font-size: 30px;
      }

      .right-block {
        display: flex;
        align-items: center;

        > div {
          display: flex;
          justify-content: space-between;
          align-items: center;
          position: relative;
          cursor: pointer;

          > i,
          span > i {
            margin: 0 5px 0 25px;
          }
        }
      }
    }
    // .w-ymaps {
    //   width: 300px;
    //   height: 300px;
    // }

    // .w-checkbox {
    //   .label {
    //     color: #000;
    //   }
    // }
  }
</style>
