<template>
  <div class="mt-create-community">

    <h1 class="title">{{ create ? 'Создать новую группу' : 'Изменить группу' }}</h1>
    <p>Помеченные поля обязательны к заполнению</p>

    <div class="form-group">
      <h3><label :for="TITLE_UID">Название группы*</label></h3>
      <input type="text" class="form-control" v-model="pageData.form.title" placeholder="Введите заголовок..." :disabled="pageData.busy" :id="TITLE_UID">
    </div>

    <div class="row">
      <div class="col-md-5">

        <div class="form-group" :class="{ 'has-error': !validDescription }">
          <h3><label :for="DESCRIPTION_UID">Описание группы*</label></h3>
          <p>Описание группы помогает людям понять, чему посвещена группа</p>
          <textarea class="form-control" rows="5" v-model="pageData.form.description" placeholder="Добавить краткое описание..." :disabled="pageData.busy" :id="DESCRIPTION_UID"></textarea>
        </div>

        <div class="form-group">
          <label :for="SLUG_UID">Желаемый адрес группы</label>
          <input type="text" class="form-control" v-model="pageData.form.slug" :disabled="pageData.busy" :id="SLUG_UID" placeholder="http://mototeamrussia.ru/groups/название группы">
        </div>

      </div>
      <div class="col-md-7">

        <div class="form-group">
          <h3><label>Добавить фото*</label></h3>
          <p>Добавленное фото будет отображаться в шапке группы</p>
          <w-cropper
            v-model="pageData.form.photoData"
            :config="{
              aspectRatio: 970/219,
              resultSize: {width: 970, height: 219},
            }"
            />
        </div>

        <div class="form-group">
          <label :for="IMAGE_ALT_UID">Укажите что на фото*</label>
          <input type="text" class="form-control" v-model="pageData.form.photoAlt" :disabled="pageData.busy" :id="IMAGE_ALT_UID" placeholder="150 символов">
        </div>

        <div class="form-group">
          <label>Премодерация <w-checkbox v-model="pageData.form.moderationEnabled"></w-checkbox></label>
          <p>Все публикации в группе подлежат утверждению администратором группы</p>
        </div>

      </div>
    </div>

    <div class="form-group">
      <button class="btn btn-default" @click="submit" :disabled="pageData.busy">{{ create ? 'Создать' : 'Сохранить' }}</button>
    </div>

  </div>
</template>

<script>
  import cuid from 'cuid';
  import { delay } from '@/utils';

  export default {
    props: {
      create: { type: Boolean, default: false },
      pageData: { type: Object },
    },
    data() {
      return {
        TITLE_UID: cuid(),
        DESCRIPTION_UID: cuid(),
        SLUG_UID: cuid(),
        IMAGE_ALT_UID: cuid(),
      };
    },
    computed: {
      validTitle() {
        return this.pageData.form.title;
      },
      validPhoto() {
        if (this.pageData.form.photoId) {
          return true;
        }
        if (this.pageData.form.photoData && this.pageData.form.photoData.startsWith('data:image')) {
          return true;
        }
        return false;
      },
      validPhotoAlt() {
        return this.pageData.form.photoAlt;
      },
      validDescription() {
        return this.pageData.form.description.length <= 170;
      },
    },
    methods: {
      async submit() {
        if (!this.validTitle) {
          alert('Ошибка: Заголовок отсутсвует');
          return;
        }
        if (!this.validPhoto) {
          alert('Ошибка: Фото не добавлено');
          return;
        }
        if (!this.validPhotoAlt) {
          alert('Ошибка: Описание фото не указано');
          return;
        }
        if (!this.validDescription) {
          alert('Ошибка: Описание должно быть не более 170 символов');
          return;
        }

        this.$emit('submit');
      },
    },
  };
</script>

<style lang="scss" scoped>
  .mt-create-community {
    // padding-right: 20px;
    .w-checkbox {
      background: #000;
    }
  }
  h3 {
    margin: 10px 0 0 0;
  }
</style>
