<!--

  http://kenwheeler.github.io/slick/

 -->

<template>
  <div class="mt-gallery">

    <div class="carousel slide">

      <div ref="mainSlick" class="mt-main-slick">
        <!-- <a href="http://placehold.it/2000x1000"><img src="http://placehold.it/2000x1000"></a>
        <a href="http://placehold.it/2000x1000"><img src="http://placehold.it/2000x1000"></a>
        <a href="http://placehold.it/2000x1000"><img src="http://placehold.it/2000x1000"></a>
        <a href="http://placehold.it/2000x1000"><img src="http://placehold.it/2000x1000"></a>
        <a href="http://placehold.it/2000x1000"><img src="http://placehold.it/2000x1000"></a> -->
      </div>

      <!-- Wrapper for slides -->
      <!-- <div class="carousel-inner">
        <div class="item active">
          <img src="http://loremflickr.com/970/560/tunnel?random=1" style="width: 100%;">
        </div>
      </div> -->

      <!-- Left and right controls -->
      <a ref="mainSlickPrev" class="left carousel-control on-slide" href>
        <span class="arrow-left"></span>
        <span class="sr-only">Предыдущий</span>
      </a>
      <a ref="mainSlickNext"  class="right carousel-control on-slide" href>
        <span class="arrow-right"></span>
        <span class="sr-only">Следующий</span>
      </a>

    </div>

    <div class="mt-photo-controls">
      <button class="btn btn-link">
        <span class="like-txt">Нравится</span> <mt-like :value="currentItem.liked" @input="$emit('like', currentItem)" /></button>
      <!-- <button class="btn btn-link">Поделиться <i class="mi mi-share"></i></button> -->
      <mt-share></mt-share>
    </div>

    <div class="carousel slide">
      <div ref="thumbSlick" class="mt-thumb-slick">
        <!-- <a href="http://placehold.it/2000x1000"><img src="http://placehold.it/2000x1000" class="mt-thumb"></a>
        <a href="http://placehold.it/2000x1000"><img src="http://placehold.it/2000x1000" class="mt-thumb"></a>
        <a href="http://placehold.it/2000x1000"><img src="http://placehold.it/2000x1000" class="mt-thumb"></a>
        <a href="http://placehold.it/2000x1000"><img src="http://placehold.it/2000x1000" class="mt-thumb"></a>
        <a href="http://placehold.it/2000x1000"><img src="http://placehold.it/2000x1000" class="mt-thumb"></a> -->
      </div>

      <!-- Left and right controls -->
      <a ref="thumbSlickPrev" class="left carousel-control" href>
        <span class="arrow-left"></span>
        <span class="sr-only">Предыдущий</span>
      </a>
      <a ref="thumbSlickNext" class="right carousel-control" href>
        <span class="arrow-right"></span>
        <span class="sr-only">Следующий</span>
      </a>
    </div>

    <w-modal v-if="modal" @close="modal = null" :config="{ className: 'mt-lightbox' }">
      <img :src="modal.image">
    </w-modal>

  </div>
</template>

<script>
  import cuid from 'cuid';

  export default {
    props: {
      items: { type: Array, required: true },
    },

    data() {
      return {
        message: 'Hello',
        modal: null,
        isLiked: false,

        currentSlide: 0,
      };
    },

    computed: {
      currentItem() {
        return this.items ? this.items[this.currentSlide] : null;
      },
    },

    methods: {
      // getSlideNumber() {
      //   if (!this.$MAIN_SLICK) {
      //     return;
      //   }
      //   return this.$MAIN_SLICK.slick('slickCurrentSlide');
      // },
    },

    mounted() {
      var vm = this;

      vm.$MAIN_SLICK = $(vm.$refs.mainSlick);

      vm.$MAIN_SLICK.slick({
        prevArrow: vm.$refs.mainSlickPrev,
        nextArrow: vm.$refs.mainSlickNext,
        asNavFor: vm.$refs.thumbSlick,
        touchMove: false,
        swipe: false,
        infinite: false,
      });

      vm.$THUMB_SLICK = $(vm.$refs.thumbSlick).slick({
        prevArrow: vm.$refs.thumbSlickPrev,
        nextArrow: vm.$refs.thumbSlickNext,
        asNavFor: vm.$refs.mainSlick,
        touchMove: false,
        swipe: false,
        infinite: false,
        variableWidth: true,
        centerMode: true,
        focusOnSelect: true,
      });

      for (let item of this.items) {
        let $main = $(`<a href><img src="${item.href}" class="mt-gallery-slide"></a>`);
        $main.on('click', function (ev) {
          ev.preventDefault();
          vm.modal = { image: item.href };
        });
        vm.$MAIN_SLICK.slick('slickAdd', $main);

        let $thumb = $(`<div><img src="${item.href}" class="mt-gallery-thumb"></div>`);
        vm.$THUMB_SLICK.slick('slickAdd', $thumb);
      }

      vm.$MAIN_SLICK.on('beforeChange', function(event, slick, currentSlide, nextSlide) {
        vm.currentSlide = nextSlide;
      });
    },

    beforeDestroy() {
      this.$MAIN_SLICK.slick('unslick');
      this.$THUMB_SLICK.slick('unslick');
    },
  };
</script>

<style lang="scss">
  .like-txt {
    margin: 0 5px 0 0;
  }
  .mt-gallery-thumb {
    height: 120px;
    width: auto;
  }

  // зависит от разметки bootbox
  .mt-lightbox .modal-dialog {
    width: 75%;
  }

  .carousel-control {
    background-image: none;
    opacity: 1;

    .arrow-right,
    .arrow-left {
      width: 32px;
      height: 62px;
      display: block;
      margin: -31px 0 0 0;
      position: absolute;
      top: 50%;
    }
    .arrow-left {
      background: url('~@/assets/svg/back.svg') no-repeat;
      background-size: 100%;
      left: 20px;
    }
    .arrow-right {
      background: url('~@/assets/svg/next.svg') no-repeat;
      background-size: 100%;
      right: 20px;
    }
  }

  .carousel-control.left:not(.on-slide),
  .carousel-control.right:not(.on-slide) {
    background-image: none;
    background: rgba(0,0,0,.7);
    width: 95px;
    opacity: 1;
  }
  .carousel-control.left:not(.on-slide) {
    left: 0;
    right: auto;
  }
  .carousel-control.right:not(.on-slide) {
    right: 0;
    left: auto;
  }
  .carousel-control:not(.on-slide){
    .arrow-left,
    .arrow-right {
      width: 64px;
      height: 64px;
      margin-top: -32px;
    }
    .arrow-left {
      background: url('~@/assets/img/arrow_left.png') no-repeat;
      background-size: 100%;
      left: 15.5px;
    }
    .arrow-right {
      background: url('~@/assets/img/arrow_right.png') no-repeat;
      background-size: 100%;
      right: 15.5px;
    }
  }
</style>

<style lang="scss" scoped>
  .mt-main-slick {
    // min-height: 120px;
  }

  .mt-thumb-slick {
    // min-height: 60px;
    background: gray;
  }

  .mt-photo-controls {
    position: relative;
    height: 44px;
    margin-top: -44px;
    background: rgba(0, 0, 0, 0.7);
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;

    .btn-link {
      display: flex;
      align-items: center;
      color: #fff;
      text-decoration: none;
      font-size: 12px;
      text-transform: uppercase;
      outline: none;

      i {
        font-size: 30px;
        margin-left: 10px;
      }
      i:before {
        color: #fff;
      }
    }
  }

</style>
