<template>
  <div class="header">

  </div>
</template>

<style lang="stylus" scoped>
  @import '~assets/styles/styles'

  .header
    height 120px
    background url('~assets/img/news-feed__header_bg.jpg') no-repeat center
    background-size cover
    margin-bottom gutter(2, div)

    +up($lg)
      height 180px

    +up($xl)
      height 220px

</style>
