<template>
  <article class="mt-article mt-article-community-list" :style="{ 'background-image': `url(${photoUrl})` }">
    <div>
      <h2><nuxt-link :to="`/community-${item.id}`">{{ item.title }}</nuxt-link></h2>
      <p class="desc">{{ $truncate(item.description) }}</p>
      <div class="flex-cont">
        <div class="flex-item start">
          <p class="type-tech">В группе ({{ item.memberCount }})</p>
        </div>
        <div class="flex-item end">
          <nuxt-link :to="`/user/${item.ownerId}`" class="nik-author">{{ ownerName }}</nuxt-link>
        </div>
      </div>
    </div>
  </article>
</template>

<script>
  import api from '@/api';

  export default {
    props: {
      item: { type: Object },
    },
    data() {
      return {
        photoUrl: null,
        ownerName: null,
      };
    },
    watch: {
      'item.photoId': {
        immediate: true,
        async handler(value) {
          var { data } = await api.get(`/photos/${value}/get`);
          this.photoUrl = data.data.urls.original;
        },
      },
      'item.ownerId': {
        immediate: true,
        async handler(value) {
          var { data } = await api.get(`/accounts/${value}/get`);
          this.ownerName = data.data.nickName;
        },
      },
    },
  };
</script>

<style lang="stylus" scoped>
  .mt-article-community-list {
    height: auto;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    padding: 25px;
  }
  .mt-article-community-list:before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(0,0,0,0.7);
  }
  .mt-article-community-list {
    > div {
      width: 100%;
      position: relative;
    }
    h2 {
      margin: 0 0 20px 0;
    }
    h2 a {
      color: #fff;
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase;
    }
    h2 a:hover {
      text-decoration: none;
    }
    .desc {
      font-size: 12.5px;
      line-height: 17px;
      font-weight: lighter;
      text-align: justify;
      margin: 0;
    }

    .flex-cont {
      min-height: 57px;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      align-items: flex-end;
    }
    .flex-cont {
      .flex-item {
      }
      .start {
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
      }
      .type-tech {
        font-size: 16px;
        line-height: 16px;
        margin: 0;
      }
      .end {
        -webkit-justify-content: flex-end;
        justify-content: flex-end;
      }
      .end {
        a {
          display: block;
          font-size: 16px;
          line-height: 16px;
          text-align: right;
          text-decoration: underline;
        }
        .sale {
          color: #369d70;
          margin: 0 0 5px 0;
          text-decoration: none;

          span {
            text-decoration: underline;
          }

          i {
            font-size: 28px;
            margin: 0 10px 0 0;
          }
          i:before {
            color: #369d70;
          }
        }
        .nik-author {
          color: #fff;

        }
        .nik-author:hover {
          font-weight: bold;
        }
      }
    }
  }
</style>
<style lang="stylus" scoped>
  @import '~assets/styles/styles'

  .mt-article
    color $white

  .mt-article
    position relative
    background-repeat no-repeat
    background-position center
    background-size cover
    /*padding gutter(2, div)*/
</style>
