<template>
  <div class="mt-feed-card-article mt-card">
    <article class="mt-article mt-article-uni" :style="{ 'background-image': `url(${bgImage})` }">
      <span class="tile-date">{{ formatDate(item.createdAt) }}</span>
      <div>
        <h3>{{ item.title }}</h3>
        <p class="desc">{{ $truncate(item.shortText) }}</p>
        <p class="links">
          <nuxt-link :to="`/post-${item.id}`" class="read-more">Подробнее</nuxt-link>
          <br>
          <nuxt-link :to="`/user/${item.authorId}`" class="nik-author">{{ item.authorName }}</nuxt-link>
        </p>
        <!-- имеется v-model -->
        <w-checkbox v-if="false" /><!-- #316, temporary -->
      </div>
    </article>
  </div>
</template>

<script>
  import img from '@/assets/img/home__header.jpg';

  export default {
    props: {
      item: { type: Object },
    },
    data() {
      return { img };
    },
    computed: {
      bgImage() {
        return _.get(this, 'item.photos[0].urls.original', this.img);
      },
    },
    methods: {
      formatDate(date) {
        return moment(date).format('DD-MM-YYYY');
      }
    }
  };
</script>

<style lang="scss" scoped>
  .tile-date {
    position: absolute;
    left: 15px;
    top: 15px;
  }
  .mt-article-uni {
    height: 336px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 25px;
  }
  .mt-article-uni:before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(0,0,0,0.7);
  }
  .mt-article-uni {
    > div {
      width: 100%;
      max-width: 250px;
      position: relative;
    }
    h2 {
      font-size: 29px;
      line-height: 29px;
      font-weight: bold;
      margin: 0;
    }
    h3 {
      font-size: 21px;
      line-height: 25px;
      font-weight: lighter;
      text-transform: uppercase;
      margin: 0 0 15px 0;
    }
    .desc {
      max-height: 110px;
      font-size: 12.5px;
      line-height: 17px;
      overflow: hidden;
    }
    .links {
      text-align: right;
      margin: 0;
    }
    .links {
      .read-more {
        color: #fff;
        font-size: 17px;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
      }
      .read-more:hover {
        text-decoration: underline;
      }
      .nik-author {
        color: #fff;
        font-size: 16px;
        text-decoration: underline;
      }
      .nik-author:hover {
        font-weight: bold;
      }
    }
    label {
      margin-bottom: 0;
      position: absolute;
      left: 0;
      bottom: 6px;
      cursor: pointer;
    }
    .w-checkbox {
      .checkbox {
        display: none;
      }
      .checkbox-custom {
        width: 26px;
        height: 26px;
        border: 4px solid #fff;
      }
    }

  }
</style>

<style lang="stylus" scoped>
  @import '~assets/styles/styles'

  .mt-article
    color $white

  .mt-article
    position relative
    background-repeat no-repeat
    background-position center
    background-size cover
    /* padding gutter(2, div)*/
</style>

