<template>
  <div :class="{ 'mt-wide': wide }">

    <h2 class="mt-title title" v-if="title">{{ title }}</h2>
    <template v-if="hasItems">

      <div class="mt-wrap">
        <template v-for="(item, index) in items">
          <div v-if="$scopedSlots.card" class="mt-card">
            <slot name="card" :item="getItem(item)">
            </slot>
          </div>
          <component v-else :is="cardCmp" :item="getItem(item)" class="mt-card">
          </component>
        </template>
      </div>

      <button :disabled="loading" class="btn btn-default btn-block" @click="$emit('show-more')" v-if="page != pageMax">Показать еще</button>

      <div class="pagination-network">
        <w-pagination :disabled="loading" :min="1" :value="page" @input="$emit('update-page', $event)" :max="pageMax">
        </w-pagination>
        <!-- сюда НЕЛЬЗЯ добавлять "поделиться". Этот компонент - лента новостей -->
        <!-- вынес "поделиться" в mt-share -->
      </div>
    </template>

    <template v-else>
      <div class="mt-wrap">
        <p class="comment">
          Извините, по вашему запросу ничего не найдено.
        </p>
      </div>
    </template>
  </div>
</template>

<script>
  export default {
    props: {
      title: { type: String },
      items: { type: Array },
      loading: { type: Boolean, default: false },
      page: { type: Number },
      pageMax: { type: Number, default: 1 },
      pageMin: { type: Number, default: 1 },
      cardCmp: { type: String, default: 'mt-feed-card-article' },
      wide: { type: Boolean }, // другой лейаут, с более широкими плашками
      itemGetter: {type: Function},
    },
    computed: {
      hasItems() {
        return !_.isEmpty(this.items);
      },
    },
    methods: {
      getItem(item) {
        if (this.itemGetter) {
          return this.itemGetter(item);
        }
        return item;
      },
    },
  };
</script>

<style lang="scss" scoped>
</style>

