<template>
  <article class="mt-article mt-article-community-list" :style="{ 'background-image': `url(${photo})` }">
    <div>
      <h2><nuxt-link :to="`/vehicle-${vehicle.id}`">{{ vehicle.name }}</nuxt-link></h2>
      <p class="desc">{{ $truncate(vehicle.feedback) || 'Без описания.' }}</p>
      <div class="flex-cont">
        <div class="flex-item start">
          <p class="type-tech">{{ vehicle && $domainValue('VehicleType', { id: vehicle.vehicleTypeId }, 'name') }}</p>
        </div>
        <div v-if="!me" class="flex-item end">
          <nuxt-link v-if="vehicle.selling" :to="`/im/${vehicle.accountId}`" class="sale"><i class="mi mi-sale"></i><span>продается</span></nuxt-link>
          <nuxt-link :to="`/user/${vehicle.accountId}`" class="nik-author">{{ account && account.nickName }}</nuxt-link>
        </div>
      </div>
      <mt-tools v-if="me" @action="$emit($event)" />
    </div>
  </article>
</template>

<script>
  import api from '@/api';
  import img from '@/assets/img/table__img.jpg';

  export default {

    props: {
      item: { type: Object },
      me: { type: Boolean, default: false },
    },

    data() {
      return {
        editing: false,
        account: null,
      };
    },

    computed: {
      vehicle() {
        return this.item.accountVehicle;
      },
      photo() {
        return _.get(this, 'item.photo.urls.original', img);
      },
    },

    watch: {
      'item.accountId': {
        immediate: true,
        async handler() {
          this.account = null;
          var { data: { data: account } } = await api.get(`/accounts/${this.item.accountId}/get`);
          this.account = account;
        },
      },
    },

    methods: {
      clickaway(ev) {
        this.editing = false;
      },
      handleAction(type) {
        this.$emit(type);
        this.editing = false;
      },
    },

  };
</script>

<style lang="scss">
  .mt-article-community-list {
    height: 100%;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    padding: 25px;
  }
  .mt-article-community-list:before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(0,0,0,0.7);
  }
  .mt-article-community-list {
    > div {
      position: relative;
    }
    h2 {
      margin: 0 0 20px 0;
    }
    h2 a {
      color: #fff;
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase;
    }
    h2 a:hover {
      text-decoration: none;
    }
    .desc {
      font-size: 12.5px;
      line-height: 17px;
      font-weight: lighter;
      text-align: justify;
      margin: 0;
    }

    .flex-cont {
      min-height: 57px;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      align-items: flex-end;
    }
    .flex-cont {
      .flex-item {
      }
      .start {
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
      }
      .type-tech {
        font-size: 16px;
        line-height: 16px;
        margin: 0;
      }
      .end {
        -webkit-justify-content: flex-end;
        justify-content: flex-end;
      }
      .end {
        a {
          display: block;
          font-size: 16px;
          line-height: 16px;
          text-align: right;
          text-decoration: underline;
        }
        .sale {
          color: #369d70;
          margin: 0 0 5px 0;
          text-decoration: none;

          span {
            text-decoration: underline;
          }

          i {
            font-size: 28px;
            margin: 0 10px 0 0;
          }
          i:before {
            color: #369d70;
          }
        }
        .nik-author {
          color: #fff;

        }
        .nik-author:hover {
          font-weight: bold;
        }
      }
    }

    .editing {
      position: absolute;
      top: 0;
      right: 0;
    }
    .editing {
      .btn-edt {
        width: 30px;
        height: 30px;

        .mi-tool {
          font-size: 30px;
          cursor: pointer;
        }
        .mi-tool:before {
          color: #fff;
        }
      }

      ul {
        background: #fff;
        list-style: none;
        margin: 0;
        padding: 10px;
        position: absolute;
        top: 35px;
        bottom: auto;
        right: 0;
        overflow: hidden;
      }
      ul li {
        display: flex;
        margin: 10px 0 0 0;
      }
      ul li:first-child {
        margin-top: 0;
      }
      ul li a {
        font-size: 12.5px;
        line-height: 13px;
        text-decoration: none;
      }
    }
  }
</style>
<style lang="stylus" scoped>
  @import '~assets/styles/styles'

  .mt-article
    color $white

  .mt-article
    position relative
    background-repeat no-repeat
    background-position center
    background-size cover
    /*padding gutter(2, div)*/
</style>
