<template>
  <div class="mt-auth-form">

    <button v-if="canClose" class="btn btn-default mt-close-btn" @click="$emit('close')">x</button>

    <slot></slot>

  </div>
</template>

<script>
  export default {
    props: {
      canClose: { type: Boolean },
    },
  };
</script>

<style lang="scss" scoped>
  .mt-auth-form {
    background: #e8e8e8;
    padding: 10px;
    overflow: hidden; // обернет блок вокруг внутренних маргинов, google('bfc css')

    * {
      color: #666;
    outline: none;
    }
  }

  .mt-close-btn {
    float: right;
    margin: 0;
    padding: 6px 10px;
    background: transparent;
    border: solid 1px #666;
    outline: none;
    color: #666;
    box-shadow: none;
    text-transform: uppercase;
  }
  .mt-close-btn:hover,
  .mt-close-btn:active,
  .mt-close-btn:focus {
    border-color: #666;
    box-shadow: none;
    outline: none;
  }
</style>
