<docs lang="md">
  Формочка для подтверждения почты.
  В отличие от некоторых других форм, и аутентифицированные и неаутентифицированные
  пользователи могут использовать эту форму.
</docs>

<template>
  <mt-auth-form :can-close="canClose" @close="$emit('close')">

    <h2>Подтверждение почты</h2>

    <div class="form-group">
      <label :for="TOKEN_UID">Код из письма</label>
      <div class="input-group">
        <span class="input-group-addon"><i class="mi mi-key"></i></span>
        <input v-model="form.token" :disabled="busy" type="text" :id="TOKEN_UID" class="form-control">
      </div>
    </div>

    <div class="form-group">
      <div class="mt-buttons">
        <button class="btn btn-default login" :disabled="busy" @click="submit()">Отправить</button>
      </div>
    </div>

  </mt-auth-form>
</template>

<script>
  import cuid from 'cuid';
  export default {

    props: {
      token: { type: String },
      canClose: { type: Boolean },
    },

    data() {
      return {
        TOKEN_UID: cuid(),

        form: {
          token: '',
        },
      };
    },

    watch: {
      token: {
        immediate: true,
        handler(value) {
          this.form.token = value || '';
        },
      },
    },

    computed: {
      busy() {
        return this.$store.state.auth.inProgress;
      },
      authenticated() {
        return this.$store.state.auth.account !== null;
      },
    },

    methods: {
      async submit() {
        try {
          await this.$store.dispatch('auth/confirmEmail', this.form);
          this.$emit('done');
        }
        catch (err) {
          console.error(err);
        }
      },
    },

  };
</script>

<style lang="scss" scoped>
</style>
