<docs lang="md">
  Формочка для входа.
</docs>

<template>
  <mt-auth-form class="ttt" :can-close="canClose" @close="$emit('close')">

    <h2>Вход</h2>
    <p>Личный кабинет открывает возможности ведения личного блога пользователя и техники.</p>

    <template v-if="authenticated">
      <p>Вы уже вошли</p>
    </template>

    <template v-else>

      <div class="form-group">
        <div class="mt-label-box">
          <label :for="LOGIN_UID">Логин</label>
          <button @click="$emit('want-sign-up')" class="btn btn-link mt-btn-flat">
            Зарегистрироваться
          </button>
        </div>
        <div class="input-group">
          <span class="input-group-addon"><i class="mi mi-lk-o"></i></span>
          <input v-model="form.login" :disabled="busy" type="text" :id="LOGIN_UID" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <div class="mt-label-box">
          <label :for="PASSWORD_UID">Пароль</label>
          <!-- <span>пользователя не существует</span> -->
        </div>
        <div class="input-group">
          <span class="input-group-addon"><i class="mi mi-lock"></i></span>
          <input v-model="form.password" :disabled="busy" type="password" :id="PASSWORD_UID" class="form-control">
        </div>
        <div class="forgot-pass">
          <button @click="$emit('want-remember-password')" class="btn btn-link mt-btn-flat">забыли пароль?</button>
        </div>
      </div>

      <div class="form-group">
        <div class="capcha">@TODO: капча</div>
        <!-- <div class="capcha" data-sitekey="6LeFQBkUAAAAAIIFD5wDIvACNP9dPV1B3XNA2shP"></div> -->
      </div>

      <div class="form-group">
        <div class="mt-buttons">
          <button class="btn btn-default login" :disabled="busy || invalidCredentials" @click="submit()">
            Войти
          </button>
        </div>
      </div>

      <div class="form-group">
        <p>С помощью аккаунта в соц сетях</p>
        <div class="mt-buttons">
          <button class="btn btn-default vk" @click="loginWith('vk')"><i class="fa fa-vk"></i></button>
          <button class="btn btn-default fb" @click="loginWith('fa-facebook')"><i class="fa fa-facebook"></i></button>
          <button class="btn btn-default tw" @click="loginWith('twitter')"><i class="fa fa-twitter"></i></button>
          <button class="btn btn-default ok" @click="loginWith('odnoklassniki')"><i class="fa fa-odnoklassniki"></i></button>
          <button class="btn btn-default gp" @click="loginWith('google-plus')"><i class="fa fa-google-plus"></i></button>
        </div>
      </div>

    </template>

  </mt-auth-form>
</template>

<script>
  import cuid from 'cuid';
  export default {

    props: {
      canClose: { type: Boolean },
    },

    data() {
      return {
        LOGIN_UID: cuid(),
        PASSWORD_UID: cuid(),

        form: {
          login: '',
          password: '',
          // captcha: null,
        },
      };
    },

    computed: {
      busy() {
        return this.$store.state.auth.inProgress;
      },
      authenticated() {
        return this.$store.state.auth.account !== null;
      },

      invalidCredentials() {
        return !this.form.login || !this.form.password;
      },
    },

    methods: {
      async submit() {
        if (this.invalidCredentials) {
          return false;
        }
        try {
          await this.$store.dispatch('auth/login', this.form);
          this.$emit('done');
        }
        catch (err) {
          console.error(err);
        }
      },
      loginWith(provider) {
        alert('@TODO');
      },
    },

  };
</script>

<style lang="scss" scoped>
  button[disabled] {
    pointer-events: none;
    opacity: 0.3;
  }
</style>
