<docs lang="md">
  Формочка для регистрации.
</docs>

<template>
  <mt-auth-form :can-close="canClose" @close="$emit('close')">

    <h2>Регистрация пользователя</h2>

    <template v-if="authenticated">
      <p>Вы уже вошли</p>
    </template>

    <template v-else>

      <div class="form-group">
        <label :for="FIRST_NAME_UID">Ваше имя</label>
        <div class="input-group">
          <span class="input-group-addon"><i class="mi mi-lk-o"></i></span>
          <input
            class="form-control"
            :class="{error: showValidation && !!nameError}"
            :disabled="busy"
            :id="FIRST_NAME_UID"
            v-model="form.firstName"
            type="text"
            >
        </div>
        <span class="error" v-if="showValidation && nameError">{{nameError}}</span>
      </div>

      <div class="form-group">
        <label :for="NICK_NAME_UID">Логин</label>
        <div class="input-group">
          <span class="input-group-addon"><i class="mi mi-lk-o"></i></span>
          <input
            class="form-control"
            :class="{error: showValidation && !!nickError}"
            :disabled="busy"
            :id="NICK_NAME_UID"
            v-model="form.nickName"
            type="text"
            >
        </div>
        <span class="error" v-if="showValidation && nickError">{{nickError}}</span>
      </div>

      <div class="form-group">
        <label :for="PASSWORD_UID">Пароль</label>
        <div class="input-group">
          <span class="input-group-addon"><i class="mi mi-lock"></i></span>
          <input
            class="form-control"
            :class="{error: showValidation && !!passwordError}"
            :disabled="busy"
            :id="PASSWORD_UID"
            v-model="form.password"
            type="password"
            >
        </div>
        <span class="error" v-if="showValidation && passwordError">{{passwordError}}</span>
      </div>

      <div class="form-group">
        <label :for="PASSWORD_CONFIRM_UID">Подтвердите пароль</label>
        <div class="input-group">
          <span class="input-group-addon"><i class="mi mi-lock"></i></span>
          <input
            class="form-control"
            :class="{error: showValidation && !!passwordError}"
            :disabled="busy"
            :id="PASSWORD_CONFIRM_UID"
            v-model="form.passwordConfirm"
            type="password"
            >
        </div>
        <span class="error" v-if="showValidation && passwordError">{{passwordError}}</span>
      </div>

      <div class="form-group">
        <label :for="EMAIL_UID">Ваша почта</label>
        <div class="input-group">
          <span class="input-group-addon"><i class="mi mi-email"></i></span>
          <input
            class="form-control"
            :class="{error: showValidation && !!emailError}"
            :id="EMAIL_UID"
            :disabled="busy"
            v-model="form.email"
            type="email"
            >
        </div>
        <span class="error" v-if="showValidation && emailError">{{emailError}}</span>
      </div>

      <div class="form-group">
        <div class="mt-buttons">
          <button
            class="btn btn-default login"
            :disabled="busy"
            @click="submit()"
            >
            Зарегистрироваться
          </button>
        </div>
      </div>

      <div class="form-group">
        <p>С помощью аккаунта в соц сетях</p>
        <div class="mt-buttons">
          <button class="btn btn-default vk" @click="regiterWith('vk')"><i class="fa fa-vk"></i></button>
          <button class="btn btn-default fb" @click="regiterWith('fa-facebook')"><i class="fa fa-facebook"></i></button>
          <button class="btn btn-default tw" @click="regiterWith('twitter')"><i class="fa fa-twitter"></i></button>
          <button class="btn btn-default ok" @click="regiterWith('odnoklassniki')"><i class="fa fa-odnoklassniki"></i></button>
          <button class="btn btn-default gp" @click="regiterWith('google-plus')"><i class="fa fa-google-plus"></i></button>
        </div>
      </div>

    </template>

  </mt-auth-form>
</template>

<script>
  import cuid from 'cuid';
  export default {

    props: {
      canClose: { type: Boolean },
    },

    data() {
      return {
        FIRST_NAME_UID: cuid(),
        NICK_NAME_UID: cuid(),
        PASSWORD_UID: cuid(),
        PASSWORD_CONFIRM_UID: cuid(),
        EMAIL_UID: cuid(),

        form: {
          firstName: '',
          nickName: '', // видимо, это логин
          password: '',
          passwordConfirm: '',
          email: '',
        },

        // она появляется после первой "неудачной" попытки
        showValidation: false,

      };
    },

    computed: {
      busy() {
        return this.$store.state.auth.inProgress;
      },
      authenticated() {
        return this.$store.state.auth.account !== null;
      },

      nameError() {
        if (!this.form.firstName) {
          return 'Укажите свое имя';
        }
      },
      nickError() {
        if (!this.form.nickName) {
          return 'Укажите свой псевдоним';
        }
      },
      passwordError() {
        if (!this.form.password) {
          return 'Это поле обязательно для заполнения!';
        }
        if (this.form.password !== this.form.passwordConfirm) {
          return 'Пароли не совпадают!';
        }
      },
      emailError() {
        try {
          var validator = window.validator;
        }
        catch (err) {
          return true;
        }
        if (validator && !validator.isEmail(this.form.email)) {
          return 'Email не валиден';
        }
      },

      hasError() {
        return _.some([
          this.nameError,
          this.nickError,
          this.passwordError,
          this.emailError,
        ]);
      },
    },

    methods: {
      async submit() {
        if (this.hasError) {
          this.showValidation = true;
          return;
        }
        this.showValidation = false;
        try {
          // await this.$store.dispatch('auth/register', this.form);
          this.$emit('done');
        }
        catch (err) {
          console.error(err);
        }
      },
      registerWith(provider) {
        alert('@TODO');
      },
    },

  };
</script>

<style lang="scss" scoped>
  button[disabled] {
    pointer-events: none;
    opacity: 0.3;
  }

  span.error {
    margin-left: 40px;
  }
</style>
