<docs lang="md">
  Формочка для запроса восстановления пароля. Отправит на почту запрос
  для подтверждения владения почтой.
</docs>

<template>
  <mt-auth-form :can-close="canClose" @close="$emit('close')">

    <h2>Восстановление пароля</h2>

    <template v-if="authenticated">
      <p>Вы уже вошли</p>
    </template>

    <template v-else>

      <div class="form-group">
        <!-- <p>Такого пользователя не существует</p> -->
        <!-- <p>Ссылка отправлена</p> -->
      </div>

      <div class="form-group">
        <label :for="EMAIL_UID">Введите почту указанную при регистрации</label>
        <div class="input-group">
          <span class="input-group-addon"><i class="mi mi-email"></i></span>
          <input v-model="form.email" :disabled="busy" type="email" :id="EMAIL_UID" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <div class="mt-buttons">
          <button class="btn btn-default login" :disabled="busy" @click="submit()">Отправить</button>
        </div>
      </div>

    </template>

  </mt-auth-form>
</template>

<script>
  import cuid from 'cuid';
  export default {

    props: {
      canClose: { type: Boolean },
    },

    data() {
      return {
        EMAIL_UID: cuid(),

        form: {
          email: '',
        },
      };
    },

    computed: {
      busy() {
        return this.$store.state.auth.inProgress;
      },
      authenticated() {
        return this.$store.state.auth.account !== null;
      },
    },

    methods: {
      async submit() {
        try {
          await this.$store.dispatch('auth/restorePassword', this.form);
          this.$emit('done');
        }
        catch (err) {
          console.error(err);
        }
      },
    },

  };
</script>

<style lang="scss" scoped>
  h2 {
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
  }
  p {
    font-size: 11px;
    line-height: 15px;
  }

  .mt-label-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    label {
      font-size: 14px;
      line-height: 14px;
      font-weight: normal;
      margin-bottom: 7px;
    }
    .mt-btn-flat {
      font-size: 11px;
      line-height: 11px;
      text-decoration: underline;
      margin-bottom: 7px;
      padding: 0;
      outline: none;
    }
    span {
      color: #bb0000;
      font-size: 11px;
      line-height: 11px;
      margin-bottom: 7px;
    }
  }

  .form-control {
    height: 40px;
    border-color: #666;
    border-radius: 0;
    padding: 6px 12px;
    font-size: 11px;
    line-height: 11px;
    color: #999;
    outline: none;
  }
  .form-control:hover,
  .form-control:focus,
  .form-control:active {
    border-color: #666;
    outline: 0;
    box-shadow: none;
  }

  .input-group-addon {
    border: 0;
    padding: 0 15px 0 0;

    i {
      font-size: 40px;
    }
    i:before {
      color: #999;
      vertical-align: middle;
    }
  }

  .forgot-pass {
    display: flex;
    justify-content: flex-end;

    .mt-btn-flat {
      font-size: 11px;
      line-height: 11px;
      text-decoration: underline;
      margin-top: 7px;
      padding: 0;
      outline: none;
    }
  }
  .mt-btn-flat:hover {
    color: #000;
  }
  .capcha {
    background: #fff;
    margin: 10px 0;
  }

  .mt-buttons {
    display: flex;
    justify-content: space-around;

    .btn {
      background: #bc0202;
      border: 0;
      border-radius: 0;
      color: #fff;
      font-size: 16px;
      line-height: 16px;
      text-transform: none;
      padding: 15px 75px;
    }
    .vk,
    .fb,
    .tw,
    .ok,
    .gp {
      width: 40px;
      height: 40px;
      border: 0;
      color: #fff;
      font-size: 20px;
      line-height: 20px;
      margin: 0;
      padding: 0;

      i:before {
        color: #fff;
      }
    }
    .vk {
      background: #4e97ca;
    }
    .fb {
      background: #3b5ea0;
    }
    .tw {
      background: #01c3ff;
    }
    .ok {
      background: #ff9d38;
    }
    .gp {
      background: #ff6d46;
    }
  }
</style>
