<template>
  <div class="banner">
    <div class="banner__title">{{ title }}</div>
  </div>
</template>

<script>
  export default {
    props: {
      title: {
        type: String,
        default: ''
      }
    }
  }
</script>

<style lang="scss" scoped>
  .banner {
    min-height: 218px;
    background: url('~@/assets/img/record__bg.jpg') no-repeat center;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .banner__title {
      background: rgba(0,0,0,.7);
      color: #fff;
      font-size: 14px;
      line-height: 14px;
      text-transform: uppercase;
      font-weight: bold;
      padding: 20px 15px;
    }
  }
</style>