<template>
  <mt-tile-with-bg :bg="bg">
    <div class="desc-block">
      <h1>{{community.title}}</h1>
      <div v-if="canEdit" class="user-tool">
        <i class="mi mi-tool"></i>
        <nuxt-link :to="`/community-${$route.params.id}/edit`">Редактировать<br>профиль</nuxt-link>
      </div>
      <p>{{community.description}}</p>
    </div>
  </mt-tile-with-bg>
</template>

<script>
  export default {
    props: {
      canEdit: { type: Boolean },
      community: { type: Object },
    },
    computed: {
      bg() {
        return this.community.photo && this.community.photo.urls && this.community.photo.urls.original || null;
      },
    },
  };
</script>

<style lang="scss" scoped>
  body .wrap .community-list .desc-block {
    width: 100%;
    max-width: 335px;
    min-height: 220px;
    background: rgba(0,0,0,.5);
    margin: 0 20px;
    padding: 20px;

    h1 {
      color: #fff;
      font-size: 32px;
      line-height: 32px;
      font-weight: bold;
      text-transform: uppercase;
      margin: 0;
    }
    .user-tool {
      display: flex;
      align-items: center;
      color: #fff;
      margin: 10px 0;

      a {
        color: #fff;
        font-size: 11px;
        line-height: 15px;
      }
      i {
        font-size: 20px;
        margin-right: 5px;
      }
    }
    p {
      color: #fff;
      font-size: 12px;
      line-height: 16px;
      margin: 10px 0 0 0;
    }
  }
</style>
