<template>
  <span class="mt-like">
    <i
      v-if="!value"
      class="mi mi-star"
      @click="like"
      >
    </i>
    <i
      v-else
      class="mi mi-star2"
      @click="dislike"
      >
    </i>
  </span>
</template>

<script>
  export default {
    props: {
      value: {
        type: Boolean,
        default: false,
      },
    },
    data() {
      return {
      };
    },

    methods: {
      like() {
        this.$emit('input', true);
      },
      dislike() {
        this.$emit('input', false);
      },
    },
  };
</script>

<style lang="scss">
  .mt-like {
    i {
      cursor: pointer;
      font-size: 30px;
    }
  }
</style>
