<!-- на основании этого компонента сделан mt-vehicle-picker. При правке багов тут - надо бы поправить и там -->
<template>
  <div class="mt-model-picker row">
    <div :class="withTypes ? 'col-md-6' : 'col-md-12'">
      <div class="form-group">
        <label>Выберите производителя</label>
        <w-select
          v-if="brands"
          v-model="selection.brandId"
          :options="brands"
          placeholder="Выберите производителя"
          />
      </div>
    </div>
    <div :class="withTypes ? 'col-md-6' : 'hidden'">
      <div class="form-group">
        <label>Выберите тип</label>
        <w-select
          v-if="types"
          v-model="selection.typeId"
          :options="types"
          placeholder="Выберите тип"
          />
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <label>Выберите модель</label>
        <w-select
          v-if="models"
          v-model="selection.modelId"
          :options="models"
          placeholder="Выберите модель"
          />
        <span v-else class="comment">
          Для выбора модели необходимо выбрать производителя
        </span>
      </div>
    </div>
    <slot></slot>
  </div>
</template>

<script>
  import { getStatic } from '@/api';
  import api from '@/api';

  export default {
    props: {
      title: {
        type: String,
        default: ''
      },
      value: {
        type: Object,
        default: () => ({
          brandId: null,
          typeId: null,
          modelId: null,
        })
      },
      // в моделях будет присутствовать опция "добавить модель" с айдишником NEW
      withNew: {
        type: Boolean,
        default: false,
      },
      // как ВНЕЗАПНО выяснилось, модель не зависит от типа.
      // поэтому в некоторых местах надо выпилить этот функционал.
      // А т.к. это долго - то я просто скрываю неиспользующуюся часть.
      withTypes: {
        type: Boolean,
        default: true,
      },
    },

    data() {
      return {
        brands: null,
        types: null,
        models: null,

        selection: null,
      };
    },

    computed: {
      populatedModel() {
        if (!this.selection) {
          return null;
        }

        var selectedBrand = _.find(this.brands, {id: +this.selection.brandId});
        this.$emit('brand-selected', selectedBrand);

        var selectedType = _.find(this.types, {id: +this.selection.typeId});
        this.$emit('type-selected', selectedType);

        var selectedModel = _.find(this.models, {id: +this.selection.modelId}) || _.find(this.models, {id: this.selection.modelId});

        var populatedModel = _.extend({}, selectedModel, {
          brand: selectedBrand,
          type: selectedType,
        });
        this.$emit('model-selected', populatedModel);
        return populatedModel;
      }
    },

    watch: {
      value: {
        immediate: true,
        handler() {
          this.selection = this.value;
        },
      },
      selection: {
        deep: true,
        handler() {
          this.$emit('input', this.selection);
        },
      },

      // не удалять.
      populatedModel() {
      },

      'selection.brandId': {
        immediate: true,
        handler() {
          this.fetchModels();
        },
      },
      'selection.typeId': {
        immediate: true,
        handler() {
          this.fetchModels();
        },
      },

    },

    methods: {
      fetchModels: _.debounce(async function() {
        if (!this.selection.brandId && !this.selection.typeId) {
          this.selection.modelId = null;
          return this.models = null;
        }

        var allModels = await api.get(`/vehicleModels/getAll?brandId=${this.selection.brandId}&vehicleTypeId=${this.selection.typeId}`);

        var models = _.map(_.get(allModels, 'data.data'), item => ({
          id: item.id,
          text: item.name,
        }));
        if (this.withNew) {
          models.unshift({id: 'NEW', text: 'Добавить модель'});
        }
        this.models = models;
      }, 100),
    },

    async mounted() {
      var vm = this;
      try {
        var allBrands = await api.get('/brands/getAll');
        var allTypes = await api.get('/vehicleTypes/getAll');

        this.brands = _.map(_.get(allBrands, 'data.data'), i => ({id: i.id, text: i.name}));
        this.types = _.map(_.get(allTypes, 'data.data'), i => ({id: i.id, text: i.name}));
      }
      catch (err) {
        console.warn('компонент выбора модели - mt-model-picker - ошибка при получении данных');
      }
    },
  };
</script>

<style lang="scss" scoped>
body .form-group .comment {
  display: block;
  font-size: 14px;
  line-height: 18px;
  margin: 0 0 10px 0;
  padding: 0;
}
</style>
