<template>
  <div class="mt-models-comparassion">
    <table>
      <tbody>
        <tr v-for="row in rows" :class="row.class">
          <td v-for="cellValue in row.cellValues">
            <h3 v-if="row.header">{{cellValue}}</h3>
            <span v-else>{{cellValue || '-'}}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
  import { getStatic } from '@/api';

  export default {

    props: {
      vehicles: {
        type: Array,
      },
      countToCompare: {
        type: Number,
        default: 3,
      },
    },

    computed: {
      features() {
        let features = [];
        _.each(this.vehicles, vehicle => {
          _.each(vehicle.features, (featureGroup, featureGroupKey) => {
            let group = _.find(features, { key: featureGroupKey });
            if (!group) {
              group = { key: featureGroupKey, features: [] };
              features.push(group);
            }
            _.each(featureGroup, (featureValue, featureKey) => {
              let feature = _.find(group.features, { key: featureKey });
              if (!feature) {
                feature = { key: featureKey };
                group.features.push(feature);
              }
            });
          });
        });
        return features;
      },
      rows() {
        var rows = [];

        var modelRow = {
          class: 'model-name',
          header: true,
          cellValues: [],
        };
        _.each(this.vehicles, vehicle => {
          let value = vehicle.name;
          modelRow.cellValues.push(value);
        });
        rows.push(modelRow);

        _.each(this.features, group => {
          _.each(group.features, feature => {
            let propertyRow = {
              class: 'property-name',
              header: false,
              cellValues: [],
            };
            let valueRow = {
              class: 'property-value',
              header: false,
              cellValues: [],
            };
            _.each(this.vehicles, vehicle => {
              var value = _.get(vehicle, `features.${group.key}.${feature.key}`);
              propertyRow.cellValues.push(feature.key); // @TODO: когда бек будет готов, #442
              valueRow.cellValues.push(value);
            });
            rows.push(propertyRow);
            rows.push(valueRow);
          });
        });

        var feedbackHeaderRow = {
          class: 'property-name property-review',
          header: false,
          cellValues: [],
        };
        _.each(this.vehicles, vehicle => {
          let value = 'Отзыв';
          feedbackHeaderRow.cellValues.push(value);
        });
        rows.push(feedbackHeaderRow);

        var feedbackRow = {
          class: 'property-review',
          header: false,
          cellValues: [],
        };
        _.each(this.vehicles, vehicle => {
          let value = vehicle.feedback || 'Не указан';
          feedbackRow.cellValues.push(value);
        });
        rows.push(feedbackRow);

        return rows;
      },
    },

  };
</script>

<style lang="scss" scoped>
  // .model-name {
  //   font-size: 20px;
  // }
  // .property-name {
  //   background: #ccc;
  //   color: #000;
  // }
</style>
