<!-- написан специально для использования в mt-edit-vehicles (вкладка с техникой в редакторе) -->
<template>
  <div class="mt-model-picker row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Выберите производителя</label>
        <w-select
          v-if="brands"
          v-model="selection.brandId"
          :options="brands"
          placeholder="Выберите производителя"
          />
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Выберите модель</label>
        <w-select
          v-if="models"
          v-model="selection.modelId"
          :options="models"
          placeholder="Выберите модель"
          />
        <span v-else class="comment">
          Для выбора модели необходимо выбрать производителя или тип
        </span>
      </div>
    </div>

  </div>
</template>

<script>
  import api from '@/api';

  export default {
    props: {
      value: {
        type: Object,
        default: () => ({
          brandId: null,
          modelId: null,
        })
      },
    },

    data() {
      return {
        brands: null,
        models: null,

        selection: null,
      };
    },

    computed: {
      result() {
        if (!this.selection) {
          return null;
        }

        var selectedBrand = _.find(this.brands, {id: +this.selection.brandId});
        var selectedModel = _.find(this.models, {id: +this.selection.modelId});

        var result = _.extend({}, {
          brand: selectedBrand,
          model: selectedModel,
        });
        return result;
      }
    },

    watch: {
      value: {
        immediate: true,
        handler() {
          this.selection = _.cloneDeep(this.value);
        },
      },
      selection: {
        deep: true,
        handler() {
          this.$emit('input', this.selection);
        },
      },

      // не удалять.
      result() {
      },

      'selection.brandId': {
        immediate: true,
        handler() {
          var modelId = this.selection.modelId;
          // комбик меняет данные - селект эмитит null,
          // т.к. (в какой-то момент) значение не выбрано.
          this.fetchModels(() => {
            this.$nextTick(() => {
              this.selection.modelId = modelId || null;
            });
          });
        },
      },
      'selection.modelId': {
        immediate: false,
        handler(val) {
          this.$emit('model-selected', this.result);
        },
      },
    },

    methods: {
      fetchModels: _.debounce(async function(callback) {
        if (!this.selection.brandId) {
          this.selection.modelId = null;
          this.models = null;
          return;
        }

        var allModels = await api.get(`/vehicleModels/getAll?brandId=${this.selection.brandId}`);

        var models = _.map(_.get(allModels, 'data.data'), item => (item, {
          id: item.id,
          text: item.name,
        }));
        this.models = models;
        if (callback) {callback();};
      }, 100),
    },

    async mounted() {
      var vm = this;
      try {
        var allBrands = await api.get('/brands/getAll');
        this.brands = _.map(_.get(allBrands, 'data.data'), i => ({id: i.id, text: i.name}));
      }
      catch (err) {
        console.warn('компонент выбора модели - mt-model-picker - ошибка при получении данных');
      }
    },
  };
</script>

<style lang="scss" scoped>
body .form-group .comment {
  display: block;
  font-size: 14px;
  line-height: 18px;
  margin: 0 0 10px 0;
  padding: 0;
}
</style>
