<template>
  <div class="col-md-12 mt-model-card">
    <div class="row">
      <!--  -->
      <div class="col-md-5">
        <w-select
          label="Выберите тип техники (*)"
          placeholder="Тип техники"
          :disabled="disabled"
          :options="types"
          v-model="item.typeId"
          >
        </w-select>
      </div>
      <div class="col-md-3">
        <w-input
          label="Двигатель (см^3)"
          placeholder="2-тактный, 300 см куб"
          :disabled="isDisabled"
          v-model="item.engine"
          >
        </w-input>
      </div>
      <div class="col-md-4">
        <w-input
          label="Подвеска передняя"
          placeholder="Перевернутая вилка 48мм"
          :disabled="isDisabled"
          v-model="item.frontSuspension"
          >
        </w-input>
      </div>
    </div>
    <!--  -->
    <div class="row">
      <div class="col-md-5">
        <w-select
          label="Производитель (*)"
          placeholder="Выберите производителя"
          :disabled="disabled"
          :options="brands"
          v-model="item.brandId"
          >
        </w-select>
      </div>
      <div class="col-md-3">
        <w-input
          label="Сцепление"
          placeholder="многодисковое"
          :disabled="isDisabled"
          v-model="item.clutch"
          >
        </w-input>
      </div>
      <div class="col-md-4">
        <w-input
          label="Подвеска задняя"
          placeholder="Длина хода 300мм"
          :disabled="isDisabled"
          v-model="item.backSuspension"
          >
        </w-input>
      </div>
    </div>
    <!--  -->
    <div class="row">
      <div class="col-md-5">
        <w-input
          label="Название модели"
          placeholder="Название"
          v-model="item.name"
          >
        </w-input>
      </div>
      <div class="col-md-3">
        <w-input
          label="Трансмиссия"
          placeholder="Шестиступенчатая"
          :disabled="isDisabled"
          v-model="item.transmission"
          >
        </w-input>
      </div>
      <div class="col-md-4">
        <w-input
          label="Тормоза передние"
          placeholder="Дисковые 310мм"
          :disabled="isDisabled"
          v-model="item.frontBrakes"
          >
        </w-input>
      </div>
    </div>
    <!--  -->
    <div class="row">
      <div class="col-md-5">
        <w-datepicker
          label="Дата выпуска модели"
          placeholder="Укажите какого года модель"
          :disabled="isDisabled"
          v-model="item.date"
          >
        </w-datepicker>
      </div>
      <div class="col-md-3">
        <w-input
          label="Колесная база (мм)"
          placeholder="1400мм"
          :disabled="isDisabled"
          v-model="item.wheelbase"
          >
        </w-input>
      </div>
      <div class="col-md-4">
        <w-input
          label="Тормоза задние"
          placeholder="Дисковые 220мм"
          :disabled="isDisabled"
          v-model="item.backBrakes"
          >
        </w-input>
      </div>
    </div>
    <!--  -->
    <div class="row">
      <div class="col-md-5">
        <w-checkbox
          label="Сейчас езжу"
          class="col-md-12"
          :disabled="isDisabled"
          >
        </w-checkbox>
        <w-checkbox
          label="Бывшая"
          class="col-md-12"
          :disabled="isDisabled"
          >
        </w-checkbox>
        <w-checkbox
          label="Хочу продать"
          class="col-md-12"
          :disabled="isDisabled"
          >
        </w-checkbox>
      </div>
      <div class="col-md-3">
        <w-input
          label="Дорожный просвет (мм)"
          placeholder="300мм"
          :disabled="isDisabled"
          v-model="item.clearance"
          >
        </w-input>
      </div>
      <div class="col-md-4">
        <w-input
          label="Шины"
          placeholder="80/100-21, 120/80-18"
          :disabled="isDisabled"
          v-model="item.tires"
          >
        </w-input>
      </div>
    </div>
    <!--  -->
    <div class="row">
      <div class="col-md-5">
        <w-textarea
          label="Краткая характеристика владельца"
          placeholder="Опишите кратко свое мнение"
          :disabled="isDisabled"
          v-model="item.review"
          >
        </w-textarea>
      </div>
      <div class="col-md-3">
        <w-input
          label="Вес (кг)"
          placeholder="100 кг"
          :disabled="isDisabled"
          v-model="item.weight"
          >
        </w-input>
      </div>
      <div class="col-md-4">
        <w-input
          label="Емкость бензобака (л)"
          placeholder="10 литров"
          :disabled="isDisabled"
          v-model="item.tankCapacity"
          >
        </w-input>
      </div>
    </div>
    <!--  -->
    <div class="row">
      <div class="col-md-12">
        <slot name="buttons"></slot>
      </div>
    </div>
    </div>
    <!--  -->
  </div>
</template>

<script>
  import { getStatic } from '@/api';
  var DEFAULT_ITEM = {
    id: null,
    typeId: null,
    brandId: null,
    date: new Date(),
    name: null,
    engine: null,
    clutch: null,
    transmission: null,
    wheelbase: null,
    clearance: null,
    weight: null,
    frontSuspension: null,
    backSuspension: null,
    frontBrakes: null,
    backBrakes: null,
    tires: null,
    tankCapacity: null,
    review: null,
  };

  export default {
    props: {
      value: {
        type: Object,
      },
      disabled: {
        type: Boolean,
        default: false,
      },
      // появятся чекбоксы "сейчас-бывшая-продать"
      isPersonal: {
        type: Boolean,
        default: false,
      },
    },

    data() {

      return {
        DEFAULT_ITEM,

        brands: null,
        types: null,

        item: _.extend({}, DEFAULT_ITEM),

      };
    },

    computed: {
      isNew() {
        return this.item.id === 'NEW';
      },
      isSelectedBrandOrType() {
        return !!this.item.brandId || !!this.item.typeId;
      },
      modelNotSelected() {
        return !this.item.id;
      },
      isDisabled() {
        return this.disabled || this.modelNotSelected;
      },
    },

    watch: {
      value: {
        immediate: true,
        handler() {
          this.item = _.extend({}, this.DEFAULT_ITEM, this.value);
        },
      },
    },

    methods: {
      getValue() {
        return _.cloneDeep(this.item);
      },
    },

    async mounted() {
      var allBrands = await getStatic('/fixtures/brands.json?minimal');
      var allTypes = await getStatic('/fixtures/vehicle-types.json?kan');

      this.brands = _.map(allBrands.data, i => ({id: i.id, text: i.name}));
      this.types = _.map(allTypes.data, i => ({id: i.id, text: i.name}));

      this.$emit('ready');
    },
  };
</script>

<style lang="scss">
  .mt-model-card {
    border: solid 1px #ccc;
    margin-bottom: 15px;
    padding: 20px;
    .label {
      color: #ababab;
      font-size: 18px;
      line-height: 18px;
      font-weight: normal;
      padding: 0px;
    }
  }
</style>
