<template>
  <div class="mt-prev-next">
    <nuxt-link :disabled="prevDisabled" v-if="prev" class="left" :to="prev">
      Предыдущая
    </nuxt-link>
    <nuxt-link :disabled="nextDisabled" v-if="next" class="right" :to="next">
      Следующая
    </nuxt-link>
  </div>
</template>

<script>
  export default {
    props: {
      prev: {
        type: String,
        default: '/',
      },
      next: {
        type: String,
        default: '/',
      },
      prevDisabled: {
        type: Boolean,
        default: false,
      },
      nextDisabled: {
        type: Boolean,
        default: false,
      },
    },
  };
</script>

<style lang="scss" scoped>
  .mt-prev-next {
    background: #e5e5e5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;

    a {
      color: #999;
      font-size: 18px;
      line-height: 18px;
      text-decoration: underline;
      text-transform: lowercase;
    }
    a:hover {
      color: #000;
    }

    a[disabled="disabled"] {
      pointer-events: none;
      opacity: 0.4;
    }
  }
</style>
