<template>
  <div class="network mt-share" v-on-clickaway="hideTooltip">
    <span @click="tooltipIsVisible = !tooltipIsVisible">
      <i class="mi mi-share"></i>Поделиться
    </span>
    <div v-if="tooltipIsVisible" class="ttp network-up">
      <a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-odnoklassniki-square" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
    },
    data() {
      return {
        tooltipIsVisible: false,
      };
    },

    methods: {
      hideTooltip() {
        this.tooltipIsVisible = false;
      },
    },
  };
</script>

<style lang="scss">
  .mt-share {
    display: inline-block;
    position: relative;
    cursor: pointer;

    .ttp {
      position: absolute;
      bottom: 100%;
      left: 0px;
    }

    i {
      font-size: 30px;
      margin: 0 5px 0 25px;
    }

    .network-up {
      background: #fff;
      border: solid 1px #eee;
      display: flex;
      align-items: center;
      padding: 5px;
      position: absolute;
      bottom: 100%;
      right: 0;
      left: auto;

      a {
        height: 30px;
        margin: 0 0 0 5px;
      }
      a:first-child,
      i {
        margin: 0;
      }
      .fa-facebook-official {
        color: #1d5a99;
      }
      .fa-odnoklassniki-square {
        color: #fd850a;

      }
      .fa-google-plus-square {
        color: #fb4b3c;

      }
      .fa-vk {
        background: #256499;
        border-radius: 4.5px;
        color: #fff;
        font-size: 18px;
        margin: 2px 0;
        padding: 4px;
      }
    }

  }
</style>
