<template>
  <div class="mt-user" :style="`background-image: url('${bg || EMPTY_PHOTO}');`">
    <slot></slot>
  </div>
</template>

<script>
  export default {
    data() {
      return {
      };
    },
    props: {
      bg: {
        type: String,
      },
    },
  };
</script>

<style lang="scss" scoped>
</style>
