<template>
  <div class="mt-tools actions editing" v-on-clickaway="clickaway">
    <div class="btn-edt">
      <i class="mi mi-tool" @click="editing = !editing"></i>
    </div>
    <template v-if="!$slots.default">
      <ul v-if="editing">
        <li><a href @click.prevent="handleAction('edit')">изменить</a></li>
        <li><a href @click.prevent="handleAction('delete')">удалить</a></li>
      </ul>
    </template>
    <slot v-else></slot>
  </div>
</template>

<script>
  export default {
    props: {
    },
    data() {
      return {
        editing: false,
      };
    },

    methods: {
      clickaway(ev) {
        this.editing = false;
      },
      handleAction(type) {
        this.$emit('action', type);
        this.editing = false;
      },
    },
  };
</script>

<style lang="scss">
  .editing {
    text-align: right;
    cursor: pointer;

    i {
      color: #010101;
    }

    ul {
      background: #fff;
      border: solid 1px #010101;
      padding: 5px 10px;
      position: absolute;
      top: 100%;
      right: 0;

      li {
        line-height: 12px;

        a {
          color: #aaa;
          display: block;
          font-size: 12px;
          line-height: 12px;
          padding: 3px 0;
        }
      }
    }
  }
</style>
