<!-- скопирован из mt-model-picker-a. Вероятно, унаследовал и все его баги -->
<template>
  <div class="mt-model-picker row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Выберите производителя</label>
        <w-select
          v-if="brands"
          v-model="selection.brandId"
          :options="brands"
          placeholder="Выберите производителя"
          />
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Выберите тип</label>
        <w-select
          v-if="types"
          v-model="selection.typeId"
          :options="types"
          placeholder="Выберите тип"
          />
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Выберите модель</label>
        <w-select
          v-if="models"
          v-model="selection.modelId"
          :options="models"
          placeholder="Выберите модель"
          />
        <span v-else class="comment">
          Для выбора модели необходимо выбрать производителя или тип
        </span>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Выберите мотоцикл</label>
        <w-select
          v-if="vehicles"
          v-model="selection.vehicleId"
          :options="vehicles"
          placeholder="Выберите мотоцикл"
          />
        <span v-else class="comment">
          Для выбора мотоцикла необходимо выбрать модель
        </span>
      </div>
    </div>

  </div>
</template>

<script>
  import { getStatic } from '@/api';
  import api from '@/api';

  export default {
    props: {
      value: {
        type: Object,
        default: () => ({
          brandId: null,
          typeId: null,
          modelId: null,
          vehicleId: null,
        })
      },
    },

    data() {
      return {
        brands: null,
        types: null,
        models: null,
        vehicles: null,

        selection: null,
      };
    },

    computed: {
      populatedModel() {
        if (!this.selection) {
          return null;
        }

        var selectedBrand = _.find(this.brands, {id: +this.selection.brandId});
        var selectedType = _.find(this.types, {id: +this.selection.typeId});
        var selectedModel = _.find(this.models, {id: +this.selection.modelId});
        var selectedVehicle = _.find(this.vehicles, {id: +this.selection.vehicleId});

        var populatedVehicle = _.extend({}, selectedVehicle, {
          brand: selectedBrand,
          type: selectedType,
          model: selectedModel,
        });
        this.$emit('vehicle-selected', populatedVehicle);
        return populatedVehicle;
      }
    },

    watch: {
      value: {
        immediate: true,
        handler() {
          this.selection = this.value;
        },
      },
      selection: {
        deep: true,
        handler() {
          this.$emit('input', this.selection);
        },
      },

      // не удалять.
      populatedModel() {
      },

      'selection.brandId': {
        immediate: true,
        handler() {
          this.fetchModels();
        },
      },
      'selection.typeId': {
        immediate: true,
        handler() {
          this.fetchModels();
        },
      },
      'selection.modelId': {
        immediate: true,
        handler() {
          this.fetchVehicles();
        },
      },
    },

    methods: {
      fetchModels: _.debounce(async function() {
        if (!this.selection.brandId && !this.selection.typeId) {
          this.selection.modelId = null;
          return this.models = null;
        }

        var allModels = await api.get(`/vehicleModels/getAll?brandId=${this.selection.brandId}&vehicleTypeId=${this.selection.typeId}`);

        var models = _.map(_.get(allModels, 'data.data'), item => ({
          id: item.id,
          text: item.name,
        }));
        this.models = models;
      }, 100),

      fetchVehicles: _.debounce(async function() {
        if (!this.selection.modelId) {
          this.selection.vehicleId = null;
          return this.vehicles = null;
        }
        try {
          var allVehicles = await api.get(`/vehicles/getAllFull?modelId=${this.selection.modelId}`);
        }
        catch (err) {
          console.warn('vehicle-picker req err:', allVehicles);
        }
        this.vehicles = _.map(_.get(allVehicles, 'data.data', [{id: 111, name: 'test'}]), item => ({
          id: item.vehicle.id,
          text: item.vehicle.name,
        }));
      }, 100),
    },

    async mounted() {
      var vm = this;
      try {
        var allBrands = await api.get('/brands/getAll');
        var allTypes = await api.get('/vehicleTypes/getAll');

        this.brands = _.map(_.get(allBrands, 'data.data'), i => ({id: i.id, text: i.name}));
        this.types = _.map(_.get(allTypes, 'data.data'), i => ({id: i.id, text: i.name}));
      }
      catch (err) {
        console.warn('компонент выбора модели - mt-model-picker - ошибка при получении данных');
      }
    },
  };
</script>

<style lang="scss" scoped>
body .form-group .comment {
  display: block;
  font-size: 14px;
  line-height: 18px;
  margin: 0 0 10px 0;
  padding: 0;
}
</style>
