<template>
  <div class="col-md-12">
    <div class="row" v-if="!vehicle">
      чтобы получить доступ к мотоциклам - выберите модель
    </div>
    <mt-vehicle-card v-else class="row" :disabled="disabled" v-model="vehicle">
      <div class="col-md-12">
        <div class="btn btn-default pull-right" @click="$emit('apply', vehicle)">
          {{ isNew ? 'Создать' : 'Обновить' }}
        </div>
      </div>
    </mt-vehicle-card>
  </div>
</template>

<script>
  import { getStatic } from '@/api';
  import api from '@/api';

  export default {
    props: {
      value: {
        type: Object,
      },
      disabled: {
        type: Boolean,
        default: false,
      },
    },

    data() {
      return {
        vehicle: null,
      };
    },

    computed: {
      isDisabled() {
        return this.disabled;
      },
      isNew() {
        return this.vehicle && this.selectedVehicle === 'NEW';
      },
      selectedVehicle() {
        return this.value && this.value.id;
      },
      vehicleTypes() {
        return _.map(this.$store.state.domains.VehicleType, type => ({
          id: type.id,
          text: type.name,
        }));
      },
    },

    watch: {
      async selectedVehicle(selectedVehicle) {
        if (!selectedVehicle) {
          return;
        }
        if (selectedVehicle === 'NEW') {
          this.vehicle = _.extend({}, this.value)
          return;
        }
        var response = {};
        try {
          response = await api.get(`/vehicles/${selectedVehicle}/get`);
        }
        catch (err) {
          console.warn('get vehicle err', err);
          alert('не удалось получить данные по мотоциклу');
          return;
        }

        this.vehicle = _.get(response, 'data.data');
        return;
      },
    },

    async mounted() {
      this.$emit('ready');
    },
  };
</script>
