<template>
  <div class="row mt-model-card">
    <div class="col-md-4">
      <w-input
        label="Название мотоцикла"
        placeholder="Название"
        v-model="vehicle.name"
        >
      </w-input>
    </div>
    <div class="col-md-4">
      <w-select
        class="form-group"
        label="Тип техники"
        placeholder="выберите тип техники"
        :disabled="isDisabled"
        :value="vehicle.typeId"
        @input="vehicle.typeId = +$event"
        :options="vehicleTypes"
        >
      </w-select>
    </div>
    <div class="col-md-4">
      <w-datepicker
        label="Дата выпуска мотоцикла"
        placeholder="Укажите какого года мотоцикл"
        :disabled="isDisabled"
        v-model="vehicle.date"
        >
      </w-datepicker>
    </div>
    <!--  -->
    <div class="col-md-4">
      <w-input
        label="Двигатель (см^3)"
        placeholder="2-тактный, 300 см куб"
        :disabled="isDisabled"
        v-model="vehicle.features.power.engine"
        >
      </w-input>
    </div>
    <div class="col-md-4">
      <w-input
        label="Подвеска передняя"
        placeholder="Перевернутая вилка 48мм"
        :disabled="isDisabled"
        v-model="vehicle.features.chassis.fontSuspension"
        >
      </w-input>
    </div>
    <div class="col-md-4">
      <w-input
        label="Подвеска задняя"
        placeholder="Длина хода 300мм"
        :disabled="isDisabled"
        v-model="vehicle.features.chassis.rearSuspension"
        >
      </w-input>
    </div>
    <div class="col-md-4">
      <w-input
        label="Сцепление"
        placeholder="многодисковое"
        :disabled="isDisabled"
        v-model="vehicle.features.chassis.clutch"
        >
      </w-input>
    </div>
    <div class="col-md-4">
      <w-input
        label="Трансмиссия"
        placeholder="Шестиступенчатая"
        :disabled="isDisabled"
        v-model="vehicle.features.power.transmission"
        >
      </w-input>
    </div>
    <div class="col-md-4">
      <w-input
        label="Колесная база (мм)"
        placeholder="1400мм"
        :disabled="isDisabled"
        v-model="vehicle.features.chassis.wheels"
        >
      </w-input>
    </div>
    <div class="col-md-4">
      <w-input
        label="Тормоза передние"
        placeholder="Дисковые 310мм"
        :disabled="isDisabled"
        v-model="vehicle.features.chassis.fontBrakes"
        >
      </w-input>
    </div>
    <div class="col-md-4">
      <w-input
        label="Тормоза задние"
        placeholder="Дисковые 220мм"
        :disabled="isDisabled"
        v-model="vehicle.features.chassis.rearBrakes"
        >
      </w-input>
    </div>
    <div class="col-md-4">
      <w-input
        label="Шины"
        placeholder="80/100-21, 120/80-18"
        :disabled="isDisabled"
        v-model="vehicle.features.chassis.tyresOrChains"
        >
      </w-input>
    </div>
    <div class="col-md-4">
      <w-input
        label="Дорожный просвет (мм)"
        placeholder="300мм"
        :disabled="isDisabled"
        v-model="vehicle.features.dimensions.groundClearance"
        >
      </w-input>
    </div>
    <div class="col-md-4">
      <w-input
        label="Вес (кг)"
        placeholder="100 кг"
        :disabled="isDisabled"
        v-model="vehicle.features.dimensions.fullWeight"
        >
      </w-input>
    </div>
    <div class="col-md-4">
      <w-input
        label="Емкость бензобака (л)"
        placeholder="10 литров"
        :disabled="isDisabled"
        v-model="vehicle.features.power.fuelTankCapacity"
        >
      </w-input>
    </div>
    <!--  -->
    <slot></slot>
    <!--  -->
  </div>
</template>

<script>
  import { getStatic } from '@/api';
  import api from '@/api';

  export default {
    props: {
      value: {
        type: Object,
      },
      disabled: {
        type: Boolean,
        default: false,
      },
    },

    data() {
      return {
        vehicle: null,
      };
    },

    computed: {
      isDisabled() {
        return this.disabled;
      },
      vehicleTypes() {
        return _.map(this.$store.state.domains.VehicleType, type => ({
          id: type.id,
          text: type.name,
        }));
      },
    },

    watch: {
      value: {
        immediate: true,
        handler(val) {
          this.vehicle = _.defaultsDeep(val, this.DEFAULT_VEHICLE);
        },
      },
      vehicle: {
        deep: true,
        handler() {
          this.$emit('input', this.vehicle)
        },
      },
    },
  };
</script>
