<template>
  <section class="add-a-technique">
    <h1 class="title">Добавить технику</h1>
    <p class="text">все поля обязательные к заполнению отмечены знаком<span>*</span></p>

    <a href="#" class="feedback">Если не нашли свою модель или марку напишите нам</a>

    <form class="form">
      <div class="form__col">
        <div class="field__wrap">
          <label for="type">Выберете тип техники<span>*</span></label>
          <select name="" id="type">
            <option value="" v-for="">

            </option>
          </select>
        </div>

        <div class="field__wrap">
          <label for="type">Производитель<span>*</span></label>
          <select name="" id="type">
            <option value="" v-for="">

            </option>
          </select>
        </div>
        <div class="field__wrap">
          <label for="model">Модель<span>*</span></label>
          <select name="" id="model">
            <option value="" v-for="">

            </option>
          </select>
        </div>
        <div class="field__wrap">
          <label for=""><input type="text" placeholder="Укажите какого года модель"></label>
        </div>

        <div class="field__wrap checkbox__wrap">
          <w-checkbox class="checkbox" text="Езжу сейчас"/>
          <w-checkbox class="checkbox" text="Бывшая"/>
          <w-checkbox class="checkbox" text="Хочу продать"/>
        </div>

        <div class="field__wrap">
          <label for="characteristic">Краткая характеристика владельцаы</label>
          <textarea name="characteristic" id="characteristic" placeholder="Опишите кратко своё мнение">

          </textarea>
        </div>
      </div>

      <div class="form__col">
        <div class="field__wrap">
          <label for="motor">Двигатель <span class="unit">(см &nbsp;<span class="pow">3</span>)</span></label>
          <input id="motor" type="text" placeholder="2-тактный 300 см куб">
        </div>
        <div class="field__wrap">
          <label for="clutch">Сцепление</label>
          <input id="clutch" type="text" placeholder="многодисковое">
        </div>
        <div class="field__wrap">
          <label for="transmission">Трансмиссия</label>
          <input id="transmission" type="text" placeholder="Шестиступенчатая">
        </div>
        <div class="field__wrap">
          <label for="base">Колёсная база (мм)</label>
          <input id="base" type="text" placeholder="1400м">
        </div>

        <div class="field__wrap">
          <label for="clearance">Дорожный просвет (мм)</label>
          <input id="clearance" type="text" name="clearance" placeholder="300мм">
        </div>

        <div class="field__wrap">
          <label for="weight">Вес (кг)</label>
          <input id="weight" type="text" placeholder="100кг">
        </div>
      </div>

      <div class="form__col">
        <div class="field__wrap">
          <label for="front-suspension">Подвеска передняя</label>
          <input id="front-suspension" name="fron-suspension" type="text" placeholder="перевернутая вилка 48 мм">
        </div>

        <div class="field__wrap">
          <label for="rear-suspension">Подвеска задняя (мм)</label>
          <input id="rear-suspension" type="text" placeholder="длина ходя 300мм">
        </div>

        <div class="field__wrap">
          <label for="front-brakes">Тормоза передние (мм)</label>
          <input id="front-brakes" type="text" placeholder="Дисковые 310мм">
        </div>

        <div class="field__wrap">
          <label for="rear-brakes">Тормоза задние (мм)</label>
          <input id="front-brakes" type="text" placeholder="Дисковые 220мм">
        </div>

        <div class="field__wrap">
          <label for="tires">Шины</label>
          <input id="tires" type="text" placeholder="80/100-21, 120/80-18">
        </div>

        <div class="field__wrap">
          <label for="tires">Ёмкость бензобака (л)</label>
          <input id="tires" type="text" placeholder="10л">
        </div>
      </div>
    </form>
  </section>
</template>

<script>
  export default {
    layout: 'without-aside',
  }
</script>

<style lang="stylus" scoped>
  @import '~assets/styles/styles'

  .add-a-technique
    container(true)

  .form
    display flex
    flex-direction column

    +up($lg)
      flex-direction row
      margin-left gutter(-2, div)
      margin-right gutter(-2, div)

  .title
    font-size $font-size-xl
    text-transform uppercase
    font-weight $normal

  .text
    font-size $font-size-xsm
    font-weight $bold

  .feedback
    display block
    text-decoration underline
    color $black
    margin-bottom gutter(4, div)

    +up($lg)
      &:hover
        text-decoration none

  .form__col
    width 100%

    +up($lg)
      col(4)
      display flex
      flex-direction column

  .field__wrap
    margin-bottom gutter(2, div)

  .field__wrap label
    // position relative
    display block
    font-weight $bold

  .field__wrap input,
  .field__wrap textarea,
  .field__wrap select
    width 100%
    padding gutter(4, div)
    border 2px solid $gray
    appearance none
    border-radius 0

  .unit
    display inline-block
    position relative

  .pow
    position absolute
    top -3px
    right 4px
</style>
