<template>
  <main class="competitions">
      <!-- BANNER TOP -->
     <div class="banner-top">
       <div class="banner-top__overlay"></div>
     </div>

     <article class="article">
       <h1 class="main-heading">Кубок по мотокроссу REDWINGS 2016</h1>
       <hr>

       <div class="table-wrap">
         <div class="table__col_left">
          <div class="table">
             <div class="table__row">
               <div class="table__cell table__title">Название мероприятия</div>
               <div class="table__cell"><b>Кубок REDWINGS 2016 II этап</b></div>
             </div>
             <div class="table__row">
               <div class="table__cell table__title">Тип техники</div>
               <div class="table__cell">Кантри кросс</div>
             </div>
             <div class="table__row">
               <div class="table__cell table__title">Дата проведения</div>
               <div class="table__cell">31 июля 2016г.</div>
             </div>
             <div class="table__row">
               <div class="table__cell table__title">Место проведения</div>
               <div class="table__cell"><span>Нелидово, Тверская обл.</span><a href="" class="table__link">на карте?</a></div>
             </div>
             <div class="table__row">
               <div class="table__cell table__title">Участвуют классы</div>
               <div class="table__cell">МХ-1, МХ-2, МХ-3, 450см.куб</div>
             </div>
             <div class="table__row">
               <div class="table__cell table__title">Огранизатор</div>
               <div class="table__cell">Главный Главарь (ссылка если есть сайт)</div>
             </div>
             <div class="table__row">
               <div class="table__cell table__title">Спонсор</div>
               <div class="table__cell">Главный Главарь (ссылка если есть сайт)</div>
             </div>
          </div> <!-- END table -->

          <div class="row">
            <div class="img-holder">
              <div class="img-holder__inner">
                <img src="~@/assets/img/table__img.jpg" alt="">
              </div>
            </div>

            <div class="img-holder">
              <div class="img-holder__inner">
                <img src="~@/assets/img/table__img_sm.jpg" alt="">
              </div>
            </div>
          </div>
         </div> <!-- END table__col_left -->

         <div class="table__col_right">
           <div class="map">
              <div class="map__inner"></div>
           </div>
         </div>
       </div>

      <div class="total-people">
        <label class="w-checkbox">
          пойду
          <input type="checkbox" name="checkbox-test" class="checkbox">
          <span class="checkbox-custom"></span>
          пойдут 24 (друзей)
        </label>
      </div>
     </article>

     <article class="article">
       <h1>Заголовок статьи</h1>

       <p>
        Пять лет назад Yamaha отметилась на&nbsp;мотокроссовом конвенте представлением любопытной модели YZ450F с&nbsp;наклонённым назад двигателем. Однако компания не&nbsp;отрывается от&nbsp;традиций, и&nbsp;YZ450F 2015 модельного года со&nbsp;своим набором обновлений ведёт себя на&nbsp;треке более привычно. Оснащённый моноамортизатором и&nbsp;чувствительной подвеской Yamaha ни&nbsp;в&nbsp;чём не&nbsp;уступает конкурентам.
       </p>

       <div class="img-wrap">
         <img src="~assets/img/article__img_lg.jpg" alt="">
         <div class="img__text">
           <div class="img__title">Тест драйв</div>
           <div class="img__subtitle">YAMAHA YZ450F 2015</div>
         </div>
         <a href="#" class="link__overlay"></a>
       </div>
     </article>

     <article class="article">
       <h1>Заголовок статья</h1>
       <p>
        В&nbsp;прошлом сезоне инженеры подвергли 450-кубовый байк первой значительной реконструкции, отмеченной переработкой шасси и&nbsp;обновлением конфигурации верхней части двигателя. В&nbsp;этом&nbsp;же году все изменения, в&nbsp;основном, были связаны с&nbsp;тем, чтобы сделать управление более комфортным и&nbsp;безопасным. Наконец инженеры добавили более гибкое шасси. В&nbsp;частности, ход вилки стал мягче благодаря новым трубам и&nbsp;пружинам, рассчитанным на&nbsp;большее давление. Новый кронштейн нижнего крепления двигателя сделан не&nbsp;из&nbsp;алюминия, а&nbsp;из&nbsp;стали. Покрышки Dunlop MX52 способствуют лучшему сцеплению с&nbsp;поверхностью.
       </p>

       <blockquote>
         «С утра трек показался мне скользким, я никак не могла справиться с управлением» - рассказывает о своих первых заездах на Yamaha YZ 450f трёхкратный золотой призёр X Games <cite>Викки Голден</cite>, тестирующая байк. – «Днём трек стал более сухим и шероховатым, и байк слушался гораздо лучше. Он прошёл по ухабам, словно так и надо.»
       </blockquote>

       <div class="img-wrap">
         <img src="~assets/img/article__img_lg.jpg" alt="">
         <div class="img__text">
           <div class="img__title">Тест драйв</div>
           <div class="img__subtitle">YAMAHA YZ450F 2015</div>
         </div>
         <a href="#" class="link__overlay"></a>
       </div>

       <blockquote>
         «С утра трек показался мне скользким, я никак не могла справиться с управлением» - рассказывает о своих первых заездах на Yamaha YZ 450f трёхкратный золотой призёр X Games <cite>Викки Голден</cite>, тестирующая байк. – «Днём трек стал более сухим и шероховатым, и байк слушался гораздо лучше. Он прошёл по ухабам, словно так и надо.»
       </blockquote>

       <p>Хотя у&nbsp;пружинной вилки нет таких возможностей настройки как у&nbsp;пневматический, её&nbsp;значительно проще установить (при условии, что вам не&nbsp;нужно самим регулировать жёсткость пружины). Достаточно отладить её&nbsp;один раз и&nbsp;впредь вам вряд-ли придётся браться за&nbsp;отвёртку.Первый прыжок вы&nbsp;совершаете, или последний, уверенность в&nbsp;управлении остаётся неизменной. Вилка YZ&nbsp;многим пришлась по&nbsp;вкусу, благодаря своей исключительной сбалансированности.</p>

       <p>Хотя у пружинной вилки нет таких возможностей настройки как у пневматический, её значительно проще установить (при условии, что вам не нужно самим регулировать жёсткость пружины). Достаточно отладить её один раз и впредь вам вряд-ли придётся браться за отвёртку.Первый прыжок вы совершаете, или последний, уверенность в управлении остаётся неизменной. Вилка YZ многим пришлась по вкусу, благодаря своей исключительной сбалансированности.</p>

       <p>Хотя у пружинной вилки нет таких возможностей настройки как у пневматический, её значительно проще установить (при условии, что вам не нужно самим регулировать жёсткость пружины). Достаточно отладить её один раз и впредь вам вряд-ли придётся браться за отвёртку.Первый прыжок вы совершаете, или последний, уверенность в управлении остаётся неизменной. Вилка YZ многим пришлась по вкусу, благодаря своей исключительной сбалансированности.</p>

      <div class="img-wrap">
        <img src="~assets/img/article__img_lg.jpg" alt="">
        <div class="img__text">
          <div class="img__title">Тест драйв</div>
          <div class="img__subtitle">YAMAHA YZ450F 2015</div>
        </div>
        <a href="#" class="link__overlay"></a>
      </div>

       <p>Хотя у пружинной вилки нет таких возможностей настройки как у пневматический, её значительно проще установить (при условии, что вам не нужно самим регулировать жёсткость пружины). Достаточно отладить её один раз и впредь вам вряд-ли придётся браться за отвёртку.Первый прыжок вы совершаете, или последний, уверенность в управлении остаётся неизменной. Вилка YZ многим пришлась по вкусу, благодаря своей исключительной сбалансированности.
       </p>

     </article>

     <article class="article">
       <h1>Заголовок события</h1>

       <div class="carousel">
       </div>
     </article>
  </main>
</template>

<script>
  export default {
  }
</script>

<style lang="stylus" scoped>
  @import '~assets/styles/styles'

  .competitions
    +up($lg)
      margin-right gutter(2, div)

  .banner-top
    width 100%
    height 120px
    position relative
    background url('~assets/img/news-feed__header_bg.jpg') no-repeat center;
    background-size cover
    margin-bottom gutter(2, mul)

    +up($md)
      height 140px

    +up($xl)
      height 160px

    +up($xxl)
      height 180px

  .banner-top__overlay
    position relative
    top 0
    left 0
    bottom 0
    right 0
    background alpha($black, 0.3)

  .article
    container(true)
    color lighten($black, 20%)

  .article h1
    font-size $font-size-lg
    // font-weight $normal
    text-transform uppercase
    line-height 2 rem
    margin-top gutter(1, mul)
    margin-bottom gutter(3, div)

  .article > p
    width 100%
    line-height 1.5rem

    +up($lg)
      width 85%

    +up($xl)
      width 80%

    +up($xxl)
      width 72%

  .article blockquote
    width 100%
    background $gray-light
    padding gutter(2, div)
    padding-bottom gutter(1.5, mul)
    font-style italic
    border-left 3px solid $gray
    margin-left 0
    margin-top gutter(1, mul)

    +up($md)
      margin-left gutter(1, mul)
      width 85%

    +up($xl)
      width 65%
      margin-left gutter(1, mul)

  .table__wrap
    display flex
    flex-direction column

    +up($xl)
      flex-flow row wrap


  .table__col_left
    +up($xl)
      col(8)
      padding 0

    // +up($md)
    //   flex-direction row

  .table
    display flex
    flex-direction column
    color $black
    border 1px solid lighten($black, 70%)
    margin-bottom gutter(2, div)

    +up($xl)
      width 100%

  .table__row:not(:last-child)
    margin-bottom gutter(6, div)

    +up($md)
      margin-bottom 0

  .table__row
    +up($md)
      border-bottom 1px solid alpha($black, 0.1)

    +up($lg)
      display flex

  // .table__row:nth-child(odd)
  //   background alpha($black, 0.15)

  // .table__row:nth-child(even)
  //   background alpha($black, 0.05)

  .table__cell
    width 100%
    padding gutter(8, div) gutter(2, div)
    background alpha($black, 0.05)

    +up($lg)
      display flex
      align-items center

  .table__title
    font-weight $bold
    background alpha($black, 0.15)
    padding-bottom gutter(4, div)
    padding-top gutter(2, div)

    +up($lg)
      width 40%

  .table__link
    display block
    padding gutter(4, div) 0
    color lighten($black, 45%)
    font-size $font-size-sm
    margin-left auto

    +up($xl)
      text-decoration underline

  .table__link:hover
    text-decoration none

  .row
    position relative
    display flex
    flex-direction column

    +up($md)
      flex-direction row

    +up($xl)
      col(8)
      padding 0

  .img-holder
    width 100%
    position relative
    margin-bottom gutter(2, div)

    +up($md)
      width 50%

  .img-holder:first-child
    +up($md)
      // margin-left gutter(2, div)
      margin-right gutter(4, div)

  .img-holder:last-child
    +up($md)
      margin-left gutter(4, div)

  .img-holder__inner
    position relative
    width 100%
    padding-bottom 62%
    overflow hidden

  .img-holder__inner img
    position absolute
    min-width 100%
    min-height 100%
    width 100%
    height 100%
    top 50%
    left 50%
    transform translate(-50%, -50%)

  .img-wrap
    position relative
    margin-bottom gutter(1, mul)

  .img-wrap:hover .img__text
    background alpha($black, 0.4)

  .img__text
    position absolute
    left 0
    right 0
    bottom 0
    color $white
    background alpha($black, 0.3)
    padding gutter(2, div)
    font-size $font-size-xl
    letter-spacing 0.3px
    transition background 0.3s ease

  .img__title
    text-transform uppercase
    font-weight $bold
    margin-bottom gutter(2, div)

  .img__subtitle
    margin-bottom gutter(2, div)

  .link__overlay
    display block
    position absolute
    top 0
    left 0
    bottom 0
    right 0
    z-index 2
</style>

<style lang="scss">
  .competitions {
    .banner-top {
      margin-bottom: 10px;
    }

    .article {
      padding: 0;

      h1 {
        font-size: 24px;
        line-height: 24px;
        margin: 0 0 20px 0;
        padding: 10px 0 0 0;
      }
      h1.main-heading {
        margin-bottom: 0;
      }

      .table-wrap {
        display: flex;
        justify-content: space-between;

        .table__col_left {
          width: 60%;

          .table__row {
            .table__cell {
              width: 60%;
              background: transparent;
              display: flex;
              justify-content: space-between;
              align-items: center;
              color: #666;
              font-size: 16px;
              line-height: 20px;
              padding: 10px;

              .table__link {
                font-size: 12px;
                margin: 0;
                padding: 0;
              }
            }
            .table__cell.table__title {
              width: 40%;
              font-weight: normal;
            }
          }

          .row {
            width: 100%;
            margin: 0;
          }
        }
        .table__col_right {
          width: 37%;
        }
      }

      .total-people {
        margin-bottom: 10px;
        .w-checkbox {
          color: #999;
          font-size: 18px;
          line-height: 18px;
          font-weight: normal;

          .checkbox {
            display: none;
          }
          .checkbox-custom {
            width: 28px;
            height: 28px;
            border: 1px solid #999;
            background: transparent;
            margin: 0 20px 0 7px;
          }
          .checkbox:checked + .checkbox-custom::before {
            content: "";
            display: block;
            position: absolute;
            top: 2px;
            right: 2px;
            bottom: 2px;
            left: 2px;
            background: #999;
          }
        }
      }

      > p {
        width: 100%;
      }
      blockquote {
        width: 100%;
        background: #e5e5e5;
        border: 0;
        color: #414141;
        font-size: 24px;
        line-height: 28px;
        margin: 30px 0;
        padding: 20px 50px;
      }
    }
  }
</style>
