<template>
  <main class="news-feed">

    <mt-page-banner/>

    <mt-feed
      :items="items"
      :page="page" :page-max="20" :page-min="1" @update-page="page = $event"
      >
    </mt-feed>

  </main>
</template>

<script>
  export default {
    data() {
      return {
        items: require('@/static/fixtures/articles.json'),
        page: 1,
      };
    },
  };
</script>

<style lang="stylus" scoped>
  @import '~assets/styles/styles'

  .news-feed
    padding-right gutter(2, div)
</style>
