<template>
  <div>

    <h1>Добавление события</h1>

    <mt-edit-post
      ref="postEditor"
      :disabled="sending"
      with-text
      with-gallery
      with-models
      with-meta
      with-event
      :daisableValidation="true"
      :checkValidation="checkValidation"
      @validateForm="validated = $event"
      >
    </mt-edit-post>

    <div class="form-group">
      <button class="btn btn-default" @click.prevent="publish" :disabled="sending">Опубликовать</button>
    </div>

  </div>
</template>

<script>
  import cuid from 'cuid';
  import api from '@/api';
  import { delay, uploadImage } from '@/utils';

  export default {

    layout: 'admin',

    fetch({ route, store }) {
      store.commit('replaceBreadcrumbs', [
        { title: 'Главная', to: '/' },
        { title: 'Админка', to: '/admin' },
        { title: 'Добавление мероприятия (вы здесь)' },
      ]);
    },

    data() {
      return {
        payload: {},
        sending: false,
        validated: false,
        checkValidation: false,
      };
    },

    head() {
      return {
        title: 'Создание события',
      };
    },

    methods: {

      async publish() {
        this.checkValidation = true;
        if (!this.validated) {
          return alert("Невозможно опубликовать - проверьте правильность введенных данных");
        }
        this.sending = true;
        try {
          var payload = await this.$refs.postEditor.collectPayload();

          _.extend(payload, {
            categories: ['Review'], // @TODO: неправильная категория!
            description: payload.shortText,
            reportMarkdown: payload.fullText,
          });

          let { data: { data: eventData } } = await api.post(`gatherings/add`, payload);
          this.$router.push(`/event-${eventData.gathering.id}`);
        }
        catch (err) {
          console.error(err);
          alert(err.message);
        }
        this.checkValidation = false;
        this.sending = false;
      },

    },

  };
</script>
