<template>
  <div class="banner-card" v-if="banner">
    <div class="row" v-if="!isCollapsed">

      <div class="col-md-12">
        <div class="h4" @click="$emit('collapse')">
          Заголовок
          <i class="fa fa-chevron-up pull-right"></i>
        </div>
        <div class="form-group">
          <w-input type="text" v-model="banner.title" placeholder="Название" />
        </div>
      </div>


      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <w-select class="" v-model="banner.position" placeholder="Положение" :options="POSITIONS"/>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <w-datepicker class="" v-model="banner.start"/>
              <div class="comment">Начало</div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <w-datepicker class="" v-model="banner.endShowAt"/>
              <div class="comment">Конец</div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <w-input type="text" v-model="banner.showCountLimit" placeholder="1000..." />
              <div class="comment">Количество показов</div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="h4">Добавить картинку</div>
        <w-cropper v-model="banner.photoData"/>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <div class="h4">Добавить метки</div>
          <w-tags v-model="banner.tags" />
          <div class="comment">Укажите к какому типу относится материал</div>
        </div>
      </div>

      <div class="col-md-12">
          <div class="btn btn-default pull-left">
            Создать отчет
          </div>
          <div @click="$emit('save')" class="btn btn-default pull-right">
            Опубликовать
          </div>
          <div @click="$emit('remove')" class="btn btn-default pull-right">
            Удалить
          </div>
      </div>
    </div>

    <div class="row" v-else>
      <div class="col-md-12">
        <div class="pretitle" @click="$emit('expand')">
          <div class="h4">
            {{banner.title}}
          </div>
          <span
            class="pull-right red"
            :class="{warning: hasDateWarning}"
            >
            {{banner.showCount}}/{{banner.showCountLimit}}
          </span>
          <span
            class="pull-right"
            :class="{warning: hasDateWarning}"
            >
            {{moment(banner.endShowAt).format('DD.MM.YYYY')}}
          </span>

          <i class="fa fa-chevron-down pull-right"></i>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {

    layout: 'admin',

    props: {
      banner: {
        type: Object,
        required: true,
      },
      isCollapsed: {
        type: Boolean,
        default: false,
      },
    },
    data() {
      return {
        moment: moment,
        POSITIONS: [
          { id: 't', text: 'Верх' },
          { id: 'r', text: 'Право' },
          { id: 'b', text: 'Низ' },
          { id: 'l', text: 'Лево' },
        ],
      };
    },
    computed: {
      hasCounterWarning() {
        return (this.banner.showCount / this.banner.showCountLimit) < 0.1;
      },
      hasDateWarning() {
        // меньше 1 недели
        return (+moment(this.banner.endShowAt) - +moment()) < 1000 * 60 * 60 * 24 * 7;
      },
    },
  }
</script>

<style lang="scss" scoped>
  .banner-card {
    border: solid 1px #666;
    margin: 0 0 10px 0;
    padding: 20px;
  }
  .pretitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #666;

    .h4 {
      margin: 0;
    }
  }
  .btn-default.pull-right {
    margin: 0 0 10px 10px;
  }

  @media screen and (max-width: 560px) {
    .btn-default.pull-left,
    .btn-default.pull-right {
      display: block;
      margin: 0 0 10px 0;
      float: none !important;
    }
  }
  @media screen and (max-width: 450px) {
    .btn-primary {
      width: 100%;
      display: block;
      margin: 0 0 10px 0;
    }
    .pretitle {
      flex-direction: column;

      span {
        margin: 5px 0 0 0;
      }
      i {
        margin: 5px 0 0 0;
      }
    }
  }
</style>
