<template>
  <div class="banners">
    <div class="top-panel">
      <h2 class="title">
        Реклама
      </h2>
      <div class="button-block">
        <div class="btn btn-default" @click="addBanner">
          <i class="mi mi-add"></i>
          Добавить
        </div>
      </div>
    </div>
    <banner-card
      v-for="banner, idx in banners" :key="banner"
      :banner="banner"
      :is-collapsed="banner.isCollapsed"
      @collapse="banner.isCollapsed = true"
      @expand="banner.isCollapsed = false"
      @remove="deleteBanner(banner)"
      @save="saveBanner(banner)"
      />
  </div>
</template>

<script>
  import api from '@/api';
  import cuid from 'cuid';
  import { uploadImage } from '@/utils';

  export default {

    layout: 'admin',

    fetch({ route, store }) {
      store.commit('replaceBreadcrumbs', [
        { title: 'Главная', to: '/' },
        { title: 'Админка', to: '/admin' },
        { title: 'Реклама (вы здесь)' },
      ]);
    },

    components: {
      'banner-card': require('./banners.banner-card').default,
    },

    async asyncData() {
      let { data: { data: banners } } = await api.get(`/banners/getAll`);
      for (let banner of banners) {
        banner.isCollapsed = false;
      }
      return { banners }; // @TODO: uncomment
    },

    data() {
      return {
        DEFAULT_BANNER: {
          title: '', // @FIXME: MISSING
          position: 't',
          start: moment().toISOString(), // @FIXME: MISSING
          endShowAt: moment().add(1, 'month').toISOString(),
          showCountLimit: 0,
          showCount: 0,
          photoId: null,
          tags: [], // @FIXME: mfTags

          // @NOTE: custom fields
          photoData: null,
          isCollapsed: false,
        },

        // banners: [
        //   {
        //     title: 'Название баннера',
        //     position: 'r',
        //     start: moment().toISOString(),
        //     endShowAt: moment().add(1, 'month').toISOString(),
        //     showCountLimit: 2300,
        //     showCount: 2000,
        //     photoId: null,
        //     tags: [],

        //     photoData: null,
        //     isCollapsed: false,
        //   },
        //   {
        //     title: 'Название баннера',
        //     position: 'r',
        //     start: moment().toISOString(),
        //     endShowAt: moment().add(1, 'month').toISOString(),
        //     showCountLimit: 2300,
        //     showCount: 2000,
        //     photoId: null,
        //     tags: [],

        //     photoData: null,
        //     isCollapsed: true,
        //   },
        // ],
      };
    },

    head() {
      return {
        title: 'Редактирование баннеров',
      };
    },

    methods: {
      addBanner() {
        this.banners.unshift(_.cloneDeep(this.DEFAULT_BANNER));
      },
      async deleteBanner(banner) {
        if (banner.id) {
          await api.post(`/banners/${banner.id}/delete`);
        }
        this.banners = _.without(this.banners, banner);
      },
      async saveBanner(banner) {
        try {
          let payload = _.cloneDeep(banner);
          delete payload.isCollapsed;

          if (payload.photoData && payload.photoData.startsWith('data:image')) {
            try {
              let photo = await uploadImage(payload.photoData);
              payload.photoId = photo.id;
              delete payload.photoData;
            }
            catch (err) {
              console.error(err);
              throw new Error('Не удалось загрузить фотографию');
            }
          }

          if (banner.id) {
            // @TODO: привязать когда бек будет готов
            alert('Не готово');
          }
          else {
            await api.post(`/banners/add`, payload);
          }
        }
        catch (err) {
          console.error(err);
          alert(err.message);
        }
      },
    },
  }
</script>

<style lang="scss" scoped>
  .banner-card {
    margin: 10px;
  }

  .banners {
    h1 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #666;
      font-size: 20px;
      line-height: 20px;
      text-transform: uppercase;
      margin: 0 0 30px 0;

      .btn-primary {
        border: 0;
        display: flex;
        align-items: center;
        text-transform: capitalize;
        padding: 0;

        i {
          font-size: 30px;
          margin-right: 10px;
        }
      }
    }
  }
</style>
