<template>
  <!--

    макет:
    https://www.dropbox.com/s/mxisuukvgsat6fa/%D0%BF%D1%80%D0%BE%D0%B8%D0%B7%D0%B2%D0%BE%D0%B4%D0%B8%D1%82%D0%B5%D0%BB%D0%B8-%D1%80%D0%B5%D0%B4%D0%B0%D0%BA%D1%82%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5.jpg?dl=0

   -->
  <div class="mt-page" :key="vKey">
    <h2 class="title">Производители</h2>
    <div class="form-group">
      <w-select v-model="selectedBrand" :options="brandOptions"></w-select>
    </div>

    <template v-if="editedBrand != null">

      <div class="form-group">
        <w-cropper
          class="mt-cropper"
          v-model="editedBrand.photoData"
          :config="{
            aspectRatio: 400/400,
            resultSize: {width: 400, height: 400},
          }"
          />
      </div>

      <div class="form-group">
        <label :for="HEADER_UID">Заголовок</label>
        <input v-model="editedBrand.name" class="form-control" :id="HEADER_UID" placeholder="Введите заголовок...">
      </div>

      <w-tinymce v-model="editedBrand.description" markdown></w-tinymce>

      <button class="btn btn-default pull-right" @click="publish">Опубликовать</button>

    </template>
  </div>
</template>

<script>
  import api from '@/api';
  import cuid from 'cuid';
  import { uploadImage } from '@/utils';

  export default {

    layout: 'admin',

    fetch({ route, store }) {
      store.commit('replaceBreadcrumbs', [
        { title: 'Главная', to: '/' },
        { title: 'Админка', to: '/admin' },
        { title: 'Производители (вы здесь)' },
      ]);
    },

    data() {
      return {
        HEADER_UID: cuid(),
        NEW_BRAND_VALUE: 'NEW_BRAND_VALUE',
        DEFAULT_BRAND: {
          // @REF: http://mototeamrussia.ru/api/v1/docs/ui#!/Brands/getAll
          // @REF: http://mototeamrussia.ru/api/v1/docs/ui#!/Brands/add
          // заполняются сервером: id, createdAt, updatedAt, authorId, status
          // @WARN: slug и website могут требоваться сервером, но интерфейса под них нет
          name: '',
          description: '',

          photoData: null,
        },

        selectedBrand: null,
        editedBrand: null,

        vKey: 0,
      };
    },

    head() {
      return {
        title: 'Редактирование производителей',
      };
    },

    computed: {
      brandOptions() {
        var options = [];

        options = _.map(this.$domain('Brand'), brand => {
          return {
            id: brand.slug,
            text: brand.name,
          };
        });

        options.push({
          id: this.NEW_BRAND_VALUE,
          text: 'Добавить новый',
        });

        return options;
      },
    },

    watch: {
      async selectedBrand(val) {
        // @TODO: UX, сейчас теряются несохраненные значения

        this.editedBrand = null;

        if (val === null || val === '') {
          return;
        }
        else if (val === this.NEW_BRAND_VALUE) {
          this.editedBrand = _.cloneDeep(this.DEFAULT_BRAND);
          return;
        }
        else {
          let brand = _.cloneDeep(this.$domainValue('Brand', { slug: val }));
          _.defaults(brand, this.DEFAULT_BRAND);

          if (brand.photoId) {
            let { data: { data: photo } } = await api.get(`/photos/${brand.photoId}/get`);
            brand.photoData = photo.urls.original;
          }

          this.editedBrand = brand;
          return;
        }
      },
    },

    methods: {
      reset() {
        this.editedBrand = null;
        this.selectedBrand = null;
        this.vKey++;
      },
      async publish() {
        // @TODO: UX, сейчас не блокируется форма
        try {
          var payload = _.cloneDeep(this.editedBrand);

          if (payload.photoData && payload.photoData.startsWith('data:image')) {
            try {
              let photo = await uploadImage(payload.photoData);
              payload.photoId = photo.id;
            }
            catch (err) {
              console.error(err);
              throw new Error('Не удалось загрузить фотографию');
            }
          }

          payload = _.omit(payload, ['photoData']);

          if (this.selectedBrand === this.NEW_BRAND_VALUE) {
            await api.post(`/brands/add`, payload);
          }
          else {
            await api.post(`/brands/${payload.id}/update`, payload);
          }

          // обновляем список брендов
          await this.$store.dispatch('domains/update', 'Brand');
          this.reset();
        }
        catch (err) {
          console.error(err);
          alert(err.message);
        }
      },
    },

  };
</script>

<style lang="scss" scoped>
  .mt-page {
    padding-right: 10px;
  }

  .mt-cropper {
    width: 300px;
    height: 100px;
  }
</style>
