<template>
  <div class="calendar">
    <h1>
      Фоны календаря
    </h1>

    <div class="flex first">
      <div class="left">
        <i @click="year--" class="mi mi-arrow-prev"></i>
        <span>{{ year }}</span>
        <i @click="year++" class="mi mi-arrow-next"></i>
      </div>
      <div class="center text">
        Добавить картинку с пропорциями 1370x775
      </div>
      <div class="right"></div>
    </div>

    <div
      class="flex"
      v-for="(month, idx_0) in monthes"
      >
      <div class="left">
        {{ month.format('MMMM') }}
      </div>
      <div class="center">
        <w-cropper
          v-model="yearImages[idx_0]"
          :config="{
            aspectRatio: 1370/775,
            resultSize: {width: 1380, height: 785},
          }"
          />
      </div>
      <div class="right">
        <button class="btn btn-default" @click="publish(idx_0)">
          Опубликовать
        </button>
      </div>
    </div>

  </div>
</template>

<script>
  import { default as api, getStatic } from '@/api';
  import { uploadImage } from '@/utils';

  export default {

    fetch({ route, store }) {
      store.commit('replaceBreadcrumbs', [
        { title: 'Главная', to: '/' },
        { title: 'Админка', to: '/admin' },
        { title: 'Календарь (вы здесь)' },
      ]);
    },

    layout: 'admin',

    data() {
      return {
        year: +moment().format('YYYY'),
        yearImages: [],
      };
    },

    head() {
      return {
        title: 'Редактирование календаря',
      };
    },

    computed: {
      monthes() {
        var date = moment('01-01-'+this.year, 'DD-MM-YYYY');
        var range = moment.range(date.clone().startOf('year'), date.clone().endOf('year'));
        return Array.from(range.by('month', { exclusive: false }));
      },
    },

    watch: {
      year: {
        immediate: true,
        async handler(val) {
          var { data: { data: items } } = await api.get('/photos/calendar/getAll?year=2017');

          var images = new Array(12);
          for (let idx_0 = 0; idx_0 < 12; idx_0++) {
            let item = _.find(items, { month: idx_0 + 1 });
            if (item && item.photo) {
              images[idx_0] = item.photo.urls.original;
            }
            else {
              images[idx_0] = null;
            }
          }

          this.yearImages = images;
        },
      },
    },

    methods: {
      async publish(idx_0) {
        try {
          let imageData = this.yearImages[idx_0];
          let newPhoto;

          // загрузка новой картинки
          if (imageData && imageData.startsWith('data:image')) {
            try {
              let photo = await uploadImage(imageData, '@TODO', ['calendar']);
              newPhoto = photo;
            }
            catch (err) {
              console.error(err);
              throw new Error('Не удалось загрузить фотографию');
            }
          }

          if (newPhoto) {
            // привязка картинки к месяцу
            await api.post('/photos/calendar/add', {
              photoId: newPhoto.id,
              year: this.year,
              month: idx_0 + 1,
            });

            // обновление локального списка картинок
            Vue.set(this.yearImages, idx_0, newPhoto.urls.original);
          }
        }
        catch (err) {
          alert(err.message);
          console.error(err);
        }
      },
    },
  }
</script>

<style lang="scss" scoped>
  .calendar {
    .flex {
      display: flex;
      .left {
        // width: 150px;
        width: 20%;
        display: flex;
        align-items: center;
        color: #666;
        font-size: 20px;
        line-height: 20px;
        text-transform: uppercase;

        span {
          font-size: 20px;
          line-height: 20px;
          text-transform: uppercase;
          margin: 0 10px;
        }
      }
      .center {
        width: 55%;
        flex: 1;
        margin: 0 0 20px 0;
      }
      .center.text {
        color: #aaa;
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;
        margin: 20px 0;
      }
      .right {
        // width: 150px;
        width: 25%;
        text-align: right;
      }
    }
  }

  @media screen and (max-width: 1199px) {
    .btn-default {
      padding: 5px 15px;
    }
  }
  @media screen and (max-width: 767px) {
    .flex:not(.first) {
      flex-direction: column;
      margin: 30px 0 0 0;

      .left,
      .right,
      .center {
        width: 100%;
      }
      .center {
        margin: 20px 0;
      }
    }
    .flex.first {
      .left {
        width: 25%;
      }
      .center {
        width: 75%;
      }
      .right {
        width: 0%;
      }
    }
  }
  @media screen and (max-width: 450px) {
    .flex.first {
      flex-direction: column;

      .left,
      .center {
        width: 100%;
      }
    }
  }

</style>
