<template>
  <div class="counters">

    <h2 class="title">Счетчики</h2>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <textarea
            class="form-control"
            rows="10"
            v-model="counter.script"
            placeholder="Вставьте код счетчиков или метрики"
            >
          </textarea>
        </div>
      </div>
      <div class="col-md-12">
        <button class="btn btn-default btn-primary pull-right"
          @click="publish"
          >
          Опубликовать
        </button>
      </div>
    </div>

  </div>
</template>

<script>
  import api from '@/api';
  export default {

    layout: 'admin',

    fetch({ route, store }) {
      store.commit('replaceBreadcrumbs', [
        { title: 'Главная', to: '/' },
        { title: 'Админка', to: '/admin' },
        { title: 'Счетчики (вы здесь)' },
      ]);
    },

    async asyncData(context) {
      try {
        let counter = _.cloneDeep(context.store.state.analytics.counter);

        if (!counter) {
          let { data: { data: result } } = await api.post(`/analyticalScripts/add`, {
            name: 'main',
            script: '',
          });
          counter = result;
        }

        return { counter };
      }
      catch (err) {
        console.error(err);
        context.error({
          statusCode: 500,
          message: err.message,
        });
      }
    },

    head() {
      return {
        title: 'Счетчики',
      };
    },

    computed: {
    },

    watch: {
    },

    methods: {

      async publish() {
        try {
          var payload = _.cloneDeep(this.counter);
          await api.post(`/analyticalScripts/${payload.id}/update`, payload);
          await this.$store.dispatch('analytics/updateCounter');
        }
        catch (err) {
          console.error(err);
          alert(err.message);
        }
      },

    },

  };
</script>

<style lang="scss">
  .counters {
    textarea {
      width: 100%;
    }
  }
</style>
