<template>
  <div class="models">
    <h2>Модели</h2>

    <mt-model-picker
      with-new
      :with-types="false"
      :key="cmpVersion"
      v-model="editingModel"
      @model-selected="putModelInCard($event)"
      />
    <hr />

    <div class="col-md-12 mt-model-card">
      <div class="row" v-if="!modelInCard || !modelInCard.id">
        чтобы получить доступ к редактированию - выберите модель
      </div>
      <div v-else class="row">
        <div class="col-md-12">
          <w-input
            label="Название модели"
            placeholder="Название"
            v-model="modelInCard.text"
            :disabled="isDisabled"
            >
          </w-input>
        </div>
        <!--  -->
        <div class="form-group col-md-12">
          <label>Добавьте описание</label>
          <w-textarea
            v-model="modelInCard.description"
            placeholder="Добавить описание"
            :disabled="isDisabled"
            />
        </div>
        <!--  -->
        <div class="col-md-12">
          <div v-if="isNew" class="btn btn-default pull-right" @click="addModel">Добавить</div>
          <div v-else class="btn btn-default pull-right" @click="updateModel">Обновить</div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import api from '@/api';
  export default {
    layout: 'admin',

    fetch({ route, store }) {
      store.commit('replaceBreadcrumbs', [
        { title: 'Главная', to: '/' },
        { title: 'Админка', to: '/admin' },
        { title: 'Модели (вы здесь)' },
      ]);
    },

    data() {
      return {
        sending: false,

        editingModel: {
          brandId: null,
          typeId: null,
          modelId: null,
        },

        modelInCard: null,

        cmpVersion: 0,
      };
    },

    head() {
      return {
        title: 'Редактирование моделей',
      };
    },

    computed: {
      isNew() {
        return this.editingModel.modelId === 'NEW';
      },
      isDisabled() {
        return this.sending;
      },
    },

    watch: {
    },

    methods: {
      async putModelInCard(model) {
        if (model.id === 'NEW') {
          _.extend(model, {
            brandId: _.get(model, 'brand.id'),
            typeId: _.get(model, 'type.id'),
          });
        }

        var response;
        try {
          if (model.id && model.id !== 'NEW') {
            response = await api.get(`/vehicleModels/${model.id}/get`);
          }
        }
        catch (err) {
          console.warn('putModelInCard err', err);
          alert('Не удалось получить данные по модели');
          return;
        }

        this.modelInCard = _.extend({}, model, _.get(response, 'data.data'));
      },

      async addModel() {
        console.log('addModel', this.modelInCard);
        try {
          this.sending = true;
          await api.post('/vehicleModels/add', {
            brandId: _.get(this, 'modelInCard.brand.id'),
            typeId: _.get(this, 'modelInCard.type.id'),
            name: _.get(this, 'modelInCard.text'),
            description: _.get(this, 'modelInCard.description'),
          });
        }
        catch (err) {
          console.warn('addModel err', err);
          alert('Не удалось добавить модель');
          this.sending = false;
          return;
        }
        this.cmpVersion++;
        this.sending = false;
      },

      async updateModel() {
        console.log('updateModel', this.modelInCard);
        try {
          this.sending = true;
          await api.post(`/vehicleModels/${this.modelInCard.id}/update`, {
            brandId: _.get(this, 'modelInCard.brand.id'),
            typeId: _.get(this, 'modelInCard.type.id'),
            name: _.get(this, 'modelInCard.text'),
            description: _.get(this, 'modelInCard.description'),
          });
        }
        catch (err) {
          console.warn('updateModel err', err);
          alert('Не удалось обновить модель');
          this.sending = false;
          return;
        }
        this.cmpVersion++;
        this.sending = false;
      },
    },
  };
</script>

<style lang="scss">

  .models {
    .select2 {
      width: 100% !important;
    }
  }


</style>
