<template>
  <div class="new-stuff">

    <!--  -->

    <h2 class="title">Материалы</h2>
    <div class="cont-feed cont-for-3">
      <mt-feed
        class="materials-feed"
        :items="materials2.items"
        :loading="materials2.loading"
        :page="materials2.page"
        :page-min="1" :page-max="materials2.pageMax"
        @update-page="updatePage(materials2, $event)"
        @show-more="showMore(materials2)"
        >
      </mt-feed>
    </div>

    <!--  -->

    <h2 class="title">Группы</h2>
    <div class="cont-feed cont-for-2">
      <mt-feed
        card-cmp="mt-feed-card-community"
        :items="communities2.items"
        :loading="communities2.loading"
        :page="communities2.page"
        :page-min="1" :page-max="communities2.pageMax"
        @update-page="updatePage(communities2, $event)"
        @show-more="showMore(communities2)"
        >
      </mt-feed>
    </div>

    <!--  -->

    <h2 class="title">Пользователи</h2>
    <div class="cont-feed cont-for-2">
      <mt-feed
        card-cmp="mt-feed-card-user"
        :items="friends2.items"
        :loading="friends2.loading"
        :page="friends2.page"
        :page-min="1" :page-max="friends2.pageMax"
        @update-page="updatePage(friends2, $event)"
        @show-more="showMore(friends2)"
        :wide="true"
        >
      </mt-feed>
    </div>

    <!--  -->

    </div>
</template>

<script>
  import { FeedList } from '@/utils';
  import { getStatic } from '@/api';
  export default {

    fetch({ route, store }) {
      store.commit('replaceBreadcrumbs', [
        { title: 'Главная', to: '/' },
        { title: 'Админка', to: '/admin' },
        { title: 'Материалы (вы здесь)' },
      ]);
    },

    layout: 'admin',

    async asyncData() {
      console.warn('список пользователей не привязан');
      return {
        materials2: await FeedList.makeAndLoad('/articles/getAllFull', 6, {mapper: 'fullArtice'}),
        communities2: await FeedList.makeAndLoad('/communities/getAll', 6),
        friends2: await FeedList.makeAndLoad('/fixtures/users.json', 6),
      };
    },

    head() {
      return {
        title: 'Материалы',
      };
    },

    computed: {
    },

    watch: {
    },

    methods: {
      async updatePage(list, page) {
        FeedList.updatePage(list, page);
      },
      async showMore(list) {
        FeedList.showMore(list);
      },
    },
  }
</script>

<style lang="scss">
  // .new-stuff {
  //   .materials-feed {
  //     .mt-card {
  //       &:nth-child(10n-6) {
  //         width: calc(33.333333% - 20px);
  //       }

  //       &:nth-child(10n-3) {
  //         width: calc(33.333333% - 20px);
  //       }
  //       .w-checkbox {
  //         display: none;
  //       }
  //     }
  //   }
  // }
</style>
