<template>
  <!--

    макет:
    https://www.dropbox.com/s/6dyehubxaqe8wbl/%D1%82%D0%B8%D0%BF%D1%8B-%D1%82%D0%B5%D1%85%D0%BD%D0%B8%D0%BA%D0%B8-%D1%80%D0%B5%D0%B4%D0%B0%D0%BA%D1%82%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5.jpg?dl=0

   -->
  <div class="mt-page" :key="vKey">
    <h2 class="title">Типы техники</h2>
    <div class="form-group">
      <label>Тип техники</label>
      <w-select v-model="selectedType" :options="typeOptions"></w-select>
    </div>

    <template v-if="editedType != null">

      <div class="form-group">
        <w-cropper
          class="mt-cropper"
          v-model="editedType.photoData"
          :config="{
            aspectRatio: 400/400,
            resultSize: {width: 400, height: 400},
          }"
          />
      </div>

      <div class="form-group">
        <label :for="HEADER_UID">Заголовок</label>
        <input v-model="editedType.name" class="form-control" :id="HEADER_UID" placeholder="Введите заголовок...">
      </div>

      <w-tinymce v-model="editedType.description" markdown></w-tinymce>

      <button class="btn btn-default pull-right" @click="publish">Опубликовать</button>

    </template>
  </div>
</template>
<script>
  import cuid from 'cuid';
  import { default as api, getStatic } from '@/api';
  import { delay, uploadImage } from '@/utils';

  export default {

    fetch({ route, store }) {
      store.commit('replaceBreadcrumbs', [
        { title: 'Главная', to: '/' },
        { title: 'Админка', to: '/admin' },
        { title: 'Типы техники (вы здесь)' },
      ]);
    },

    layout: 'admin',

    data() {
      return {
        HEADER_UID: cuid(),
        NEW_TYPE_VALUE: 'NEW_TYPE_VALUE',
        DEFAULT_TYPE: {
          // // @REF: http://mototeamrussia.ru/api/v1/docs/ui#!/Brands/getAll
          // // @REF: http://mototeamrussia.ru/api/v1/docs/ui#!/Brands/add
          // // заполняются сервером: id, createdAt, updatedAt, authorId, status
          // // @WARN: slug и website могут требоваться сервером, но интерфейса под них нет
          name: '',
          description: '',

          photoData: null,
        },

        selectedType: null,
        editedType: null,
        vKey: 0,
      };
    },

    head() {
      return {
        title: 'Редактирование типов техники',
      };
    },

    computed: {
      typeOptions() {
        var options = [];

        options = _.map(this.$domain('VehicleType'), type => {
          return {
            id: type.slug,
            text: type.name,
          };
        });

        options.push({
          id: this.NEW_TYPE_VALUE,
          text: 'Добавить новый',
        });

        return options;
      },
    },

    watch: {
      async selectedType(val) {
        // @TODO: UX, сейчас теряются несохраненные значения

        this.editedType = null;

        if (val === null || val === '') {
          return;
        }
        else if (val === this.NEW_TYPE_VALUE) {
          this.editedType = _.cloneDeep(this.DEFAULT_TYPE);
          return;
        }
        else {
          let type = _.cloneDeep(this.$domainValue('VehicleType', { slug: val }));
          _.defaults(type, this.DEFAULT_TYPE);

          if (type.photoId) {
            let { data: { data: photo } } = await api.get(`/photos/${type.photoId}/get`);
            type.photoData = photo.urls.original;
          }

          this.editedType = type;
          return;
        }
      },
    },

    methods: {
      reset() {
        this.editedType = null;
        this.selectedType = null;
        this.vKey++;
      },

      async publish() {
        // @TODO: UX, сейчас не блокируется форма
        try {
          var payload = _.cloneDeep(this.editedType);

          if (payload.photoData && payload.photoData.startsWith('data:image')) {
            try {
              let photo = await uploadImage(payload.photoData);
              payload.photoId = photo.id;
            }
            catch (err) {
              console.error(err);
              throw new Error('Не удалось загрузить фотографию');
            }
          }

          payload = _.omit(payload, ['photoData']);

          if (this.selectedType === this.NEW_TYPE_VALUE) {
            await api.post(`/vehicleTypes/add`, payload);
          }
          else {
            await api.post(`/vehicleTypes/${payload.id}/update`, payload);
          }

          // обновляем список брендов
          await this.$store.dispatch('domains/update', 'VehicleType');
          this.reset();
        }
        catch(err) {
          console.error(err);
          alert(err.message);
        }
      },
    },

  };
</script>
