<template>
  <div class="models" :key="cmpReloader">
    <h2>Мотоциклы</h2>

    <mt-model-picker
      :with-types="false"
      v-model="editingModel"
      @model-selected="loadVehicles"
      >
      <div class="col-md-12">
        <div class="form-group">
          <label>Выберите мотоцикл</label>
          <w-select
            v-if="vehicles"
            :options="vehiclesOptions"
            v-model="vehicleId"
            placeholder="Выберите мотоцикл"
            />
          <span v-else class="comment">
            Для выбора мотоцикла необходимо выбрать модель
          </span>
        </div>
      </div>
    </mt-model-picker>
    <hr />

    <mt-vehicle-card-admin
      :value="modelInCard"
      v-show="modelInCard"
      @apply="createOrUpdate"
      :disabled="sending"
      :key="cmpReloader"
      >
    </mt-vehicle-card-admin>

  </div>
</template>
<script>
  import api from '@/api';

  export default {
    layout: 'admin',

    fetch({ route, store }) {
      store.commit('replaceBreadcrumbs', [
        { title: 'Главная', to: '/' },
        { title: 'Админка', to: '/admin' },
        { title: 'Мотоциклы (вы здесь)' },
      ]);
    },

    data() {
      return {
        cmpReloader: 0,

        vehicles: null,
        vehicleId: null,

        editingModel: {
          brandId: null,
          typeId: null,
          modelId: null,
        },

        modelInCard: null,

        sending: false,

      };
    },

    head() {
      return {
        title: 'Редактирование мотоциклов',
      };
    },

    computed: {
      vehiclesOptions() {
        return [{id: 'NEW', text: 'Добавить мотоцикл'}, ..._.map(this.vehicles, i => {
          return {
            id: i.id,
            text: i.name,
          };
        })];
      },
    },

    watch: {
      vehicleId(id) {
        if (!id) {
          this.modelInCard = null;
          return;
        }
        if (id === 'NEW') {
          this.modelInCard = _.extend({id: 'NEW'}, this.DEFAULT_VEHICLE, {
            brandId: +_.get(this, 'editingModel.brandId', 1),
            vehicleTypeId: +_.get(this, 'editingModel.typeId', 1),
            modelId: +_.get(this, 'editingModel.modelId', 1),
          });
          return;
        }
        var vehicle = _.find(this.vehicles, {id: +id});
        if (!vehicle) {
          console.warn('vehicle not found');
          this.modelInCard = null;
          return;
        }
        this.modelInCard = _.cloneDeep(vehicle);
      },
    },

    methods: {
      async loadVehicles(model) {
        if (!model || !model.id) {
          console.warn('no model or model.id presented...');
          this.vehicle = null;
          this.vehicles = null;
          return;
        }
        var allVehicles = await api.get(`/vehicles/getAll?modelId=${model.id}`);
        this.vehicle = _.extend({id: 'NEW'}, this.DEFAULT_VEHICLE, {
          brandId: model.brand.id,
          vehicleTypeId: _.get(model, 'type.id', 1),
          modelId: model.id,
        });
        this.vehicles = _.get(allVehicles, 'data.data');
        return;
      },

      putModelInCard(model) {
        this.modelInCard = model;
      },

      async createOrUpdate(vehicle) {
        this.sending = true;
        var vehicleToSave = _.extend({}, vehicle, {
          vehicleTypeId: +vehicle.vehicleTypeId,
        });
        try {
          if (vehicle.id === 'NEW') {
            await api.post('/vehicles/add', _.omit(vehicleToSave, ['id']));
          }
          else {
            await api.post(`/vehicles/${vehicle.id}/update`, vehicleToSave);
          }
        }
        catch (err) {
          console.warn('vehicle createOrUpdate error', err);
          alert('Не удалось обновить/добавить мотоцикл');
          this.sending = false;
          return;
        }

        this.cmpReloader++;
        this.sending = false;
        return;
      },
    },
  };
</script>

<style lang="scss">

  .models {
    .select2 {
      width: 100% !important;
    }
  }

  .mt-model-card {
    border: solid 1px #ccc;
    margin-bottom: 15px;
    padding: 20px;
    .label {
      color: #ababab;
      font-size: 18px;
      line-height: 18px;
      font-weight: normal;
      padding: 0px;
    }
  }


</style>
