<template>
  <mt-page-friends :page-data="pageData"></mt-page-friends>
</template>

<script>
  import api from '@/api';
  import { delay, FeedList } from '@/utils';

  export default {

    fetch({ route, store }) {
      store.commit('replaceBreadcrumbs', [
        { title: 'Главная', to: '/' },
        { title: 'Профиль пользователя', to: `/user/${route.params.id}` },
        { title: 'Друзья (вы здесь)' },
      ]);
    },

    layout: 'personal', // other

    async asyncData(context) {
      await context.store.dispatch('sidebar/loadUser', context.route.params.id);
      var { data: userData } = await api.get(`/accounts/${context.route.params.id}/get`);
      return {
        pageData: {
          friends: await FeedList.makeAndLoad(`/accounts/${context.route.params.id}/friends/getAll`),
          user: userData.data,
        },
      };
    },

    head() {
      return {
        title: `Друзья пользователя ${this.user ? this.user.name : ''}`,
      };
    },

  };
</script>
