<template>
  <div>
    <mt-page-profile
      v-if="pageData"
      :page-data="pageData"
      @update-user="updateUser"
    >
    </mt-page-profile>
  </div>
</template>

<script>
  import api from '@/api';
  import { delay, FeedList } from '@/utils';

  export default {

    fetch({ route, store }) {
      store.commit('replaceBreadcrumbs', [
        { title: 'Главная', to: '/' },
        { title: 'Профиль пользователя (вы здесь)' },
      ]);
    },

    layout: 'personal', // other

    head() {
      return {
        title: `Профиль пользователя ${this.user ? this.user.name : ''}`,
      };
    },

    async asyncData(context) {
      await context.store.dispatch('sidebar/loadUser', context.route.params.id);
    },

    data() {
      return {
        pageData: null,
      };
    },

    async mounted() {
      var { data: userData } = await api.get(`/accounts/${this.$route.params.id}/get`);

      this.pageData = {
        user: userData.data,
        blog: await FeedList.makeAndLoad(`/articles/getAllFullByAuthorId?authorId=${this.$route.params.id}&spotType="AccountBlog"`, 5, {mapper: 'fullArtice'}),
        communities: await FeedList.makeAndLoad(`/articles/communityBlog/subscriptions?subscriberId=${this.$route.params.id}`, 5),
        friends: await FeedList.makeAndLoad(`/articles/accountBlog/friends?accountId=${this.$route.params.id}`, 5),
      };
    },

    methods: {

      async updateUser() {
        var { data: userData } = await api.get(`/accounts/${this.$route.params.id}/get`);
        this.pageData.user = userData.data;
      },

    },

  };
</script>
