<template>
  <mt-page-vehicles :page-data="pageData"></mt-page-vehicles>
</template>

<script>
  import api from '@/api';
  import { delay, FeedList } from '@/utils';

  export default {

    fetch({ route, store }) {
      store.commit('replaceBreadcrumbs', [
        { title: 'Главная', to: '/' },
        { title: 'Профиль пользователя', to: `/user/${route.params.id}` },
        { title: 'Личная техника (вы здесь)' },
      ]);
    },

    layout: 'personal', // other

    async asyncData(context) {
      await context.store.dispatch('sidebar/loadUser', context.route.params.id);
      var { data: { data: userData } } = await api.get(`/accounts/${context.route.params.id}/get`);
      return {
        pageData: {
          user: userData,
          vehicles: await FeedList.makeAndLoad(`/accountVehicles/getAllFull?accountId=${userData.id}`),
        },
      };
    },

    head() {
      return {
        title: `Техника пользователя ${this.user ? this.user.name : ''}`,
      };
    },

  };
</script>
