<template>
  <div class="header">
    <div class="header__col_left">
      <mt-producers-menu/>
    </div>
    <div class="header__col_right"></div>
  </div>
</template>

<script>
  import MtProducersMenu from './$header/producers-menu'

  export default {
    components: {
      MtProducersMenu
    }
  }
</script>

<style lang="stylus" scoped>
  @import '~assets/styles/styles'

  .header
    display flex
    flex-direction column

  // .header__col_left

  // .header__col_right
</style>