<template>
  <div class="mt-edit-vehicles">
    <h2 class="title">Добавить технику</h2>
    <div style="margin: 30px 0px 20px;">
      <template v-for="item, idx in savedModels">
        <span class="micro-vehicle" :class="{selected: idx == selectedIdx}">
          {{ item.name }}
          <i class="fa fa-pencil" @click="selectedIdx = idx"></i>
          <i class="fa fa-close" @click="removeModel(idx)"></i>
        </span>
      </template>
      <span class="micro-vehicle cp" @click="selectedIdx = 'NEW'" :class="{selected: 'NEW' == selectedIdx}">Добавить</span>
    </div>
    <template v-if="selectedModel">
      <mt-model-picker-intab @model-selected="modelPicked" :value="valueToPick" />
      <template v-if="pickedModel">
        <mt-vehicle-card :value="pickedModel" />
        <button class="btn btn-default" @click="addModel" v-if="selectedIdx === 'NEW'">Добавить</button>
        <button class="btn btn-default" @click="updateModel" v-else>Обновить</button>
      </template>
    </template>
  </div>
</template>

<script>
  export default {

    components: {
    },

    props: {
      value: {
        type: Array,
        default: () => ([]),
      },
    },

    data() {
      return {
        selectedIdx: -1,
        pickedModel: null,
      };
    },

    computed: {
      savedModels: {
        set(val) {
          this.$emit('input', val);
        },
        get() {
          return this.value;
        },
      },

      selectedModel() {
        if (this.selectedIdx === -1) {
          return null;
        }
        if (this.selectedIdx === 'NEW') {
          return {};
        }
        return _.get(this, `savedModels[${this.selectedIdx}]`);
      },
      valueToPick() {
        return {
          brandId: _.get(this, 'selectedModel.brand.id', null),
          modelId: _.get(this, 'selectedModel.model.id', null),
        };
      },
    },

    methods: {
      modelPicked(populatedModel) {
        if (!_.get(populatedModel, 'model.id')) {
          // ресетнули
          this.pickedModel = null;
          return;
        }
        // когда пикают - может перетереться уже выбранное (из "кнопки")
        // значение на дефолтное. Чтобы избежать - не перетираю то, что есть
        this.pickedModel = _.defaultsDeep({}, this.selectedModel, populatedModel);
      },
      addModel() {
        this.savedModels.push(_.cloneDeep(this.pickedModel));
        this.selectedIdx = this.savedModels.length - 1;
      },
      removeModel(idx) {
        if (!confirm('Вы действительно хотите удалить добавленную модель?')) {
          return;
        }
        this.savedModels.splice(idx, 1);
        this.idx = Math.max(idx - 1, 0);
      },
      updateModel() {
        _.extend(this.savedModels[this.selectedIdx], this.pickedModel);
      },
    },

  };
</script>

<!-- @NOTE: not scoped -->
<style lang="scss">
  .mt-edit-vehicles {
    .select2 {
      width: 100% !important;
    }
  }
</style>

<style lang="scss" scoped>
  .selected {
    color: #fff;
    background: #000;
  }

  .small-model {
    margin: 0 10px 10px 0;
    padding: 10px;
    border: solid 1px #ccc;
    cursor: pointer;
    display: inline-block;

    &.active {
      border: solid 1px #000;
    }

    &.add-model {
      .fn-delete {
        display: none;
      }
    }
  }
  .btn {
    margin: 0 10px 10px 0;
  }
  .mt-edit-vehicles {
    min-height: 100px;
    > .btn {
      margin-top: 15px;
    }
  }
  .micro-vehicle {
    padding: 10px 20px;
    border: solid 1px #000;
    border-radius: 0px;
    margin-right: 10px;

    .fa {
      padding: 5px;
      margin: 0px 0px 0px 10px;
      cursor: pointer;
    }
  }
  .cp {
    cursor: pointer;
  }
</style>
