<template>
  <div class="mt-edit-event">
    <h2 class="title">{{ create ? 'Добавить событие' : 'Редактировать событие' }}</h2>
    <p>все поля, обязательные к заполнению, отмечены знаком*</p>
    <div class="row">
      <div class="col-md-6">
        <w-select v-model="value.vehicleType" :options="vehicleTypeOptions" class="form-group"></w-select>
        <w-input @blur="$v.vAddress.$touch" :error="$v.vAddress.$error? 'Укажите место' : ''" :value="value.address" @input="updateEventAddress" label="Место проведения*" placeholder="Точный адрес или координаты для навигатора"></w-input>

        <w-input @blur="$v.vOrganizer.$touch" :error="$v.vOrganizer.$error? 'Укажите организатора' : ''" v-model="value.organizer" label="Организатор мероприятия*" placeholder="Например: Клуб «КОЛЕСИКО»"></w-input>
        <w-input v-model="value.classes" label="Укажите какие классы участвуют" placeholder="Например: MX-1, MX-2, 450см.куб."></w-input>
        <w-input v-model="value.sponsor" label="Спонсор мероприятия" placeholder="Укажите название фирмы или ФИО"></w-input>
      </div>
      <div class="col-md-3">
        <w-ymaps class="mt-map" :value="value.coordinates" @input="updateEventCoordinates"></w-ymaps>
      </div>
      <div class="col-md-3">
        <w-datepicker @blur="$v.vStart.$touch" :error="$v.vStart.$error? 'Укажите дату начала' : ''" label="Дата начала*" inline v-model="value.start"></w-datepicker>
        <w-datepicker @blur="$v.vEnd.$touch" :error="$v.vEnd.$error? 'Укажите дату окончания' : ''" label="Дата окончания*" inline v-model="value.end"></w-datepicker>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="title-block">
          <i class="mi mi-pic"></i>
          <div>
            <h3>Добавить логотип</h3>
            <span>Добавьте логотип организатора для мероприятия</span>
          </div>
        </div>
        <w-cropper
          v-model="value.logo"
          :config="{
            aspectRatio: 300/200,
            resultSize: {width: 300, height: 200},
          }"
          />
      </div>
      <div class="col-md-6">
        <div class="title-block">
          <i class="mi mi-pic"></i>
          <div>
            <h3>Добавить фото</h3>
            <span>Добавьте фото места проведения</span>
          </div>
        </div>
        <w-cropper
          v-model="value.photo"
          :config="{
            aspectRatio: 300/200,
            resultSize: {width: 300, height: 200},
          }"
          />
      </div>
    </div>
  </div>
</template>

<script>
  import { validationMixin } from 'vuelidate'
  import { required, minLength, between, maxLength } from 'vuelidate/lib/validators'
  export default {

    props: {
      create: { type: Boolean, default: false },
      value: { type: Object, required: true },
    },

    data() {
      return {
        DEFAULT: {
          vehicleType: null,
          address: '',
          organizer: '',
          classes: '',
          sponsor: '',

          coordinates: [0, 0],

          start: moment().toISOString(),
          end: moment().toISOString(),

          logo: null,
          photo: null,
        },
      };
    },
    mixins: [validationMixin],
    validations: {
      vAddress: {
        required,
      },
      vOrganizer: {
        required,
      },
      vStart: {
        required,
      },
      vEnd: {
        required,
      },
    },
    computed: {
      vAddress() {
        return this.value.address;
      },
      vOrganizer() {
        return this.value.organizer;
      },
      vStart() {
        return this.value.start;
      },
      vEnd() {
        return this.value.end;
      },
      vehicleTypeOptions() {
        var options = [];
        _.each(this.$domain('VehicleType'), type => {
          options.push({
            id: type.id,
            text: type.name,
          });
        });
        return options;
      },
    },

    watch: {
      '$v.$invalid': {
        immediate: true,
        handler(val) {
          this.$emit('validateEvent', val);
        }
      },
      value: {
        immediate: true,
        handler() {
          var populatedValue = _.merge({}, this.DEFAULT, this.value);
          if (!_.isEqual(this.value, populatedValue)) {
            this.$emit('input', populatedValue);
          }
        },
      },
    },

    methods: {
      getRandomCoordinates() {
        var minLat = 41.28413, maxLat = 71.69002;
        var minLng = 19.90929, maxLng = 177.5103;
        return [
          minLat + Math.random() * (maxLat - minLat),
          minLng + Math.random() * (maxLng - minLng),
        ];
      },
      updateEventCoordinates: function(value) {
        this.value.coordinates = value;

        // @DONE: отключил связку между адресом и координатами
        // this.value.address = value.join(', ');
      },
      updateEventAddress: function(value) {
        this.value.address = value;

        // @DONE: отключил связку между адресом и координатами
        // var parts = value.split(', ');
        // var lat = Number(parts[0]);
        // var lng = Number(parts[1]);
        // if (parts.length === 2 && !isNaN(lat) && !isNaN(lng)) {
        //   this.value.coordinates = parts;
        //   return;
        // }
      },
    },

  };
</script>

<!-- @NOTE: not scoped -->
<style lang="scss">
  .mt-edit-event {
    .select2 {
      width: 100% !important;
    }
  }
</style>

<style lang="scss" scoped>
  .mt-map {
    height: 320px;
  }
  .w-cropper {
    margin-bottom: 20px;
  }
  .title-block {
    display: flex;
    align-items: center;

    > div {
      display: flex;
      flex-direction: column;
    }

    i {
      font-size: 30px;
    }
    h3 {
      font-size: 16px;
      line-height: 16px;
      margin: 0 0 3px 10px;
    }
    span {
      font-size: 11px;
      line-height: 11px;
      margin: 0 0 0 10px;
    }
  }
</style>
