<template>
  <div>
    <h2 class="title">Добавить мероприятие</h2>
    <div :class="[$v.vTitle.$error ? 'verror' : '', 'form-group']">
      <label :for="BLOGPOST_TITLE_UID">Заголовок*</label>
      <input @blur="$v.vTitle.$touch" placeholder="Введите заголовок..." type="text" class="form-control" v-model="value.title" :id="BLOGPOST_TITLE_UID">
      <span v-show="$v.vTitle.$error" class="error">{{ERRORS.title}}</span>
    </div>
    <div :class="[$v.vBody.$error ? 'verror' : '', 'form-group wysywig']">
      <w-tinymce @wblur="$v.vBody.$touch" :markdown="markdown" v-model="value.body"></w-tinymce>
      <div v-show="$v.vBody.$error" class="error">{{ERRORS.body}}</div>
    </div>
  </div>
</template>

<script>
  import cuid from 'cuid';
  import { validationMixin } from 'vuelidate'
  import { required, minLength, between, maxLength } from 'vuelidate/lib/validators'
  export default {

    props: {
      create: { type: Boolean, default: false },
      value: { type: Object, required: true },
      markdown: { type: Boolean, default: false },
      daisableValidation: { type: Boolean, default: false },
    },

    data() {
      return {
        BLOGPOST_TITLE_UID: cuid(),

        DEFAULT: {
          title: '',
          body: '',
        },
        ERRORS: {
          title: 'Введите заголовок',
          body: 'Текст статьи должен быть не менее 16 символов',
        },
      };
    },
    mixins: [validationMixin],
    validations () {
      if (this.daisableValidation) {
        return {
          vTitle: {
            required,
          },
          vBody: {},
        };
      }
      else return {
        vTitle: {
          required,
        },
        vBody: {
          required,
          minLength: minLength(16),
        }
      };
    },
    watch: {
      '$v.$invalid': {
        immediate: true,
        handler(val) {
          this.$emit('validateArticle', val);
        }
      },
      value: {
        immediate: true,
        handler() {
          var populatedValue = _.merge({}, this.DEFAULT, this.value);
          if (!_.isEqual(this.value, populatedValue)) {
            this.$emit('input', populatedValue);
          }
        },
      },
    },
    computed: {
      vTitle() {
        return this.value.title;
      },
      vBody() {
        return this.value.body;
      },
    },
  };
</script>

<style lang="scss" scoped>

</style>
