<template>
  <div class="mt-edit-post">
    <w-tabs>
      <w-tab
        v-if="withEvent"
        title="Событие"
        subtitle="Событие будет добавлено в календарь"
        icon-class="mi mi-calendar"
        >
        <mt-edit-event ref="mtevent" @validateEvent = "eventInvalid = $event" create v-model="event"></mt-edit-event>
      </w-tab>
      <w-tab
        v-if="withText"
        title="Добавить запись"
        icon-class="mi mi-add-article"
        >
        <mt-edit-article :daisableValidation="daisableValidation" ref="article" @validateArticle = "articleInvalid = $event" create markdown v-model="text"></mt-edit-article>
      </w-tab>
      <w-tab
        v-if="withGallery"
        title="Фото галерея"
        subtitle="Фото будут доступны для добавления в статью"
        icon-class="mi mi-pics"
        >
        <mt-edit-photos create v-model="gallery"></mt-edit-photos>
      </w-tab>
      <w-tab
        v-if="withModels"
        title="Добавить технику"
        subtitle="Таблица технических характеристик техники"
        icon-class="mi mi-moto"
        >
        <mt-edit-vehicles v-model="models"></mt-edit-vehicles>
      </w-tab>
    </w-tabs>
    <mt-edit-meta ref="meta" @validateMeta = "metaInvalid = $event" v-if="meta" v-model="meta"></mt-edit-meta>
  </div>
</template>

<script>
  import { delay, uploadImage } from '@/utils';
  export default {
    props: {
      checkValidation: {
        type: Boolean,
        default: false,
      },
      daisableValidation: {
        type: Boolean,
        default: false,
      },
      value: {
        type: Object,
        default: null,
      },

      withText: {
        type: Boolean,
        default: false,
      },
      withGallery: {
        type: Boolean,
        default: false,
      },
      withModels: {
        type: Boolean,
        default: false,
      },
      withEvent: {
        type: Boolean,
        default: false,
      },

      withMeta: {
        type: Boolean,
        default: false,
      },

      disabled: {
        type: Boolean,
        default: false,
      },
    },

    data() {
      return {
        text: {},
        gallery: {},
        models: [],
        articleInvalid: true,
        metaInvalid: true,
        eventInvalid: true,
        event: {
          vehicleType: null,
          address: null,
          organizer: null,
          classes: null,
          sponsor: null,
          coordinates: [55.76, 37.64],
          start: null,
          end: null,
          logo: null,
          photo: null,
        },
        meta: {},
      };
    },

    watch: {
      checkValidation(v) {
        if (v) {
          this.$refs.article.$v.$touch();
          this.$refs.meta.$v.$touch();
          if (this.withEvent) {
            this.$refs.mtevent.$v.$touch();
          }
        }
      },
      validated: {
        immediate: true,
        handler(v) {
          this.$emit('validateForm', v);
        },
      },
      value: {
        immediate: true,
        handler(val) {
          if (!val) {
            return;
          }
          if (this.withText) {
            this.text = _.extend({}, {
              title: val.article.title,
              // @TODO: костыли для бэка (в событиях - reportMarkdown, в постах - fullTextMarkdown)
              body: val.article.fullTextMarkdown || val.article.reportMarkdown,
            });
          }

          if (this.withGallery) {
            this.gallery = _.extend({}, {
              photos: _.map(val.photos, photo => {
                return {
                  id: photo.id,
                  url: photo.urls.original,
                  description: photo.altText,
                };
              }),
            });
          }

          if (this.withModels) {
            this.models = _.map(val.articleVehicles, item => {
              return _.extend({}, item, {
                id: item.id,
                brand: {id: item.brandId},
                typeId: item.vehicleTypeId,
                model: {id: item.vehicleModelId || item.id},
              });
            });
          }

          if (this.withEvent) {
            let article = val.article;
            this.event = _.extend({}, this.event, {
              vehicleType: article.vehicleTypeId,
              address: article.place,
              organizer: _.get(article, 'organizer.name', ''),
              classes: article.technicsClass,
              sponsor: _.get(article, 'organizer.sponsor', ''),
              coordinates: article.location
                ? [article.location.latitude, article.location.longitude]
                : null,
              start: article.startDate ? moment(article.startDate).toISOString() : null,
              end: article.endDate ? moment(article.endDate).toISOString() : null,
              logo: _.get(val.logo, 'urls.original', null),
              logoId: _.get(val.logo, 'id', null),
              photo: _.get(val.photo, 'urls.original', null),
              photoId: _.get(val.photo, 'id', null),
            });
          }

          if (this.withMeta) {
            this.meta = {
              // @TODO: костыли для бэка (в событиях - description, в постах - shortText)
              description: val.article.shortText || val.article.description,
            };
          }
        },
      },
    },
    computed: {
      validated() {
        if (this.withEvent) {
          if (!this.articleInvalid && !this.metaInvalid && !this.eventInvalid) {
            return true;
          }
          return false;
        }
        if (!this.articleInvalid && !this.metaInvalid) {
          return true;
        }
        return false;
      }
    },
    methods: {
      async collectPayload() {
        var payload = {};

        if (this.withText) {
          _.extend(payload, {
            title:    _.get(this, 'text.title', 'Без имени'),
            fullText: _.get(this, 'text.body', '.....'), // @NOTE: поле должно называться fullTextMarkdown, но особенности
          });
        }

        if (this.withGallery) {
          var photoIds = [];
          // @NOTE: разбираем фотки
          for (let photo of this.gallery.photos) {
            // @NOTE: new photo
            if (photo.url && photo.url.startsWith('data:image')) {
              try {
                let uploadedPhoto = await uploadImage(photo.url);
                photoIds.push(uploadedPhoto.id);
              }
              catch (err) {
                console.error(err);
                throw new Error('Не удалось загрузить фотографию');
              }
            }
          }
          _.extend(payload, {
            photosIds: photoIds || [],
          });
        }

        if (this.withModels) {
          var items = _.get(this, 'models', []);
          items = _.map(items, item => {
            return _.extend(item, {
              brandId: item.brand.id,
              vehicleTypeId: _.get(item, 'typeId'),
              vehicleModelId: item.model.id,
            });
          });
          var modelIds = _.uniq(_.cMap(items, item => (item.model && item.model.id)));
          var brandIds = _.uniq(_.cMap(items, item => (item.brand && item.brand.id)));
          var typeIds  = _.uniq(_.cMap(items, item => (item.typeId)));
          _.extend(payload, {
            brandsIds: brandIds || [],
            vehicleTypesIds: typeIds || [],
            vehicleModelsIds: modelIds || [],
            vehiclesIds: [],
            // accountVehicles: [],
            articleVehicles: items,
          });
        }

        if (this.withEvent) {
          try {
            var logo = _.get(this, 'event.logo');
            if (logo && logo.startsWith('data:image')) {
              let uploadedLogo = await uploadImage(logo);
              payload.logoPhotoId = uploadedLogo.id;
            }
            else {
              payload.logoPhotoId = _.get(this, 'event.logoId');
            }
            var photo = _.get(this, 'event.photo');
            if (photo && photo.startsWith('data:image')) {
              let uploadedPhoto = await uploadImage(photo);
              payload.trailPhotoId = uploadedPhoto.id;
            }
            else {
              payload.trailPhotoId = _.get(this, 'event.photoId');
            }
          }
          catch (err) {
            console.error(err);
            throw new Error('Не удалось загрузить фотографии события');
          }
          _.extend(payload, {
            vehicleTypeId: Number(_.get(this, 'event.vehicleType')) || null,
            place: _.get(this, 'event.address', 'Без адреса'),
            location: {
              latitude: Number(_.get(this, 'event.coordinates[0]')),
              longitude: Number(_.get(this, 'event.coordinates[1]')),
            },
            startDate: moment(_.get(this, 'event.start')).format('YYYY-MM-DD'),
            endDate: moment(_.get(this, 'event.end')).format('YYYY-MM-DD'),
            organizer: {
              name: _.get(this, 'event.organizer'),
              sponsor: _.get(this, 'event.sponsor'),
            },
            technicsClass: _.get(this, 'event.classes'),
          });
        }

        if (this.withMeta) {
          _.extend(payload, {
            shortText: _.get(this, 'meta.description', 'Без короткого описания'),
          });
        }

        this.validate(payload); // плюется ошибками

        return payload;
      },

      validate(payload) {
        // debugger
        if (_.get(payload, 'title', '').trim().length < 1) {
          throw new Error('Введите заголовок');
        }

        var shortText = (_.get(payload, 'shortText') || '').trim();
        var fullText = (_.get(payload, 'fullText') || '').trim();
        if (shortText.length > 170) {
          throw new Error('Описание должно быть короче 170 символов');
        }
        if (shortText.length < 16) {
          throw new Error('Описание должно быть длиннее 16 символов');
        }

        if (!this.withEvent) { // у события может не быть описания
          if (fullText.length < 16) {
            throw new Error('Текст статьи должен быть не менее 16 символов');
          }
        }

        if (this.withEvent) {
          if (_.get(payload, 'organizer.name', '').trim().length < 1) {
            throw new Error('Укажите организатора');
          }
          if (!_.get(payload, 'place', '').trim()) {
            throw new Error('Укажите место');
          }
          if (!_.get(payload, 'startDate', '')) {
            throw new Error('Укажите дату начала');
          }
          if (!_.get(payload, 'endDate', '')) {
            throw new Error('Укажите дату окончания');
          }
        }
      },
    },

  };
</script>

<!-- @NOTE: not scoped -->
<style lang="scss">
</style>

<style lang="scss" scoped>
</style>
