<template>
  <div>
    <h2 class="title">Добавить фото</h2>
    <p>Добавленные фото будут доступны для добавления в статью</p>
    <div class="mt-photo-block" v-for="photo in value.photos">
      <button @click="removePhoto(photo)" class="btn btn-default">Удалить</button>
      <w-cropper
        v-model="photo.url"
        :config="{
          aspectRatio: 980/696,
          resultSize: {width: 980, height: 696},
        }"
        />
      <p>Укажите, что на фото</p>
      <w-input v-model="photo.description"></w-input>
      <!-- <w-tags v-model="photo.tags"></w-tags> -->
    </div>
    <button class="btn btn-default btn-block" @click="addPhoto">Добавить</button>
  </div>
</template>

<script>
  export default {

    props: {
      create: { type: Boolean, default: false },
      value: { type: Object },
    },

    data() {
      return {
        DEFAULT_PHOTO: {
          url: null,
          // tags: [], // @DONE: заменил на description, т.к. бек не хранит теги отдельно
          description: '',
        },
        DEFAULT: {
          photos: [],
        },
      };
    },

    watch: {
      value: {
        immediate: true,
        handler() {
          var populatedValue = _.merge({}, this.DEFAULT, this.value);
          if (!_.isEqual(this.value, populatedValue)) {
            this.$emit('input', populatedValue);
          }
        },
      },
    },

    methods: {
      addPhoto() {
        this.value.photos.push(_.cloneDeep(this.DEFAULT_PHOTO));
      },
      removePhoto(photo) {
        var io = this.value.photos.indexOf(photo);
        this.value.photos.splice(io, 1);
      },
    },

  };
</script>

<style lang="scss" scoped>
  .mt-photo-block {
    margin: 10px 0;
    padding: 5px;
    border: 1px dashed gray;
  }
</style>
