<template>
  <div class="mt-edit-meta row">
    <div class="col-md-12">
      <h2 class="title">Добавить описание</h2>
      <div :class="[$v.vDescription.$error ? 'verror' : '', 'form-group']">
        <label>Добавьте описание материала</label>
        <w-textarea @blur="$v.vDescription.$touch" v-model="value.description" placeholder="Добавить описание"></w-textarea>
        <span v-show="$v.vDescription.$error && !$v.vDescription.minLength || $v.vDescription.$error && !$v.vDescription.required" class="error">{{ERRORS.minLength}}</span>
        <span v-show="$v.vDescription.$error && !$v.vDescription.maxLength" class="error">{{ERRORS.maxLength}}</span>
      </div>
    </div>
  </div>
</template>

<script>
  import { validationMixin } from 'vuelidate'
  import { required, minLength, between, maxLength } from 'vuelidate/lib/validators'
  export default {

    props: {
      value: { type: Object, required: true },
    },

    data() {
      return {
        DEFAULT: {
          description: '',
        },
        ERRORS: {
          maxLength: 'Описание должно быть короче 170 символов',
          minLength: 'Описание должно быть длиннее 16 символов',
        }
      };
    },
    mixins: [validationMixin],
    watch: {
      '$v.$invalid': {
        immediate: true,
        handler(val) {
          this.$emit('validateMeta', val);
        }
      },
      value: {
        immediate: true,
        handler() {
          var populatedValue = _.merge({}, this.DEFAULT, this.value);
          if (!_.isEqual(this.value, populatedValue)) {
            this.$emit('input', populatedValue);
          }
        },
      },
    },
    computed: {
      vDescription() {
        return this.value.description;
      },
    },
    validations: {
      vDescription: {
        required,
        minLength: minLength(16),
        maxLength: maxLength(170),
      },
    },

  };
</script>
