<!--

  https://uxsolutions.github.io/bootstrap-datepicker

 -->
<template lang="html">
  <div class="w-calendar"></div>
</template>

<script>
  module.exports = {
    props: {
      value: {
        default: () => moment().toISOString(),
      },
      inline: {
        type: Boolean,
        default: false,
      }
    },
    data() {
      return {
      };
    },
    watch: {
      value(value) {
        this.$PICKER.datepicker('setUTCDate', new Date(value));
      }
    },
    methods: {
    },
    mounted: function() {
      var vm = this;
      vm.$PICKER = $(vm.$el).datepicker({
        language: 'ru',
      });

      vm.$PICKER.on('changeDate', function() {
        var value = vm.$PICKER.datepicker('getUTCDate');
        var iso = moment(value).toISOString();
        if (vm.value === iso) {
          return;
        }
        vm.$emit('input', iso);
      });

      vm.$PICKER.datepicker('setDate', vm.value);
    },
  };
</script>

<style lang="scss">
  .w-calendar {
    background: #7f7f7f;

    table.table-condensed {
      border-collapse: separate;
      border-spacing: 1px;
      color: #fff;
    }
    .datepicker table tr td.old, .datepicker table tr td.new {
      color: #aaa;
    }
    .datepicker-switch,
    .prev,
    .next,
    tfoot tr th {
      cursor: pointer;
      &:hover {
        background: transparent;
      }
    }
    .datepicker table tr td.day {
      border: solid 1px transparent;
      border-radius: 0;
      padding: 0;
    }
    .datepicker table tr td.day.active {
      background: #fff;
      color: #7f7f7f;
    }
    .datepicker table tr td.day:hover,
    .datepicker table tr td.day.focused {
      background: transparent;
      border-color: #fff;
    }
    .datepicker table tr td.day.active:hover,
    .datepicker table tr td.day.active.focused {
      background: #fff;
      border-color: #fff;
    }
    .datepicker .datepicker-switch,
    .datepicker .prev,
    .datepicker .next,
    .datepicker tfoot tr th {
      font-size: 27px;
      font-weight: lighter;
    }
    .datepicker .prev i:before,
    .datepicker .next i:before {
      color: #fff;
    }
  }
</style>
