<docs lang="md">
  На базе [https://getbootstrap.com/javascript/#carousel].

  Пропы:

  - slides -- Список слайдов типа { src, alt }.
  - config -- Конфиг объект для инициализации boostrap caroulel.
  - no-controls -- Не показывать стрелочки вправо/влево.
  - no-indicators -- Не индикаторы слайда (внизу).

  Слоты:

  - caption (scoped) -- Для контента поверх слайда. Параметры: { slide, index }.

  Пример использования:

  ```
  <w-carousel :slides="slides">
    <template slot="caption" scope="props">
      {{ props.index }}: {{ props.slide.caption }}
    </template>
  </w-carousel>
  ```
</docs>

<template>
  <div :id="uid" class="carousel slide">

    <template v-if="!noIndicators && slides.length > 1">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <!-- @TODO: class="active" -->
        <li v-for="(slide, index) in slides" :data-target="'#' + uid" :data-slide-to="index" :class="{ 'active': index === 0 }"></li>
      </ol>
    </template>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

      <!-- @TODO: class="active" -->
      <div
        v-for="(slide, index) in slides"
        class="item"
        :class="{ 'active': index === 0 }"
        :style="{'background-image': `url(${slide.src})`}"
        >
        <!-- <img :src="slide.src" :alt="slide.alt" :title="slide.alt" style="width: 100%;"> -->
        <div v-if="$scopedSlots.caption" class="carousel-caption">
          <slot name="caption" :slide="slide" :index="index"></slot>
        </div>
      </div>

    </div>

    <template v-if="!noControls && slides.length > 1">
      <!-- Left and right controls -->
      <a class="left carousel-control" :href="'#' + uid" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Предыдущий</span>
      </a>
      <a class="right carousel-control" :href="'#' + uid" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Следующий</span>
      </a>
    </template>

  </div>
</template>

<script>
  import cuid from 'cuid';
  export default {
    props: {
      slides: { type: Array, required: true },
      config: { type: Object },
      noIndicators: { type: Boolean },
      noControls: { type: Boolean },
    },
    data() {
      return {
        uid: cuid(),
      };
    },
    updated() {
      $(this.$el).carousel(this.config);
    },
  };
</script>
