<template lang="html">
  <label class="w-checkbox">
    <input
      @change="$emit('input', $event.target.checked)"
      :checked="value"
      :disabled="disabled"
      class="checkbox"
      type="checkbox"
      name="checkbox-test"
      />
    <span class="checkbox-custom"></span>
    <span v-if="label" class="label">{{label}}</span>
  </label>
</template>

<script>
  module.exports = {
    props: {
      label: {
        type: String,
        default: '',
      },
      value: {
        type: Boolean,
        default: false,
      },
      disabled: {
        type: Boolean,
        default: false,
      },
    },
    data() {
      return {
      };
    },
    watch: {
    },
    methods: {
    },
    mounted: function() {
    },
  };
</script>

<style lang="scss">
  .w-checkbox {
    margin: 0px;
    padding: 0px;
    .checkbox {
      display: none;
    }
    .checkbox-custom {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      width: 17px;
      height: 17px;
      border: 2px solid #fff;
      background: #999;
    }
    .label {
      display: inline-block;
      vertical-align: middle;
    }
    .checkbox:checked + .checkbox-custom::before {
      content: "";
      display: block;
      position: absolute;
      top: 2px;
      right: 2px;
      bottom: 2px;
      left: 2px;
      background: #fff;
    }
  }
</style>
