<!--

  https://fengyuanchen.github.io/cropperjs/
  https://github.com/fengyuanchen/cropperjs

  чтобы посмотреть результат (то, что в кроппере):
  window.open($vm0.value)

 -->
<template>
  <div class="w-cropper">
    <img ref="img" :src="value">

    <div class="buttons-wrapper" style="display: flex;">
      <div style="flex: 1;"></div>

      <span v-if="state === 'image'" @click="setFile" title="Редактировать" class="cropperIcon">
        <i class="mi mi-edit"></i>
      </span>
      <!--  -->
      <span v-if="state === 'cropper'" @click="cancelCropper" title="Отмена" class="cropperIcon">
        <i class="fa fa-close"></i>
      </span>
      <span v-if="state === 'cropper'" @click="saveCropped" title="Сохранить" class="cropperIcon">
        <i class="fa fa-save"></i>
      </span>

    </div>

    <input @change="fileLoaded" ref="fileForm" type="file" name="files" class="hidden">
  </div>
</template>

<script>
  var Cropper = require('cropperjs');
  require('cropperjs/dist/cropper.css');

  module.exports = {
    props: {
      config: {
        type: Object,
      },
      value: {
        default: null,
      },
    },

    data: function() {
      return {
        DEFAULT_PHOTO: require('@/assets/img/no-photo.png'),
        UPLOAD_NAME: 'name.jpg',
        DEFAULT_CONFIG: {
          aspectRatio: 16/9,
          checkCrossOrigin: false,
          viewMode: 0,
          dragMode: 'move',
          cropBoxMovable: false,
          cropBoxResizable: false,
          // custom (by gleam) properties:
          resultSize: null,
        },

        state: 'image',

      };
    },

    computed: {
      cropperConfig() {
        return _.defaultsDeep({}, this.config, this.DEFAULT_CONFIG);
      },
    },

    watch: {
      value: {
        immediate: true,
        handler(val) {
          if (!val) {
            this.$emit('input', this.DEFAULT_PHOTO);
          }
        },
      },
    },

    methods: {
      saveCropped() {

        var canvas = this.$CROPPER.getCroppedCanvas(this.cropperConfig.resultSize);
        var blob = canvas.toDataURL('image/png', 1); // last - quality

        var formData = new FormData();
        formData.append(this.UPLOAD_NAME, blob);
        // formData.append('path', me.upload.from);

        // $.ajax(me.upload.to, {
        //   method: "POST",
        //   data: formData,
        //   processData: false,
        //   contentType: false,
        //   success: function(response) {
        //     var newFile = response.filename;
        //     var fullPath = '/uploads/tmp'+me.upload.from;
        //     me._installPhotoView(function() {
        //       me._destroy(function() {
        //         var photo = $img;
        //         photo.attr('src', fullPath+newFile);
        //         photo.attr('data-filename', newFile);
        //       });
        //     });
        //   },
        //   error: function(err) {
        //     mp.alert('unt: Что-то пошло не так');
        //     console.error(err)
        //   }
        // });

        this.$CROPPER.destroy();
        this.state = 'image';
        this.$emit('input', blob);
      },

      cancelCropper() {
        this.$CROPPER.destroy();
        this.state = 'image';
      },

      setFile() {
        $(this.$refs.fileForm).click();
      },

      fileLoaded(e) {
        var vm = this;
        var input = e.target;
        var files = input.files;
        var file;
        var URL = window.URL || window.webkitURL;
        var $img = $(this.$refs.img);
        // $img.attr('src', 'http://loremflickr.com/370/210/parrot?random=2');

        vm.initCropper();

        setTimeout(function() {
          if (files && files.length) {
            file = files[0];
            if (/^image\/\w+$/.test(file.type)) {
              var blobURL = URL.createObjectURL(file);
              $img.one('built.cropper', function() {
                URL.revokeObjectURL(blobURL); // Revoke when load complete
              });
              vm.$CROPPER.reset();
              vm.$CROPPER.replace(blobURL);
              $(input).val('');
            }
            else {
                console.warn('Please choose an image file.', 'warning');
            }
          }
        }, 50);
      },

      initCropper() {
        this.$CROPPER = new Cropper(this.$refs.img, this.cropperConfig);
        this.state = 'cropper';
      },
    },
  };
</script>

<style scoped lang="scss">
  .w-cropper {
    position: relative;
    width: 100%;
    height: 100%;

    img {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
      padding: 0px;
      margin: 0px auto;
    }
    .cropper-container {
      width: 100% !important;
      height: 100% !important;
    }

    .buttons-wrapper {
      position: absolute;
      bottom: 0px;
      width: 100%;
      padding: 0px 10px 10px;
    }



    .cropperIcon:hover {
      color: #fff;
      background-color: #c4c4c4;
    }
    .cropperIcon {
      transition: all 0.3s;
      background-color: transparent;
      border: solid 1px #c4c4c4;
      border-radius: 3px;
      color: #999;
      cursor: pointer;
      font-size: 20px;
      width: 30px;
      height: 30px;
      line-height: 30px;
      vertical-align: middle;
      text-align: center;
      margin-left: 10px;
    }
  }
</style>
