<!--

  https://uxsolutions.github.io/bootstrap-datepicker

 -->
<template lang="html">
  <div :class="[error ? 'verror' : '', 'w-datepicker form-group']">
    <label v-if="label" class="label mt-label">{{label}}</label>
    <input @blur="$emit('blur', $event.target.value)" ref="input" type="text" class="form-control" :disabled="disabled" />
    <span v-show="error" class="error">{{error}}</span>
  </div>
</template>

<script>
  module.exports = {
    props: {
      error: {
        type: String,
        default: '',
      },
      value: {
        default: () => moment().toISOString(),
      },
      inline: {
        type: Boolean,
        default: false,
      },
      label: {
        type: String,
        default: '',
      },
      disabled: {
        type: Boolean,
        default: false,
      },
      debug: {
        type: Boolean,
        default: false,
      },
    },
    data() {
      return {
      };
    },
    watch: {
      value(value) {
        this.$nextTick(() => {
          if (this.debug) {
            debugger
          }
          var d = new Date(value || new Date());
          this.$PICKER.datepicker('setUTCDate', isFinite(d) ? d : new Date());
        });
      },
    },
    methods: {
    },
    mounted: function() {
      var vm = this;
      if (vm.debug) {
        debugger
      }
      vm.$PICKER = $(vm.$refs.input).datepicker({
        forceParse: false,
        autoclose: true,
        language: 'ru',
      });
      if (vm.debug) {
        debugger
      }

      vm.$PICKER.datepicker('setDate', new Date(vm.value || new Date()));
      if (vm.debug) {
        debugger
      }

      vm.$PICKER.on('changeDate', function() {
        var value = vm.$PICKER.datepicker('getUTCDate');
        var iso = moment(value).toISOString();
        if (vm.debug) {
          debugger
        }
        if (vm.value === iso) {
          return;
        }
        vm.$emit('input', iso);
      });
    },
  };
</script>

<style lang="scss">
  .datepicker {
    background: #7f7f7f;

    table.table-condensed {
      border-collapse: separate;
      border-spacing: 1px;
      color: #fff;
    }
    table tr td.old, table tr td.new {
      color: #aaa;
    }
    .datepicker-switch,
    .prev,
    .next,
    tfoot tr th {
      cursor: pointer;
      &:hover {
        background: transparent;
      }
    }
    table tr td.day {
      border: solid 1px transparent;
      border-radius: 0;
      padding: 0;
    }
    table tr td.day.active {
      background: #fff;
      color: #7f7f7f;
    }
    table tr td.day:hover,
    table tr td.day.focused {
      background: transparent;
      border-color: #fff;
    }
    table tr td.day.active:hover,
    table tr td.day.active.focused {
      background: #fff;
      border-color: #fff;
    }
    .datepicker-switch,
    .prev,
    .next,
    tfoot tr th {
      font-size: 27px;
      font-weight: lighter;
    }
    .prev i:before,
    .next i:before {
      color: #fff;
    }
  }
  .datepicker-dropdown.datepicker-orient-top:after {
    bottom: -6px;
    border-bottom: 0;
    border-top: 6px solid #7f7f7f;
  }
  .datepicker-dropdown:after {
    border-bottom: 6px solid #7f7f7f;
  }
</style>
