<template>
  <div :class="[error ? 'verror' : '', 'w-input form-group']">
    <label v-if="label" class="label mt-label">{{label}}</label>
    <input
      class="form-control"
      type="text"
      @input="$emit('input', $event.target.value)"
      @blur="$emit('blur', $event.target.value)"
      :placeholder="placeholder"
      :disabled="disabled"
      :value="value"
      />
      <span v-show="error" class="error">{{error}}</span>
  </div>
</template>

<script>
  export default {
    props: {
      error: {
        type: String,
        default: '',
      },
      disabled: {
        type: Boolean,
        default: false,
      },
      placeholder: {
        type: String,
        default: '',
      },
      value: {
        type: [Number, String],
        default: '',
      },
      label: {
        type: String,
        default: '',
      },
    },
  };
</script>

<style lang="stylus" scoped>
  .mt-label {
    color: #ababab;
  }
</style>
