<!--
 -->
<template>
  <div class="re-menubutton">
    <div class="btn-group">
      <a
        data-toggle="dropdown"
        class="btn btn-primary dropdown-toggle"
        aria-expanded="false"
        >
        {{activeItem && activeItem.name || title}}
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" role="menu">
        <li v-for="item in items">
          <a @click="$emit('input', item.value)">{{item.name}}</a>
        </li>
      </ul>
    </div>
  </div>
</template>



<script>
  var _ = require('lodash');

  module.exports = {
    props: {
      value: {
        default: null,
      },
      title: {
        type: String,
        default: 'Select smth',
      },
      items: {
        type: Array,
        default: () => ([]),
        // {
        //     name: 'Action',
        //     emits: 'doThis',
        // },
      },
    },
    data: function() {
      return {};
    },
    computed: {
      activeItem: function() {
        return _.find(this.items, {value: this.active});
      },
    },
    watch: {
    },
    methods: {
    },
  };
</script>

<style scoped lang="scss"></style>
