<!--

  модалька.
  в основе лежит:
  http://bootboxjs.com/

 -->

<template>
  <div class="hidden"></div>
</template>

<script>
  import Vue from 'vue';
  import _ from 'lodash';

  export default {

    props: {
      config: { type: Object },
    },

    beforeMount: function() {
      var vm = this;

      var el = document.createElement('div');
      vm._dialog = bootbox.dialog(Object.assign({}, vm.config, {
        message: el,
        closeButton: false,
        backdrop: true,
        callback() {
          // debugger
        },
        onEscape() {
          vm.$emit('close');
          return false;
        },
      }));

      vm._dialog.init(function() {
        vm._tempVm = new Vue({
          el: el,
          parent: vm,
          render: function(h) {
            return h('div', [
              vm.$slots.default,
            ]);
          },
        });

        // лечим возможный баг вью
        vm._updateHandler = function() {
          vm._tempVm.$nextTick(vm._tempVm.$forceUpdate);
        };

        vm.$on('hook:updated', vm._updateHandler);
      });

    },

    beforeDestroy() {
      var vm = this;
      // vm.$off(vm._watcher);
      vm.$off('hook:updated', vm._updateHandler);

      this._dialog.modal('hide');
      this._tempVm.$destroy();
      this._dialog = undefined;
    },
  };
</script>

