<template>
  <nav aria-label="Постраничная навигация">
    <ul class="pagination">
      <li :class="{ disabled: disabled || !prevEnabled }" key="prev">
        <a href="#" aria-label="Предыдущая" @click.prevent="prev">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li v-for="item in items" :key="item" :class="{ active: item === value, disabled: disabled }">
        <a href="#" @click.prevent="page(item)">{{ item }}</a>
      </li>
      <li :class="{ disabled: disabled || !nextEnabled }" key="next">
        <a aria-label="Следующая" href="#" @click.prevent="next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</template>

<script>
  export default {
    props: {
      disabled: { type: Boolean, default: false },
      min: { type: Number, default: 1 },
      max: { type: Number, default: 1 },
      value: { type: Number, default: 1 },
    },
    computed: {
      prevEnabled() {
        return this.value > this.min;
      },
      nextEnabled() {
        return this.value < this.max;
      },
      items() {
        var start = Math.max(this.value - 4, this.min);
        var end = Math.min(start + 8, this.max);
        start = Math.max(end - 8, this.min);

        var items = [];
        for (let i = start; i <= end; i++) {
          items.push(i);
        }
        return items;
      },
    },
    methods: {
      prev() {
        if (!this.disabled && this.prevEnabled) {
          this.$emit('input', this.value - 1);
        }
      },
      next() {
        if (!this.disabled && this.nextEnabled) {
          this.$emit('input', this.value + 1);
        }
      },
      page(item) {
        if (!this.disabled) {
          this.$emit('input', item);
        }
      }
    },
  };
</script>
