<template>
  <div>
    <label v-if="label" class="label">{{label}}</label>
    <select ref="select" :disabled="disabled"></select>
  </div>
</template>

<script>
  import _ from 'lodash';

  export default {

    props: {
      value: {
        default: null,
      },
      options: {
        type: Array,
        default() {
          return [];
        },
      },
      disabled: {
        type: Boolean,
        default: false,
      },
      placeholder: {
        type: String,
        default: '---',
      },
      // конфигурационный объект, который будет передан в select2
      config: {
        default: undefined,
      },
      label: {
        type: String,
        default: '',
      },
    },

    data() {
      return {
        CONFIG: {
          allowClear: true,
        },
      };
    },

    computed: {
      computedConfig() {
        var vm = this;
        return _.extend(
          {},
          vm.CONFIG,
          {
            data: vm.options,
            placeholder: vm.placeholder,
          },
          vm.config
        );
      },
    },

    watch: {
      value(value) {
        this.$SELECT.val(value).trigger('change');
      },
      options: 'reinit',
      placeholder: 'reinit',
      computedConfig: 'reinit',
    },

    methods: {
      reinit() {
        var vm = this;
        if (vm.$SELECT) {
          vm.$SELECT.off().select2('destroy');
          $(vm.$refs.select).find('option').remove();
        }

        vm.$SELECT = $(vm.$refs.select)
          .select2(vm.computedConfig)
          .on('change', ev => {
            // vm.value = ev.target.value;
            vm.$emit('input', ev.target.value);
          });

        // предполагаю, что для того, чтобы успел нарисоваться.
        // Но не уверен.
        setTimeout(() => {
          this.$SELECT.val(vm.value).trigger('change');
        });
      },
    },

    mounted: function() {
      this.reinit();
    },

    beforeDestroy: function () {
      this.$SELECT.off().select2('destroy');
    },

  };
</script>

<style lang="scss">
  select {
    width: 100%;
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow {
    background: url('~@/assets/svg/list_aaa.svg') no-repeat 0 center;
    background-size: 80%;
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow b {
    display: none;
  }
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #aaa;
    text-transform: lowercase;
    line-height: 24px;
    padding: 0 20px 0 10px;
  }
  .select2-container--default .select2-selection--single {
    border: 1px solid #aaa;
    border-radius: 0;
  }
  .select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #aaa;
  }
</style>
