<template lang="html">
  <div class="w-stars">
    <span
      v-for="i in count"
      @click="setValue(i)"
      >
      <i v-if="i <= (value)" class="filled mi mi-star2"></i>
      <!-- <i v-else class="empty fa fa-star-o "></i> -->
      <i v-else class="empty mi mi-star"></i>
    </span>
    <span v-if="$slots.default" class="info">
      <slot></slot>
    </span>
  </div>
</template>

<script>
  module.exports = {
    props: {
      count: {
        type: Number,
        default: 5,
      },
      value: {
        type: Number,
        default: 0,
      },
    },
    data() {
      return {
      };
    },
    watch: {
    },
    methods: {
      setValue(value) {
        if (value === this.value) {
          this.$emit('input', 0);
          return;
        }
        this.$emit('input', value);
      },
    },
    mounted: function() {
    },
  };
</script>

<style lang="scss">
  .w-stars {
    display: flex;
    align-items: center;

    i {
      font-size: 29px;
    }
    i:before {
      color: #999;
    }
    .info {
      color: #999;
      font-size: 18px;
      line-height: 22px;
      margin-left: 17px;
    }
  }
</style>