<template>
  <div
    :disabled="disabled"
    class="summernote w-summernote"
    v-html="value"
    >
  </div>
</template>



<script>
  module.exports = {

    props: {
        value: {},
        disabled: {
            default: false
        },
        config: {
            type: Object,
            default: () => ({})
        }
    },

    data: function() {
        return {
            SILENT_SET: false
        };
    },

    computed: {
    },

    watch: {
        // disabled: () => {}, // описано в ready()
        value(val) {
            if (this.SILENT_SET) {
                return;
            }
            this.$SUMMERNOTE.summernote('code', val);
        }
    },

    methods: {
        insert(html) {
            // this.$SUMMERNOTE.summernote('insertText', html);
            this.$SUMMERNOTE.summernote('pasteHTML', html);
            // this.$SUMMERNOTE.summernote('insertNode', html);
        },
        focus() {
            this.$SUMMERNOTE.summernote('focus');
        }
    },

    mounted: function() {
        var vm = this;

        // // due to known focus-loss bug:
        // // https://github.com/summernote/summernote/issues/1520
        // var oldEditor = $.summernote.options.modules.editor;
        // $.summernote.options.modules.editor = function() {
        //     oldEditor.apply(this, arguments);
        //     var oldCreateRange = this.createRange;
        //     var oldFocus = this.focus;

        //     this.createRange = function () {
        //         this.focus = function() {};
        //         var result = oldCreateRange.apply(this, arguments);
        //         this.focus = oldFocus;
        //         return result;
        //     };
        // };
        // // ---

        vm.$SUMMERNOTE = $(this.$el).summernote(_.defaultsDeep({}, vm.config, {
            lang: 'ru-RU',
            callbacks: {
                lang: 'ru-RU',
                onChange: function(contents, $editable) {
                    vm.SILENT_SET = true;
                    vm.$emit('input', contents);
                    vm.$nextTick(() => {
                        vm.SILENT_SET = false;
                    });
                },
                onBlur() {
                    vm.$emit('blur');
                },
                onFocus() {
                    vm.$emit('focus');
                }
            }
        }));

        // // due to known bug:
        // // https://github.com/summernote/summernote/issues/1759
        // vm.$SUMMERNOTE.summernote('removeModule', 'autoLink');

        // // due to known focus-loss bug:
        // // https://github.com/summernote/summernote/issues/1520
        // vm.$SUMMERNOTE.on('summernote.blur', function (we, e) {
        //     vm.$SUMMERNOTE.summernote('saveRange');
        // });
        // vm.$SUMMERNOTE.on('summernote.focus', function (we, e) {
        //     vm.$SUMMERNOTE.summernote('restoreRange');
        // });

        vm.$watch('disabled', val => {
            if (val) {
                return this.$SUMMERNOTE.summernote('disable');
            }
            return this.$SUMMERNOTE.summernote('enable');
        }, {
            immediate: true
        });
    }
  };
</script>



<style lang="stylus" scoped>
</style>
