<docs lang="markdown">

  допиленный инпут:
  file:///C:/Users/demeshenko/Desktop/limitless/Layout%201/LTR/form_inputs_basic.html

</docs>

<template lang="jade">

  div.w-tabs
    ul.nav.nav-tabs.nav-tabs-bottom
      li(
        v-for="tab, idx in tabs",
        :class="{active: (idx === activeIdx)}",
        )
        a(href @click.prevent="activeIdx = idx")
          div
            div.hidden-md.hidden-sm
              i(:class="tab.iconClass")
            div.cont-title-tab.hidden-xs 
              | {{ tab.title }}
              div.subtitle {{ tab.subtitle }}
      li.pull-right.slot-actions(v-show="activeIdx > -1")
        slot(name="actions")
    .tab-content
      slot

</template>
<script>

  module.exports = {

    props: {
      activeTab: {
        default: -1,
      },
    },

    data: function() {
      return {
        tabs: [],
        activeIdx: -1,
      };
    },

    computed: {
    },

    watch: {
      activeTab(val) {
        this.activeIdx = val;
      },
      activeIdx(val) {
        this.$emit('tab-activated', val);
      },
    },

    methods: {
    },

    mounted: function() {
      this.activeIdx = 0;
    },
  };
</script>

<style lang="scss">

  // изменяю вид табов под "панельный"
  .w-tabs.as-panel {
    background: #fff;
    border: solid 1px #ddd;
    border-radius: 3px;
    > .tab-content {
      padding: 20px;
    }
    > .nav-tabs {
      margin-bottom: 0px;
      > li > a {
        padding: 0px;
        padding: 15px 20px;
        font-size: 15px;
      }
    }
    > ul > li.slot-actions {
      margin: 19px;
    }
  }

  .w-tabs {
    .slot-actions {
      margin: 11px;
    }
    .subtitle {
      font-size: 12px;
      text-transform: none;
      max-width: 140px;
    }
  }

</style>

<style scoped lang="scss">
</style>
