<!--

  НЕ МОЖЕТ СУЩЕСТВОВАТЬ В ОТРЫВЕ ОТ W-TABS

 -->
<template lang="jade">

  div(
    v-show="isActive"
    )
    slot

</template>
<script>

  module.exports = {
    data: function() {
      return {
      };
    },

    props: {
      // должны быть уникальными.
      title: {
        type: String,
        default: 'NoName',
      },
      subtitle: {
        type: String,
      },
      iconClass: {
        type: String,
      },
    },

    computed: {
      isActive() {
        return this.$parent.activeIdx === this.index;
      },

      // индекс этой вкладки в скоупе родителя
      index() {
        return this.$parent.tabs.indexOf(this);
      },
    },

    watch: {
      isActive(val) {
        if (val) {
          return this.$emit('show');
        }
        return this.$emit('hide');
      },
    },

    methods: {
    },

    created: function() {
      this.$parent.tabs.push(this);
    },

    beforeDestroy: function() {
      this.$parent.tabs.splice(this.index, 1);
    },
  };
</script>

<style scoped lang="scss"></style>
