<template>
  <select multiple="multiple" ref="select" :disabled="disabled"></select>
</template>

<script>
  import _ from 'lodash';

  export default {

    props: {
      value: {
        default: null,
      },
      options: {
        type: Array,
        default() {
          return [];
        },
      },
      disabled: {
        type: Boolean,
        default: false,
      },
      placeholder: {
        type: String,
        default: '---',
      },
      // конфигурационный объект, который будет передан в select2
      config: {
        default: undefined,
      },
    },

    watch: {
      value(value) {
        this.$SELECT.val(value).trigger('change');
      },
      options(options) {
        this.$SELECT.select2({ data: options });
      },
      placeholder(value) {
        this.$SELECT.select2({ placeholder: value });
      },
      config(value) {
        this.$SELECT.select2(value);
      },
    },

    mounted: function() {
      var vm = this;

      var config = _.extend({
        data: vm.options,
        placeholder: vm.placeholder,
        tags: true,
      }, vm.config);
      vm.$SELECT = $(vm.$refs.select)
        .select2(config)
        .val(vm.currentValue)
        .trigger('change')
        .on('change', ev => {
          vm.currentValue = ev.target.value;
          vm.$emit('input', ev.target.value);
        });
    },

    beforeDestroy: function () {
      this.$SELECT.off().select2('destroy');
    },

  };
</script>

<style lang="scss">
  select {
    width: 100%;
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow {
    background: url('~@/assets/svg/list_aaa.svg') no-repeat 0 center;
    background-size: 80%;
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow b {
    display: none;
  }
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #aaa;
    text-transform: lowercase;
    line-height: 24px;
    padding: 0 20px 0 10px;
  }
  .select2-container--default .select2-selection--single {
    border: 1px solid #aaa;
    border-radius: 0;
  }
  .select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #aaa;
  }
</style>
