<template>
  <div class="w-textarea form-group">
    <label v-if="label" class="label">{{label}}</label>
    <textarea
      class="form-control"
      type="text"
      @input="$emit('input', $event.target.value)"
      @blur="$emit('blur', $event.target.value)"
      :placeholder="placeholder"
      :disabled="disabled"
      :value="value"
      >
    </textarea>
  </div>
</template>

<script>
  export default {
    props: {
      disabled: {
        type: Boolean,
        default: false,
      },
      placeholder: {
        type: String,
        default: '',
      },
      value: {
        type: String,
        default: '',
      },
      label: {
        type: String,
        default: '',
      },
    },
  };
</script>

<style lang="stylus" scoped>
</style>
