<template>
  <div>
    <textarea
      v-if="isMounted"
      ref="textarea">
    </textarea>
    <!-- {{value}} -->
  </div>
</template>



<script>
  export default {

    props: {
      value: {},
      disabled: {
        default: false
      },
      config: {
        type: Object,
        default: () => ({})
      },
      markdown: {
        type: Boolean,
        default: false,
      },
    },

    data: function() {
      return {
        DEFAULT_CONFIG: {
          menubar: false,
          plugins: [
            'advlist autolink lists link image charmap print preview anchor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table paste code',
          ],
          toolbar: 'styleselect | bold italic | link image',
          style_formats: [
            {title: 'Заголовок', block: 'h2'},
            {title: 'Подзаголовок', block: 'h3'},
            {title: 'Параграф', block: 'p'},
            {title: 'Цитата', block: 'blockquote'},
          ],
          height: 500,
          paste_data_images: true,
          language_url: '/tinymce.locale.ru.js',
          language: 'ru',
        },
      };
    },

    computed: {
    },

    watch: {
      value(val) {
        var vm = this;
        if (!vm.$EDITOR) {
          console.warn('попытка установить данные в неготовый эдитор');
          return;
        }
        var content = vm.$EDITOR.getContent();
        if (vm.markdown) {
          var contentAsMd = vm.$html(content);
          if (contentAsMd === val) {
            return;
          }
          this.$EDITOR.setContent(vm.$md(val));
        }
        else {
          if (content === val) {
            return;
          }
          this.$EDITOR.setContent(val);
        }
      },
    },

    methods: {
    },

    async mounted() {
      var vm = this;
      await vm.$nextTick();

      tinymce.init(_.extend({}, vm.DEFAULT_CONFIG, {
        target: vm.$refs.textarea,
        setup: function(editor) {
          vm.$EDITOR = editor;
          vm.$EDITOR.on('init', function() {
            if (vm.markdown) {
              vm.$EDITOR.setContent(vm.$md(vm.value));
            }
            else {
              vm.$EDITOR.setContent(vm.value);
            }
          });
          vm.$EDITOR.on('keyup', _.debounce(function() {
            var content = vm.$EDITOR.getContent();
            if (vm.markdown) {
              vm.$emit('input', vm.$html(content));
            }
            else {
              vm.$emit('input', content);
            }
          }), 100);

          vm.$EDITOR.on('blur', function() {
            var content = vm.$EDITOR.getContent();
            vm.$emit('wblur', content);
          });
        },
      }));

    }
  };
</script>



<style lang="stylus" scoped>
</style>
