<!--

  https://yandex.ru/blog/mapsapi?from=geocoder
  { src: 'https://api-maps.yandex.ru/2.1/?lang=ru_RU' },

 -->
<template lang="html">
  <div class="w-ymaps"></div>
</template>

<script>
  export default {
    props: {
      value: {
        type: [Array],
        required: true,
      },
    },
    data() {
      return {
        DEFAULT_COORDS: [55.76, 37.64],
        center: null,
      };
    },
    watch: {
      center(val) {
        if (!this.$MAP) {
          return;
        }
        if (!val | val.length != 2) {
          console.warn('Unexpected center value ' + JSON.stringify(val) + ' (expected array of two numbers), ignoring');
          return;
        }
        this.$MAP.setCenter(val);
      },
      value(val) {
        if (!this.$PLACEMARK) {
          return;
        }
        this.$PLACEMARK.geometry.setCoordinates(val);
      },
    },
    methods: {
    },
    created() {
      this.center = _.slice(this.value);
      if (!this.center || this.center.length != 2) {
        console.warn('Unexpected center value ' + JSON.stringify(this.center) + ' (expected array of two numbers), resetting to default');
        this.center = this.DEFAULT_COORDS;
      }
    },
    async mounted() {
      var vm = this;
      // await vm.$nextTick();

      ymaps.ready(() => {
        vm.$MAP = new ymaps.Map(vm.$el, {
          center: (vm.value && vm.value.length == 2) ? vm.value : vm.DEFAULT_COORDS,
          zoom: 7,
          // controls: ['zoomControl', 'searchControl', 'typeSelector',  'fullscreenControl']
          controls: ['zoomControl', 'fullscreenControl'],
        });

        // Создаем метку.
        // https://tech.yandex.ru/maps/doc/jsapi/2.1/ref/reference/Placemark-docpage/
        vm.$PLACEMARK = new ymaps.Placemark(vm.value, {
            iconContent: '',
        }, {
            // https://tech.yandex.ru/maps/doc/jsapi/2.1/ref/reference/option.presetStorage-docpage/
            preset: 'islands#blueGovernmentIcon',
            draggable: true,
        });
        vm.$PLACEMARK.events.add('dragend', function (e) {
          var placemark = e.get('target');
          vm.$emit('input', placemark.geometry.getCoordinates());
        });
        vm.$MAP.geoObjects.add(vm.$PLACEMARK);

        // ну и контрол для нее
        // https://tech.yandex.ru/maps/doc/jsapi/2.0/ref/reference/control.Button-docpage/
        var myButton = new ymaps.control.Button({
          data: {
            content: '<i class="fa fa-map-marker"></i>',
            title: 'Переместить метку на центр видимой области',
          }
        });
        myButton.events.add('click', function() {
          var mapCenter = vm.$MAP.getCenter();
          vm.$PLACEMARK.geometry.setCoordinates(mapCenter);
          vm.$emit('input', mapCenter);
        });
        vm.$MAP.controls.add(myButton, {
          selectOnClick: false,
          position: {
            right: 10,
            bottom: 10,
          },
        });
      });
    },
  };
</script>

<style lang="scss">
  .w-ymaps {
    min-width: 100px;
    min-height: 100px;
    width: 100%;
    height: 100%;

    .ymaps-2-1-50-copyright {
      display: none;
    }
    .ymaps-2-1-50-float-button-text {
      padding: 3px 8px !important;
      i.fa {
        font-size: 20px;
        color: #1e98ff;
      }
    }

    .ymaps-2-1-50-ground-pane {
      filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
      -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    }
  }
</style>
