<template>
  <div class="mt-add-blog-post">

    <h1>Редактирование поста</h1>

    <mt-edit-post
      ref="postEditor"
      :value="postForm"
      :disabled="sending"
      with-text
      with-gallery
      with-models
      with-meta
      >
    </mt-edit-post>

    <div class="form-group">
      <button class="btn btn-default" @click.prevent="publish" :disabled="sending">Опубликовать</button>
    </div>

  </div>
</template>

<script>
  import cuid from 'cuid';
  import api from '@/api';
  import { delay, uploadImage } from '@/utils';

  export default {

    head() {
      return {
        title: 'Редактирование записи',
      };
    },

    fetch({ route, store }) {
      store.commit('replaceBreadcrumbs', [
        { title: 'Главная', to: '/' },
        { title: 'Статья', to: `/post-${route.params.id}` },
        { title: 'Редактирование (вы здесь)' },
      ]);
    },

    async asyncData(context) {
      try {
        let articleId = context.route.params.id;
        let { data: { data: articleData } } = await api.get(`/articles/${articleId}/get`);
        let { data: { data: photosData } } = await api.get(`/photos/articles/${articleId}/getAll`);
        let article = articleData.article;
        if (!article) {
          return context.error({
            status: 404,
            message: 'Статья не найдена',
          });
        }

        return {

          // чтобы удалить старые при сохранении
          // @TODO: лучше бы перенести это на бэк
          originalPhotosIds: _.map(photosData, 'id'),

          // редактор поста не в курсе о категории, так что сохраняю его на этом уровне.
          category: _.get(article, 'categories.0', null),

          postForm: {
            article: article,
            articleVehicles: articleData.articleVehicles,
            photos: photosData,
          },

        };
      }
      catch (err) {
        console.error(err);
        context.error({
          status: 500,
          message: err.message,
        });
      }
    },

    data() {
      return {
        sending: false,
      };
    },

    methods: {

      async publish() {
        this.sending = true;
        try {
          var payload = await this.$refs.postEditor.collectPayload();

          _.extend(payload, {
            categories: [this.category || 'Review'], // @TODO: неправильная категория!
            fullTextMarkdown: payload.fullText, // костыли для бэка
            photos: payload.photosIds, // костыли для бэка
          });

          await api.post(`/articles/${this.$route.params.id}/update`, payload);
          // await api.post(`/photos/articles/${this.$route.params.id}/delete`, photoIdsToDelete);

          this.$router.push(`/post-${this.$route.params.id}`);
        }
        catch (err) {
          console.error(err);
          alert(err.message);
        }
        this.sending = false;
      },

    },

  };
</script>
