<!--
  https://www.dropbox.com/s/0qaimq7y5x5kbvr/статья.jpg?dl=0
 -->

<template>
  <main class="post-page">

    <h1 class="main-heading">
      {{articleTitle}}
      <nuxt-link
        class="pull-right"
        :to="`/post-${$route.params.id}/edit`"
        >
        <i class="mi mi-edit2"></i>
      </nuxt-link>
    </h1>
    <hr />
    <p class="comment">
      <span>{{articleDate}}, </span>
      <nuxt-link v-if="author" :to="`/user/${author.id}`">{{author.nickName}}</nuxt-link>
    </p>

    <div class="article" v-html="$md(article.fullTextMarkdown)"></div>

    <h2 class="title">Технические характеристики</h2>
    <mt-models-comparassion :vehicles="vehicles" />

    <div class="row" v-if="galleryItems.length">
      <div class="col-md-12">
        <h3>Фотогалерея "{{articleTitle}}"</h3>
        <mt-page-gallery :items="galleryItems" @like="likeGalleryItem($event)"/>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="h3">Материалы по теме</div>
        <div class="cont-feed cont-for-3">
          <div class="mt-wrap">
            <mt-feed-card-article
              v-for="material in materials" :key="material.id"
              :item="material"
              >
            </mt-feed-card-article>
          </div>
        </div>
      </div>
    </div>

    <div class="inform-block">
      <mt-like :value="liked" @input="toggleLike" />

      <!-- @TODO: поправить когда на беке будет реализована публикация и состояние опубликованности, #442 -->
      <div class="admin-btns hidden-sm hidden-xs">
        <div class="btn btn-primary red">Опубликовать</div>
        <div class="btn btn-primary green" @click="remove">Удалить</div>
      </div>

      <div class="right-block">
        <div>
          <i class="mi mi-mail"></i>
          Подписаться
        </div>
        <mt-share />
      </div>
    </div>

    <!-- @TODO: поправить когда на беке будет реализована публикация и состояние опубликованности, #442 -->
    <div class="admin-btns hidden-lg hidden-md">
      <div class="btn btn-primary red">Опубликовать</div>
      <div class="btn btn-primary green" @click="remove">Удалить</div>
    </div>

    <!-- @TODO: поправить когда на беке будет реализовано, #442 -->
    <mt-prev-next
      :prev="`/post-${this.$route.params.id}`"
      :next="`/post-${this.$route.params.id}`"
      />

    <!-- @TODO: комментарии, #502 -->
    <mt-comments></mt-comments>

  </main>
</template>

<script>
  import { delay } from '@/utils';
  import { default as api, getStatic } from '@/api';

  export default {

    fetch({ route, store }) {
      store.commit('replaceBreadcrumbs', [
        { title: 'Главная', to: '/' },
        { title: 'Статья (вы здесь)' },
      ]);
    },

    async asyncData(context) {
      let articleId = context.route.params.id;
      let { data: { data: articleData } } = await api.get(`/articles/${articleId}/get`);
      let photosData = articleData.photos;
      // @TODO: inline into article
      let { data: { data: commentsData } } = await api.get(`/comments/articles/${articleId}/getAll`);
      // @TODO: inline into article
      let { data: { data: authorData } } = await api.get(`/accounts/${articleData.article.authorId}/get`);

      let materials = articleData.sameArticles;
      materials = materials.slice(0, 3);
      materials = _.map(materials, item => {
        return _.extend({}, item, item.article);
      });

      let { data: { data: likedIds } } = await api.post('/photos/checkLiked', _.map(photosData, 'id'));
      var galleryItems = _(photosData)
        .map(photo => {
          return {
            id: photo.id,
            href: photo.urls.original,
            liked: _.includes(likedIds, photo.id),
          };
        })
        .sortBy('id')
        .value();
      return {
        commentsData,

        article: articleData.article,
        author: authorData,
        liked: articleData.liked,

        galleryItems,
        materials,

        vehicles: articleData.articleVehicles,
      };
    },

    head() {
      return {
        title: this.articleTitle,
      };
    },

    computed: {

      articleTitle() {
        return _.get(this, 'article.title', '<Без названия>');
      },

      articleDate() {
        if (!this.article.createdAt) {
          return '';
        }
        return moment(this.article.createdAt).format('DD.MM.YYYY [[]hh:mm[]]');
      },

    },

    methods: {

      // @TODO: Метод "подписаться" - [отложено, #442]

      async toggleLike() {
        try {
          if (this.liked) {
            await api.post(`/articles/${this.$route.params.id}/unlike`);
          }
          else {
            await api.post(`/articles/${this.$route.params.id}/like`);
          }
          this.liked = !this.liked;
        }
        catch (err) {
          console.error(err);
          alert(err.message);
        }
      },

      async remove() {
        try {
          await api.post(`/articles/${this.$route.params.id}/delete`);
          this.$router.go(-1);
        }
        catch (err) {
          console.error(err);
          alert(err.message);
        }
      },

      async likeGalleryItem(item) {
        try {
          if (item.liked) {
            await api.post(`/photos/${item.id}/unlike`);
          }
          else {
            await api.post(`/photos/${item.id}/like`);
          }
          item.liked = !item.liked;
        }
        catch (err) {
          console.error(err);
          alert(err.message);
        }
      },

    },

  };
</script>

<style lang="scss" scoped>
  .post-page {

    h3,
    .h2 {
      color: #666;
      font-size: 24px;
      line-height: 24px;
    }

    .img-holders {
      display: flex;
      justify-content: space-between;
      margin: 0 0 15px 0;

      .img-holder {
        margin-left: 15px;
      }
      .img-holder:first-child {
        margin: 0;
      }
    }

    .total-people {
      margin-bottom: 10px;
      .w-checkbox {
        color: #999;
        font-size: 18px;
        line-height: 18px;
        font-weight: normal;

        .checkbox {
          display: none;
        }
        .checkbox-custom {
          width: 28px;
          height: 28px;
          border: 1px solid #999;
          background: transparent;
          margin: 0 20px 0 7px;
        }
        .checkbox:checked + .checkbox-custom::before {
          content: "";
          display: block;
          position: absolute;
          top: 2px;
          right: 2px;
          bottom: 2px;
          left: 2px;
          background: #999;
        }
      }
    }

    .article {
      img {
        width: 100%;
      }
    }

    > p {
      width: 100%;
    }
    blockquote {
      width: 100%;
      background: #e5e5e5;
      border: 0;
      color: #414141;
      font-size: 24px;
      line-height: 28px;
      margin: 30px 0;
      padding: 20px 50px;
    }

    .inform-block {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #999;
      padding: 35px 0 15px 0;
      // overflow: hidden;

      .right-block {
        display: flex;
        align-items: center;

        > div {
          display: flex;
          justify-content: space-between;
          align-items: center;
          position: relative;
          cursor: pointer;

          > i {
            margin: 0 5px 0 25px;
          }

          .network-up {
            background: #fff;
            border: solid 1px #eee;
            display: flex;
            align-items: center;
            padding: 5px;
            position: absolute;
            bottom: 100%;
            right: 0;

            a {
              height: 30px;
              margin: 0 0 0 5px;
            }
            a:first-child,
            i {
              margin: 0;
            }
            .fa-facebook-official {
              color: #1d5a99;
            }
            .fa-odnoklassniki-square {
              color: #fd850a;

            }
            .fa-google-plus-square {
              color: #fb4b3c;

            }
            .fa-vk {
              background: #256499;
              border-radius: 4.5px;
              color: #fff;
              font-size: 18px;
              margin: 2px 0;
              padding: 4px;
            }
          }
        }
      }
    }

    .cont-feed {
      .mt-wrap {
        .mt-card {
          margin-top: 20px;
          margin-bottom: 0;
        }
        .mt-card:nth-child(1),
        .mt-card:nth-child(2),
        .mt-card:nth-child(3) {
          margin-top: 0;
        }
      }
    }
    // .w-ymaps {
    //   width: 300px;
    //   height: 300px;
    // }

    // .w-checkbox {
    //   .label {
    //     color: #000;
    //   }
    // }
  }
</style>
