<template>
  <span class="mt-auth">
    <template v-if="isMounted"> <!-- какие-то проблемы с авторизацией + ssr -->
      <template v-if="authenticated">
        <nuxt-link to="/user/inbox" class="mt-mail"><i class="mi mi-new-mail"></i></nuxt-link>
        |
        <nuxt-link to="/user" class="not-line">личный кабинет</nuxt-link>
        |
        <a href="#" class="not-line" @click.prevent="doSignOut">выйти</a>
      </template>
      <template v-else>
        <a href="#" class="not-line" @click.prevent="showSignIn">Вход</a>
        |
        <a href="#" class="not-line" @click.prevent="showSignUp">Регистрация</a>
        <!-- <nuxt-link to="/auth/sign-in">войти</nuxt-link> -->
        <!-- <nuxt-link to="/auth/sign-up">регистрация</nuxt-link> -->
      </template>

      <w-modal v-if="signInModal" @close="signInModal = null" :config="{ className: 'mt-forms' }">
        <mt-login
          can-close
          @close="signInModal = null"
          @want-sign-up="signInModal = null; showSignUp()"
          @want-remember-password="signInModal = null; rememberPasswordModal = {}"
          @done="doSignIn()"
          >
        </mt-login>
      </w-modal>

      <w-modal v-if="signUpModal" @close="signUpModal = null" :config="{ className: 'mt-forms' }">
        <mt-register
          can-close
          @close="signUpModal = null"
          @done="doSignUp()"
          >
        </mt-register>
      </w-modal>

      <w-modal v-if="rememberPasswordModal" @close="rememberPasswordModal = null" :config="{ className: 'mt-forms' }">
        <mt-restore-password
          can-close
          @close="rememberPasswordModal = null"
          @done="rememberPasswordModal = null"
          >
        </mt-restore-password>
      </w-modal>

    </template>
  </span>
</template>

<script>
  export default {

    data() {
      return {
        signInModal: null,
        signUpModal: null,
        rememberPasswordModal: null,

        menuIsCollapsed: true,
      };
    },

    computed: {
      busy() {
        return this.$store.state.auth.inProgress;
      },
      authenticated() {
        return this.$store.state.auth.account !== null;
      },
    },

    methods: {
      doSignIn() {
        this.signInModal = null;
      },
      doSignUp() {
        this.signUpModal = null;
      },
      doSignOut() {
        this.$store.dispatch('auth/logout');
      },

      showSignIn() {
        this.signInModal = {};
      },
      showSignUp() {
        this.signUpModal = {};
      },
    },

  };
</script>

<style lang="scss" scoped>
  .bootbox.modal {
    .mt-auth-form {
      margin: -15px;
    }
  }
</style>
