<template>
  <div class="banner-top hidden-sm hidden-xs">
  </div>
</template>

<script>
  export default {
  };
</script>

<style lang="stylus" scoped>
  @import '~assets/styles/styles'

  .banner-top
    display none
    height 170px
    background url('~assets/img/banner-top__bg.jpg') no-repeat center
    /*background-size contain*/
    background-size cover
    /*margin-bottom  gutter(2, div)*/
    margin-bottom: 13px;

    +up($lg)
      display block

    +up($xxl)
      background-size cover
</style>
