<template>
  <!-- @NOTE: v-if на корне не очень хорошо, но в этом случае сойдет, т.к. конфликтов SSR не будет -->
  <div v-if="crumbs" class="breakcrumbs">
    <template v-for="(crumb, idx) in crumbs">

      <span v-if="crumb.to">
        <nuxt-link :to="crumb.to" exact class="breakcrumbs__link">{{ crumb.title }}</nuxt-link>
      </span>

      <span v-else class="point">{{ crumb.title }}</span>

    </template>
  </div>
</template>

<script>
  export default {
    computed: {
      crumbs() {
        return this.$store.state.breadcrumbs;
      },
    },
  };
</script>

<style lang="stylus" scoped>
  @import '~assets/styles/styles'
  .breakcrumbs
    display none

    span
      display flex

    +up($lg)
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      padding: 12px 20px;
      background: #e5e5e5;
      border-bottom: 0;

  .breakcrumbs__link
    position: relative;
    display: inline-block;
    padding: 0 10px 0 0;
    margin-right: 5px;
    text-transform: lowercase;
    font-size: 12px;
    color: #666;

    &::before
      position absolute
      right 5%
      top 50%
      content ''
      display block
      size 5px
      transform translateY(-50%) rotate(45deg)
      border-top 1px solid $gray
      border-right 1px solid $gray
      margin-top 1px

    &:hover
      text-decoration $decoration-hover

  .arrow
    size 12px
    // background red
    position relative

  .arrow::before
    position absolute
    left 25%
    top 55%
    content ''
    display block
    size 7px
    transform translate(-50%, -50%) rotate(45deg)
    border-top 1px solid $gray
    border-right 1px solid $gray

  .point
    text-transform: lowercase;
    font-size: 12px;
    color: #666;
</style>
