<template>
  <footer class="footer">
    <mt-logo class="logo"/>
    <div class="footer__col_right">
      <div v-if="counter" v-html="counter.script"></div>
      <p class="copyright hidden-sm hidden-xs">Все права защищены &copy; 2015&mdash;{{ currentYear }}</p>
    </div>
    <div @click="scrollToTop">
      <span class="fa-stack fa-lg">
        <i class="mi mi-top"></i>
      </span>
    </div>
  </footer>
</template>

<script>
  export default {
    data() {
      return {
        currentYear: moment().format('YYYY'),
      };
    },
    computed: {
      counter() {
        return this.$store.state.analytics.counter;
      },
    },
    methods: {
      scrollToTop() {
        window.scrollTo(0, 0); // x, y
      },
    },
  };
</script>

<style lang="scss" scoped>
  .footer {
    border-top: solid 2px #e6e6e6;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 20px 0 0 0;
    padding: 20px 0 30px 0;

    .logo {
      width: 240px;
      height: 77px;
      background-position: 15px 0;
    }
    .footer__col_right {
      width: 75%;
      display: flex;
      align-items: flex-end;
      color: #999;
      font-size: 14px;
      line-height: 14px;

      > div {
        margin: 0 15px;
      }
      p {
        margin: 0;
      }
    }
    .fa-stack {
      i {
        font-size: 40px;
      }
    }
  }
</style>
