<template>
  <nuxt-link to="/" class="logo">
  </nuxt-link>
</template>

<style lang="stylus" scoped>
  @import '~assets/styles/styles'

  .logo
    col(5)
    display flex
    background svg-load('logo.svg') no-repeat 15px center
    background-size  85px
    padding gutter(4, div) gutter(2, div)
    height 60px

    +up($md)
      col(4)
      height 80px
      background-size  150px

    +up($lg)
      col(3)
      height 110px
      background-size  210px

    +up($xxl)
      col(2)
</style>
