<template>
  <header class="mt-header">
    <div class="mt-top hidden-sm hidden-xs">
      <mt-auth />
    </div>

    <div class="mt-middle">
      <mt-logo></mt-logo>
      <div class="mt-nav">
        <button @click="menuIsCollapsed = !menuIsCollapsed" class="btn-menu hidden-lg hidden-md">
          Меню <i class="mi mi-justify"></i>
        </button>
        <ul class="mt-nav-list mt-nav-top hidden-sm hidden-xs">
          <li class="menu-item"><nuxt-link to="/">главная</nuxt-link></li>
          <li class="menu-item"><nuxt-link to="/vehicles">производители</nuxt-link></li>
          <li class="mt-nav-filler"></li>
          <li class="mt-nav-search">
            <div class="input-group">
              <input type="text" class="form-control mt-no-border">
              <span class="input-group-btn">
                <button class="btn btn-default mt-no-border"><i class="mi mi-search" aria-hidden="true"></i></button>
              </span>
            </div>
          </li>
        </ul>
        <ul :class="{'is-collapsed': menuIsCollapsed}" class="mt-nav-list">
          <li class="menu-item hidden-lg hidden-md"><nuxt-link to="/">главная</nuxt-link></li>
          <li class="menu-item hidden-lg hidden-md"><nuxt-link to="/vehicles">производители</nuxt-link></li>
          <li class="menu-item" v-if="isAdmin"><nuxt-link to="/admin">админка</nuxt-link></li>
          <li class="menu-item"><nuxt-link to="/news">новости</nuxt-link></li>
          <li class="menu-item hidden-lg hidden-md navbar-nav mobile-submenu">
           <div class="dropdown">
              <a @click="subMenuIsCollapsed = !subMenuIsCollapsed" href="#" data-toggle="dropdown" class="dropdown-toggle">
                <span>типы техники</span>
                <i :class="[!subMenuIsCollapsed? 'fa-caret-up' : 'fa-caret-down', 'fa']"></i>
              </a>
              <ul class="dropdown-menu">
                <li v-for="type in $store.state.domains.VehicleType">
                  <nuxt-link :to="`/news?type=${type.id}`">
                    {{type.name}}
                  </nuxt-link>
                </li>
              </ul>
           </div>
          </li>
          <li class="menu-item drop-down hidden-sm hidden-xs">
            типы техники
            <ul class="submenu">
              <li v-for="type in $store.state.domains.VehicleType">
                <nuxt-link :to="`/news?type=${type.id}`">
                  {{type.name}}
                </nuxt-link>
              </li>
            </ul>
          </li>
          <li class="menu-item"><nuxt-link to="/communities">группы</nuxt-link></li>
          <li class="menu-item"><nuxt-link to="/events">календарь</nuxt-link></li>
          <li class="menu-item"><nuxt-link to="/accessories">аксессуары</nuxt-link></li>
          <li class="mt-nav-filler hidden-sm hidden-xs"></li>
          <li class="hidden-sm hidden-xs">
            <noindex>
              <a rel="nofollow" href="/rss" target="_blank"><i class="fa fa-rss"></i></a>
            </noindex>
          </li>
          <li class="hidden-sm hidden-xs">
            <noindex>
              <a rel="nofollow" href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
            </noindex>
          </li>
          <li class="hidden-sm hidden-xs">
            <noindex>
              <a rel="nofollow" href="https://plus.google.com/" target="_blank"><i class="fa fa-google-plus"></i></a>
            </noindex>
          </li>
          <li class="hidden-sm hidden-xs">
            <noindex>
              <a rel="nofollow" href="https://facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
            </noindex>
          </li>

          <template v-if="isMounted"> <!-- какие-то проблемы с авторизацией + ssr -->
            <li v-if="authenticated" class="mt-top menu-item hidden-lg hidden-md mt">
              <nuxt-link to="/inbox" class="mt-mail"><i class="mi mi-new-mail"></i></nuxt-link>
              <nuxt-link to="/user" class="not-line">личный кабинет</nuxt-link>
              <a href @click="$store.dispatch('auth/logout')">Выйти</a>
            </li>
            <li v-else class="mt-top menu-item hidden-lg hidden-md">
              <nuxt-link to="/auth/sign-in">войти</nuxt-link>
              <nuxt-link to="/auth/sign-up">регистрация</nuxt-link>
            </li>
          </template>
        </ul>
      </div>
    </div>
  </header>
</template>

<script>
  export default {

    data() {
      return {
        signInModal: null,
        signUpModal: null,
        subMenuIsCollapsed: true,
        menuIsCollapsed: true,
      };
    },

    computed: {
    },

    watch: {
      $route() {
        this.menuIsCollapsed = true;
      },
      menuIsCollapsed(v) {
        if (v) {
          this.subMenuIsCollapsed = true;
        }
      }
    },

    methods: {
    },

  };
</script>

<style lang="stylus" scoped>
  @import '~assets/styles/styles'

  @media (max-width: 992px) {
    body .wrap .mt-header .mt-middle .mt-nav-list.is-collapsed {
      display: none;
    }
  }

  .mt-header {
    .mt-top {
      text-align: right;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: flex-end;
      justify-content: flex-end;
      align-items: center;

      a:not(.mt-mail) {
        padding-left: 5px;
      }
      a:not(.mt-mail):before {
        content: '|';
        display: inline-block;
        margin-right: 5px;
      }
      a.not-line:before,
      a:nth-child(2):before {
        display: none;
      }
      .mt-mail {
        display: flex;
        margin-right: 25px;
      }
    }

    .mt-middle {
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-end;

      .mt-nav {
        flex: 1;

        .mt-nav-top {
          border-bottom: 1px solid lightgray;
        }
      }
    }

    .mt-nav-list {
      display: flex;
      text-transform: uppercase;
      align-items: flex-end;

      li {
        margin: 0 0 0 5px;
      }

      .mt-nav-filler {
        flex: 1;
      }

      .mt-nav-search {
        text-align: right;

        input {
          text-align: right;
        }

        .input-group-btn {
          z-index: 99;
        }
      }

      .menu-item {
        display: flex;
        color: #333;
        font-size: 16px;
        line-height: 16px;
        margin: 0 0 -10px 0;
        padding: 10px 5px 10px 0;
        position: relative;

        > a.router-link-exact-active,
        a[href="/events"].nuxt-link-active {
          text-decoration: underline;
        }

        .submenu {
          background: #fff;
          /*border: solid 1px #ababab;*/
          display: none;
          margin: 0 0 0 0;
          padding: 10px 10px;
          position: absolute;
          top: 100%;
          left: 2px;
          z-index: 1;

          li {
            margin: 0;

            a {
              display: block;
              margin-top: 7px;
            }
          }
          li:first-child a {
            margin-top: 0;
          }
        }
      }
      .menu-item:before {
        content: '|';
        display: inline-block;
        color: #333;
        margin-right: 5px;
      }
      .menu-item:first-child:before,
      .menu-item:last-child:before {
        display: none;
      }
      .menu-item a {
        color: #333;
        font-size: 16px;
        line-height: 16px;
      }
      .menu-item.drop-down {
        cursor: pointer;
      }
      .menu-item.drop-down:hover .submenu {
        display: block;
      }
    }
    .mt-nav-list.mt-nav-top .menu-item {
      display: flex;
      color: #ababab;
      font-size: 14px;
      line-height: 14px;
      margin: 0;
      padding: 0 5px 10px 0;
    }
    .mt-nav-list.mt-nav-top .menu-item:before {
      color: #ababab;
    }
    .mt-nav-list.mt-nav-top .menu-item a {
      color: #ababab;
      font-size: 14px;
      line-height: 14px;
    }
    .mt-nav-search .btn {
      padding: 0;
      outline: none;
    }
    .mt-nav-search .btn:hover {
      background: transparent;
    }
    .mi-search {
      font-size: 25px;
    }
    .mi-search:before,
    .mi-new-mail:before {
      color: #ababab;
    }
    .mt-mail:active,
    .mt-mail:hover,
    .mt-mail:focus {
      text-decoration: none;
    }
  }

  .mt-no-border {
    border: 0;
    box-shadow: none;
  }
</style>
