<template>
  <div class="mt-add-blog-post">

    <mt-vehicle-picker
      class="mt-20"
      @vehicle-selected="putVehicleInCard"
      />

    <div class="col-md-12 mt-vehicle-card">
      <div class="row" v-if="!vehicle || !vehicle.id">
        Выберите мотоцикл из списка выше
      </div>
      <div class="row" v-else>
        <div class="col-md-8">
          <w-input
            label="Название мотоцикла"
            placeholder="Название"
            v-model="vehicle.name"
            >
          </w-input>
        </div>
        <div class="col-md-4">
          <w-datepicker
            label="Дата выпуска мотоцикла"
            placeholder="Укажите какого года мотоцикл"
            :disabled="isDisabled"
            v-model="vehicle.date"
            >
          </w-datepicker>
        </div>
        <!--  -->
        <div class="col-md-4">
          <w-input
            label="Двигатель (см^3)"
            placeholder="2-тактный, 300 см куб"
            :disabled="isDisabled"
            v-model="vehicle.features.power.engine"
            >
          </w-input>
        </div>
        <div class="col-md-4">
          <w-input
            label="Подвеска передняя"
            placeholder="Перевернутая вилка 48мм"
            :disabled="isDisabled"
            v-model="vehicle.features.chassis.fontSuspension"
            >
          </w-input>
        </div>
        <div class="col-md-4">
          <w-input
            label="Подвеска задняя"
            placeholder="Длина хода 300мм"
            :disabled="isDisabled"
            v-model="vehicle.features.chassis.rearSuspension"
            >
          </w-input>
        </div>
        <div class="col-md-4">
          <w-input
            label="Сцепление"
            placeholder="многодисковое"
            :disabled="isDisabled"
            v-model="vehicle.features.chassis.clutch"
            >
          </w-input>
        </div>
        <div class="col-md-4">
          <w-input
            label="Трансмиссия"
            placeholder="Шестиступенчатая"
            :disabled="isDisabled"
            v-model="vehicle.features.power.transmission"
            >
          </w-input>
        </div>
        <div class="col-md-4">
          <w-input
            label="Колесная база (мм)"
            placeholder="1400мм"
            :disabled="isDisabled"
            v-model="vehicle.features.chassis.wheels"
            >
          </w-input>
        </div>
        <div class="col-md-4">
          <w-input
            label="Тормоза передние"
            placeholder="Дисковые 310мм"
            :disabled="isDisabled"
            v-model="vehicle.features.chassis.fontBrakes"
            >
          </w-input>
        </div>
        <div class="col-md-4">
          <w-input
            label="Тормоза задние"
            placeholder="Дисковые 220мм"
            :disabled="isDisabled"
            v-model="vehicle.features.chassis.rearBrakes"
            >
          </w-input>
        </div>
        <div class="col-md-4">
          <w-input
            label="Шины"
            placeholder="80/100-21, 120/80-18"
            :disabled="isDisabled"
            v-model="vehicle.features.chassis.tyresOrChains"
            >
          </w-input>
        </div>
        <div class="col-md-4">
          <w-input
            label="Дорожный просвет (мм)"
            placeholder="300мм"
            :disabled="isDisabled"
            v-model="vehicle.features.dimensions.groundClearance"
            >
          </w-input>
        </div>
        <div class="col-md-4">
          <w-input
            label="Вес (кг)"
            placeholder="100 кг"
            :disabled="isDisabled"
            v-model="vehicle.features.dimensions.fullWeight"
            >
          </w-input>
        </div>
        <div class="col-md-4">
          <w-input
            label="Емкость бензобака (л)"
            placeholder="10 литров"
            :disabled="isDisabled"
            v-model="vehicle.features.power.fuelTankCapacity"
            >
          </w-input>
        </div>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4">
              <p>Статус мотоцикла</p>
              <!-- @TODO: #BACK -->
              <w-checkbox
                label="Сейчас езжу"
                class="col-md-12"
                v-model="vehicle.statusNow"
                :disabled="isDisabled"
                >
              </w-checkbox>
              <!-- @TODO: #BACK -->
              <w-checkbox
                label="Бывшая"
                class="col-md-12"
                v-model="vehicle.statusPrevious"
                :disabled="isDisabled"
                >
              </w-checkbox>
              <w-checkbox
                label="Хочу продать"
                class="col-md-12"
                v-model="vehicle.selling"
                :disabled="isDisabled"
                >
              </w-checkbox>
            </div>
            <div class="col-md-8">
              <w-textarea
                label="Краткая характеристика владельца"
                placeholder="Опишите кратко свое мнение"
                :disabled="isDisabled"
                v-model="vehicle.feedback"
                >
              </w-textarea>
            </div>
          </div>
          <div class="col-md-12 mb-10">
            <w-cropper
              v-model="vehiclePhoto"
              :config="{
                aspectRatio: 1370/775,
                resultSize: {width: 1380, height: 785},
              }"
              />
          </div>
        </div>
        <!--  -->
        <div class="col-md-12">
          <div class="btn btn-default pull-right" @click="addAccountVehicle">
            Добавить
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import cuid from 'cuid';
  import { delay, uploadImage } from '@/utils';
  import api from '@/api';

  export default {

    fetch({ route, store }) {
      store.commit('replaceBreadcrumbs', [
        { title: 'Главная', to: '/' },
        { title: 'Личный кабинет', to: '/user' },
        { title: 'Личная техника', to: '/user/vehicles' },
        { title: 'Добавление техники (вы здесь)' },
      ]);
    },

    data() {
      return {
        vehiclePhoto: this.NO_PHOTO,
        sending: false,

        // то, что пришло с пикера
        vehicle: null,
      };
    },

    computed: {
      isDisabled() {
        return this.sending;
      },
    },

    methods: {
      async putVehicleInCard(vehicle) {
        if (!vehicle || !vehicle.id) {
          return;
        }
        var response;
        try {
          response = await api.get(`/vehicles/${vehicle.id}/get`);
        }
        catch (err) {
          console.warn('putVehicleInCard err', err);
          alert('Не удалось получить данные по мотоциклу');
        }
        this.vehicle = _.extend({}, this.DEFAULT_VEHICLE, _.get(response, 'data.data'), {
          accountId: _.get(this, '$store.state.auth.account.id'),
          vehicleId: vehicle.id,
        });
      },

      async addAccountVehicle() {
        try {
          this.sending = true;

          if (this.vehiclePhoto && this.vehiclePhoto.startsWith('data:image')) {
            try {
              let photo = await uploadImage(this.vehiclePhoto);
              this.vehicle.photoId = photo.id;
            }
            catch (err) {
              console.error(err);
              alert('Не удалось загрузить фотографию');
            }
          }

          this.vehicle.selling = !!this.vehicle.selling;
          var result = await api.post('/accountVehicles/add', this.vehicle);
          // this.sending = false;
          console.log('accVehicle:', this.vehicle);
        }
        catch (err) {
          console.warn('addAccountVehicle err', err);
          alert('Не удалось добавить мотоцикл');
          this.sending = false;
          return;
        }
        this.sending = false;
        this.$router.push('/user/vehicles');
      },
    },

    head() {
      return {
        title: 'Добавление техники',
      };
    },

  };
</script>

<style lang="scss">
  .mt-vehicle-card {
    border: solid 1px #ccc;
    margin-bottom: 15px;
    padding: 20px;
    .label {
      color: #ababab;
      font-size: 18px;
      line-height: 18px;
      font-weight: normal;
      padding: 0px;
    }
  }
</style>
