<template>
  <div class="mt-add-blog-post">

    <h1>Добавление поста в блог "{{ $store.state.auth.account.nickName }}"</h1>

    <mt-edit-post
      ref="postEditor"
      :disabled="sending"
      with-text
      with-gallery
      with-models
      with-meta
      :checkValidation="checkValidation"
      @validateForm="validated = $event"
      >
    </mt-edit-post>

    <div class="form-group">
      <button class="btn btn-default pull-right" @click.prevent="publish" :disabled="sending">Опубликовать</button>
    </div>

  </div>
</template>

<script>
  import cuid from 'cuid';
  import api from '@/api';
  import { delay, uploadImage } from '@/utils';
  export default {

    head() {
      return {
        title: 'Добавление записи',
      };
    },

    fetch({ route, store }) {
      store.commit('replaceBreadcrumbs', [
        { title: 'Главная', to: '/' },
        { title: 'Личный кабинет', to: '/user' },
        { title: 'Добавление записи (вы здесь)' },
      ]);
    },

    data() {
      return {
        sending: false,
        validated: false,
        checkValidation: false,
      };
    },
    methods: {

      async publish() {
        this.checkValidation = true;
        if (!this.validated) {
          return alert("Невозможно опубликовать - проверьте правильность введенных данных");
        }
        this.sending = true;
        try {
          var payload = await this.$refs.postEditor.collectPayload();

          _.extend(payload, {
            categories: ['Review'], // @TODO: неправильная категория!
            spotType: 'AccountBlog',
          });

          let { data: { data: postData } } = await api.post(`articles/add`, payload);
          this.$router.push(`/post-${postData.article.id}`);
        }
        catch (err) {
          console.error(err);
          alert(err.message);
        }
        this.checkValidation = false;
        this.sending = false;
      },

    },
  };
</script>
