<template>
  <mt-page-friends :page-data="pageData" :me="true"></mt-page-friends>
</template>

<script>
  import api from '@/api';
  import { delay, FeedList } from '@/utils';

  export default {

    fetch({ route, store }) {
      store.commit('replaceBreadcrumbs', [
        { title: 'Главная', to: '/' },
        { title: 'Личный кабинет', to: '/user' },
        { title: 'Друзья (вы здесь)' },
      ]);
    },

    layout: 'personal',
    async asyncData(context) {
      await context.store.dispatch('sidebar/loadUser');
    },

    // // @NOTE: требует, чтобы пользователь был залогинен
    // middleware: ['router-auth'],

    data() {
      return {
        pageData: null,
      };
    },

    async mounted() {
      var { data: userData } = await api.get('/accounts/current');
      this.pageData = {
        user: userData.data,
        friends: await FeedList.makeAndLoad(`/accounts/${userData.data.id}/friends/getAll`),
      };
    },

    head() {
      return {
        title: 'Мои друзья',
      };
    },

  };
</script>
