<template>
  <mt-page-communities :page-data="pageData" :me="true"></mt-page-communities>
</template>

<script>
  import api from '@/api';
  import { delay, FeedList } from '@/utils';

  export default {

    layout: 'personal',

    head() {
      return {
        title: 'Участник групп',
      };
    },

    fetch({ route, store }) {
      store.commit('replaceBreadcrumbs', [
        { title: 'Главная', to: '/' },
        { title: 'Личный кабинет', to: '/user' },
        { title: 'Личная техника (вы здесь)' },
      ]);
    },

    async asyncData(context) {
      await context.store.dispatch('sidebar/loadUser');
      var userData = _.get(context, 'store.state.sidebar.user');
      return {
        pageData: {
          user: userData,
          groupsFeed: await FeedList.makeAndLoad(`/communities/joined?accountId=${userData.id}`),
        },
      };
    },

  };
</script>
