<template>
  <div>
    <mt-page-profile
      v-if="pageData"
      class="myself-page"
      :page-data="pageData"
      :me="true"
    >
    </mt-page-profile>
  </div>
</template>

<script>
  import api from '@/api';
  import { delay, FeedList } from '@/utils';

  export default {

    fetch({ route, store }) {
      store.commit('replaceBreadcrumbs', [
        { title: 'Главная', to: '/' },
        { title: 'Личный кабинет (вы здесь)' },
      ]);
    },

    layout: 'personal',
    async asyncData(context) {
      await context.store.dispatch('sidebar/loadUser');
    },

    // // @NOTE: требует, чтобы пользователь был залогинен
    // middleware: ['router-auth'],

    head() {
      return {
        title: 'Личный кабинет',
      };
    },

    data() {
      return {
        pageData: null,
      };
    },

    async mounted() {
      var { data: userData } = await api.get(`/accounts/current`);
      var id = userData.data.id;

      this.pageData = {
        user: userData.data,
        blog: await FeedList.makeAndLoad(`/articles/getAllFullByAuthorId?authorId=${id}&spotType="AccountBlog"`, 5, {mapper: 'fullArtice'}),
        communities: await FeedList.makeAndLoad(`/articles/communityBlog/subscriptions?subscriberId=${id}`, 5),
        friends: await FeedList.makeAndLoad(`/articles/accountBlog/friends?accountId=${id}`, 5),
      };
    },

  };
</script>

<style lang="scss">
  .myself-page {
    .mt-article {
      .w-checkbox {
        display: none;
      }
    }
  }
</style>
