<template>
  <div class="mt-create-community">
    <h1 class="title">Изменить информацию</h1>

    <div class="row">
      <div class="col-md-5">

        <h2 class="title">Личные данные</h2>

        <div class="form-group">
          <label :for="NICK_NAME_UID">Ваш ник</label>
          <input type="text" class="form-control" v-model="form.nickName" :disabled="sending" :id="NICK_NAME_UID">
        </div>

        <div class="form-group">
          <label>Ваше имя</label>
          <div class="mt-name-fields">
            <input type="text" class="form-control" v-model="form.firstName" :disabled="sending" placeholder="Имя">
            <!-- <input type="text" class="form-control" v-model="form.middleName" :disabled="sending"> -->
            <input type="text" class="form-control" v-model="form.lastName" :disabled="sending" placeholder="Фамилия">
          </div>
        </div>

        <!-- <div class="form-group">
          <label :for="LOGIN_UID">Логин</label>
          <input type="text" class="form-control" v-model="form.login" :disabled="sending" :id="LOGIN_UID">
        </div> -->

        <!-- <div class="form-group">
          <label :for="PASSWORD_UID">Пароль</label>
          <input type="password" class="form-control" v-model="form.password" :disabled="sending" :id="PASSWORD_UID">
        </div> -->

        <!-- <div class="form-group">
          <label :for="PASSWORD_CONFIRM_UID">Пароль</label>
          <input type="password" class="form-control" v-model="form.passwordConfirm" :disabled="sending" :id="PASSWORD_CONFIRM_UID">
        </div> -->

        <!-- <div class="form-group">
          <label :for="EMAIL_UID">Ваша почта</label>
          <input type="email" class="form-control" v-model="form.email" :disabled="sending" :id="EMAIL_UID">
        </div> -->

        <div class="form-group">
          <label :for="CITY_UID">Укажите город</label>
          <input type="text" class="form-control" v-model="form.city" :disabled="sending" :id="CITY_UID">
        </div>

      </div>
      <div class="col-md-7">

        <h2 class="title">Фото профиля</h2>

        <div class="form-group">
          <w-cropper
            v-model="form.avatarPhotoData"
            :config="{
              aspectRatio: 210/210,
              resultSize: {width: 210, height: 210},
            }"
            />
        </div>

        <h2 class="title">Фото обложки</h2>
        <p><small>Добавленное фото будет отображаться в шапке личного кабинета</small></p>

        <div class="form-group">
          <w-cropper
            v-model="form.coverPhotoData"
            :config="{
              aspectRatio: 970/219,
              resultSize: {width: 970, height: 219},
            }"
            />
        </div>

      </div>
    </div>

    <div class="form-group">
      <button class="btn btn-primary red" @click="submit" :disabled="sending">Сохранить</button>
    </div>

  </div>
</template>

<script>
  import cuid from 'cuid';
  import api from '@/api';
  import { delay, uploadImage } from '@/utils';

  var DEFAULT_FORM = {
    nickName: '',
    firstName: '',
    middleName: '',
    lastName: '',

    // login: '',
    // password: '',
    // passwordConfirm: '',
    // email: '',

    city: '',

    avatarPhotoData: null,
    coverPhotoData: null,
  };

  export default {

    fetch({ route, store }) {
      store.commit('replaceBreadcrumbs', [
        { title: 'Главная', to: '/' },
        { title: 'Личный кабинет', to: '/user' },
        { title: 'Редактирование профиля (вы здесь)' },
      ]);
    },

    layout: 'personal',

    async asyncData(context) {
      await context.store.dispatch('sidebar/loadUser');
      var { data: { data: account } } = await api.get('/accounts/current');

      var form = _.pick(account, ['nickName', 'firstName', /*'middleName',*/ 'lastName']);
      _.defaults(form, DEFAULT_FORM);

      if (account.avatarPhoto) {
        form.avatarPhotoData = account.avatarPhoto.urls.original;
      }

      if (account.coverPhoto) {
        form.coverPhotoData = account.coverPhoto.urls.original;
      }

      return {
        NICK_NAME_UID: cuid(),
        FIRST_NAME_UID: cuid(),
        // MIDDLE_NAME_UID: cuid(),
        LAST_NAME_UID: cuid(),

        // LOGIN_UID: cuid(),
        // PASSWORD_UID: cuid(),
        // PASSWORD_CONFIRM_UID: cuid(),
        // EMAIL_UID: cuid(),

        CITY_UID: cuid(),

        accountId: account.id,

        sending: false,
        form: form,
      };
    },

    head() {
      return {
        title: 'Мои настройки',
      };
    },

    methods: {
      async submit() {
        try {
          this.sending = true;

          var form = _.cloneDeep(this.form);

          // @NOTE: валидация

          if (!form.nickName) {
            throw new Error('Укажите ник');
          }

          if (!form.firstName) {
            throw new Error('Укажите имя');
          }

          if (!form.lastName) {
            throw new Error('Укажите фамилию');
          }

          // @NOTE: загрузка фотографии

          if (form.avatarPhotoData && form.avatarPhotoData.startsWith('data:image')) {
            try {
              let photo = await uploadImage(form.avatarPhotoData, 'Аватарка', ['avatar']);
              form.avatarPhotoId = photo.id;
              delete form.avatarPhotoData;
            }
            catch (err) {
              console.error(err);
              throw new Error('Не удалось загрузить фотографию');
            }
          }

          // @NOTE: загрузка обложки

          if (form.coverPhotoData && form.coverPhotoData.startsWith('data:image')) {
            try {
              let photo = await uploadImage(form.coverPhotoData, 'Фото обложки профиля', ['profileHeader']);
              form.coverPhotoId = photo.id;
              delete form.coverPhotoData;
            }
            catch (err) {
              console.error(err);
              throw new Error('Не удалось загрузить фотографию');
            }
          }

          // @NOTE: сохранение

          await api.post(`/accounts/${this.accountId}/update`, form);

          this.sending = false;
          this.$router.push('/user');
        }
        catch (err) {
          this.sending = false;
          console.error(err);
          alert(err.message);
        }
      },
    },

  };
</script>

<style lang="scss" scoped>
  .mt-create-community {
    // padding-right: 20px;
  }
  .btn-primary.red {
    padding: 5px 35px;
  }
  p {
    line-height: 16px;
  }
  .mt-name-fields {
    display: flex;
    margin-right: -10px;
    > input {
      margin-right: 10px;
    }
  }
</style>
