<template>
  <mt-page-vehicles :page-data="pageData" :me="true"></mt-page-vehicles>
</template>

<script>
  import api from '@/api';
  import { delay, FeedList } from '@/utils';

  export default {

    layout: 'personal',

    head() {
      return {
        title: 'Моя техника',
      };
    },

    fetch({ route, store }) {
      store.commit('replaceBreadcrumbs', [
        { title: 'Главная', to: '/' },
        { title: 'Личный кабинет', to: '/user' },
        { title: 'Личная техника (вы здесь)' },
      ]);
    },

    // // @NOTE: требует, чтобы пользователь был залогинен
    // middleware: ['router-auth'],

    async asyncData(context) {
      await context.store.dispatch('sidebar/loadUser');
      var { data: { data: userData } } = await api.get('/accounts/current');
      return {
        pageData: {
          user: userData,
          vehicles: await FeedList.makeAndLoad(`/accountVehicles/getAllFull?accountId=${userData.id}`),
        },
      };
    },

  };
</script>
