<template>
  <div class="mt-wrapper">
    <div class="mt-form">
      <mt-change-password @done="done" :token="$route.query.token"></mt-change-password>
    </div>
  </div>
</template>

<script>
  export default {

    layout: 'naked',

    methods: {
      done() {
        this.$router.push('/auth/sign-in');
      },
    },

    head() {
      return {
        title: 'Смена пароля',
      };
    },

  };
</script>

<style lang="scss" scoped>
  .mt-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .mt-form {
    width: 300px;
  }
</style>
