<template>
  <div class="mt-wrapper">
    <div class="mt-form">
      <mt-login
        @done="done"
        can-close
        @close="$router.push('/')"
        @want-sign-up="$router.push('/auth/sign-up')"
        @want-remember-password="$router.push('/auth/restore-password')"
        />
    </div>
  </div>
</template>

<script>
  export default {

    layout: 'naked',

    methods: {
      done() {
        this.$store.dispatch('auth/fakeSignIn');
        this.$router.push('/');
      },
    },

    head() {
      return {
        title: 'Вход',
      };
    },

  };
</script>

<style lang="scss" scoped>
  .mt-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .mt-form {
    width: 300px;
  }
</style>
