<template>
  <div class="mt-wrapper">
    <div class="mt-form">
      <mt-register
        @done="done"
        can-close
        @close="$router.push('/')"
        >
      </mt-register>
    </div>
  </div>
</template>

<script>
  export default {

    layout: 'naked',

    methods: {
      done() {
        this.$router.push('/auth/confirm-password');
      },
    },

    head() {
      return {
        title: 'Регистрация',
      };
    },

  };
</script>

<style lang="scss" scoped>
  .mt-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .mt-form {
    width: 300px;
  }
</style>
