@import '~assets/styles/vars'
@import '~assets/styles/helpers'
@import '~assets/styles/reset'
@import '~assets/styles/typography'
@import '~assets/styles/animate'

#__nuxt
  size 100%

.wrap
  display flex
  flex-direction column
  size 100%
  transition all .2s ease
  container()
  border-left 1px solid alpha($black, 0.05)
  border-right 1px solid alpha($black, 0.05)
  // background #fdfdfd

.content
  flex 1 0 auto
  display flex
  flex-direction column

  &__inner
    +up($lg)
      display flex

.header + .breakcrumbs
  margin-top: gutter(-2, div)

aside
  width 100%

  +up($lg)
    col(4)
    order 1
    padding-left 0
    padding-right 0

.mt-main-default
  width 100%
  // background alpha($black, 0.3)

  +up($lg)
    col(8)
    padding-left 0
    padding-right 0

.footer
  flex 0 0 auto
