// Стили сюда

// body {
//   background-image: url('./img/article__img.jpg');
// }

body {

    .mt-10 {margin-top: 10px;}
    .mr-10 {margin-right: 10px;}
    .mb-10 {margin-bottom: 10px;}
    .ml-10 {margin-left: 10px;}

    .mt-20 {margin-top: 20px;}
    .mr-20 {margin-right: 20px;}
    .mb-20 {margin-bottom: 20px;}
    .ml-20 {margin-left: 20px;}

    overflow-y: scroll;

    .select2-selection__clear {
      margin-right: 20px;
    }

    div.error,
    span.error {
      color: #bb0000 !important;
      font-size: 14px;
    }
    .wysywig {
      .error {
        margin-top: -15px;
      }
    }
    .verror {
      input, textarea, div.mce-edit-area{
        border-color: #bb0000 !important;
      }
    }
    h1, h2, h3, h4, h5 {
        font-family: 'PT Sans', sans-serif;
        text-transform: uppercase;
    }
    .h4 {
        font-size: 18px;
        line-height: 18px;
        margin: 0 0 20px 0;
        text-transform: uppercase;
        color: #666;
    }

    .wrap {
        border: 0;

        .mt-section {
            margin-bottom: 30px;
        }
        .mt-subtitle.mt-section {
            color: #333;
            margin-bottom: 10px;
        }

        .sub-nav {
            li {
                a {
                    display: inline-block;
                    color: #666;
                    font-size: 20px;
                    line-height: 20px;
                    text-transform: uppercase;
                    margin-bottom: 10px;
                }
                a:hover {
                    color: #000;
                }
            }
        }

        .community-list {
            padding-right: 30px;

            // h1 {
            //     color: #666;
            //     font-size: 20px;
            //     line-height: 20px;
            //     text-transform: uppercase;
            //     margin: 0 0 30px 0;
            // }
            hr {
              width: 100px;
              height: 2px;
              background-color: #999;
              border: none;
              color: #999;
              text-align: left;
              margin: 10px 0 20px 0;
            }
            hr.full-block {
                margin-top: 20px;
                margin-bottom: 20px;
                border: 0;
                border-top: 1px solid #eee;
                width: 100%;
                height: 1px;
                background-color: #eee;
                color: #eee;
              }

            h1.main-heading {
                color: #999;
                font-size: 26px;
                line-height: 26px;
                margin: 0;
                padding: 20px 0 0 0;

              a,
              a:hover {
                text-decoration: none;
              }
            }

            .media {
                overflow: visible;
            }
        }
    }

    .btn-default {
        background: transparent;
        border: solid 2px #c4c4c4;
        color: #666;
        font-size: 16px;
        line-height: 16px;
        text-transform: lowercase;
        padding: 5px 35px;
        outline: none;
    }
    .btn-default.more {
        padding: 5px 10px;
    }

    .mt-header {
        padding-bottom: 17px;

        .logo {
            position: relative;
            width: 25%;
            max-width: 225px;
            padding: 0 15px 0 0;
            height: 80px;
            background-size: 210px;
            background-position: 0 center;
        }
    }

    .carousel  {
        &.slide.mt-section {
          width: 100%;
        }

        .carousel-inner {
            min-height: 240px;
            background: #eee;

            .item {
              min-height: 240px;
              background-size: cover;
            }

            .carousel-caption {
                text-align: left;
                // top: 10.5%;
                top: 0;
                bottom: auto;
                right: 9.5%;
                left: 9.5%;
                padding: 30px 0;
                // right: 14%;
                // left: 14%;
            }
        }
        .carousel-indicators {
            height: 20px;
            bottom: 15px;
        }
        .carousel-indicators li {
            width: 20px;
            height: 20px;
            border: 3px solid #fff;
            border-radius: 0;
            margin: 0 0 0 7px;
        }
        .carousel-indicators .active {
            width: 20px;
            height: 20px;
            background-color: #fff;
            margin: 0 0 0 7px;
        }
        .carousel-indicators li:first-child {
            margin: 0;
        }
    }

    .title.title--small span {
        font-weight: normal;
    }

    p a {
        text-decoration: underline;
    }

    h1.title {
        color: #999;
        font-size: 26px;
        line-height: 26px;
        margin: 20px 0;
    }
    .article h2 {
        color: #999;
        font-size: 24px;
        line-height: 24px;
        text-transform: uppercase;
        margin: 20px 0;
    }

    h2.title {
        color: #999;
        font-size: 24px;
        line-height: 24px;
        text-transform: uppercase;
        margin: 20px 0;
    }
    .h3 {
        color: #999;
        font-size: 24px;
        line-height: 28px;
        text-transform: uppercase;
        margin: 20px 0;
    }
    .top-panel {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .button-block {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            flex-wrap: wrap;
        }
        .btn-default {
            border: 0;
            display: flex;
            align-items: center;
            color: #999;
            font-size: 18px;
            line-height: 18px;
            text-transform: none;
            margin: 0 0 0 20px;
            padding: 0;
        }
        .btn-default:first-child {
            margin-left: 0;
        }
        .btn-default:hover,
        .btn-default:active,
        .btn-default:focus,
        .btn-default:active:hover,
        .btn-default.active:hover,
        .open > .dropdown-toggle.btn-default:hover,
        .btn-default:active:focus,
        .btn-default.active:focus,
        .open > .dropdown-toggle.btn-default:focus,
        .btn-default:active.focus,
        .btn-default.active.focus,
        .open > .dropdown-toggle.btn-default.focus {
            background: transparent;
            border-color: transparent;
            color: #000;
            outline: none;
        }
        .btn-default i {
            font-size: 20px;
            margin: 0 10px 0 0;
        }
    }

    .mt-auth-form {
        h2 {
            font-size: 20px;
            line-height: 20px;
            text-align: center;
            text-transform: uppercase;
            margin-top: 40px;
        }
        p {
            font-size: 11px;
            line-height: 15px;
        }
        .mt-label-box {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            .mt-btn-flat {
                font-size: 11px;
                line-height: 11px;
                text-decoration: underline;
                margin-bottom: 7px;
                padding: 0;
                outline: none;
            }
            span {
                color: #bb0000;
                font-size: 11px;
                line-height: 11px;
                margin-bottom: 7px;
            }
        }

        .form-group {
            label {
                font-size: 14px;
                line-height: 14px;
                font-weight: normal;
                white-space: normal;
                margin-bottom: 7px;
                padding-left: 41px;
            }
            label.error {
                color: #bb0000;
            }
            input.error {
                border-color: #bb0000;
            }
            label.success {
                color: #42c544;
            }
            input.success {
                border-color: #42c544;
            }
            p {
                text-align: center;
                text-transform: uppercase;
            }
        }

        .form-control {
            height: 40px;
            border-color: #666;
            border-radius: 0;
            padding: 6px 12px;
            font-size: 11px;
            line-height: 11px;
            color: #999;
            outline: none;
        }
        .form-control:hover,
        .form-control:focus,
        .form-control:active {
            border-color: #666;
            outline: 0;
            box-shadow: none;
        }

        .input-group {
            width: 100%;

            .input-group-addon {
                width: 41px;
                background-color: transparent;
                border: 0;
                padding: 0 15px 0 0;

                i {
                    font-size: 38px;
                }
                i.mi-email,
                i.mi-key {
                  font-size: 27px;
                }
                i:before {
                    color: #999;
                    vertical-align: top;
                }
            }
        }

        .forgot-pass {
            display: flex;
            justify-content: flex-end;

            .mt-btn-flat {
                font-size: 11px;
                line-height: 11px;
                text-decoration: underline;
                margin-top: 7px;
                padding: 0;
                outline: none;
            }
        }
        .mt-btn-flat:hover {
            color: #000;
        }
        .capcha {
            background: #fff;
            margin: 10px 0;
        }

        .mt-buttons {
            display: flex;
            justify-content: space-around;

            .btn.login {
                width: 70%;
                background: #bc0202;
                border: solid 1px transparent;
                border-radius: 0;
                color: #fff;
                font-size: 16px;
                line-height: 16px;
                text-transform: none;
                padding: 15px 0;
            }
            .btn.login:hover {
                background: #fff;
                border: solid 1px #bc0202;
                color: #bc0202;
            }
            .vk,
            .fb,
            .tw,
            .ok,
            .gp {
                width: 40px;
                height: 40px;
                border: 0;
                border-radius: 0;
                color: #fff;
                font-size: 20px;
                line-height: 20px;
                margin: 0;
                padding: 0;

                i:before {
                    color: #fff;
                }
            }
            .vk {
            background: #4e97ca;
            }
            .fb {
            background: #3b5ea0;
            }
            .tw {
            background: #01c3ff;
            }
            .ok {
            background: #ff9d38;
            }
            .gp {
            background: #ff6d46;
            }
        }
    }



    .form-group {
        h3 {
            margin: 0;

            label {
                color: #666;
                font-size: 18px;
                line-height: 22px;
            }
        }
        label {
            color: #ababab;
            display: inline-block;
            font-size: 18px;
            line-height: 18px;
            font-weight: normal;
            white-space: normal;
            text-align: left;
            margin-bottom: 7px;
            padding-left: 0;
        }
        label.error {
            color: #bb0000;
        }
        input.error {
            border-color: #bb0000;
        }
        label.success {
            color: #42c544;
        }
        input.success {
            border-color: #42c544;
        }
        p {
            // text-align: center;
            // text-transform: uppercase;
            font-size: 14px;
            line-height: 19px;
        }

        .form-group {
            margin: 0;
        }
        .comment {
            font-size: 14px;
            line-height: 14px;
            padding: 3px 12px;
        }
    }

    .form-control {
        height: 40px;
        border-color: #666;
        border-radius: 0;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 14px;
        color: #999;
        outline: none;
    }
    .form-control:hover,
    .form-control:focus,
    .form-control:active {
        border-color: #666;
        outline: 0;
        box-shadow: none;
    }
    textarea.form-control {
        height: 150px;
        resize: vertical;
    }

    .input-group {
        width: 100%;

        .input-group-addon {
            width: 41px;
            background-color: transparent;
            border: 0;
            padding: 0 15px 0 0;

            i {
                font-size: 38px;
            }
            i.mi-email,
            i.mi-key {
              font-size: 27px;
            }
            i:before {
                color: #999;
                vertical-align: top;
            }
        }
    }

    .select2-container .select2-selection--single {
        height: 40px;
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        font-size: 14px;
        padding: 6px 12px;
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow {
        top: 8px;
    }
    .select2-container--default .select2-selection--single,
    .select2-container--default .select2-selection--multiple {
        border-color: #666;
    }
    .select2-container--default .select2-selection--single .select2-selection__placeholder,
    .select2-container--default .select2-search--inline .select2-search__field,
    .select2-container--default .select2-selection--multiple .select2-selection__rendered li {
        font-size: 14px;
    }
    .select2-results__option {
        color: #999;
        font-size: 14px;
        text-transform: lowercase;
    }
    .select2-container--default .select2-selection--single .select2-selection__clear {
        display: none;
    }

    .red {
        color: #bb0000;
    }

    .btn-block {
        background: transparent;
        border: solid 1px #c4c4c4;
        color: #999;
        font-size: 14px;
        line-height: 14px;
        text-transform: uppercase;
        margin-bottom: 15px;
        padding: 10px 0;
    }
    .btn-block:hover,
    .btn-block:active,
    .btn-block:focus {
        background: transparent;
        border-color: #c4c4c4;
        color: #999;
        outline: none;
    }
    .btn-default {
        border-width: 1px;
    }
    .btn-default:hover,
    .btn-default:active,
    .btn-default:focus,
    .btn-default:active:hover,
    .btn-default.active:hover,
    .open > .dropdown-toggle.btn-default:hover,
    .btn-default:active:focus,
    .btn-default.active:focus,
    .open > .dropdown-toggle.btn-default:focus,
    .btn-default:active.focus,
    .btn-default.active.focus,
    .open > .dropdown-toggle.btn-default.focus {
        background: #c4c4c4;
        border-color: #c4c4c4;
        color: #fff;
        outline: none;
        box-shadow: none;
    }
    .btn-primary:active:hover,
    .btn-primary.active:hover,
    .open > .dropdown-toggle.btn-primary:hover,
    .btn-primary:active:focus,
    .btn-primary.active:focus,
    .open > .dropdown-toggle.btn-primary:focus,
    .btn-primary:active.focus,
    .btn-primary.active.focus,
    .open > .dropdown-toggle.btn-primary.focus {
        color: #666;
        background-color: transparent;
        border-color: #c4c4c4;
    }

    .btn-full-width {
        width: 100%;
        display: block;
        font-size: 18px;
        text-transform: uppercase;
        margin: 10px 0 0 0;
        padding: 10px;
    }

    .btn-primary.green,
    .btn-primary.red {
        border: 0;
        border-radius: 0;
        color: #fff;
        margin: 0 20px 0 0;
    }
    .btn-primary.red {
        background: #dc0201;
    }
    .btn-primary.green {
        background: #02ac5e;
    }
    .btn-primary.red:hover {
        color: #fff;
        background: #940a09;
    }
    .btn-primary.green:hover {
        color: #fff;
        background: #048448;
    }

    .pagination {
        > li {
            > a,
            > span {
                position: relative;
                float: left;
                padding: 5px 9px;
                margin: 0 0 0 -1px;
                font-size: 16px;
                line-height: 16px;
                color: #666;
                text-decoration: none;
                background-color: #fff;
                border: solid 1px #c4c4c4;
            }
        }
        > .active > a,
        > .active > span,
        > .active > a:hover,
        > .active > span:hover,
        > .active > a:focus,
        > .active > span:focus {
            z-index: 3;
            color: #fff;
            cursor: default;
            background-color: #666;
            border-color: #666;
        }
        li:first-child,
        li:last-child {
            display: none;
        }
    }
    .pagination-network {
        .network {
            color: #999;

            span {
                text-transform: lowercase;
            }
            a {
                color: #999;
                margin: 0 0 0 10px;

                i {
                    font-size: 20px;
                }
            }
        }
    }

    .content__inner {
        .main {
            .community-list {
                .header {
                    display: flex;
                    flex-direction: inherit;
                    justify-content: space-between;
                    align-items: center;
                    margin: 20px 0 0 0;

                    .col_left {
                        width: 50%;
                        padding: 0 11px 0 0;
                    }
                    .col_right {
                        width: 50%;
                        padding: 0 0 0 11px;

                        .page__search {
                            display: flex;
                            flex-direction: row-reverse;

                            input {
                                border: 1px solid #ababab;
                                border-left-width: 0;
                                color: #ababab;
                                padding: 5px 5px;
                            }
                            input::-webkit-input-placeholder {color:#ababab;}
                            input::-moz-placeholder          {color:#ababab;}/* Firefox 19+ */
                            input:-moz-placeholder           {color:#ababab;}/* Firefox 18- */
                            input:-ms-input-placeholder      {color:#ababab;}
                            button {
                                background: transparent;
                                font-size: 25px;
                                line-height: 25px;
                                left: 0;
                                right: auto;
                                border: solid 1px #ababab;
                                border-right-width: 0;
                                padding: 0 6px;
                            }
                        }
                    }
                }

                .nav-tabs {
                    border-bottom: 1px solid #666;
                    margin-top: 20px;

                    > li > a {
                        height: 70px;
                        border-top-color: #ddd;
                        border-right-color: #ddd;
                        border-radius: 0;
                        color: #666;
                        font-size: 16px;
                        text-transform: uppercase;
                        padding: 10px 5px;
                        margin: 0;

                        > div {
                            display: flex;
                            align-items: flex-start;

                            i {
                                font-size: 45px;
                                margin: 0 5px 0 0;
                            }
                            .cont-title-tab {
                                font-size: 14px;

                                .subtitle {
                                    font-size: 11px;
                                    line-height: 15px;
                                }
                            }

                        }
                    }
                    > li.active > a,
                    > li.active > a:hover,
                    > li.active > a:focus {
                        border-color: #666;
                        border-bottom-color: #fff;
                        color: #000;
                    }
                    > li > a:hover {
                        background: transparent;
                        border-color: #666;
                    }
                }
                .tab-content {
                    border: solid 1px #666;
                    border-top-width: 0;
                    padding: 10px 20px;
                    overflow: hidden;
                }
            }
        }


    }

    .breakcrumbs {
        // margin-bottom: 20px;
    }


    .table {
        .table__row:nth-child(2n+1) {
            background: #e6e6e6;
        }
        .table__row:nth-child(2n) {
            background: #f2f2f2;
        }
    }

    .mt-user:not(.impb) {
        // background-size: 100%;
        margin-top: 20px;
    }

    article .banner {
        margin-bottom: 30px;
    }

    .mt-main-default {
        width: 73%;
    }
    aside {
        width: 27%;

        > div {
            > div.mt-user:first-child {
                margin-top: 0;
            }
        }

        h2.title {
            margin-top: 0;
        }

        .head-info {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .link {
                color: #aaa;
                font-size: 12px;
                line-height: 12px;
                text-transform: lowercase;
                text-decoration: underline;
            }
            .head-info .link:hover {
                color: #000;
            }
            .head-info .title {
                color: #999;
                font-size: 24px;
                text-transform: uppercase;
                display: flex;
                align-items: center;
            }
            .head-info .title .mi {
                  font-size: 57px;
                  margin-right: 10px;
            }
            .head-info .title .mi:before {
                  color: #999;
            }
        }
    }

    .media, .media-body {
        overflow: visible;
    }


    table:not(.table-condensed) {
        width: 100%;
        margin: 10px 0 20px 0;
    }

    .mt-models-comparassion table {
        td {
            width: 33.3%;

            h3 {
                font-size: 18px;
                line-height: 18px;
                text-transform: uppercase;
                text-align: center;
                font-weight: normal;
                padding: 10px 15px;
            }
        }
        tr:nth-child(2n) {
            background: #e7e7e7;
        }
        tr:nth-child(2n+1) {
            background: transparent;
        }
    }

    table:not(.table-condensed),
    table.table {
        border: 0;

        tr:nth-child(2n+1) {
            background: #e7e7e7;
        }
        tr:nth-child(2n),
        thead tr:nth-child(2n+1) {
            background: transparent;
        }

        th,
        td {
            border: 0;
            color: #333;
            padding: 5px 15px;
        }
        th {
            font-size: 18px;
            line-height: 18px;
            text-transform: uppercase;
            text-align: center;
            font-weight: normal;
            padding: 10px 15px;
        }
    }






    .cont-feed {
        .mt-wrap {
            display: flex;
            flex-flow: row wrap;
            margin-right: -20px;
        }

        .pagination-network {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    .cont-for-2 {
        .mt-card {
            width: calc(50% - 20px);
            margin: 0 20px 20px 0;
        }
    }

    .cont-for-3 {
        .mt-card {
            width: calc(33.3% - 20px);
            margin: 0 20px 20px 0;
        }

    }

    .cont-for-news {
        .mt-card {
            width: calc(33.3% - 20px);
            margin: 0 20px 20px 0;
        }
        .mt-card:nth-child(10n-3),
        .mt-card:nth-child(10n-6) {
            width: calc(66.7% - 20px);
        }
    }

    .mce-panel {
        background-color: transparent;
        border: 0 !important;

        .mce-btn:not(.mce-menubtn) button {
            height: 30px;
            font-size: 0;
            line-height: 0;
            padding: 0 10px;
        }

        .mce-btn-group .mce-btn:not(.mce-menubtn) {
            border: 0;
            margin: 0;
            text-shadow: none;
            background-color: transparent;
            color: #999;

            i:not(.mce-caret) {
                color: #999;
                width: auto;
                height: auto;
                font-size: 24px;
                line-height: 30px;
            }
        }
        .mce-btn-group {
            border: 0;
            margin: 0;
            padding: 0;
        }
        .mce-ico.mce-i-image {
            font-size: 20px;
            font-family: 'moto' !important;
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
        .mce-ico.mce-i-image:before {
            content: "\E924";
        }
        .mce-btn-group .mce-btn-has-text {
            margin: 0 10px 0 0;
        }
        .mce-widget.mce-btn.mce-menubtn {
            width: 163px;
            border-color: #666;
        }
        .mce-widget.mce-menubtn.mce-btn.mce-active {
            height: 30px;
            border-color: #666;
            padding: 0;
            width: 165px;
        }
        .mce-txt {
            font-size: 14px;
            padding: 0 12px;
            color: #aaa;
            text-transform: lowercase;
            line-height: 24px;
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .mce-caret {
            background: url('~@/assets/svg/list_aaa.svg') no-repeat 0 center;
            background-size: 80%;
            top: 3px;
            height: 26px;
            position: absolute;
            right: 1px;
            width: 20px;
            color: transparent;
            margin: 0;
            border: 0;
        }
    }
    .mce-window.mce-in {
        background: #fff;

        .mce-primary {
            background: #999;

            span {
                color: #fff;
            }
        }
        .mce-menubtn .mce-txt {
            padding: 0 2px;
        }
        .mce-textbox:active,
        .mce-textbox:focus {
            border-color: #c5c5c5;
            outline: none;
        }
    }
    .mce-container-body {
        .mce-btn,
        .mce-btn.mce-active,
        .mce-btn.mce-active:hover {
            background-color: transparent;
            border-color: #c5c5c5;
        }
    }
    .mce-menu {
        width: 165px !important;
        background: #fff;
        border: solid 1px #666 !important;
        padding: 0;
        box-sizing: border-box;

        .mce-stack-layout {
            width: auto !important;

            .mce-menu-item {
                border: 0;
                margin: 0;
                padding: 7px 12px;

                .mce-ico,
                .mce-text {
                    color: #999;
                    padding: 0 !important;
                }
            }
            .mce-menu-item:hover,
            .mce-menu-item.mce-selected,
            .mce-menu-item:focus,
            .mce-menu-item-normal.mce-active {
                background-color: #aaa;

                span {
                    color: #fff;
                }
            }
            .mce-menu-item:hover span {
                color: #fff;
            }
        }
    }
    .mce-menu.mce-fixed {
        width: 320px !important;
        border-color: #c5c5c5 !important;
    }
    .mce-edit-area {
        border: solid 1px #666 !important;
        height: 200px;
        margin: 15px 0;

        iframe {
            width: 99.9% !important;
            max-height: 200px;
        }
    }
    .mce-statusbar {
        display: none;
    }

    .mt-tools {
        position: relative;
    }


    .bootbox-body .btn {
        margin-right: 10px;
    }

    .bootbox {
        padding: 0 !important;
    }
    .bootbox.mt-forms {
        .modal-dialog {
          max-width: 320px;
        }
    }
    .bootbox.modal.mt-lightbox {
        .modal-dialog {
            // max-width: 100%;
        }
    }

    .comment a {
        text-decoration: none;
    }

    .mt-profile-background {
        margin-top: 20px;
    }


    .mt-overlay {
        .mt-user {
            margin: 0;
        }
    }

}


@media screen and (max-width: 1199px) {
    body {
        .wrap {
            .home__articles {
                .article {
                    margin-bottom: 30px;

                    .img__wrap {
                        img {
                            width: 100%;
                        }
                    }
                    .argicle__content {
                        width: 100%;
                        padding: 0;
                    }
                }
            }

            .events-days {
                flex-wrap: wrap;
                padding: 30px;

                .month {
                    width: auto;

                    .mm {
                        margin: 0 20px;
                    }
                }
                .year {
                    width: 90px;
                }
                .year:after {
                    display: none;
                }

                .days {
                    width: 100%;
                    margin-top: 10px;
                }
            }

            .community-page {
                .commutity__header {
                    .button-block {
                        width: 165px;

                        .btn {
                            margin: 10px 0 0 0;
                        }
                        .btn:first-child {
                            margin: 0;
                        }
                    }
                }
            }

            .mt-message-excerpt {
                .btns-block {
                    display: flex;
                    flex-direction: column;

                    .btn {
                        margin: 10px 0 0 0;
                    }
                }
                .mt-author {
                    max-width: 150px;
                }
            }




            .cont-for-3 {
                .mt-card {
                    width: calc(50% - 20px);
                }

            }

            .cont-for-news {
                .mt-card {
                    width: calc(50% - 20px);
                }
            }
        }
    }
}

@media screen and (max-width: 991px) {
    body {
        .mt-main-default,
        aside {
            width: 100%;
        }

        .wrap {
            .mt-header {
                padding: 15px 0;

                .logo {
                    width: 120px;
                    height: 45px;
                    background-size: 100%;
                }
                .mt-middle {
                    align-items: center;

                    .mt-nav {
                        width: 80%;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        position: relative;
                    }
                    .btn-menu {
                        background: transparent;
                        border: 0;
                        color: #ababab;
                        font-size: 16px;
                        line-height: 16px;
                        text-transform: uppercase;
                        padding: 0;

                        i {
                            font-size: 13px;
                        }
                        i:before {
                            color: #ababab;
                        }
                    }
                    .mt-nav-list {
                        background: #f2f2f2;
                        display: block;
                        padding: 13px 25px;
                        position: absolute;
                        top: 30px;
                        right: 0;
                        z-index: 9;

                        .menu-item {
                            justify-content: space-between;
                            align-items: center;
                            margin: 0;
                            padding: 0;

                            a {
                                display: block;
                                color: #666;
                                margin: 0;
                                padding: 7px 0;
                                font-size: 20px;
                                &:hover {
                                  color: #000;
                                }
                                span {
                                  font-size: 20px;
                                }
                            }
                        }
                        .menu-item:before {
                            display: none;
                        }
                        .menu-item.mt-top {
                            a {
                                text-transform: lowercase;
                                margin: 0 10px 0 0;
                            }
                            a:before {
                                display: none;
                            }
                            a.log:after {
                                content: '|';
                                display: inline-block;
                                margin: 0 7px;
                            }
                        }
                        .menu-item.mt {
                            margin-top: 40px;
                        }
                        .mobile-submenu {
                          display: block;
                          float: none;
                          .open {
                            .dropdown-menu {
                              position: static;
                              float: none;
                              width: auto;
                              margin-top: 0;
                              background-color: transparent;
                              border: 0;
                              -webkit-box-shadow: none;
                              box-shadow: none
                            }
                          }
                          .dropdown-toggle {
                            display: inline-block;
                          }
                          .dropdown {
                            a {
                              background-color: transparent;
                              span {
                                &:hover {
                                  text-decoration: underline;
                                }
                              }
                              i {
                                padding-left: 5px;
                              }
                            }
                          }
                          .dropdown-menu {
                            padding-left: 10px;
                            a {
                              background-color: transparent;
                                &:hover {
                                  text-decoration: underline;
                                }
                            }
                          }
                        }
                    }
                }
            }

            .slider-header {
                padding: 0;

                > div {
                    height: 500px;
                    margin: 0;
                    padding: 40px 35px;
                }
            }

            .content__inner {
                .mt-home {
                    padding: 0;
                }
                .col_left,
                .col_right {
                    padding: 0;
                }

                .home__content {
                    .mobile-block {
                        margin: 30px 0;

                        .btn {
                            width: 100%;
                            background: #f2f2f2;
                            color: #000;
                            font-size: 24px;
                            line-height: 24px;
                            text-transform: uppercase;
                            text-decoration: none;
                            text-align: left;
                            margin: 0 0 5px 0;
                            padding: 15px 20px;
                            position: relative;
                            outline: none;
                        }
                        .btn:after {
                            content: '+';
                            color: #000;
                            font-size: 30px;
                            position: absolute;
                            top: 15px;
                            right: 20px;
                        }
                        .btn.active {
                            background: #999;
                            color: #fff;
                        }
                        .btn.active:after {
                            content: '-';
                            color: #fff;
                        }
                        ul {
                            margin: 10px 0;
                            padding: 0 0 0 20px;

                            li {
                                // padding: 0 10px;
                                list-style: initial;
                                list-style-type: square;

                                a {
                                    font-size: 14px;
                                    text-decoration: underline;
                                    color: #999;
                                }
                                a:hover {
                                    color: #000;
                                }
                            }
                            li:before {
                                // content: '\2605';
                                // margin-right: 10px;
                            }
                        }

                        .home__btn_more {
                            display: block;
                            text-align: center;
                            margin: 20px 0 15px 0;
                            padding: 0;
                        }
                    }
                }
            }

            .competitions {
                .article {
                    .table-wrap {
                        flex-direction: column;

                        .table__row {
                            display: flex;
                            flex-direction: row;
                        }
                        .table__col_left,
                        .table__col_right {
                            width: 100%;
                        }
                    }
                }
            }

            .footer .logo {
                width: 100px;
                height: 38px;
                background-size: 100%;
                background-position: 0;
            }

            .events-days {
                display: block;
                text-align: center;
                padding: 30px;

                .month {
                    width: auto;
                    display: inline-block;

                    .mm {
                        margin: 0 20px;
                    }
                }
                .year {
                    width: 90px;
                    display: inline-block;
                    text-align: right;
                }
                .year:after {
                    display: none;
                }
                .days {
                    width: 240px;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: flex-start;
                    margin: 0 auto;
                    padding: 0;
                    clear: both;

                    > div {
                        width: 14.29%;
                        flex: none;
                        margin: 10px 0;
                        padding: 0 4px;
                    }
                }
            }
            .events-list {
                min-height: auto;
                background: #7f7f7f;
                // padding: 30px;
                padding: 30px 30px 100px 30px;

                .events-item {
                    max-width: 100%;
                    background: transparent;
                }
                .date {
                    max-width: 115px;
                }
                .btn-default {
                    bottom: 30px;
                    right: 30px;
                }
            }

            .community-list {
                padding: 0;
            }

            .admin-btns {
                margin: 0 0 20px 0;
            }

            .mt-model-card {
                label {
                    margin: 0 15px 10px 0;
                }
            }

            .mt-article-uni {
                margin-bottom: 30px;
            }

            aside {
                margin-top: 50px;

                .carousel {
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    body {
        * {
            font-size: 14px;
            line-height: 18px;
        }

        .wrap {
            width: 100%;
            padding: 0 15px;

            .mt-wrap {
                .mt-card {
                    width: 100%;
                }
            }
            .content__inner {
                .community-list {
                    .header {
                        flex-direction: column;
                        align-items: flex-start;

                        .col_right,
                        .col_left {
                            width: 100%;
                            padding: 0;
                        }
                        .col_right {
                            .page__search {
                                display: flex;
                                flex-direction: row-reverse;
                                justify-content: flex-end;

                                input {
                                    width: 100%;
                                }
                            }
                        }
                    }


                    .mt-card {
                        margin-right: 0;
                    }
                    .mt-wrap {
                        margin-right: 0;
                    }
                }
            }

            .competitions {
                .article {
                    width: 100%;
                }
            }

            .footer {
                .logo {
                    height: 45px;
                    width: 150px;
                    background-size: 100% 100%;
                    background-position: 0;
                }
                .footer__col_right {
                    flex-direction: column;
                    -webkit-box-align: end;
                    align-items: flex-start;
                    margin: 0 0 0 15px;

                    > div {
                        margin: 5px 0;
                    }
                }
            }

            .new-stuff .materials-feed .mt-card:nth-child(10n-3),
            .new-stuff .materials-feed .mt-card:nth-child(10n-6) {
                width: 100%;
            }

            .event-page,
            .post-page {
                .table-wrap{
                    flex-direction: column;

                    .table__col_left,
                    .table__col_right {
                        width: 100%;
                    }
                }
                .total-people {
                    margin: 10px 0;
                }
                .ymaps-2-1-50-map {
                    height: 300px !important;
                }

                .article .pull-right {
                    margin: 10px 0 !important;
                    float: none !important;

                    img {
                        max-width: 100%;
                        height: auto;
                    }
                }
            }

            .mt-message-excerpt {
                .mt-avatar {
                    width: auto;
                    height: auto;
                    margin-right: 15px;

                    img {
                        width: 90px;
                        height: 90px;
                        margin-bottom: 10px;
                    }
                }
                .mt-nav-btn {
                    height: auto;
                    align-items: flex-start;
                }
                .date {
                    margin: 10px 0;
                }
                .btns-block {
                    display: flex;
                    flex-direction: row;

                    .btn {
                        margin: 0 10px 0 0;
                    }
                }
            }

        }
        .mt-lightbox .modal-dialog {
            width: auto;
        }
    }
}

@media screen and (max-width: 450px) {
     body {
        .wrap {
            .slider-header {
                > div {
                    height: 350px;
                    margin: 0;
                    padding: 30px 25px;
                }

                .best-review {
                    font-size: 20px;
                    line-height: 20px;

                    i {
                        font-size: 39px;
                    }
                }
                .cont {
                    .title {
                        font-size: 24px;
                        line-height: 28px;
                    }
                    .read-more {
                        font-size: 12px;
                        margin: 15px;
                    }
                    .user-name {
                        font-size: 12px;
                        line-height: 12px;
                    }
                }
            }

            .mt-profile {
                .media-body {
                    .friends {
                        justify-content: space-between;

                        a {
                            margin-right: 0;
                        }
                    }
                }
            }

            .pagination-network {
                flex-direction: column;
            }

            .events-list {
                .events-item {
                    padding: 15px 20px;

                    .links {
                        flex-direction: column;
                    }
                }
            }

            .footer {
                .logo {
                    height: 45px;
                    width: 120px;
                    background-size: 100% 100%;
                    background-position: 0;
                }
            }

            .new-stuff {
                .materials-feed,
                .mt-wide {
                    margin: 0 0 50px 0;
                }
            }

            .community-list {
                h2.title {
                    flex-direction: column;
                    align-items: flex-start;

                    .button-block {
                        margin: 10px 0 0 0;
                    }
                }

                .community-page {
                    .commutity__header {
                        h2 {
                            flex-direction: column;
                            align-items: flex-start;
                        }
                        .button-block {

                            .btn {
                                float: none !important;
                                margin: 10px 0 0 0;
                            }
                            .btn:first-child {
                                margin: 10px 0 0 0;
                            }
                        }
                    }
                    .important-block,
                    .desc-block {
                        max-width: 100%;
                        margin: 0;
                    }
                }
            }

            .event-page,
            .media-blocks-comments {
                .media-left,
                .media-right,
                .media-body {
                    display: block;
                    vertical-align: top;
                    max-width: 100%;
                }
                .media-left {
                    border: solid 1px #f2f2f2;
                    margin: 15px 0 0 0;
                    padding: 15px 0;
                }
                .inform-block {
                    .right-block {
                        flex-direction: column;
                        align-items: flex-end;
                    }
                }
            }

            .media .media-blocks-comments-comments {
                margin-left: 0;
            }
            .mt-message-excerpt {
                flex-direction: column;
                align-items: flex-start;
            }
            .mt-share {
                margin-top: 10px;
            }
            table th,
            table td {
                font-size: 11px;
                line-height: 15px;
            }
            table td h3 {
                font-size: 12px;
                line-height: 16px;
                padding: 0;
            }

            .mce-panel .mce-btn-group {
                margin-bottom: 10px;
            }


            .top-panel {
                flex-direction: column;
                align-items: flex-start;

                .button-block {
                    margin: 0 0 20px 0;
                }
            }
            .content__inner .community-list .header .col_right {
                margin: 0 0 20px 0;

            }
            .mt-overlay {
                min-width: 290px;
                left: 0;
                top: 100px;
            }
        }
        .bootbox .modal-dialog {
            .btn-default {
                margin-top: 15px;
            }
        }

        .mce-container-body.mce-abs-layout {
            overflow: hidden;
            width: 100% !important;
            height: auto !important;

            input {
                max-width: 100%;
                height: 30px !important;
                display: block;
                box-sizing: border-box;
            }
        }
        .mce-abs-layout-item, .mce-abs-end {
            position: relative !important;
            height: auto !important;
            width: 100% !important;
            left: auto !important;
            top: auto !important;
            line-height: 100% !important;
            margin: 0;

            .mce-label {
                display: block;
                margin: 10px 0;
            }
            .mce-combobox {
                height: 30px !important;
                display: block;

                input {
                    width: 100% !important;
                    max-width: 100%;
                    box-sizing: border-box;
                }
            }
        }
        .mce-window.mce-in {
            width: 100% !important;
            height: auto !important;
        }
        .mce-window-head {
            padding: 9px 15px;
            border-bottom: 1px solid #c5c5c5;
            position: relative;

            .mce-title {
                white-space: normal;

            }
        }
        .mce-checkbox {
            display: flex;
            align-items: center;
        }
        .mce-foot .mce-btn-has-text {
            width: auto !important;
            display: inline-block;
            margin: 10px 0 0 15px;
        }
        .mce-container-body.mce-window-body.mce-abs-layout {
            padding: 0 15px;
            box-sizing: border-box;
        }
        .mce-widget.mce-btn.mce-menubtn {
            box-sizing: border-box;
        }
    }

    .w-checkbox {
      .checkbox-custom {
        position: relative !important;
        display: inline-block !important;
      }
    }
}
