@font-face
  font-family 'PT Sans'
  src url('~assets/fonts/PTSans/PTSans-Italic.woff') format('woff')
  font-weight normal
  font-style italic

@font-face
  font-family 'PT Sans'
  src url('~assets/fonts/PTSans/PTSans-Bold.woff') format('woff')
  font-weight bold
  font-style normal

@font-face
  font-family 'PT Sans'
  src url('~assets/fonts/PTSans/PTSans-Regular.woff') format('woff')
  font-weight normal
  font-style normal
