html
  font-size unit($font-size-root, 'px') // 16
  -webkit-tap-highlight-color transparent

html,
body
  box-sizing border-box
  size 100%
  min-height 100%;
  height 1px;
  margin 0
  padding 0

*,
*::before,
*::after
  box-sizing inherit

img
  display block
  width 100%

ul,
ol
  padding 0
  margin 0
  list-style none

*:focus
  outline none

a
  text-decoration $decoration
