body
  -webkit-font-smoothing antialiased
  font-size 100%
  font-family $font-base
  font-weight $normal
  color $gray
  line-height 1.6rem

a:link,
a:visited
  color $gray

h1
  font-size: $h1
  line-height: rem(23)
  font-family $font-decorative

h3
  font-size: $h3
  line-height: rem(17)
  font-family $font-decorative