@font-face {
  font-family: 'moto';
  src:  url('fonts/moto.eot?28jo2a');
  src:  url('fonts/moto.eot?28jo2a#iefix') format('embedded-opentype'),
    url('fonts/moto.ttf?28jo2a') format('truetype'),
    url('fonts/moto.woff?28jo2a') format('woff'),
    url('fonts/moto.svg?28jo2a#moto') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="mi-"], [class*=" mi-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'moto' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mi-edit2:before {
  content: "\e939";
}
.mi-top:before {
  content: "\e937";
}
.mi-lk2:before {
  content: "\e938";
}
.mi-mail2:before {
  content: "\e936";
}
.mi-email:before {
  content: "\e909";
}
.mi-key:before {
  content: "\e90a";
}
.mi-lock:before {
  content: "\e905";
}
.mi-sale:before {
  content: "\e906";
}
.mi-star2:before {
  content: "\e907";
}
.mi-lk-o:before {
  content: "\e908";
}
.mi-add:before {
  content: "\e900";
}
.mi-add-article:before {
  content: "\e901";
}
.mi-arrow-next:before {
  content: "\e902";
}
.mi-arrow-prev:before {
  content: "\e903";
}
.mi-calendar:before {
  content: "\e904";
}
.mi-center:before {
  content: "\e90b";
}
.mi-close:before {
  content: "\e90c";
}
.mi-code:before {
  content: "\e90d";
}
.mi-diamond:before {
  content: "\e90e";
}
.mi-edit:before {
  content: "\e90f";
}
.mi-extract:before {
  content: "\e910";
}
.mi-eye:before {
  content: "\e911";
}
.mi-facebook:before {
  content: "\e912";
}
.mi-fb:before {
  content: "\e913";
}
.mi-foto:before {
  content: "\e914";
}
.mi-gplus:before {
  content: "\e915";
}
.mi-justify:before {
  content: "\e916";
}
.mi-left:before {
  content: "\e917";
}
.mi-li:before {
  content: "\e918";
}
.mi-list:before {
  content: "\e919";
}
.mi-lk:before {
  content: "\e91a";
}
.mi-location:before {
  content: "\e91b";
}
.mi-location2:before {
  content: "\e91c";
}
.mi-mail:before {
  content: "\e91d";
}
.mi-marked-box:before {
  content: "\e91e";
}
.mi-moto:before {
  content: "\e91f";
}
.mi-new-mail:before {
  content: "\e920";
}
.mi-news:before {
  content: "\e921";
}
.mi-odnoklassniki:before {
  content: "\e922";
}
.mi-otpisat:before {
  content: "\e923";
}
.mi-pic:before {
  content: "\e924";
}
.mi-pics:before {
  content: "\e925";
}
.mi-quote:before {
  content: "\e926";
}
.mi-right:before {
  content: "\e927";
}
.mi-rss:before {
  content: "\e928";
}
.mi-search:before {
  content: "\e929";
}
.mi-share:before {
  content: "\e92a";
}
.mi-star:before {
  content: "\e92b";
}
.mi-thumb-up:before {
  content: "\e92c";
}
.mi-tool:before {
  content: "\e92d";
}
.mi-tool2:before {
  content: "\e92e";
}
.mi-twitter:before {
  content: "\e92f";
}
.mi-upload:before {
  content: "\e930";
}
.mi-upload-file:before {
  content: "\e931";
}
.mi-vehicle-filter:before {
  content: "\e932";
}
.mi-video:before {
  content: "\e933";
}
.mi-vkontakte:before {
  content: "\e934";
}
.mi-youtube:before {
  content: "\e935";
}
