<template>
  <div>
    <div v-if="title" class="mt-carousel-caption">{{ title }}</div>
    <div v-if="text">{{ text }}</div>

    <template v-if="action">
      <template v-if="action.to">
        <nuxt-link class="btn mt-banner-button" :to="action.to">{{ action.text }}</nuxt-link>
      </template>
      <template v-else-if="action.href">
        <a class="btn mt-banner-button" :href="action.href">{{ action.text }}</a>
      </template>
      <template v-else-if="action.handler">
        <button class="btn mt-banner-button" @click="action.handler">{{ action.text }}</button>
      </template>
    </template>
  </div>
</template>

<script>
  export default {
    props: {
      title: { type: String },
      text: { type: String },
      action: { type: Object },
    },
  };
</script>

<style lang="scss" scoped>
  .mt-carousel-caption {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 28px;
  }

  .mt-banner-button {
    border: 3px solid #fdf9f9;
    border-radius: 10px;
    background: transparent;
    color: #fdf9f9;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 15px;
    padding: 8px 15px;

    &:hover {
      background: #fdf9f9;
      color: #000;
    }
    &:focus {
      background: #fdf9f9;
      color: #000;
    }
  }
</style>
