<template>
  <div class="root">
    <!-- <ul class="actions"> -->
      <!-- <button
        v-for="action in actions"
        class="btn btn-link flat-button"
        @click="handleAction(action)"
        >
        {{ action.text }}
      </button> -->
    <!-- </ul> -->
    <div class="head-info">
      <div class="title" :class="{ 'title--small' : smallTitle }" v-if="title || iconClass">
        <!-- @NOTE: icon -->
        <!-- <template v-if="iconClass">
          <i class="icon fa" :class="iconClass" aria-hidden="true"></i>
          &nbsp;
        </template> -->

        <i :class="iconClass"></i>

        <!-- @NOTE: title -->
        <nuxt-link v-if="linkTo" :to="linkTo">{{ title }}</nuxt-link>
        <span v-else>{{ title }}</span>
      </div>
      <!-- кто добавил эту строчку?! напишите в личку - gleam -->
      <!-- <a href="#" class="link">Создать</a> -->
      <slot class="link" name="actions"></slot>
    </div>

    <div v-if="$slots.default" class="body">
      <slot></slot>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      smallTitle: { type: Boolean, default: false },
      title: { type: String },
      linkTo: { type: [String, Object] }, // router-link compatible target
      iconClass: {type: String }, // font-awesome icon, e.g. `fa-commenting-o`
      actions: { type: Array },
    },
    methods: {
      handleAction(action) {
        if (action.handler) {
          action.handler();
        }
        else if (action.to) {
          this.$router.push(action.to);
        }
      },
    }
  };
</script>

<style lang="scss" scoped>
  /*.flat-button {
    padding: 0;
  }*/

  /*.actions {
    padding-right: 12px;
    float: right;
  }*/

  .head-info {
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    align-items: center;

    .link {
      color: #aaa;
      font-size: 12px;
      line-height: 12px;
      text-transform: lowercase;
      text-decoration: underline;
    }
    .link:hover {
      color: #000;
    }

    .title {
      color: #999;
      font-size: 24px;
      text-transform: uppercase;
      display: flex;
      align-items: center;

      .mi {
        font-size: 57px;
        margin-right: 10px;
      }
      .mi:before {
        color: #999;
      }
    }

    .title--small {
      text-transform: none;
      font-size: 18px;
      font-weight: bold;
    }
  }

  .body {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    a {
      display: inline-block;
      color: #999;
      font-size: 14px;
      line-height: 18px;
      text-decoration: underline;
      margin-top: 5px;
    }
    a:hover {
      color: #000;
    }
  }
</style>
