<template>
  <div>

    <mt-sidebar-user class="mt-section" me></mt-sidebar-user>

    <ul class="sub-nav">
      <li>
        <nuxt-link :to="'/admin/new-stuff'">Материалы</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="'/admin/banners'">Реклама</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="'/admin/counters'">Счетчики</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="'/admin/calendar'">Календарь</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="'/admin/add-event'">Добавить мероприятие</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="'/admin/types'">Типы техники</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="'/admin/brands'">Производители</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="'/admin/models'">Модели</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="'/admin/vehicles'">Мотоциклы</nuxt-link>
      </li>
    </ul>

  </div>
</template>

<script>
  export default {
    data() {
      return {
      };
    },
  };
</script>

<style lang="scss">
</style>
