<template>
  <div>

    <mt-sidebar-user class="mt-section"></mt-sidebar-user>
    <mt-sidebar-members class="mt-section"></mt-sidebar-members>
    <!-- сложная (со стороны бэка) реализация. На фронте - готово. -->
    <!-- <mt-sidebar-members-blogs class="mt-section"></mt-sidebar-members-blogs> -->
    <mt-sidebar-carousel-events class="mt-section" with-title></mt-sidebar-carousel-events>
    <mt-sidebar-top-communities class="mt-section"></mt-sidebar-top-communities>
    <mt-sidebar-carousel-accessories class="mt-section" with-title></mt-sidebar-carousel-accessories>
    <!-- <mt-sidebar-banner class="mt-section"></mt-sidebar-banner> -->

  </div>
</template>

<script>
  export default {
    data() {
      return {
      };
    },
  };
</script>

<style lang="scss" scoped>
</style>
