<template>
  <div>

    <!-- фото недели -->
    <mt-sidebar-photo-of-week class="mt-section"></mt-sidebar-photo-of-week>

    <!-- последнее в блогах -->
    <mt-sidebar-new-in-blogs class="mt-section"></mt-sidebar-new-in-blogs>

    <!-- производители -->
    <mt-sidebar-brands class="mt-section"></mt-sidebar-brands>

    <!-- каруселька с событиями -->
    <mt-sidebar-carousel-events class="mt-section" with-title></mt-sidebar-carousel-events>

    <!-- баннер в сайдбаре -->
    <!-- <mt-sidebar-banner class="mt-section"></mt-sidebar-banner> -->

    <!-- каруселька с аксессуарами -->
    <mt-sidebar-carousel-accessories></mt-sidebar-carousel-accessories>





    <!-- все, что есть -->

    <!-- производители -->
    <!-- <mt-sidebar-brands class="mt-section"></mt-sidebar-brands> -->

    <!-- фото недели -->
    <!-- <mt-sidebar-photo-of-week class="mt-section"></mt-sidebar-photo-of-week> -->

    <!-- каруселька с событиями -->
    <!-- <mt-sidebar-carousel-events class="mt-section"></mt-sidebar-carousel-events> -->

    <!-- каруселька с аксессуарами -->
    <!-- <mt-sidebar-carousel-accessories class="mt-section"></mt-sidebar-carousel-accessories> -->

    <!-- текущий пользователь -->
    <!-- <mt-sidebar-user class="mt-section"></mt-sidebar-user> -->

    <!-- участники группы -->
    <!-- <mt-sidebar-members class="mt-section"></mt-sidebar-members> -->

    <!-- блоги участников -->
    <!-- <mt-sidebar-members-blogs class="mt-section"></mt-sidebar-members-blogs> -->

    <!-- топ-группы -->
    <!-- <mt-sidebar-top-communities class="mt-section"></mt-sidebar-top-communities> -->

    <!-- группы, созданные текущим пользователем -->
    <!-- <mt-sidebar-my-created-communities class="mt-section"></mt-sidebar-my-created-communities> -->

    <!-- баннер в сайдбаре -->
    <!-- <mt-sidebar-banner class="mt-section"></mt-sidebar-banner> -->

    <!-- техника текущего пользователя -->
    <!-- <mt-sidebar-user-vehicles class="mt-section"></mt-sidebar-user-vehicles> -->

  </div>
</template>

<script>
  export default {
    data() {
      return {
      };
    },
  };
</script>

<style lang="scss" scoped>
</style>
