<template>
  <div class="error-page">
    <div class="error-message">
      <h1>{{ error.statusCode }}</h1>
      <p v-if="error.statusCode === 404">{{ error.message || 'К сожалению, такой страницы не существует' }}</p>
      <p v-else>{{ error.message || 'При работе сайта произошла ошибка' }}</p>
      <p>Перейти на <nuxt-link to="/">главную страницу</nuxt-link></nuxt-link></p>
      <nuxt-link to="/" class="site-logo"/>
    </div>
  </div>
</template>

<script>
export default {
  props: ['error']
}
</script>

<style lang="stylus">
</style>
