<template>
  <div id="app" class="wrap">
    <div class="content">
      <mt-banner-top/>
      <mt-navigation/>
      <div class="content__inner">
        <mt-main class="mt-main-default">
          <div class="community-list">
            <mt-breadcrumbs/>
            <nuxt/>
          </div>
        </mt-main>
        <aside>
          <sidebar />
        </aside>
      </div>
    </div>
    <mt-footer/>
  </div>
</template>

<script>
  export default {
    components: {
      sidebar: require('./news.sidebar').default,
    },
  };
</script>

<style lang="scss">
</style>
