<template>
  <div>

    <!-- текущий пользователь -->
    <mt-sidebar-user class="mt-section">
    </mt-sidebar-user>

    <!-- техника текущего пользователя -->
    <mt-sidebar-user-vehicles class="mt-section">
    </mt-sidebar-user-vehicles>

    <!-- каруселька с событиями -->
    <mt-sidebar-carousel-events with-title class="mt-section">
    </mt-sidebar-carousel-events>

    <!-- группы, в которых состоит текущий пользователь -->
    <mt-sidebar-communities-with-user class="mt-section">
    </mt-sidebar-communities-with-user>

    <hr />

    <!-- группы, созданные текущим пользователем -->
    <mt-sidebar-my-created-communities class="mt-section">
    </mt-sidebar-my-created-communities>

    <!-- блоги, на которые подписан пользователь -->
    <mt-sidebar-subscribed-to v-if="isMe" class="mt-section">
    </mt-sidebar-subscribed-to>

    <!-- каруселька с аксессуарами -->
    <mt-sidebar-carousel-accessories v-if="isMe" class="mt-section">
    </mt-sidebar-carousel-accessories>

  </div>
</template>

<script>
  export default {
    data() {
      return {
      };
    },
    computed: {
      isMe() {
        return _.get(this, '$store.state.sidebar.isMe', false);
      },
    }
  };
</script>

<style lang="scss" scoped>
</style>
