<template>
  <div>

    <mt-sidebar-vehicle-vendor></mt-sidebar-vehicle-vendor>

    <mt-sidebar-vehicle-type></mt-sidebar-vehicle-type>

    <mt-sidebar-carousel-accessories></mt-sidebar-carousel-accessories>

    <!-- <mt-sidebar-banner class="mt-section"></mt-sidebar-banner> -->

    <mt-sidebar-news class="mt-section"></mt-sidebar-news>

  </div>
</template>

<script>
  export default {
    data() {
      return {
      };
    },
  };
</script>

<style lang="scss" scoped>
</style>
