<template>
  <div id="app" class="wrap">
    <div class="content">
      <mt-banner-top/>
      <mt-navigation/>
      <div class="content__inner">
        <mt-main class="mt-main-without-aside">
          <nuxt/>
        </mt-main>
      </div>
    </div>
    <mt-footer/>
  </div>
</template>

<script>
  export default {
  };
</script>

<style lang="scss">
  .mt-main-without-aside {
    width: 100%;
  }
</style>
