<template>
	<div class="wrap">
		<div>
			<div class="left-img">
				<img src="~@/assets/img/logo_503.png">
			</div>
			<div class="right-text">
				<div class="text">Ведутся технические работы.</div>
				<p>Приносим извенения за приченённые неудобства</p>
				<p class="net">навестить нас в соц. сетях</p>
				<div class="network">
					<a href="#"><img src="~@/assets/img/network/yt.png"></a>
					<a href="#"><img src="~@/assets/img/network/fb.png"></a>
					<a href="#"><img src="~@/assets/img/network/vk.png"></a>
					<a href="#"><img src="~@/assets/img/network/ok.png"></a>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
  export default {

    layout: 'naked',

    head() {
      return {
        title: 'Ведутся технические работы',
      };
    },

  };
</script>

<style lang="scss" scoped>
	.wrap {
		width: 100%;
		margin: -113px 0 0 0;
		position: absolute;
		left: 0;
		top: 50%;

		> div {
			width: 730px;
			display: flex;
			align-items: center;
    		margin: 0 auto;
		}

		.left-img {
			img {
				width: 200px;
				margin-right: 40px;
			}
		}

		.right-text {
			color: #999;
			text-transform: uppercase;

			.text {
				font-size: 31px;
				line-height: 31px;
			}
			p {
				font-size: 18px;
				line-height: 18px;
				margin: 5px 0 30px 0;
			}
			.network {
				display: flex;
				align-items: center;

				img {
					width: 125px;
					padding: 0 30px 0 0;
				}
			}
		}
	}

	@media screen and (max-width: 767px) {
		.wrap {
			margin: -233.5px 0 0 0;

			> div {
				width: 100%;
				flex-direction: column;
			}
			.left-img {
				img {
					width: 200px;
					margin: 0 0 40px 0;
				}
			}
		}
	}

	@media screen and (max-width: 500px) {
		.wrap {
			text-align: center;
			margin: -335.5px 0 0 0;

			.right-text {
				.text {
					font-size: 27px;
					line-height: 31px;
				}
				p {
					line-height: 22px;
				}
			}
			.network {
				flex-wrap: wrap;

				a {
					width: 50%;
					display: block;
					text-align: center;
					margin: 0 0 20px 0;

					img {
						width: 95px;
						margin: 0 auto;
						padding: 0;
					}
				}
			}
		}
	}
</style>
