<template>
  <div class="wrap">
  	<div class="text">404</div>
  	<p>
      К сожалению, такой страницы не существует.
      <br />
      Вы можете <a href @click.prevent="$router.go(-1)">вернуться назад</a>
       или на <nuxt-link to="/">главную страницу</nuxt-link>
    </p>
    <nuxt-link to="/"><img src="~@/assets/svg/logo.svg"></nuxt-link>
  </div>
</template>

<script>
  export default {

    layout: 'naked',

    head() {
      return {
        title: 'Страница не найдена',
      };
    },

  };
</script>

<style lang="scss" scoped>
	.wrap {
		width: 100%;
		text-align: center;
		margin: -113px 0 0 0;
		position: absolute;
		left: 0;
		top: 50%;

		.text {
			color: #000;
			font-size: 50px;
			line-height: 50px;
		}
		p {
			font-size: 18px;
			line-height: 22px;
			text-transform: uppercase;
			margin: 20px 0;

			a {
				text-decoration: underline;
			}
			a:hover {
				color: #000;
			}
		}
		img {
			width: 250px;
			margin: 0 auto;
		}
	}
</style>
