<template>
  <div class="personal-area-page">

    <mt-page-banner>
    </mt-page-banner>

    <div class="top-panel">
      <h1 class="title">
        Аксессуары
      </h1>
      <div class="button-block">

        <!-- Я без понятия зачем это тут нужно
          <nuxt-link class="btn btn-default" to="/admin/new-stuff">
            Новые (12)
          </nuxt-link>
        -->

        <!-- @NOTE: на новости раздела нельзя подписаться, см. макеты -->

        <nuxt-link tag="button" to="/add-accessory" class="btn btn-default">
          <i class="mi mi-add"></i>
          Добавить запись
        </nuxt-link>

      </div>
    </div>

    <div class="cont-feed cont-for-news">
      <mt-feed
        :items="accessories.items"
        :loading="accessories.loading"
        :page="accessories.page"
        :page-min="1" :page-max="accessories.pageMax"
        @update-page="updatePage(accessories, $event)"
        @show-more="showMore(accessories)"
        >
      </mt-feed>
    </div>

  </div>
</template>

<script>
  import { delay, FeedList } from '@/utils';

  export default {

    fetch({ route, store }) {
      store.commit('replaceBreadcrumbs', [
        { title: 'Главная', to: '/' },
        { title: 'Аксессуары (вы здесь)' },
      ]);
    },

    layout: 'news',

    async asyncData() {
      return {
        accessories: await FeedList.makeAndLoad('/articles/getAllFull?spotType="Accessory"', 5, {mapper: 'fullArtice'}),
      };
    },

    head() {
      return {
        title: 'Аксессуары',
      };
    },


    methods: {
      async updatePage(list, page) {
        FeedList.updatePage(list, page);
      },
      async showMore(list) {
        FeedList.showMore(list);
      },
    },

  };
</script>

