<template>
  <main>

    <div class="header">
      <div class="col_left">
        <h1 class="title">Сообщества Moto Team Russia</h1>
      </div>
      <div class="col_right">
        <form class="page__search">
          <input v-model="search" type="text" placeholder="Искать">
          <button type="submit"><i class="mi mi-search"></i></button>
        </form>
      </div>
    </div>

    <div class="cont-feed cont-for-2 height-auto">
      <mt-feed
        :items="visibleCommunities"
        :loading="communities.loading"
        :page="communities.page"
        :page-min="1" :page-max="communities.pageMax"
        :wide="true"
        card-cmp="mt-feed-card-community"
        @update-page="updatePage(communities, $event)"
        @show-more="showMore(communities)"
        >
      </mt-feed>
    </div>

  </main>
</template>

<script>
  import { FeedList } from '@/utils';

  export default {

    fetch({ route, store }) {
      store.commit('replaceBreadcrumbs', [
        { title: 'Главная', to: '/' },
        { title: 'Сообщества (вы здесь)' },
      ]);
    },

    layout: 'news',

    async asyncData() {
      return {
        search: '',
        communities: await FeedList.makeAndLoad('/communities/getAll'),
      };
    },

    head() {
      return {
        title: 'Сообщества',
      };
    },


    computed: {
      visibleCommunities() {
        var search = this.search.trim().toLowerCase();
        if (search === '') {
          return this.communities.items;
        }
        else {
          return this.communities.items
            .filter(community => {
              return _.some([
                community.title.toLowerCase().includes(search),
              ]);
            })
        }
      },
    },

    methods: {
      async updatePage(list, page) {
        FeedList.updatePage(list, page);
      },
      async showMore(list) {
        FeedList.showMore(list);
      },
    },

  };
</script>
