<template>
  <mt-page-community-edit
    create
    :page-data="pageData"
    @submit="submit"
  >
  </mt-page-community-edit>
</template>

<script>
  import cuid from 'cuid';
  import api from '@/api';
  import { delay, uploadImage } from '@/utils';

  var DEFAULT_FORM = {
    photoData: null,
    photoAlt: '',

    photoId: null,
    slug: '',
    title: '',
    description: '',
    moderationEnabled: true,
    website: '',
  };

  export default {

    fetch({ route, store }) {
      store.commit('replaceBreadcrumbs', [
        { title: 'Главная', to: '/' },
        { title: 'Создание сообщества (вы здесь)' },
      ]);
    },

    layout: 'personal',
    async asyncData(context) {
      await context.store.dispatch('sidebar/loadUser');
    },

    head() {
      return {
        title: 'Создание сообщества',
      };
    },

    data() {
      return {
        pageData: {
          form: _.cloneDeep(DEFAULT_FORM),
          busy: false,
        },
      };
    },

    methods: {

      async submit() {
        try {
          this.pageData.busy = true;

          var form = _.cloneDeep(this.pageData.form);

          if (form.photoData && form.photoData.startsWith('data:image')) {
            try {
              let photo = await uploadImage(form.photoData);
              form.photoId = photo.id;
            }
            catch (err) {
              console.error(err);
              throw new Error('Не удалось загрузить фотографию');
            }
          }

          if (form.photoId) {
            try {
              await api.post(`/photos/${form.photoId}/update`, { altText: form.photoData.photoAlt });
            }
            catch (err) {
              console.error(err);
              throw new Error('Не удалось обновить описание фотографии');
            }
          }

          form = _.omit(form, ['photoData', 'photoAlt']);

          try {
            let { data: { data: community } } = await api.post('/communities/add', form);
            this.pageData.busy = false;
            this.$router.push(`/community-${community.id}`);
          }
          catch (err) {
            console.error(err);
            throw new Error('Не удалось создать сообщество');
          }
        }
        catch (err) {
          this.pageData.busy = false;
          alert(err.message);
        }
      },

    },

  };
</script>
