<script>
  import api from '@/api';

  export default {
    template: `
      <div class="events-item">
        <p class="title">{{ event.title }}</p>
        <p class="desc">{{ $truncate(event.subtitle) }}</p>
        <div class="links">
          <div class="left">
            <w-checkbox
              label="Пойду"
              @input="participate($event)"
              :value="event.iWillGo"
              />

            <p>
              <span>{{ event.friendsCount }}</span> Друзей пойдет
            </p>
          </div>

          <div class="right">
            <nuxt-link class="read-more" :to="eventUrl">
              подробнее...
            </nuxt-link>
            <nuxt-link v-if="event.hasReport" class="view-report" :to="eventUrl">
              Посмотреть отчет
            </nuxt-link>
          </div>
        </div>
      </div>
    `,
    props: {
      event: {
        type: Object,
        required: true,
      }
    },

    computed: {
      eventUrl() {
        return `/event-${this.event.id}`;
      },
    },

    methods: {
      async participate(state) {
        try {
          if (!state) {
            await api.post(`/gatherings/${this.event.id}/leave`);
          }
          else {
            await api.post(`/gatherings/${this.event.id}/join`);
          }
          this.event.iWillGo = !this.participate;
        }
        catch (err) {
          console.warn('Не удалось изменить состояние подписки на событие');
          alert(err.message);
        }
      },
    },
  };
</script>
