<script>
  export default {
    template: `
      <div class="day-cell">
        <span class="ww">
          {{ day.format('ddd') }}
        </span>
        <span
          class="dd"
          :class="{active: isActive, current: isCurrent}"
          @click="$emit('select')"
          >
          {{ day.format('DD') }}
        </span>
      </div>
    `,
    props: {
      day: {
        type: Object,
        required: true,
      },
      isActive: {
        type: Boolean,
        default: false,
      },
      isCurrent: {
        type: Boolean,
        default: false,
      },
    },
  }
</script>
