<template>
  <div v-if="isMounted">
    <div class="events-days">
      <div class="month events-days-item">
        <a @click.prevent="moveMonth(-1)" class="arrow-left">
          <i class="mi mi-arrow-prev"></i>
        </a>
        <span class="mm">{{ selectedMonth.format('MMMM') }}</span>
        <a @click.prevent="moveMonth(+1)" class="arrow-right">
          <i class="mi mi-arrow-next"></i>
        </a>
      </div>
      <div class="year events-days-item">{{ selectedMonth.format('YYYY') }}</div>
      <div class="days events-days-item">
        <day-cell
          v-for="day in monthDays" :key="+day"
          @select="value = +day"
          :day="day"
          :isCurrent="dayRange.contains(day)"
          :isActive="hasEvents(day)"
          />
      </div>
    </div>

    <div class="events-list" :style="coverStyle">

      <div class="date">
        <div class="num">{{ selectedDay.format('DD') }}</div>
        <div class="wm">
          <span class="ww">{{ selectedDay.format('dddd') }}</span>
          <span class="mm">{{ selectedDay.format('MMMM') }}</span>
        </div>
      </div>

      <event-card
        class="events-item"
        v-for="event in dayEvents" :key="event.id"
        :event="event"
        />

      <nuxt-link to="/admin/add-event" class="btn btn-default">
        <i class="fa fa-plus"></i>
        Добавить запись
      </nuxt-link>
    </div>
  </div>
</template>

<script>
  import api from '@/api';
  import defaultCover from '@/assets/img/calendar__bg.jpg';

  export default {

    fetch({ route, store }) {
      store.commit('replaceBreadcrumbs', [
        { title: 'Главная', to: '/' },
        { title: 'Календарь (вы здесь)' },
      ]);
    },

    layout: 'without-aside',

    components: {
      'day-cell': require('./events.day-cell').default,
      'event-card': require('./events.event-card').default,
    },
    data() {
      return {
        value: null,
        monthEvents: [],
        coverImage: null,

        isMounted: false,
      };
    },

    head() {
      return {
        title: 'Календарь',
      };
    },

    computed: {
      selectedDay() {
        return moment(this.value || undefined).startOf('day');
      },
      // ПОМЕСЯЧНАЯ загрузка данных.
      // переключили месяц - ушел запрос.
      selectedMonth() {
        return this.selectedDay.clone().startOf('month');
      },
      monthRange() {
        var monthStart = this.selectedMonth.clone().startOf('month');
        var monthEnd = this.selectedMonth.clone().endOf('month');
        return moment.range(monthStart.clone(), monthEnd.clone());
      },
      monthDays() {
        // The exclusive options is used to indicate if the end of the range should be excluded when testing for inclusion:
        return Array.from(this.monthRange.by('day', { exclusive: false }));
      },
      //
      dayRange() {
        var dayStart = this.selectedDay.clone().startOf('day');
        var dayEnd = this.selectedDay.clone().endOf('day');
        return moment.range(dayStart, dayEnd);
      },
      //
      dayEvents() {
        return _.filter(this.monthEvents, e => {
          return this.dayRange.contains(e.date);
        });
      },
      coverStyle() {
        return {
          'background-image': `url(${this.coverImage || defaultCover})`,
        };
      },
    },

    watch: {
      monthRange: {
        immediate: true,
        handler: _.debounce(async function(range, oldRange) {
          var vm = this;
          var selected = vm.selectedMonth;

          var { data: { data: images } } = await api.get(`/photos/calendar/getAll?year=${selected.year()}`);
          var image = _.find(images, image => image.month == selected.month() + 1);
          var response = await api.get(`gatherings/getAll?year=${selected.year()}&month=${selected.month() + 1}`);

          this.coverImage = image && image.photo.urls.original || null;
          this.monthEvents = _(response.data.data)
            .map(event => {
              return {
                id: event.gathering.id,
                title: event.gathering.title,
                subtitle: event.gathering.description,
                iWillGo: event.participate,
                friendsCount: event.friendCount,
                date: moment(event.gathering.startDate, 'YYYY-MM-DD'),
                hasReport: !!event.gathering.reportMarkdown,
              };
            })
            .filter(event => range.contains(event.date))
            .value()
            ;
        }),
      },

      // выбранный день ОБЯЗАН принадлежать выбранному месяцу.
      // Форсирую :)
      monthEvents() {
        if (!this.monthRange.contains(this.selectedDay)) {
          this.selectedDay = this.selectedMonth.clone();
        }
      },

      selectedDay(val) {
        var dayInUrl = +this.$route.hash.slice(1);
        if (dayInUrl !== +val) {
          this.$router.push(`#${val}`);
        }
      },

      $route(val) {
        this.updateValue();
      },
    },

    methods: {

      // принимает +1/-1. Но будет работать и с другими значениями :)
      moveMonth(value) {
        this.value = +this.selectedDay.clone().add(value, 'month');
      },

      // "рамка" вокруг day-cell
      hasEvents(date) {
        let dayRange = moment.range(date.clone().startOf('day'), date.clone().endOf('day'));
        return _.some(this.monthEvents, e => dayRange.contains(e.date));
      },

      // актуализирует выбранный день
      updateValue() {
        var urlDay = +this.$route.hash.slice(1);
        if (!urlDay) {
          this.$router.push('#');
        }
        var newSelectedDay = moment(urlDay || undefined).startOf('day');
        if (+this.selectedDay !== +newSelectedDay) {
          this.value = +newSelectedDay;
        }
      },
    },

    beforeMount() {
      this.updateValue();
    },

    mounted() {
      this.isMounted = true;
    },
  }
</script>

<style lang="scss">
  .w-checkbox .checkbox-custom {
    background: transparent;
  }
  .events-days {
    min-height: 117px;
    background: #7f7f7f;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    padding: 0 32px;

    .events-days-item {
      display: -webkit-flex;
      display: flex;
      align-items: center;
    }
    .month {
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-between;
      justify-content: space-between;

      &.events-days-item {
        cursor: pointer;
      }
    }
    .mm {
      color: #fff;
      font-size: 27px;
      font-weight: lighter;
      /*padding: 0 20px;*/
      text-transform: capitalize;
    }
    .mi-arrow-prev,
    .mi-arrow-next {
      font-size: 42px;
      vertical-align: middle;
    }
    .mi-arrow-prev:before,
    .mi-arrow-next:before {
      color: #fff;
    }
    a:hover,
    a:focus,
    a:active {
      text-decoration: none;
    }

    .month { width: 11.6%; }
    .year { width: 8.2%; }
    .days { width: 80.2%; }
    .year {
      color: #fff;
      font-size: 27px;
      font-weight: lighter;
      /*padding: 0 0 0 25px;*/
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: flex-end;
      justify-content: flex-end;
    }
    .year:after {
      content: '|';
      height: 30px;
      color: #fff;
      font-size: 35px;
      display: inline-block;
      margin: 0 0 0 15px;
    }

    .days {
      > div {
        padding: 0 4px;
        flex: 1;
      }
      span {
        display: block;
        color: #fff;
        text-align: center;
      }
      span.ww {
        font-size: 12px;
        line-height: 12px;
        margin-bottom: 5px;
        cursor: default;
      }
      span.dd {
        font-size: 14.6px;
        line-height: 15px;
        padding: 2px;
        cursor: pointer;
      }
      span.dd.active {
        border: solid 1px #fff;
      }
      span.dd.current {
        background: #fff;
        color: #7f7f7f;
      }
    }
  }

  .events-list {
    min-height: 775px;
    /*background-size: cover;*/
    background-size: 100%;
    padding: 65px 85px;
    position: relative;

    .date {
      max-width: 100px;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: flex-start;
      justify-content: flex-start;
      align-items: center;

      > div {
        flex: 1;
      }
      .num {
        color: #fff;
        font-size: 37px;
        line-height: 37px;
        font-weight: bold;
      }
      .wm {
        span {
          display: block;
          color: #fff;
        }
        span.ww {
          font-size: 12px;
          line-height: 12px;
        }
        span.mm {
          font-size: 16px;
          line-height: 16px;
        }
      }
    }

    .btn-default {
      border-color: #fff;
      color: #fff;
      position: absolute;
      bottom: 65px;
      right: 85px;

      i {
        font-size: 12px;
        margin: 0 3px 0 0;
      }
    }
    .btn-default:hover,
    .btn-default:active,
    .btn-default:focus {
      color: #000;
    }

    .events-item {
      max-width: 390px;
      border: solid 1px #fff;
      background: rgba(0,0,0,.5);
      padding: 18px 34px;
      margin-top: 15px;

      .title {
        color: #fff;
        font-size: 23px;
        line-height: 27px;
        text-transform: uppercase;
        font-weight: lighter;
      }
      .desc {
        color: #fff;
        font-size: 14px;
        line-height: 18px;
      }
      .links {
        display: flex;

        > div {
          flex: 1;
        }

        label {
          margin-bottom: 5px;
          cursor: pointer;
        }
        .checkbox {
          display: none;
        }
        .checkbox-custom {
          width: 17px;
          height: 17px;
          border: 2px solid #fff;
        }

        .label {
          font-size: 11px;
        }

        .left {
          p {
            color: #fff;
            font-size: 11px;

            span {
              width: 17px;
              display: inline-block;
              border: solid 1px #fff;
              color: #fff;
              font-size: 11px;
              line-height: 11px;
              text-align: center;
              padding: 2px;
            }
          }
        }

        .right {

          .read-more {
            display: table;
            color: #fff;
            font-size: 10px;
            text-decoration: underline;
            margin-bottom: 5px;
          }
          .read-more:hover {
            font-weight: bold;
          }
          .view-report {
            border: solid 1px #fff;
            color: #fff;
            font-size: 11px;
            padding: 5px 8px;
          }
          .view-report:hover {
            background: #fff;
            color: #000;
            text-decoration: none;
          }

        }
      }
    }
  }
</style>
