<template>
  <main class="mt-home">

    <mt-home-header v-if="nominatedArticle" :author="nominatedAuthor" :article="nominatedArticle"/>
    <div class="error" v-else>Ошибка при получении лучшей записи за неделю</div>

    <mt-home-content v-if="sections" :sections="sections"/>
    <div class="error" v-else>Ошибка при получении новостей</div>

  </main>
</template>

<script>
  import cuid from 'cuid';
  import api from '@/api';
  import { delay } from '@/utils';

  export default {

    head() {
      return {
        title: 'Moto Team Russia',
      };
    },

    fetch({ route, store }) {
      store.commit('replaceBreadcrumbs', null);
    },

    async asyncData({ store }) {
      // @NOTE: может провалиться, ничего страшного
      var sections = null;
      var LIMIT = 5;

      try {

        var results = {};
        sections = await Promise.all([
          // news
          api.get(`/articles/getAllNews?spotType="AccountBlog"&limit=${LIMIT}`).then(result => ({
            to: '/news',
            type: 'article',
            title: 'Общие новости',
            items: result.data.data,
          })).catch(err => {throw err;}),
          // by tech-type
          ..._.map(store.state.domains.VehicleType, type => {
            return api.get(`/articles/getAllFull?vehicleTypeId=${type.id}&limit=${LIMIT}`).then(result => ({
              to: `/news?type=${type.id}`,
              type: 'article',
              title: type.name,
              items: result.data.data,
            })).catch(err => {throw err;});
          }),
          // events
          api.get(`/gatherings/getAll?limit=${LIMIT}`).then(result => ({
            to: '/events',
            type: 'event',
            title: 'Соревнования',
            items: result.data.data,
          })).catch(err => {throw err;}),
          // accessories
          api.get(`/articles/getAllFull?spotType="Accessory"&limit=${LIMIT}`).then(result => ({
            to: '/accessories',
            type: 'article',
            title: 'Аксессуары',
            items: result.data.data,
          })).catch(err => {throw err;}),
        ]).catch(err => {throw err;});
      }
      catch (err) {
        console.warn('Вкладки на главной - ошибка при получении данных');
      }

      // @NOTE: может провалиться, ничего страшного
      var nominatedArticle = null, nominatedAuthor = null;
      try {
        let { data: { data: article } } = await api.get('/articles/getTop');
        let { data: { data: author } } = await api.get(`/accounts/${article.authorId}/get`);
        nominatedArticle = article;
        nominatedAuthor = author;
      }
      catch (err) {
        console.warn('Фото недели - ошибка при получении данных');
      }

      return {
        nominatedArticle: nominatedArticle,
        nominatedAuthor: nominatedAuthor,
        sections: sections,
      };
    },

  };
</script>

