<template>
  <div class="page-news personal-area-page">

    <mt-page-banner>
    </mt-page-banner>

    <div class="personal-main-header">
      <div class="top-panel">
        <h1 class="title">
          {{ title }}
        </h1>
        <div class="button-block">

          <!-- вроде, связано с модерацией. Но покеа что не понятно что это и зачем.
            <nuxt-link class="btn btn-default" to="/admin/new-stuff">
              Новые (12)
            </nuxt-link>
           -->

          <!-- @NOTE: на новости раздела нельзя подписаться, см. макеты -->

          <!-- Новость - это пост в блоге админа. А чтобы "привязать" его к технике - нужно добавить ее в пост.-->
          <!-- <nuxt-link tag="button" to="/user/add-post" class="btn btn-default">
            <i class="mi mi-add"></i>
            Добавить запись
          </nuxt-link> -->
        </div>
      </div>
    </div>

    <div class="cont-feed cont-for-news">
      <mt-feed
        :items="articles.items"
        :loading="articles.loading"
        :page="articles.page"
        :page-min="1" :page-max="articles.pageMax"
        @update-page="updatePage(articles, $event)"
        @show-more="showMore(articles)"
        >
      </mt-feed>
    </div>

  </div>
</template>

<script>
  import { delay, FeedList } from '@/utils';
  import { getStatic } from '@/api';

  export default {

    async fetch({ route, store }) {
      var typeId = route.query.type;
      var type = _.find(store.state.domains.VehicleType, item => item.id == typeId);
      var crumb = type
        ? `Новости ${type.name}`
        : 'Общие новости';

      store.commit('replaceBreadcrumbs', [
        { title: 'Главная', to: '/' },
        { title: crumb + ' (вы здесь)' },
      ]);
    },

    layout: 'news',

    async asyncData({ route }) {
      var typeId = route.query.type;

      var url = typeId
        ? `/articles/getAllFull?spotType="AccountBlog"&vehicleTypeId=${typeId}`
        : `/articles/getAllFull?spotType="AccountBlog"`;

      return {
        articles: await FeedList.makeAndLoad(url, 5, {mapper: 'fullArtice'}),
      };
    },

    head() {
      return {
        title: this.title,
      };
    },

    computed: {
      title() {
        var typeId = this.$route.query.type;
        var type = this.$domainValue('VehicleType', item => item.id == typeId);
        var title = type
          ? `Новости ${type.name}`
          : 'Общие новости';

        return title;
      },
    },

    methods: {
      async updatePage(list, page) {
        FeedList.updatePage(list, page);
      },
      async showMore(list) {
        FeedList.showMore(list);
      },
    },

  };
</script>


<style lang="scss">
  .page-news {
    .mt-article {
      .w-checkbox {
        display: none;
      }
    }
  }
</style>
