<template>
  <div class="wrap">

    <div class="top">
      <ul>
        <li><nuxt-link to="/sandbox/widgets">Виджеты</nuxt-link></li>
        <li><nuxt-link to="/sandbox/blocks">Блоки</nuxt-link></li>
        <li><nuxt-link to="/sandbox/iconfont">Иконочный шрифт</nuxt-link></li>
      </ul>
    </div>

    <div class="frame">
      <nuxt></nuxt>
    </div>

  </div>
</template>

<script>
  export default {
    layout: 'naked',
  };
</script>

<style scoped>
  ul {
    display: flex;
    flex-flow: row wrap;
  }

  li {
    margin: 0.5em;
  }

  .wrap {
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
  }

  .top {
    border-bottom: 1px solid lightgray;
  }

  .frame {
    flex: 1;
    /*height: 200px;*/
    overflow: scroll;
  }
</style>
