<template>
  <div>
    <nav class="nav">

      <h3 class="nav__title">Выберете тип</h3>
      <div class="select__wrap">
        <select name="" id="">
          <option>Тип</option>
          <option value="">Кросс / Эндуро</option>
          <option value="">Круизеры</option>
          <option value="">Спортбайки</option>
          <option value="">Скутеры</option>
          <option value="">Городские</option>
          <option value="">Туристические</option>
          <option value="">Супермото</option>
          <option value="">Снегоходы</option>
        </select>
      </div>

      <h3 class="nav__title">Выберете производителя</h3>

      <ul class="nav__list alphabet">
        <li><a href="#">rus</a></li>
        <li><a href="#" class="active">a</a></li>
        <li><a href="#">b</a></li>
        <li><a href="#">c</a></li>
        <li><a href="#">d</a></li>
        <li><a href="#">e</a></li>
        <li><a href="#">f</a></li>
        <li><a href="#">g</a></li>
        <li><a href="#">h</a></li>
        <li><a href="#">i</a></li>
        <li><a href="#">j</a></li>
        <li><a href="#">k</a></li>
        <li><a href="#">l</a></li>
        <li><a href="#">m</a></li>
        <li><a href="#">n</a></li>
        <li><a href="#">o</a></li>
        <li><a href="#">p</a></li>
        <li><a href="#">q</a></li>
        <li><a href="#">r</a></li>
        <li><a href="#">s</a></li>
        <li><a href="#">t</a></li>
        <li><a href="#">u</a></li>
        <li><a href="#">v</a></li>
        <li><a href="#">w</a></li>
        <li><a href="#">x</a></li>
        <li><a href="#">y</a></li>
        <li><a href="#">z</a></li>
      </ul>

      <div class="alphabet__result">
        <ul>
          <li><a href="#">Appolo</a></li>
          <li><a href="#">Armada</a></li>
          <li><a href="#">Aprilia</a></li>
          <li><a href="#">American Ironhorse</a></li>
          <li><a href="#">Appolo</a></li>
        </ul>
      </div>

      <h3 class="nav__title">Выберете модель</h3>

      <div class="select__wrap">
       <select name="" id="">
         <option>Модель</option>
         <option value=""></option>
         <option value=""></option>
         <option value=""></option>
       </select>
      </div>
    </nav>

    <div class="links__wrap">
      <a href="#" class="search">
        <span>Поиск по характеристикам</span><span class="desc">выбрать модель по характеристикам</span>
      </a>
      <a href="#" class="feedback">
        <span>Не нашли свою модель?</span><span>Напишите нам.</span>
      </a>
    </div>
  </div>
</template>

<style lang="stylus" scoped>
  @import '~assets/styles/styles'

  .nav
    display flex
    flex-direction column
    padding-left gutter(2, div)
    padding-right gutter(2, div)

  .nav__title
    color $black
    margin-bottom  0.7rem

  .nav__list
    display flex
    flex-flow row wrap
    margin-left gutter(-4, div)
    padding-bottom gutter(2, div)
    // border-bottom 1px solid alpha($black, 0.1)

  .nav__list a
    position relative
    display flex
    padding 4px 10px
    text-transform uppercase
    text-decoration none
    font-weight $bold
    color lighten($black, 50%)
    border-radius 100px
    text-align center
    align-items center

  .nav__list a.active
    color $white
    background orange

  .nav__list a:hover
    text-decoration none

  .nav__item_active
    background $gray

  .nav__item_active a
    color $white
    text-decoration none

  .select__wrap
    padding-bottom gutter(2, div)
    border-bottom 1px solid alpha($black, 0.1)

  .alphabet__result
    padding-top gutter(2, div)
    padding-bottom gutter(2, div)
    border-bottom 1px solid alpha($black, 0.1)

  .alphabet__result a
    position relative
    display block
    text-transform uppercase
    letter-spacing 0.3px
    font-size rem(14)
    color lighten($black, 50%)
    padding-top gutter(8, div)
    padding-bottom gutter(8, div)

  .links__wrap
    display flex
    flex-direction column

  .links__wrap a
    display block
    padding gutter(4, div) gutter(2, div)
    padding-left gutter(2, mul)
    font-size $font-size-xsm

  .links__wrap span
    display block
    color $black

  .links__wrap .desc
    font-size $font-size-xxs
    color $gray

  .search
    background svg-load('tool.svg') no-repeat 18px 9px
    background-size 23px

  .feedback
    background svg-load('mail.svg') no-repeat 15px 9px
    background-size 30px
</style>