<template>

    <mt-sidebar-panel
      title="Новости"
      fa-icon="mi mi-news"
      >
      <div class="row">
        <div
          class="col-md-12"
          v-for="post in news"
          >
          <nuxt-link :to="`/post-${post.id}`">
            {{post.name}}
          </nuxt-link>
        </div>
      </div>
    </mt-sidebar-panel>

</template>

<script>
  import { getStatic } from '@/api';
  import api from '@/api';

  export default {
    data() {
      return {
        rawNews: null,
      };
    },
    computed: {
      news() {
        return _.cMap(_.castArray(this.rawNews), item => {
          if (!item) {
            return;
          }
          return {
            id: item.id,
            name: item.title,
          };
        });
      },
    },
    async mounted() {
      var vm = this;
      try {
        var response = await api.get('/articles/getAll?limit=10');
        vm.rawNews = _.get(response, 'data.data');
      }
      catch (err) {
        console.warn('сайдбар - mt-sidebar-news - ошибка при получении данных');
      }
    },
  };
</script>

<style lang="scss" scoped>
</style>
