<template>
  <mt-sidebar-panel
    title="Блоги"
    iconClass="mi mi-quote"
    >
    <ul>
      <li v-for="post in lastPosts" :key="post.id">
        <nuxt-link :to="`/post-${post.id}`">
          {{post.title}}
        </nuxt-link>
      </li>
    </ul>
  </mt-sidebar-panel>
</template>

<script>
  export default {
    data() {
      return {
        lastPosts: null,
      };
    },
    computed: {
    },
    mounted() {
      var vm = this;
      setTimeout(() => {
        vm.lastPosts = [{
          "id": "f3d62520-a28c-4d63-b043-99d47db6389f",
          "title": "Programmable well-modulated software"
        }, {
          "id": "71b79649-a9a9-40d9-a8c9-676ff3f47d27",
          "title": "Advanced foreground framework"
        }, {
          "id": "f36d683b-1a91-4f49-a989-1af28c0fc406",
          "title": "Realigned high-level access"
        }, {
          "id": "590e5347-898b-4ed7-86e5-a2cc49602cb2",
          "title": "User-centric attitude-oriented internet solution"
        }, {
          "id": "2c2cae95-4658-455e-abdf-fb466d9672f6",
          "title": "Focused systematic hierarchy"
        }, {
          "id": "af770539-7d29-41b2-8c88-7a7abed68cc1",
          "title": "Focused secondary analyzer"
        }, {
          "id": "5c43ae08-a229-494a-8e2d-05b512df501a",
          "title": "Monitored empowering challenge"
        }, {
          "id": "1f1fac24-52d6-43d0-84ab-be5703dd0c6a",
          "title": "Managed background methodology"
        }, {
          "id": "7624186c-c641-4268-8498-9d0abb437059",
          "title": "User-friendly object-oriented application"
        }, {
          "id": "fb888b1a-466e-45a3-b13e-848e63b38c3f",
          "title": "Seamless reciprocal service-desk"
        }, {
          "id": "83c53b3d-7e96-4d8a-969a-efa8c2455c23",
          "title": "Open-architected modular toolset"
        }, {
          "id": "0a5b74e6-42d6-4471-9ef6-fe0563938a42",
          "title": "Decentralized national monitoring"
        }, {
          "id": "c4eb4110-924f-4da1-9881-57baa43c1c11",
          "title": "Multi-tiered value-added benchmark"
        }];
      }, 100)
    }
  };
</script>

<style lang="scss" scoped>
  .member-photo {
    width: 70px;
    height: 70px;
  }
</style>
