<template>
  <mt-sidebar-panel
    :title="membersTitle"
    link-to="/community-sample/members"
    iconClass="mi mi-lk2"
    >
    <nuxt-link
      v-for="member in members" :key="member.id"
      :to="`/user/${member.id}`"
      :title="member.name"
      >
      <img
        :src="member.photo"
        class="member-photo"
        />
    </nuxt-link>
  </mt-sidebar-panel>
</template>

<script>
  import api from '@/api';

  export default {
    data() {
      return {
        MEMBERS_COUNT: 28,
        rawMembers: [],
      };
    },
    computed: {
      members() {
        return _.cMap(_.castArray(this.rawMembers), item => {
          if (!item) {
            return;
          }
          return {
            id: item.id,
            name: item.title,
            photo: this.NO_PHOTO, // @TODO: потому что метод возвращает не мемберов, а группы
          };
        });
      },
      membersTitle() {
        return `Участники (${this.members.length})`;
      },
    },
    async mounted() {
      var vm = this;
      try {
        // Согласно сваггеру - этот метот возвращает именно мемберов.
        // Пруф: http://joxi.ru/brRY0EDUJRYydA
        var response = await api.get(`/communities/${this.$route.params.id}/members/getAll`);
        vm.rawMembers = _.get(response, 'data.data');
      }
      catch (err) {
        console.warn('сайдбар - mt-sidebar-members - ошибка при получении данных');
      }
    },
  };
</script>

<style lang="scss" scoped>
  .member-photo {
    width: 70px;
    height: 70px;
  }
</style>
