<template>
  <mt-sidebar-panel
    :title="isMe ? 'Моя техника' : 'Техника пользователя'"
    :linkTo="isMe ? '/user/vehicles' : `/user/${userId}/vehicles`"
    class="mt-sidebar-user-vehicles"
    >
    <!-- iconClass="mi mi-lk-o" -->
    <nuxt-link v-if="isMe" slot="actions" to="/user/add-vehicle">Добавить</nuxt-link>
    <!--  -->
    <template v-if="visibleVehicles && visibleVehicles.length">
      <single-vehicle v-for="vehicle in visibleVehicles" :key="vehicle.id" :vehicle="vehicle"
        @edit="$router.push('/user/edit-vehicle/'+vehicle.id)"
        @delete="deleteVehicle(vehicle.id)"
        >
      </single-vehicle>
      <button v-if="!showMore" class="btn btn-default btn-block" @click="showMore = true">Показать еще</button>
      <button v-else class="btn btn-default btn-block" @click="showMore = false">Скрыть</button>
    </template>
    <template v-else>
      <p class="comment">
        <span v-if="isMe">Вы не добавили ни одной техники</span>
        <span v-else>Пользователь не добавил ни одной техники</span>
      </p>
    </template>
  </mt-sidebar-panel>
</template>

<script>
  import api from '@/api';
  import { getStatic } from '@/api';

  export default {
    components: {
      'single-vehicle': {
        template: `
          <div class="media mt-vehicle">
            <nuxt-link class="media-left" :to="'/user/edit-vehicle/'+vehicle.id">
              <img class="media-object mt-vehiclepic" :src="vehicle.photo">
            </nuxt-link>
            <div class="media-body">
              <div class="name">
                <nuxt-link :to="'/vehicle-'+vehicle.id">
                  {{vehicle.name}}
                </nuxt-link>
              </div>
              <div class="status">{{vehicleStatus}}</span></div>
            </div>
            <mt-tools @action="$emit($event)"/>
          </div>
        `,
        props: {
          vehicle: {
            type: Object,
            required: true,
          },
        },
        data() {
          return {
            STATUSES: [
              {id: 1, text: 'пользуюсь'},
              {id: 2, text: 'продаю'},
              {id: 3, text: 'бывший'},
            ],

            editing: false,
          };
        },
        computed: {
          vehicleStatus() {
            var status = _.find(this.STATUSES, {id: this.vehicle.status});
            if (!status) {
              console.warn('неизвестный статус');
              status = _.first(this.STATUSES);
            }
            return status.text;
          }
        },

        methods: {
        },
      },
    },

    props: {
    },

    data() {
      return {
        TOTAL_COUNT: 5,
        SHOW_COUNT: 1,
        //
        rawVehicles: [],
        showMore: false,
      };
    },
    computed: {
      isMe() {
        return _.get(this, '$store.state.sidebar.isMe', false);
      },
      userId() {
        return _.get(this, '$store.state.sidebar.user.id');
      },
      vehicles() {
        return _.map(this.$store.state.sidebar.userVehicles, item => {
          return {
            name: item.name,
            id: item.id,
            status: item.status,
            photo: _.get(item, 'photo.urls.original') || this.NO_PHOTO,
          };
        });
      },
      visibleVehicles() {
        return _.slice(this.vehicles, 0, this.showMore ? this.TOTAL_COUNT : this.SHOW_COUNT);
      }
    },

    methods: {
      async deleteVehicle(id) {
        if (!confirm('Восстановление удаленной техники невозможно. Продолжить?')) {
          return;
        }
        try {
          await api.post(`/accountVehicles/${id}/delete`);
          await this.$store.dispatch('sidebar/loadUserVehicles', this.userId);
        }
        catch (err) {
          alert(err.message);
          console.error(err);
        }
      },
    },
  };
</script>

<style lang="scss">
  .mt-sidebar-user-vehicles {
    .mt-vehiclepic {
      width: 75px;
      height: 75px;
    }
    .btn-block {
      margin-top: 20px;
    }
  }
  .media.mt-vehicle {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .name {
      color: #010101;
      font-size: 12px;
      line-height: 16px;
      text-transform: uppercase;
      margin: 0 0 15px 0;
    }
    .status {
      color: #aaaaaa;
      font-size: 12px;
      line-height: 12px;
    }
  }
</style>
