<template>
  <div>
    <template v-if="loading">Загрузка...</template>
    <template v-else-if="typeInfo">
      <h2 class="title">{{ typeInfo.name }}</h2>
      <div>
        <img :src="typeInfo.logo">
      </div>
      <div class="text-desc" v-html="typeInfo.description"></div>
    </template>
    <template v-else>
      <div class="text-desc">
        Извините, информация по выбранному типу техники не найдена.
      </div>
    </template>
  </div>
</template>

<script>
  import api from '@/api';
  import { delay } from '@/utils';
  import { getStatic } from '@/api';

  export default {

    data() {
      return {
        loading: false,
        typeInfo: null,
      };
    },

    watch: {
      '$route.query.type': {
        immediate: true,
        handler: 'updateInfo',
      },
    },

    methods: {
      async updateInfo() {
        // debugger;
        var vm = this;
        this.typeInfo = null;
        this.loading = true;

        var type = this.$route.query.type;
        if (!type) {
          this.loading = false;
          return;
        }

        try {
          var { data: { data: info } } = await api.get(`vehicleTypes/${type}/get`);
          if (!info) {
            this.loading = false;
            return;
          }

          var { data: { data: photo } } = info.photoId
            ? await api.get(`photos/${info.photoId}/get`)
            : { data: { data: null } };

          this.typeInfo = {
            name: info.name,
            logo: _.get(photo, 'urls.original') || vm.NO_PHOTO,
            description: this.$md(info.description),
          };
          this.loading = false;
        }
        catch (err) {
          console.error(err);
          console.warn('сайдбар - mt-vehicle-type - ошибка при получении данных');
        }
      },
    },

    async mounted() {
    },

  };
</script>

<style lang="scss" scoped>
  .text-desc {
    margin: 15px 0;
  }
</style>
