<template>

    <mt-sidebar-panel>
      <div class="row">
        <div
          class="col-xs-4"
          v-for="brand in brands"
          >
          <nuxt-link :to="`/vehicles?brand=${brand.id}`">
            {{brand.name}}
          </nuxt-link>
        </div>
      </div>
      <nuxt-link class="text-center all-manufacturers" to='/vehicles'>
        Все производители
      </nuxt-link>
    </mt-sidebar-panel>

</template>

<script>
  import { getStatic } from '@/api';
  import api from '@/api';

  export default {
    data() {
      return {
        BRANDS_TO_SHOW: 18,
        rawBrands: [],
      };
    },
    computed: {
      brands() {
        return _.cMap(_.castArray(this.rawBrands), item => {
          if (!item) {
            return;
          }
          return {
            id: item.id,
            name: item.name,
            description: item.description, // for :title, if will be needed
          };
        });
      },
    },
    async mounted() {
      var vm = this;
      try {
        var response = await api.get(`/brands/getAll?limit=${vm.BRANDS_TO_SHOW}`);
        vm.rawBrands = _.get(response, 'data.data');
      }
      catch (err) {
        console.warn('сайдбар - mt-sidebar-brands - ошибка при получении данных');
      }
    },
  };
</script>

<style lang="scss" scoped>
  .body {
    .all-manufacturers {
      width: 100%;
      display: block;
      color: #333;
      font-size: 14px;
      line-height: 14px;
      text-decoration: underline;
      margin: 20px 0 0 0;
    }
  }
</style>
