<template>
  <mt-sidebar-panel small-title
    v-if="eventsSlides.length > 0"
    :title="title"
    class="mt-sidebar-carousel-events"
    >
    <w-carousel class="mt-section" no-controls :slides="eventsSlides">
      <template slot="caption" scope="props">
        <mt-sidebar-carousel-caption
          :title="props.slide.title"
          :action="props.slide.action"
          >
        </mt-sidebar-carousel-caption>
      </template>
    </w-carousel>
  </mt-sidebar-panel>
</template>

<script>
  import api from '@/api';

  export default {

    props: {
      withTitle: { type: Boolean, default: false },
    },

    data() {
      return {
        rawEvents: [],
        // eventsSlides: [
        //   {
        //     src: 'https://dummyimage.com/460x290.jpg/85b617/444',
        //     alt: 'Los Angeles',
        //     title: '23.02 - Турнир «Самый быстрый урал Зеленограда»',
        //     action: { text: 'Подробнее', to: '/event-sample' },
        //   },
        //   {
        //     src: 'https://dummyimage.com/460x290.jpg/0922ca/444',
        //     alt: 'Santa Monica',
        //     title: '23.02 - Турнир «Самый быстрый урал Зеленограда»',
        //     action: { text: 'Подробнее', to: '/event-sample' },
        //   },
        //   {
        //     src: 'https://dummyimage.com/460x290.jpg/cd678a/444',
        //     alt: 'Santa Monica',
        //     title: '23.02 - Турнир «Самый быстрый урал Зеленограда»',
        //     action: { text: 'Подробнее', to: '/event-sample' },
        //   },
        //   {
        //     src: 'https://dummyimage.com/460x290.jpg/997537/444',
        //     alt: 'Santa Monica',
        //     title: '23.02 - Турнир «Самый быстрый урал Зеленограда»',
        //     action: { text: 'Подробнее', to: '/event-sample' },
        //   },
        //   {
        //     src: 'https://dummyimage.com/460x290.jpg/2508c5/444',
        //     alt: 'Santa Monica',
        //     title: '23.02 - Турнир «Самый быстрый урал Зеленограда»',
        //     action: { text: 'Подробнее', to: '/event-sample' },
        //   },
        // ],
      };
    },
    computed: {
      title() {
        if (this.withTitle && this.isMe) {
          return 'Вы собирались посетить';
        }
        else if (this.withTitle && !this.isMe) {
          return 'Собирается посетить';
        }
        return undefined;
      },
      isMe() {
        return _.get(this, '$store.state.sidebar.isMe', false);
      },
      eventsSlides() {
        return _.cMap(_.castArray(this.rawEvents), item => {
          if (!item) {
            return;
          }
          var gathering = item.gathering;
          var photo = item.logoPhoto || {urls: {}};
          return _.extend({}, gathering, {
            src: photo.urls.original || this.EMPTY_PHOTO_DARK,
            alt: photo.altText,
            action: {
              text: 'Подробнее',
              to: `/event-${gathering.id}`,
            },
          });
        });
      },
    },
    async mounted() {
      var vm = this;
      try {
        var response = await api.get('/gatherings/joined?limit=5');
        vm.rawEvents = _.get(response, 'data.data');
      }
      catch (err) {
        console.warn('Сайдбар - mt-sidebar-carousel-events - ошибка при запросе');
      }
    },
  };
</script>

<style lang="scss" scoped>
</style>
