<!--
  @TODO: nuxt-link
 -->

<template>
  <!-- has prop :bg -->
  <mt-tile-with-bg :bg="bg" v-if="bg">
    <div class="cont-block">
      <div class="link">
        <i class="mi mi-foto"></i>
        <nuxt-link class="h1" to='/post-sample'>
          Фото недели
        </nuxt-link>
      </div>
      <div class="bottom">
        <nuxt-link to="/user/sample">{{authorText}}</nuxt-link>
        <!-- убрать звезду - сказано в ТЗ -->
        <!-- <i class="mi mi-star"></i> -->
      </div>
    </div>
  </mt-tile-with-bg>
</template>

<script>
  import api from '@/api';
  export default {
    data() {
      return {
        bg: null,
        authorText: null,
      };
    },

    computed: {
    },

    async mounted() {
      var vm = this;
      try {
        var response = await api.get('/photos/getTop');
        var rawPhoto = _.get(response, 'data.data');
        var photo = await api.get(`/photos/${rawPhoto.id}/get`);
        var user = await api.get(`/accounts/${rawPhoto.authorId}/get`);
        vm.bg = _.get(photo, 'data.data.urls.original', null);
        vm.authorText = _.get(user, 'data.data.nickName', 'NoName');
      }
      catch (err) {
        console.warn('сайдбар - mt-sidebar-photo-of-week - ошибка при получении данных');
      }
    },
  };
</script>

<style lang="scss" scoped>
  .cont-block {
    min-height: 227px;
    background: rgba(0,0,0,.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
    padding: 35px 35px 15px 35px;

    .link {
      display: flex;
      align-items: center;
      color: #fff;

      i {
        font-size: 55px;
        margin: 0 10px 0 0;
      }
      .h1 {
        color: #fff;
        font-size: 24px;
        line-height: 24px;
        text-transform: uppercase;
        margin: 0;

      }
    }

    .bottom {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      a {
        color: #fff;
        font-size: 16px;
        line-height: 16px;
        text-transform: lowercase;
      }
      a:hover {
        font-weight: bold;
      }
      i {
        font-size: 64px;
      }
    }
  }
</style>
