<template>

    <mt-sidebar-panel
      title="Последнее в блогах"
      icon-class="mi mi-quote"
      >
      <div class="row">
        <div
          class="col-md-12"
          v-for="post in blogPosts"
          >
          <nuxt-link :to="`/post-${post.id}`">
            {{post.name}}
          </nuxt-link>
        </div>
      </div>
    </mt-sidebar-panel>

</template>

<script>
  import { getStatic } from '@/api';
  import api from '@/api';

  export default {
    data() {
      return {
        rawBlogPosts: null,
      };
    },
    computed: {
      blogPosts() {
        return _.cMap(_.castArray(this.rawBlogPosts), item => {
          if (!item || !item.article) {
            return;
          }
          var article = item.article;
          return {
            id: article.id,
            name: article.title,
          };
        });
      },
    },
    async mounted() {
      var vm = this;
      try {
        var response = await api.get('/articles/getAllFull?limit=5');
        vm.rawBlogPosts = _.get(response, 'data.data');
      }
      catch (err) {
        console.warn('сайдбар - mt-sidebar-new-in-blogs - ошибка при получении данных');
      }
    },
  };
</script>

<style lang="scss" scoped>
</style>
