<template>
  <mt-sidebar-panel
    title="Топ группы"
    iconClass="mi mi-lk-o"
    >
    <ul>
      <li v-for="community in communities" :key="community.id">
        <nuxt-link :to="`/community-${community.id}`">
          {{community.name}}
        </nuxt-link>
      </li>
    </ul>
  </mt-sidebar-panel>
</template>

<script>
  import api from '@/api';
  export default {
    data() {
      return {
        rawCommunities: null,
      };
    },
    computed: {
      communities() {
        return _.map(this.rawCommunities, item => {
          return {
            id: item.id,
            name: item.title,
          };
        });
      },
    },
    async mounted() {
      var vm = this;
      try {
        var response = await api.get('/communities/getTop');
        vm.rawCommunities = _.get(response, 'data.data');
      }
      catch (err) {
        console.warn('сайдбар - mt-sidebar-top-communities - ошибка при получении данных');
      }
    }
  };
</script>

<style lang="scss" scoped>
  .member-photo {
    width: 70px;
    height: 70px;
  }
</style>
