<template>

    <mt-sidebar-panel
      title="Вы подписаны"
      iconClass="mi mi-news"
      >
      <div class="row">
        <div
          class="col-md-12"
          v-for="post in posts"
          >
          <nuxt-link :to="`/post-${post.id}`">
            {{post.name}}
          </nuxt-link>
        </div>
      </div>
    </mt-sidebar-panel>

</template>

<script>
  import { getStatic } from '@/api';

  export default {
    data() {
      return {
        ALL_POSTS: [],
        POSTS_TO_SHOW: 10,
      };
    },
    computed: {
      posts() {
        return _.sampleSize(this.ALL_POSTS, this.POSTS_TO_SHOW);
      },
    },
    async mounted() {
      var data = await getStatic('fixtures/blogs.json');
      console.warn('@TODO: get subscribed to');
      this.ALL_POSTS = data.data;
    },
  };
</script>

<style lang="scss" scoped>
</style>
