<template>
  <mt-sidebar-panel small-title
    v-if="slides.length > 0"
    :title="title"
    class="mt-sidebar-carousel-accessories"
    >
    <w-carousel class="mt-section" no-controls :slides="slides">
      <template slot="caption" scope="props">
        <mt-sidebar-carousel-caption
          :title="props.slide.name"
          :text="props.slide.shortText"
          :action="{ text: 'Подробнее', to: `/post-${props.slide.id}` }"
          >
        </mt-sidebar-carousel-caption>
      </template>
    </w-carousel>
  </mt-sidebar-panel>
</template>

<script>
  import api from '@/api';

  export default {

    data() {
      return {
        title: 'Аксессуары',
        rawAccessories: [],
        bannerSlides: [
          { src: 'https://dummyimage.com/460x290.jpg/2f3698/444', alt: 'pierdrop' },
          { src: 'https://dummyimage.com/460x290.jpg/4279f5/444', alt: 'blob' },
          // { src: 'https://dummyimage.com/460x290.jpg/18df30/444', alt: 'schedule' },
          // { src: 'https://dummyimage.com/460x290.jpg/9b9eb6/444', alt: 'glommox' },
          // { src: 'https://dummyimage.com/460x290.jpg/b93de9/444', alt: 'staurolitic' },
        ],
      };
    },
    computed: {
      slides() {
        return _.cMap(_.castArray(this.rawAccessories), item => {
          if (!item) {
            return;
          }
          var article = item.article;
          if (!article) {
            return;
          }
          return _.extend({
            id: article.id,
            name: article.title,
            // shortText: article.shortText, // поедет верстка.
            src: _.get(item, 'photos[0].urls.original', this.EMPTY_PHOTO_DARK),
            alt: 'Описание фотографии аксессуара',
          });
        });
      },
    },
    async mounted() {
      var vm = this;
      try {
        var response = await api.get('/articles/getAllFull?spotType="Accessory"&limit=5');
        vm.rawAccessories = _.get(response, 'data.data');
      }
      catch (err) {
        console.warn('сайдбар - mt-sidebar-carousel-accessories - ошибка при получении данных');
      }
    },
  };
</script>

<style lang="scss" scoped>
</style>




