<template>
  <mt-sidebar-panel
    :title="title"
    >
    <!-- iconClass="mi mi-lk-o" -->
    <nuxt-link v-if="isMe" slot="actions" to="/create-community">Создать</nuxt-link>
    <template v-if="visibleCommunities && visibleCommunities.length">
      <ul>
        <li v-for="community in visibleCommunities" :key="community.id">
          <nuxt-link :to="`/community-${community.id}`">
            {{community.name}}
          </nuxt-link>
        </li>
      </ul>
      <button v-if="!showMore" class="btn btn-default btn-block" @click="showMore = true">Показать еще</button>
      <button v-else class="btn btn-default btn-block" @click="showMore = false">Скрыть</button>
    </template>
    <template v-else>
      <p>Пользователь не создал ни одного сообщества</p>
    </template>
  </mt-sidebar-panel>
</template>

<script>
  import api from '@/api';

  export default {
    data() {
      return {
        rawCommunities: null,
        showMore: false,
      };
    },
    computed: {
      isMe() {
        return _.get(this, '$store.state.sidebar.isMe', false);
      },
      title() {
        if (this.isMe) {
          return 'Созданные группы';
        }
        return 'Владелец групп';
      },
      communities() {
        return _.cMap(_.castArray(this.rawCommunities), item => {
          if (!item) {
            return;
          }
          return {
            id: item.id,
            name: item.title,
          };
        });
      },
      visibleCommunities() {
        if (this.showMore) {
          return _.clone(this.communities);
        }
        return _.slice(this.communities, 0, 5);
      },
    },
    async mounted() {
      var vm = this;
      var shownUserId = _.get(this, '$store.state.sidebar.user.id');
      try {
        var response = await api.get(`/communities/owned?ownedId=${shownUserId}`);
        vm.rawCommunities = _.get(response, 'data.data');
      }
      catch (err) {
        console.warn('сайдбар - mt-sidebar-my-created-communities - ошибка при получении данных');
      }
    }
  };
</script>

<style lang="scss" scoped>
</style>
