<template>
  <mt-sidebar-panel
    title="Участник групп"
    :linkTo="isMe ? '/user/groups' : `/user/${userId}/groups`"
    iconClass="mi mi-quote"
    >
    <template v-if="visibleCommunities && visibleCommunities.length">
      <ul>
        <li v-for="community in visibleCommunities" :key="community.id">
          <nuxt-link :to="`/community-${community.id}`">
            {{community.name}}
          </nuxt-link>
        </li>
      </ul>
      <button v-if="!showMore" class="btn btn-default btn-block" @click="showMore = true">Показать еще</button>
      <button v-else class="btn btn-default btn-block" @click="showMore = false">Скрыть</button>
    </template>
    <template v-else>
      <p>Пользователь не состоит ни в одном сообществе</p>
    </template>
  </mt-sidebar-panel>
</template>

<script>
  import api from '@/api';

  export default {
    data() {
      return {
        showMore: false,
      };
    },
    computed: {
      isMe() {
        return _.get(this, '$store.state.sidebar.isMe', false);
      },
      userId() {
        return _.get(this, '$store.state.sidebar.user.id');
      },
      communities() {
        return _.cMap(_.castArray(this.$store.state.sidebar.userCommunities), item => {
          if (!item) {
            return;
          }
          return {
            id: item.id,
            name: item.title,
          };
        });
      },
      visibleCommunities() {
        if (this.showMore) {
          return _.clone(this.communities);
        }
        return _.slice(this.communities, 0, 5);
      },
    },
  };
</script>

<style lang="scss" scoped>
</style>
