<template>
  <div class="media mt-profile">
    <div class="media-left">
      <img class="media-object mt-userpic" :src="avatar" />
      <div>{{city}}</div>
    </div>
    <div class="media-body">
      <div class="name">{{name}}</div>
      <span v-if="statusActive" class="status active">
        сейчас на сайте
      </span>
      <div v-else class="status">
        {{lastVisit}}
      </div>
      <div class="friends">
        <a v-if="!me" href @click.prevent="toggleFriend">{{ isFriend ? 'Вы дружите' : 'Дружить' }}</a>
        <nuxt-link :to="me ? '/user/friends' : `/user/${$route.params.id}/friends`">{{friendCount}}</nuxt-link>
      </div>
      <span class="messages">
        <template class="tmp" v-if="me">
          <nuxt-link to="/user/inbox">{{ hasMessages ? 'Есть сообщения' : 'Нет сообщений' }}</nuxt-link>
          <template v-if="hasMessages">
            &nbsp;
            <i class="mi mi-new-mail"></i>
          </template>
        </template>
        <nuxt-link v-else :to="`/user/inbox/${$route.params.id}`">Написать сообщение</nuxt-link>
      </span>
    </div>
  </div>
</template>

<script>
  import { delay } from '@/utils';
  import api from '@/api';

  export default {

    props: {
      me: {
        type: Boolean,
        default() {
          return _.get(this, '$store.state.sidebar.isMe');
        },
      },
    },

    computed: {
      user() {
        return this.$store.state.sidebar.user;
      },
      avatar() {
        return _.get(this.user, 'avatarPhoto.urls.avatar', this.NO_PHOTO);
      },
      city() {
        return _.get(this.user, 'city.name', 'Город не указан');
      },
      name() {
        return _.join([
          _.get(this.user, 'firstName'),
          _.get(this.user, 'lastName'),
          _.get(this.user, 'birthday') && ', '+this.user.birthday,
        ], ' ');
      },
      lastVisit() {
        return 'Был на сайте '+this.$humanize(_.get(this.user, 'lastSeenAt'));
      },
      statusActive() {
        return _.get(this.user, 'status') === 'Active';
      },
      isFriend: {
        set(val) {
          _.set(this, 'user.mutual', val);
        },
        get() {
          return _.get(this.user, 'mutual');
        },
      },
      friendCount() {
        let count = _.get(this.user, 'stats.friendCount', 0);
        return `Друзья: ${count}`;
      },
      hasMessages() {
        return _.get(this.user, 'stats.hasMessages');
      },
    },

    methods: {
      async toggleFriend() {
        this.isFriend = !this.isFriend;
        try {
          if (this.isFriend) {
            // стали друзьями
            await api.post(`/accounts/${this.$route.params.id}/subscribe`);
          }
          else {
            // разлюбили друг друга
            await api.post(`/accounts/${this.$route.params.id}/unsubscribe`);
          }
        }
        catch (err) {
          console.warn('сайдбар - mt-sidebar-user - ошибка при подписке');
        }
      },
    },
  };
</script>

<style lang="scss" scoped>
  .mt-profile {
    display: flex;

    .media-left {
      .mt-userpic {
        width: 90px;
        height: 90px;
      }
      > div {
        color: #5c5c5c;
        font-size: 12px;
        line-height: 12px;
        margin-top: 10px;
      }
    }
    .media-body {
      .name {
        color: #5c5c5c;
        font-size: 18px;
        line-height: 22px;
      }
      .status {
        color: #aaa;
        font-size: 12px;
        line-height: 16px;
        margin: 5px 0 8px 0;
      }.active {
        color: #79ae5d;
      }
      .friends {
        display: flex;
        align-items: flex-end;

        a {
          color: #aaa;
          font-size: 11px;
          line-height: 15px;
          text-decoration: underline;
          margin-right: 15px;
        }:hover {
          color: #666;
        }
      }
      .messages {
        display: flex;
        align-items: center;
        padding-top: 5px;

        .tmp {
          display: flex;
          align-items: center;
          // padding-top: 5px;
        }

        .mi-new-mail {
          font-size: 23px;
          margin-right: 10px;
        }:before {
          color: #aaa;
        }.active:before {
          color: #79ae5d;
        }

        a {
          color: #aaa;
          font-size: 11px;
          line-height: 15px;
          text-decoration: underline;
        }:hover {
          color: #666;
        }
      }
    }
  }

  .mt-flat-button {
    padding: 0;
  }
</style>
