<template>
  <mt-banner :title="title"></mt-banner>
</template>

<script>
  export default {
    data() {
      return {
        title: 'Баннер продажа мототехники',
      };
    }
  };
</script>

<style lang="scss" scoped>
</style>
