<template>
  <div>
    <template v-if="loading">Загрузка...</template>
    <template v-else-if="company">
      <h2 class="title">Компания {{ company.name }} на рынке мототехники</h2>
      <div>
        <img :src="company.logo">
      </div>
      <div class="text-desc" v-html="company.description"></div>
    </template>
    <template v-else>
      <div class="text-desc">
        Извините, информация по выбранному производителю не найдена.
      </div>
    </template>
  </div>
</template>

<script>
  import api from '@/api';
  import { delay } from '@/utils';
  import { getStatic } from '@/api';

  export default {

    data() {
      return {
        loading: false,
        company: null,
      };
    },

    watch: {
      '$route.query': {
        immediate: true,
        handler: 'updateInfo',
      },
    },

    methods: {
      async updateInfo() {
        var vm = this;
        this.company = null;
        this.loading = true;

        var brand = this.$route.query.brand;
        if (!brand) {
          this.loading = false;
          return;
        }

        try {
          var { data: { data: info } } = await api.get(`brands/${brand}/get`);
          if (!info) {
            this.loading = false;
            return;
          }
          var photo = _.get(info, 'photo');
          this.company = {
            name: info.name,
            logo: _.get(photo, 'urls.original') || vm.NO_PHOTO,
            description: this.$md(info.description),
          };
          this.loading = false;
        }
        catch (err) {
          console.warn('сайдбар - mt-vehicle-vendor - ошибка при получении данных');
        }
      },
    },

  };
</script>

<style lang="scss" scoped>
  .text-desc {
    margin: 15px 0;
  }
</style>
