<template>
  <div>
    <mt-page-community-edit
      v-if="pageData"
      :page-data="pageData"
      @submit="submit"
    >
    </mt-page-community-edit>
  </div>
</template>

<script>
  import cuid from 'cuid';
  import api from '@/api';
  import { delay, uploadImage } from '@/utils';

  var DEFAULT_FORM = {
    photoData: null,
    photoAlt: '',

    photoId: null,
    slug: '',
    title: '',
    description: '',
    moderationEnabled: true,
    website: '',
  };

  export default {

    fetch({ route, store }) {
      store.commit('replaceBreadcrumbs', [
        { title: 'Главная', to: '/' },
        { title: 'Сообщества', to: '/communities' },
        { title: 'Сообщество', to: `/community-${route.params.id}` },
        { title: 'Редактирование сообщества' },
      ]);
    },

    layout: 'community',

    head() {
      return {
        title: 'Редактирование сообщества',
      };
    },

    data() {
      return {
        pageData: null,
      };
    },

    async mounted() {
      var { data: { data: form } } = await api.get(`/communities/${this.$route.params.id}/get`);
      form = _.defaultsDeep(form, DEFAULT_FORM);
      if (form.photo) {
        form.photoId = form.photo.id;
        form.photoData = form.photo.urls.original;
        form.photoAlt = form.photo.altText;
      }
      form = _.pick(form, _.keys(DEFAULT_FORM));

      this.pageData = {
        form: form,
        busy: false,
      };
    },

    methods: {

      async submit() {
        try {
          this.pageData.busy = true;

          var form = _.cloneDeep(this.pageData.form);

          if (form.photoData && form.photoData.startsWith('data:image')) {
            try {
              let photo = await uploadImage(form.photoData, '@TODO', ['profileHeader']);
              form.photoId = photo.id;
            }
            catch (err) {
              console.error(err);
              throw new Error('Не удалось загрузить фотографию');
            }
          }

          if (form.photoId) {
            try {
              await api.post(`/photos/${form.photoId}/update`, { altText: form.photoAlt });
            }
            catch (err) {
              console.error(err);
              throw new Error('Не удалось обновить описание фотографии');
            }
          }

          form = _.omit(form, ['photoData', 'photoAlt']);

          try {
            var response = await api.post(`/communities/${this.$route.params.id}/update`, form);
            this.pageData.busy = false;
            await this.$router.push(`/community-${this.$route.params.id}`);
          }
          catch (err) {
            console.error(err);
            throw new Error('Не удалось сохранить сообщество');
          }
        }
        catch (err) {
          this.pageData.busy = false;
          alert(err.message);
          console.error(err);
        }
      },

    },

  };
</script>
