<template>
  <main class="community-page">

    <!-- has prop :bg -->
    <mt-community-header :community="community" :can-edit="community.your">
    </mt-community-header>

    <div class="commutity__header">
      <div class="top-panel">
        <h2 class="title">
          Новости от "{{community.title}}"
        </h2>
        <div class="button-block">

          <button v-if="community.joined" @click="leave" class="btn btn-default">
            <i class="mi mi-otpisat"></i>
            Выйти из группы
          </button>

          <button v-else @click="join" class="btn btn-default">
            <i class="mi mi-mail"></i>
            Вступить в группу
          </button>

          <nuxt-link v-if="community.joined" append to="add-post" class="btn btn-default pull-right">
            <i class="mi mi-add"></i>
            Добавить запись
          </nuxt-link>
        </div>
      </div>
    </div>

    <mt-tile-with-bg class="impb"
      v-if="community.attachedArticle"
      :bg="pinned.bg"
      >
      <div class="important-block">
        <nuxt-link class="h3" :to="`post-${community.attachedArticle.id}`">
          {{community.attachedArticle.title}}
        </nuxt-link>
        <p>{{community.attachedArticle.shortText}}</p>
      </div>
    </mt-tile-with-bg>

    <div class="cont-feed cont-for-news">
      <mt-feed
        :items="articles.items"
        :loading="articles.loading"
        :page="articles.page"
        :page-min="1" :page-max="articles.pageMax"
        @update-page="updatePage(articles, $event)"
        @show-more="showMore(articles)"
        >
      </mt-feed>
    </div>

  </main>
</template>

<script>
  import { default as api, isApiFailure } from '@/api';
  import { FeedList } from '@/utils';

  export default {

    fetch({ route, store }) {
      store.commit('replaceBreadcrumbs', [
        { title: 'Главная', to: '/' },
        { title: 'Сообщества', to: '/communities' },
        { title: 'Сообщество (вы здесь)' },
      ]);
    },

    layout: 'community',

    async asyncData({ route, store, error }) {
      try {
        var { data: { data: community } } = await api.get(`/communities/${route.params.id}/get`);
        return {
          community: community,
          articles: await FeedList.makeAndLoad(`/articles/communityBlog/${route.params.id}/getAll`),
          pinned: { // @TODO: интеграция
            id: 'sample',
            bg: require('@/assets/img/record__bg.jpg'),
            name: 'Важная новость',
            description: 'Lorem ipsum Reprehenderit mollit culpa nisi dolor officia sint ut magna non aute dolor laborum aute proident exercitation sunt elit dolor Excepteur mollit reprehenderit nostrud consequat irure sint id nulla adipisicing.',
          },
        };
      }
      catch (err) {
        console.error(err);
        if (isApiFailure(err)) {
          error({
            statusCode: err.response.data.status,
            message: err.response.data.error,
          });
        }
        else {
          error({
            statusCode: 500,
            message: 'Не удалось получить данные сообщества',
          });
        }
      }
    },

    head() {
      return {
        title: this.community.title,
        meta: [
          { hid: 'description', name: 'description', content: this.community.description },
        ],
      };
    },

    methods: {

      async join() {
        try {
          await api.post(`/communities/${this.$route.params.id}/join`);
          this.community.joined = true;
        }
        catch (err) {
          alert('Не удалось вступить в группу');
          console.error(err);
        }
      },

      async leave() {
        try {
          await api.post(`/communities/${this.$route.params.id}/leave`);
          this.community.joined = false;
        }
        catch (err) {
          alert('Не удалось выйти из группы');
          console.error(err);
        }
      },

      async updatePage(list, page) {
        FeedList.updatePage(list, page);
      },

      async showMore(list) {
        FeedList.showMore(list);
      },

    },

  };
</script>

<style lang="scss">
  .community-page {

    .mt-article {
      .w-checkbox {
        display: none;
      }
    }

    .impb {
      margin-bottom: 35px;
    }

    .important-block {
      width: 100%;
      max-width: 400px;
      min-height: 220px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      .h3 {
        background: rgba(0,0,0,.7);
        color: #fff;
        font-size: 24px;
        line-height: 24px;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;
        margin: 0 0 10px 0;
        padding: 15px 25px;
      }
      p {
        background: rgba(0,0,0,.7);
        color: #fff;
        font-size: 12px;
        line-height: 16px;
        margin: 0;
        padding: 15px 25px;
      }
    }
  }

  @media screen and (max-width: 500px) {
    body {
      .wrap {
        .community-page {
          .commutity__header {
            h2 {
              flex-direction: column;
              align-items: flex-start;
            }
            .button-block {
              width: 100%;
              justify-content: space-between;

              .btn,
              .btn:first-child {
                margin: 20px 0 0 0;
              }
            }
          }
        }
      }
    }
  }
</style>
