<template>
  <main class="vehicles-page">
    <h2 class="title">Техника</h2>
    <mt-model-picker
      v-model="selection"
      @brand-selected="SHARED_DATA.selectedBrand = $event;"
      @type-selected="SHARED_DATA.selectedType = $event;"
      @model-selected="SHARED_DATA.selectedModel = $event;"
      />
    <hr class="full-block" />
    <article v-if="selection.modelId || selection.typeId || selection.brandId">
      <h1 class="title">{{title}}</h1>
      <!-- Убрано, т.к. на момент реализации (2 спринт) данного функционала нет в редакторах на фронте -->
      <!-- <h2 class="title">Тесты и обзоры {{title}}</h2>
      <div v-if="tests.loaded" class="cont-feed cont-for-news">
        <mt-feed
          :items="tests.items"
          :loading="tests.loading"
          :page="tests.page"
          :page-min="1" :page-max="tests.pageMax"
          @update-page="updatePage(tests, $event)"
          @show-more="showMore(tests)"
          >
        </mt-feed>
      </div> -->

      <!-- <mt-banner title="Баннер продажа мототехники"></mt-banner> -->

      <h2 class="title">Пишут в блогах</h2>
      <div v-if="blogs.loaded" class="cont-feed cont-for-news">
        <mt-feed
          :items="blogs.items"
          :loading="blogs.loading"
          :page="blogs.page"
          :page-min="1" :page-max="blogs.pageMax"
          @update-page="updatePage(blogs, $event)"
          @show-more="showMore(blogs)"
          >
        </mt-feed>
      </div>

      <!-- убрано в #316 -->
      <!-- <div class="inform-block">

        <mt-like v-model="isLiked" />

        <div class="admin-btns hidden-sm hidden-xs">
          <div class="btn btn-primary red">Опубликовать</div>
          <div class="btn btn-primary green">Удалить</div>
        </div>

        <div class="right-block">
          <div>
            <i class="mi mi-mail"></i>
            Подписаться
          </div>
          <mt-share />
        </div>
      </div>

      <div class="admin-btns hidden-lg hidden-md">
        <div class="btn btn-primary red">Опубликовать</div>
        <div class="btn btn-primary green">Удалить</div>
      </div> -->
    </article>
  </main>
</template>

<script>
  import qs from 'qs';
  import { getStatic } from '@/api';
  import { FeedList } from '@/utils';

  var SHARED_DATA = {
    selectedBrand: null,
    selectedType: null,
    selectedModel: null,
  };

  export default {

    fetch({ route, store }) {
      store.commit('replaceBreadcrumbs', [
        { title: 'Главная', to: '/' },
        { title: 'Техника (вы здесь)' },
      ]);
    },

    layout: 'vehicles',

    canReuse: false,
    async asyncData({route}) {
      var query = route.query;
      return _.extend({}, {
        SHARED_DATA,

        // String required! (из-за особенностей query-параметров)
        selection: {
          brandId: query.brand || '',
          typeId: query.type || '',
          modelId: query.model || '',
        },

        // tests: await FeedList.make('', 5, {mapper: 'fullArtice'}),
        blogs: await FeedList.make('', 5, {mapper: 'fullArtice'}),

        isLiked: true,
      });
    },

    head() {
      return {
        title: `Техника ${this.title}`,
      };
    },

    computed: {

      title() {
        var brandName = _.get(this.SHARED_DATA.selectedBrand, 'text');
        var typeName = _.get(this.SHARED_DATA.selectedType, 'text');
        var modelName = _.get(this.SHARED_DATA.selectedModel, 'text');
        return _.compact([
          brandName,
          typeName,
          modelName && `"${modelName}"`,
        ]).join(' ');
      },

    },

    watch: {

      'selection': {
        deep: true,
        handler(val) {
          this.replaceUrl(val);
          if (val && (val.typeId || val.brandId)) {
            this.showContent();
          }
        },
      },

      'SHARED_DATA.selectedModel': function(val) {
        if (!val) {
          return;
        }
        this.showContent();
      },
    },

    methods: {

      showContent: _.debounce(async function(val) {
        var vehicleTypeId = _.get(this, 'SHARED_DATA.selectedType.id');
        var vehicleBrandId = _.get(this, 'SHARED_DATA.selectedBrand.id');
        var vehicleModelId = _.get(this, 'SHARED_DATA.selectedModel.id');

        var query = {};
        if (vehicleBrandId) {
          query.brandId = vehicleBrandId;
        }
        if (vehicleTypeId) {
          query.vehicleTypeId = vehicleTypeId;
        }
        if (vehicleModelId) {
          query.modelId = vehicleModelId;
        }

        var qString = qs.stringify(query);
        FeedList.resetUrl(this.blogs, `/articles/getAllPosts?${qString}`);

        // async fns
        // FeedList.load(this.tests);
        FeedList.load(this.blogs);

      }, 100),

      replaceUrl: _.debounce(function(selection) {
        var currentQs = _.qString(this.$route.query);
        var neededQs = _.qString({
          brand: selection.brandId,
          type: selection.typeId,
          model: selection.modelId,
        });
        if (currentQs === neededQs) {
          return;
        }
        console.log('replaceUrl', neededQs);
        this.$router.replace('?'+neededQs);
      }, 100),

      async updatePage(list, page) {
        FeedList.updatePage(list, page);
      },
      async showMore(list) {
        FeedList.showMore(list);
      },
    },

    created() {
      this.SHARED_DATA.selectedModel = null;
      this.showContent();
    },

  };
</script>

<style lang="scss" scoped>
  .inform-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #999;
    padding: 35px 0 15px 0;
    // overflow: hidden;

    i {
      font-size: 30px;
    }

    .right-block {
      display: flex;
      align-items: center;

      > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        cursor: pointer;

        i {
          margin: 0 5px 0 25px;
        }

        .network-up {
          background: #fff;
          border: solid 1px #eee;
          display: flex;
          align-items: center;
          padding: 5px;
          position: absolute;
          bottom: 100%;
          right: 0;

          a {
            height: 30px;
            margin: 0 0 0 5px;
          }
          a:first-child,
          i {
            margin: 0;
          }
          .fa-facebook-official {
            color: #1d5a99;
          }
          .fa-odnoklassniki-square {
            color: #fd850a;

          }
          .fa-google-plus-square {
            color: #fb4b3c;

          }
          .fa-vk {
            background: #256499;
            border-radius: 4.5px;
            color: #fff;
            font-size: 18px;
            margin: 2px 0;
            padding: 4px;
          }
        }
      }
    }
  }
</style>
