<template>
  <form action="/" class="form-enter">
    <div class="login-field__wrap">
      <label>
        <input type="text" name="login" v-model="login" required>
      </label>
    </div>

    <div class="password-field__wrap">
      <label>
        <input type="password" name="pass" v-model="password" required>
      </label>
    </div>

    <button type="submit">Войти</button>
  </form>
</template>

<script>
  export default {
    data: () => ({
      name: '',
      login: '',
      password: ''
    }),

    methods: {
      serialize() {

      }
    }
  }
</script>

<style lang="stylus" scoped>
  @import '~assets/styles/styles'
  
  .form-enter
    display flex
    flex-direction column
    
</style>