<template>
  <button>
    Показать ещё
  </button>
</template>

<style lang="stylus" scoped>
  @import '~assets/styles/styles'

  button
    btn()
    font-size $font-size-sm
    color $black
    text-transform uppercase
    width 100%
    padding gutter(2, div)
    background $gray-light
    border 1px solid $gray
    margin-bottom gutter(2, div)
    border-radius 3px
    transition all 0.3s ease

  button:hover
    background $gray
</style>