<template>
  <nav class="nav">
    <ol class="nav__list">
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
    </ol>
  </nav>
</template>

<style lang="stylus" scoped>
  @import '~assets/styles/styles'

  .nav
    display flex

  .nav__list
    display flex
    font-size $font-size-md

  .nav__list li
    margin-right gutter(4, div)

  .nav__list a
    display block
    padding 1px 8px
    border-radius 100px

  .nav__list a:hover
    color $black
    background $gray-light
</style>