<template>
  <button class="share">Поделиться</button>
</template>

<style lang="stylus" scoped>
  @import '~assets/styles/styles'

  .share
    btn()
    background $white
    font-size rem(12)
    text-transform uppercase
    color $gray
    margin-left auto
    padding-top gutter(4, div)
    padding-bottom gutter(4, div)
    padding-right gutter(2.5, mul)
    background $white svg-load('share.svg') no-repeat 75% top
    background-size 28px

  .share:hover
    color $black
</style>