<template>
  <div class="mt-edit-account-vehicle">
    <div class="col-md-12 mt-vehicle-card mt-20">
      <div class="row" v-if="!vehicle || !vehicle.id">
        Подождите, данные загружаются...
      </div>
      <div class="row" v-else>
        <div class="col-md-8">
          <w-input
            label="Название мотоцикла"
            placeholder="Название"
            v-model="vehicle.name"
            >
          </w-input>
        </div>
        <div class="col-md-4">
          <w-datepicker
            label="Дата выпуска мотоцикла"
            placeholder="Укажите какого года мотоцикл"
            :disabled="isDisabled"
            v-model="vehicle.date"
            >
          </w-datepicker>
        </div>
        <!--  -->
        <div class="col-md-4">
          <w-input
            label="Двигатель (см^3)"
            placeholder="2-тактный, 300 см куб"
            :disabled="isDisabled"
            v-model="vehicle.features.power.engine"
            >
          </w-input>
        </div>
        <div class="col-md-4">
          <w-input
            label="Подвеска передняя"
            placeholder="Перевернутая вилка 48мм"
            :disabled="isDisabled"
            v-model="vehicle.features.chassis.fontSuspension"
            >
          </w-input>
        </div>
        <div class="col-md-4">
          <w-input
            label="Подвеска задняя"
            placeholder="Длина хода 300мм"
            :disabled="isDisabled"
            v-model="vehicle.features.chassis.rearSuspension"
            >
          </w-input>
        </div>
        <div class="col-md-4">
          <w-input
            label="Сцепление"
            placeholder="многодисковое"
            :disabled="isDisabled"
            v-model="vehicle.features.chassis.clutch"
            >
          </w-input>
        </div>
        <div class="col-md-4">
          <w-input
            label="Трансмиссия"
            placeholder="Шестиступенчатая"
            :disabled="isDisabled"
            v-model="vehicle.features.power.transmission"
            >
          </w-input>
        </div>
        <div class="col-md-4">
          <w-input
            label="Колесная база (мм)"
            placeholder="1400мм"
            :disabled="isDisabled"
            v-model="vehicle.features.chassis.wheels"
            >
          </w-input>
        </div>
        <div class="col-md-4">
          <w-input
            label="Тормоза передние"
            placeholder="Дисковые 310мм"
            :disabled="isDisabled"
            v-model="vehicle.features.chassis.fontBrakes"
            >
          </w-input>
        </div>
        <div class="col-md-4">
          <w-input
            label="Тормоза задние"
            placeholder="Дисковые 220мм"
            :disabled="isDisabled"
            v-model="vehicle.features.chassis.rearBrakes"
            >
          </w-input>
        </div>
        <div class="col-md-4">
          <w-input
            label="Шины"
            placeholder="80/100-21, 120/80-18"
            :disabled="isDisabled"
            v-model="vehicle.features.chassis.tyresOrChains"
            >
          </w-input>
        </div>
        <div class="col-md-4">
          <w-input
            label="Дорожный просвет (мм)"
            placeholder="300мм"
            :disabled="isDisabled"
            v-model="vehicle.features.dimensions.groundClearance"
            >
          </w-input>
        </div>
        <div class="col-md-4">
          <w-input
            label="Вес (кг)"
            placeholder="100 кг"
            :disabled="isDisabled"
            v-model="vehicle.features.dimensions.fullWeight"
            >
          </w-input>
        </div>
        <div class="col-md-4">
          <w-input
            label="Емкость бензобака (л)"
            placeholder="10 литров"
            :disabled="isDisabled"
            v-model="vehicle.features.power.fuelTankCapacity"
            >
          </w-input>
        </div>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4">
              <p>Статус мотоцикла</p>
              <!-- @TODO: #BACK -->
              <w-checkbox
                label="Сейчас езжу"
                class="col-md-12"
                v-model="vehicle.statusNow"
                :disabled="isDisabled"
                >
              </w-checkbox>
              <!-- @TODO: #BACK -->
              <w-checkbox
                label="Бывшая"
                class="col-md-12"
                v-model="vehicle.statusPrevious"
                :disabled="isDisabled"
                >
              </w-checkbox>
              <w-checkbox
                label="Хочу продать"
                class="col-md-12"
                v-model="vehicle.selling"
                :disabled="isDisabled"
                >
              </w-checkbox>
            </div>
            <div class="col-md-8">
              <w-textarea
                label="Краткая характеристика владельца"
                placeholder="Опишите кратко свое мнение"
                :disabled="isDisabled"
                v-model="vehicle.feedback"
                >
              </w-textarea>
            </div>
          </div>
          <div class="col-md-12 mb-10">
            <w-cropper
              v-model="vehiclePhoto"
              :config="{
                aspectRatio: 1370/775,
                resultSize: {width: 1380, height: 785},
              }"
              />
          </div>
        </div>
        <!--  -->
        <div class="col-md-12">
          <div class="btn btn-default pull-right" @click="editAccountVehicle">
            Обновить
          </div>
          <div class="btn btn-default pull-right mr-10" @click="removeAccountVehicle">
            Удалить
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import cuid from 'cuid';
  import { delay, uploadImage } from '@/utils';
  import api from '@/api';

  export default {

    fetch({ route, store }) {
      store.commit('replaceBreadcrumbs', [
        { title: 'Главная', to: '/' },
        { title: 'Личный кабинет', to: '/user' },
        { title: 'Личная техника', to: '/user/vehicles' },
        { title: 'Редактирование техники (вы здесь)' },
      ]);
    },

    async asyncData(context) {
      try {
        var vehicleResponse = await api.get(`/accountVehicles/${context.route.params.id}/get`);
        var vehicle = _.get(vehicleResponse, 'data.data.accountVehicle', {});
      }
      catch (err) {
        console.warn('Не удалось получить мотик пользователя', err);
      }

      var photoUrl;
      try {
        var { data } = await api.get(`/photos/${vehicle.photoId}/get`);
        photoUrl = _.get(data, 'data.urls.original');
      }
      catch (err) {
        console.warn('Не удалось получить фотку мотика пользователя', err);
      }
      return {
        sending: false,
        vehiclePhoto: photoUrl,
        vehicle: vehicle,
      };
    },

    computed: {
      isDisabled() {
        return this.sending;
      },
    },

    head() {
      return {
        title: 'Редактирование техники',
      };
    },

    methods: {
      async editAccountVehicle() {
        try {
          this.sending = true;

          if (this.vehiclePhoto && this.vehiclePhoto.startsWith('data:image')) {
            try {
              let photo = await uploadImage(this.vehiclePhoto);
              this.vehicle.photoId = photo.id;
            }
            catch (err) {
              console.error(err);
              alert('Не удалось загрузить фотографию');
            }
          }

          this.vehicle.selling = !!this.vehicle.selling;
          var result = await api.post(`/accountVehicles/${this.vehicle.id}/update`, this.vehicle);
          // this.sending = false;
          console.log('accVehicle:', this.vehicle);
        }
        catch (err) {
          console.warn('addAccountVehicle err', err);
          alert('Не удалось отредактировать мотоцикл');
          this.sending = false;
          return;
        }
        this.sending = false;
      },
      async removeAccountVehicle() {
        var accepted = confirm('Вы уверены, что хотите удалить данный мотоцикл из гаража?');
        if (!accepted) {
          return;
        }
        this.sending = true;
        try {
          var response = await api.post(`/accountVehicles/${this.vehicle.vehicleId}/delete`);
        }
        catch (err) {
          console.warn('removeAccountVehicle err', err);
          alert('Не удалось удалить мотоцикл');
          this.sending = false;
          return;
        }
        this.sending = false;
        this.$router.push('/user/vehicles');
      },
    },

    mounted() {
      if (!this.vehiclePhoto) {
        this.vehiclePhoto = this.NO_PHOTO;
      }
    },
  };
</script>

<style lang="scss">
  .mt-edit-account-vehicle {

    > .form-group {
      .btn {
        margin: 15px 0 0 0;
      }
    }
    .label {
      color: #ababab;
      font-size: 18px;
      line-height: 18px;
      font-weight: normal;
      padding: 0px;
    }
  }
</style>
