<!-- копировал с mt-page-vehicles -->
<template>
  <div class="mt-vehicles">

    <mt-profile-background :user="pageData.user" :me="me">
    </mt-profile-background>

    <div class="top-panel">
      <h1 class="title">
        {{ me ? 'Участник групп' : 'Группы пользователя' }}
      </h1>
    </div>

    <div class="cont-feed cont-for-2">
      <mt-feed wide
        :items="pageData.groupsFeed.items"
        :loading="pageData.groupsFeed.loading"
        :page="pageData.groupsFeed.page"
        :page-min="1" :page-max="pageData.groupsFeed.pageMax"
        @update-page="updatePage(pageData.groupsFeed, $event)"
        @show-more="showMore(pageData.groupsFeed)"
        >
        <template slot="card" scope="props">
          <mt-feed-card-community :item="_.get(props, 'item')" :me="me"></mt-feed-card-community>
        </template>
      </mt-feed>
    </div>
  </div>
</template>

<script>
  import { delay, FeedList } from '@/utils';
  export default {

    props: {
      me: { type: Boolean, default: false },
      pageData: { type: Object, required: true },
    },

    data() {
      return {
      };
    },

    computed: {
      account() {
        return this.$store.state.auth.account;
      },
    },

    methods: {
      async updatePage(list, page) {
        FeedList.updatePage(list, page);
      },
      async showMore(list) {
        FeedList.showMore(list);
      },
    },

  };
</script>

<style lang="stylus" scoped>
</style>
