<template>
  <div class="mt-friends">

    <mt-profile-background v-if="pageData" :user="pageData.user" :me="me">
    </mt-profile-background>

    <div class="header">
      <div class="col_left">
        <h1 class="title">Ваши друзья</h1>
      </div>
      <div class="col_right">
        <form class="page__search">
          <input type="text" placeholder="Искать по имени" v-model="search">
          <button type="submit"><i class="mi mi-search"></i></button>
        </form>
      </div>
    </div>

    <div class="cont-feed cont-for-2">
      <mt-feed class="mt-feed" wide
        v-if="pageData"
        :items="visibleFriends"
        :loading="pageData.friends.loading"
        :page="pageData.friends.page"
        :page-min="1" :page-max="pageData.friends.pageMax"
        @update-page="updatePage(pageData.friends, $event)"
        @show-more="showMore(pageData.friends)"
        cardCmp="mt-feed-card-user"
        >
      </mt-feed>
    </div>
  </div>
</template>

<script>
  import { FeedList } from '@/utils';
  export default {

    props: {
      pageData: { required: true },
      me: { type: Boolean },
    },

    data() {
      return {
        search: '',
      };
    },

    computed: {
      visibleFriends() {
        var search = this.search.trim().toLowerCase();
        if (search === '') {
          return this.pageData.friends.items;
        }
        else {
          return this.pageData.friends.items
            .filter(friend => {
              return _.some([
                friend.firstName.toLowerCase().includes(search),
                friend.lastName.toLowerCase().includes(search),
                friend.nickName.toLowerCase().includes(search),
              ]);
            })
        }
      },
      account() {
        return this.$store.state.auth.account;
      },
    },

    methods: {
      async updatePage(list, page) {
        FeedList.updatePage(list, page);
      },
      async showMore(list) {
        FeedList.showMore(list);
      },
    },

  };
</script>

<style lang="stylus" scoped>

  .mt-header {
    display: flex;
    .mt-title {
      margin: 0;
      text-transform: uppercase;
    }
    .form-group {
      flex: 1;
    }
  }
</style>
