<template>
  <div class="mt-vehicles">

    <mt-profile-background :user="pageData.user" :me="me">
    </mt-profile-background>

    <div class="top-panel">
      <h1 class="title">
        {{ me ? 'Моя техника' : 'Техника пользователя' }}
      </h1>
      <div class="button-block">
        <nuxt-link v-if="me" to="/user/add-vehicle" class="btn btn-default pull-right">
          <i class="mi mi-add"></i>
          Добавить технику
        </nuxt-link>

        <!-- @NOTE: подписаться/отписаться нет на этой странице, см. макет "личная техника" -->
      </div>
    </div>

    <div class="cont-feed cont-for-2">
      <mt-feed wide
        :items="pageData.vehicles.items"
        :loading="pageData.vehicles.loading"
        :page="pageData.vehicles.page"
        :page-min="1" :page-max="pageData.vehicles.pageMax"
        @update-page="updatePage(pageData.vehicles, $event)"
        @show-more="showMore(pageData.vehicles)"
        >
        <template slot="card" scope="props">
          <mt-feed-card-vehicle :item="props.item" :me="me"
            @delete="deleteItem(pageData.vehicles, props.item)"
            @edit="editVehicle(props.item.accountVehicle)"
          >
          </mt-feed-card-vehicle>
        </template>
      </mt-feed>
    </div>
  </div>
</template>

<script>
  import { delay, FeedList } from '@/utils';
  export default {

    props: {
      me: { type: Boolean, default: false },
      pageData: { type: Object, required: true },
    },

    data() {
      return {
      };
    },

    computed: {
      account() {
        return this.$store.state.auth.account;
      },
    },

    methods: {
      async updatePage(list, page) {
        FeedList.updatePage(list, page);
      },
      async showMore(list) {
        FeedList.showMore(list);
      },
      async deleteItem(list, item) {
        var id = _.get(item, 'accountVehicle.id');
        if (!confirm('Восстановление удаленной техники невозможно. Продолжить?')) {
          return;
        }
        try {
          await api.post(`/accountVehicles/${id}/delete`);
          await this.$store.dispatch('sidebar/loadUserVehicles', this.account.id);
          var io = list.items.indexOf(item);
          list.items.splice(io, 1);
        }
        catch (err) {
          alert(err.message);
          console.error(err);
        }
      },
      editVehicle(vehicle) {
        this.$router.push(`/user/edit-vehicle/${vehicle.id}`);
      },
    },

  };
</script>

<style lang="stylus" scoped>
  @import '~assets/styles/styles'


  // заголовок с кнопочками
  .personal-main-header
    display flex
    flex-direction column
    margin-bottom gutter(2, div)

    +up($xl)
      flex-direction row

  .personal-main-header .col_left
    padding 0 gutter(2, div)

    +up($xl)
      col(5)

  .personal-main-header .col_right
    padding 0
    display flex

    +up($xl)
      col(7)

  .btn__wrap
    col(12)
    display flex
    justify-content center
    align-items center
    padding gutter(4, div)

  .btn
    btn()
    display flex
    align-items center
    justify-content center
    background $white
    font-size $font-size-xsm
    color $gray
    text-transform lowercase

    &:hover
      color $black

    +up($sm)
      font-size $font-size-sm

    // +up($xl)
    //   font-size $font-size-md

  .btn__icon
    display inline-block
    vertical-align middle
    size 22px
    margin-right 3px
    background svg-load('mail.svg') no-repeat center

    +up($sm)
      size 35px
      margin-right gutter(2, div)
</style>
