<template>
  <div class="personal-area-page">

    <mt-profile-background :user="pageData.user" :me="me">
    </mt-profile-background>

    <div class="personal-main-header">
      <div class="top-panel">
        <h2 class="title">
          Блог пользователя
        </h2>
        <div class="button-block">
          <template v-if="!me && !isMyProfile">
            <button :disabled="subscribeBusy" class="btn btn-default" v-if="pageData.user.subscribed" @click="unsubscribe">
              <i class="mi mi-mail"></i>
              Отписаться
            </button>
            <button :disabled="subscribeBusy" class="btn btn-default" v-else @click="subscribe">
              <i class="mi mi-mail"></i>
              Подписаться
            </button>
          </template>

          <nuxt-link v-if="me" tag="button" to="/user/add-post" class="btn btn-default">
            <i class="mi mi-add"></i>
            Добавить запись
          </nuxt-link>
        </div>
      </div>
    </div>

    <div class="cont-feed cont-for-news">
      <mt-feed
        :items="pageData.blog.items"
        :page="pageData.blog.page"
        :page-min="1" :page-max="pageData.blog.pageMax"
        :loading="pageData.blog.loading"
        @update-page="updatePage(pageData.blog, $event)"
        @show-more="showMore(pageData.blog)"
        >
      </mt-feed>
    </div>

    <div class="cont-feed cont-for-news">
      <mt-feed
        title="Новое в группах"
        :items="pageData.communities.items"
        :loading="pageData.communities.loading"
        :page="pageData.communities.page"
        :page-min="1" :page-max="pageData.communities.pageMax"
        @update-page="updatePage(pageData.communities, $event)"
        @show-more="showMore(pageData.communities)"
        >
      </mt-feed>
    </div>

    <div class="cont-feed cont-for-news">
      <mt-feed
        title="Новое у друзей"
        :items="pageData.friends.items"
        :loading="pageData.friends.loading"
        :page="pageData.friends.page"
        :page-min="1" :page-max="pageData.friends.pageMax"
        @update-page="updatePage(pageData.friends, $event)"
        @show-more="showMore(pageData.friends)"
        >
      </mt-feed>
    </div>
  </div>
</template>

<script>
  import api from '@/api';
  import { FeedList } from '@/utils';

  export default {

    props: {
      me: { type: Boolean },
      pageData: { type: Object, required: true },
    },

    data() {
      return {
        subscribeBusy: false,
      };
    },

    computed: {
      isMyProfile() {
        var myId = _.get(this, 'account.id');
        return myId && myId == _.get(this, 'pageData.user.id');
      },
      account() {
        return _.get(this, '$store.state.auth.account');
      },
    },

    methods: {
      async updatePage(list, page) {
        FeedList.updatePage(list, page);
      },
      async showMore(list) {
        FeedList.showMore(list);
      },

      async subscribe() {
        this.subscribeBusy = true;
        await api.post(`/accounts/${this.pageData.user.id}/subscribe`);
        this.$emit('update-user');
        this.subscribeBusy = false;
      },

      async unsubscribe() {
        this.subscribeBusy = true;
        await api.post(`/accounts/${this.pageData.user.id}/unsubscribe`);
        this.$emit('update-user');
        this.subscribeBusy = false;
      },

    },

  };
</script>

<style lang="stylus" scoped>
</style>
