<template>
  <div class="mt-profile-background" :style="coverStyle">

    <div class="desc-block">
      <div>
        <h1>{{user.nickName}}</h1>
        <div v-if="me" class="user-tool">
          <i class="mi mi-tool"></i>
          <nuxt-link to="/user/settings">Редактировать<br>профиль</nuxt-link>
        </div>
      </div>
      <div class="bloger-week" v-if="user.isNominated"><i class="mi mi-diamond"></i>Блоггер недели</div>
    </div>
  </div>
</template>

<script>
  import empty from '@/assets/img/empty.png';
  export default {

    props: {
      me: { type: Boolean },
      user: { type: Object },
    },

    computed: {
      coverStyle() {
        var url;

        if (this.user && this.user.coverPhoto) {
          url = this.user.coverPhoto.urls.original;
        }
        else {
          url = empty;
        }

        return {
          'background-image': `url(${url})`,
        };
      },
    },

  };
</script>

<style lang="scss" scoped>
  body .wrap .community-list .desc-block {
    width: 100%;
    max-width: 200px;
    min-height: 220px;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 0 20px;
    padding: 20px 15px 15px 15px;

    h1 {
      color: #fff;
      font-size: 32px;
      line-height: 32px;
      font-weight: normal;
      text-transform: none;
      margin: 0;
    }
    .user-tool {
      display: flex;
      align-items: center;
      color: #fff;
      margin: 10px 0;

      a {
        color: #fff;
        font-size: 11px;
        line-height: 15px;
      }
      i {
        font-size: 20px;
        margin-right: 5px;
      }
    }
    .bloger-week {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: flex-end;
      color: #fff;
      font-size: 18px;
      line-height: 18px;

      i {
        font-size: 55px;
        margin: 0 0 10px 0;
      }
    }
  }
</style>
