<template>
  <div class="media">

    <div :class="subComment ? 'media-blocks-comments-comments' : 'media-blocks-comments'">
      <div class="media-left mt-overlay-holder" @mouseenter="showOverlay" @mouseleave="hideOverlay">
        <div class="mt-overlay" v-if="overlayIsActuallyShown" @mouseenter="showOverlay" @mouseleave="hideOverlay">
          <mt-user :user="overlayUser"></mt-user>
        </div>
        <div class="user-name">{{ user.name }}</div>
        <img :key="user.avatar" :src="user.avatar" class="media-object mt-pic">
        <div class="user-role">{{ user.role }}</div>
      </div>
      <div class="media-body"><!-- bg -->
        <div class="mt-comment-date">
          <span>{{ $time(message.date, 'LT') }}</span>
          <span>{{ $time(message.date, 'LL') }}</span>
        </div>
        <p class="comment-body">{{ message.text /* @TODO: nl2br */ }}</p>
        <div class="mt-comment-buttons">
          <button v-if="canRespond" class="btn btn-default" @click="$emit('respond')">ответить</button>
          <button class="btn btn-default more" @click="showPopup">...</button>
          <ul v-if="popupShown" class="popup" v-on-clickaway="hidePopup">
            <li><a href @click.prevent="$emit('ban')">Забанить</a></li>
            <li><a href @click.prevent="$emit('complain')">Пожаловаться</a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
  import cuid from 'cuid';

  export default {
    props: {
      user: { type: Object },
      message: { type: Object },
      canRespond: { type: Boolean, default: true },
      subComment: { type: Boolean, default: false },
    },
    data() {
      return {
        popupShown: false,
        overlayShouldBeShown: false,
        overlayIsActuallyShown: false,
      };
    },
    watch: {
      overlayShouldBeShown(val) {
        var vm = this;
        if (val) {
          // показать немедленно
          vm.overlayIsActuallyShown = true;
          clearTimeout(vm._overlayTimeout);
        }
        else {
          clearTimeout(vm._overlayTimeout);
          vm._overlayTimeout = setTimeout(function() {
            vm.overlayIsActuallyShown = false;
          }, 500);
        }
      },
    },
    computed: {
      overlayUser() {
        return {
          id: this.user.id,
          nickName: this.user.name,
          avatarUrl: this.user.avatar,
          backdrop: 'http://loremflickr.com/370/100/tunnel?random=1',
          isNominatedBlogger: false,
          firstName: 'Дмитрий', // @FIXME: fish
          lastName: 'Дружинин', // @FIXME: fish
          age: 19, // @FIXME: fish
          city: 'Москва', // @FIXME: fish
          favoriteMotorcycle: 'POLARIS 600 SWITCHBACK REV-XS, Ski-Doo GSX', // @FIXME: fish
        };
      },
    },
    methods: {
      showOverlay() {
        this.overlayShouldBeShown = true;
      },
      hideOverlay() {
        this.overlayShouldBeShown = false;
      },
      showPopup() {
        this.popupShown = true;
      },
      hidePopup() {
        this.popupShown = false;
      },
    },
  };
</script>

<style lang="scss" scoped>
  .media.mt-comment-block {
    overflow: visible;
  }
  .mt-overlay-holder {
    position: relative;
  }

  .mt-overlay {
    min-width: 320px;
    background: #fff;
    position: absolute;
    left: 100%;
    z-index: 99;
  }

  .media {
    .media-left {
      min-width: 115px;
      text-align: center;
      padding: 0 5px;

      .user-name {
        color: #666;
        font-size: 14px;
        line-height: 14px;
      }
      img {
        width: 75px;
        height: 75px;
        margin: 5px auto;
      }
      .user-role {
        color: #666;
        font-size: 14px;
        line-height: 14px;
      }
    }

    .media-blocks-comments {
      margin: 20px 0 20px 0;
    }

    .media-blocks-comments-comments {
      margin: 20px 0 20px 115px;
    }

    .media-body {
      padding: 10px 15px;

      .mt-comment-date {
        color: #666;
        font-size: 12px;
        line-height: 12px;
        text-align: right;

        span {
          padding: 0 0 0 10px;
        }
      }
      .comment-body {
        color: #666;
        font-size: 14px;
        line-height: 18px;
        margin: 10px 0;
      }
      .mt-comment-buttons {
        display: flex;
        justify-content: flex-end;
        position: relative;

        .btn {
          margin-left: 20px;
        }
        .popup {
          background: #fff;
          border: solid 2px #c4c4c4;
          border-radius: 7px;
          color: #666;
          font-size: 16px;
          line-height: 16px;
          text-transform: lowercase;
          list-style: none;
          margin: 0 0 10px 0;
          padding: 10px 15px;
          position: absolute;
          bottom: 100%;
          right: 0;

          a {
            display: inline-block;
            margin-top: 5px;
          }
          li:first-child a {
            margin-top: 0;
          }
        }
      }
    }
    .bg {
      background: #f2f2f2;
    }
  }
  .media:nth-child(2n) .media-body {
    background: #f2f2f2;
  }
</style>
