<template>
  <div class="wrap-comment">
    <!-- временно скрыто, т.к. все равно не привязано к бэку -->
    <template v-if="false">
      <h3><strong>Обсудить TO DO</strong></h3>

      <mt-response-form
        v-model="postResponseForm"
        @submit="submitPostResponse"
      >
      </mt-response-form>

      <template v-for="comment in comments">
        <mt-comment class="mt-comment-block"
          :user="comment.user"
          :message="comment.message"
          @respond="respondTo(comment)"
        >
        </mt-comment>

        <mt-comment sub-comment class="mt-comment-block"
          v-for="subComment in comment.subComments" :key="subComment"
          :user="subComment.user"
          :message="subComment.message"
          @respond="respondTo(comment, subComment)"
        >
        </mt-comment>

        <!-- @NOTE: ответить можно на комментарий или на субкомментарий,
                    но форма всегда располагается под всеми субкомментариями -->

        <mt-response-form class="mt-response-form--inline"
          v-if="inlineResponse.comment === comment"
          v-model="inlineResponse.form"
          @submit="submitInlineResponse"
        >
        </mt-response-form>

      </template>

      <div class="btn btn-default btn-full-width" @click="loadMore">Следующие комментарии</div>
    </template>
  </div>
</template>

<script>
  import { delay } from '@/utils';

  export default {

    props: {
    },

    data() {
      return {
        postResponseForm: {
          text: '',
          image: null,
        },
        inlineResponse: {
          comment: null,
          subComment: null,
          form: {
            text: '',
            image: null,
          },
        },

        loading: false,
        comments: [
          {
            user: {
              id: _.uniqueId(),
              name: 'Дмитрий ДДД',
              role: 'Модератор',
              avatar: 'http://loremflickr.com/80/80/userpic?random=1'
            },
            message: {
              id: _.uniqueId(),
              text: 'У планет-гигантов нет твёрдой поверхности, таким образом противостояние иллюстрирует pадиотелескоп Максвелла, таким образом, часовой пробег каждой точки поверхности на экваторе равен 1666км. Вселенная достаточно огромна, чтобы азимут прочно представляет собой непреложный Ганимед, а время ожидания ответа составило бы 80 миллиардов лет. Орбита дает сарос, хотя галактику в созвездии Дракона можно назвать карликовой. Исполинская звездная спираль с поперечником в 50 кпк, после осторожного анализа, отражает поперечник. Различное расположение последовательно меняет непреложный сарос.',
              date: '2016-03-10T21:19:00+03:00',
            },
          },
          {
            user: {
              id: _.uniqueId(),
              name: 'Greenday',
              role: '',
              avatar: 'http://loremflickr.com/80/80/greenday?random=2'
            },
            message: {
              id: _.uniqueId(),
              text: 'Shroudy unthreshed tolusafranine Greekist unsteaming seat coking Northman herniopuncture Botryllus momentum degged phonikon sugarplum deglutitive lochiorrhagia cuneonavicular technonomy khansamah stroky climath anthogenesis timeliine cancerigenic.',
              date: '2016-03-10T21:19:00+03:00',
            },
            subComments: [
              {
                user: {
                  id: _.uniqueId(),
                  name: 'Offspring',
                  role: '',
                  avatar: 'http://loremflickr.com/80/80/offspring?random=3'
                },
                message: {
                  id: _.uniqueId(),
                  text: 'Deintellectualize buprestidan overseriousness shelfback antiduke pelycometry vulvocrural semiprotectorate Imerina monsoonal inertly thulium lateriflexion remiss hypertension delaine lithotomical sense bolsterer deflate bisalt shoggle diprismatic ethopoeia.',
                  date: '2016-03-10T21:19:00+03:00',
                },
              },
            ],
          },
        ],

      };
    },

    methods: {
      // комментарий к посту
      async submitPostResponse() {
        if (!this.postResponseForm.text) {
          console.warn('низя отправить пустой комментарий');
          return;
        }
        // @TODO: бек
        this.comments.unshift({
          user: {
            id: _.uniqueId(),
            name: 'Иван Неспящий',
            role: '',
            avatar: 'http://loremflickr.com/80/80/userpic?random=' + Math.floor(Math.random() * 100),
          },
          message: {
            id: _.uniqueId(),
            text: this.postResponseForm.text,
            date: moment().toISOString(),
          },
        });

        this.postResponseForm.text = '';
        this.postResponseForm.image = null;
      },

      // комментарий к комментарию
      respondTo(comment, subComment = null) {
        this.inlineResponse.comment = comment;
        this.inlineResponse.subComment = subComment;
        this.inlineResponse.form.text = (subComment || comment).user.name + ', ';
        this.inlineResponse.form.image = null;
      },
      async submitInlineResponse() {
        if (!this.inlineResponse.form.text) {
          console.warn('низя отправить пустой комментарий');
          return;
        }

        var to = this.inlineResponse.comment;

        // @TODO: учесть, что в форме есть еще и картинка

        // @TODO: бек
        if (!to.subComments) {
          to.subComments = [];
        }

        // @TODO: бек
        to.subComments.push({
          user: {
            id: _.uniqueId(),
            name: 'Иван Неспящий',
            role: '',
            avatar: 'http://loremflickr.com/80/80/userpic?random=' + Math.floor(Math.random() * 100),
          },
          message: {
            id: _.uniqueId(),
            text: this.inlineResponse.form.text,
            date: moment().toISOString(),
          },
        });

        this.inlineResponse.comment = null;
        this.inlineResponse.subComment = null;
        this.inlineResponse.form.text = null;
        this.inlineResponse.form.image = null;
      },

      async loadMore() {
        this.loading = true;
        await delay(500);

        this.comments.push({
          user: {
            id: _.uniqueId(),
            name: 'Дмитрий ДДД',
            role: 'Модератор',
            avatar: 'http://loremflickr.com/80/80/userpic?random=' + Math.floor(Math.random() * 100),
          },
          message: {
            id: _.uniqueId(),
            text: 'Herniated furfurine Galeorhinidae carthamic jemmy peri birma anatomicophysiologic pararosaniline myxopod aircrewman reindependence ringlead accordantly attendment protologist cervicide bainie submarginal untorn prostatectomy seropuriform newsteller halite.',
            date: moment().toISOString(),
          },
        });

        this.loading = false;
      },
    },

  };
</script>

<style lang="scss" scoped>
  .wrap-comment {
    margin: 25px 0 0 0;

    h3 {
      color: #666;
      margin: 0 0 10px 0;
    }
    .mt-comment-block {
      margin: 20px 0 0 0;
    }
  }

  .mt-response-form--inline {
    margin: 20px 0 20px 115px;
  }
</style>
