<template>
  <div class="mt-message-excerpt">
    <div class="mt-avatar">
      <img :src="message.author.avatar">
      <div class="mt-author hidden-lg hidden-md hidden-sm">
        <div>{{ message.author.username }}</div>
        <div class="timeout"><small>был {{ $humanize(message.author.lastVisit) }}</small></div>
        <div><small>{{ message.author.name }} {{ message.author.age }}</small></div>
        <div><small>{{ message.author.city }}</small></div>
      </div>
    </div>
    <div class="mt-author hidden-xs">
      <div>{{ message.author.username }}</div>
      <div class="timeout"><small>был {{ $humanize(message.author.lastVisit) }}</small></div>
      <div><small>{{ message.author.name }} {{ message.author.age }}</small></div>
      <div><small>{{ message.author.city }}</small></div>
    </div>
    <div class="mt-message">
      <div><big>{{ message.topic }}</big></div>
      <div><small>{{ message.length }} символов</small></div>

      <div class="mt-nav-btn hidden-lg hidden-md hidden-sm">
        <div class="date">{{ $time(message.date, 'LT') }} {{ $time(message.date, 'L') }}</div>
        <div class="btns-block">
          <nuxt-link :to="`/user/inbox/${message.author.id}`" tag="button" class="btn btn-default">Открыть</nuxt-link>
          <button class="btn btn-default" @click="$emit('remove')">Удалить</button>
        </div>
      </div>
    </div>
    <div class="mt-nav-btn hidden-xs">
      <div class="date">{{ $time(message.date, 'LT') }} {{ $time(message.date, 'L') }}</div>
      <div class="btns-block">
        <nuxt-link :to="`/user/inbox/${message.author.id}`" tag="button" class="btn btn-default">Открыть</nuxt-link>
        <button class="btn btn-default" @click="$emit('remove')">Удалить</button>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      message: { type: Object },
    },
  };
</script>


<style lang="scss" scoped>
  .mt-message-excerpt {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: #666;
    font-size: 16px;
    line-height: 16px;

    div.timeout {
      small {
        color: #999;
        font-size: 11px;
        line-height: 11px;

      }
    }

    &.mt-odd {
      background: #eee;
    }

    .mt-avatar {
      width: 90px;
      height: 90px;
      margin-right: 15px;
    }

    .mt-author {
      width: 190px;
    }

    .mt-message {
      flex: 1;

      big {
        text-transform: uppercase;
        line-height: 20px;
      }
    }
    .btn {
      margin-left: 15px;
    }
    .btn:first-child {
      margin-left: 0;      
    }
    .mt-nav-btn {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-between;
      height: 107px;

      .date {
        font-size: 11px;
        line-height: 11px;
      }
    }
  }
</style>
