<template>
  <div class="mt-response-form">
    <div class="form-group">
      <textarea placeholder="Обсудить" :disabled="disabled" class="form-control"
        v-model="value.text"
        >
      </textarea>
    </div>
    <div class="btns">
      <button :disabled="disabled" class="btn btn-default pics" @click="showModal"><i class="mi mi-pic"></i></button>
      <button :disabled="disabled" class="btn btn-default" @click="$emit('submit')">Ответить</button>
    </div>
    <w-modal v-if="modal" @close="cancelModal">
      <w-cropper v-model="modal.image"></w-cropper>
      <button class="btn btn-default" @click="saveModal">Сохранить</button>
      <button class="btn btn-default" @click="cancelModal">Отмена</button>
    </w-modal>
    <div class="clearfix"></div>
  </div>
</template>

<script>
  export default {

    props: {
      value: { type: Object, required: true },
      disabled: { type: Boolean, default: false },
    },

    data() {
      return {
        DEFAULT: {
          text: '',
          image: null,
        },

        modal: null, // { image: null }
      };
    },

    watch: {
      value: {
        immediate: true,
        handler() {
          var populatedValue = _.merge({}, this.DEFAULT, this.value);
          if (!_.isEqual(this.value, populatedValue)) {
            this.$emit('input', populatedValue);
          }
        },
      },
    },

    methods: {
      showModal() {
        this.modal = { image: this.value.image };
      },
      saveModal() {
        this.value.image = this.modal.image;
        this.modal = null;
      },
      cancelModal() {
        this.modal = null;
      },
    },

  };
</script>

<style lang="scss" scoped>
  .btns {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .pics {
      border: 0;
      padding: 0 10px;

      i {
        font-size: 24px;
      }
    }
    .pics:hover,
    .pics:active,
    .pics:focus {
      background: transparent;
      color: #666;
    }
    // .popup .btn {
    //   margin-right: 10px;
    // }
  }
</style>
