<template>
  <div class="mt-user">
    <div class="mt-header" :style="{ 'background-image': `url(${user.backdrop})` }">
      <div class="mt-header-img">
        <img :src="user.avatarUrl">
      </div>
      <div class="user_name"><span>{{ user.nickName }}</span></div>
      <div class="blogger" v-if="user.isNominatedBlogger">
        <i class="fa fa-diamond"></i>
        <span>Блоггер недели</span>
      </div>
    </div>
    <div class="mt-body">
      <div>
        <div class="time">был 5 часов назад</div>
        <div class="name">{{ user.firstName }} {{ user.lastName }} {{ user.age }}</div>
        <div class="city">{{ user.city }}</div>
        <div class="like_moto">Любимый мот</div>
        <div class="model_moto">{{ user.favoriteMotorcycle }}</div>
        <div class="all_moto"><nuxt-link :to="`/user/${user.id}/vehicles`">вся техника</nuxt-link></div>
      </div>
      <ul>
        <li><nuxt-link :to="`/user/inbox/${user.id}`">Написать сообщение</nuxt-link></li>
        <li><nuxt-link :to="`/user/${user.id}`">Блог</nuxt-link></li>
        <li><button class="btn btn-link mt-btn-flat">Дружить / Вы дружите</button></li>
        <li><button class="btn btn-link mt-btn-flat">Удалить из друзей</button></li>
        <li><button class="btn btn-link mt-btn-flat">Назначить админом группы</button></li>
        <li><button class="btn btn-link mt-btn-flat">Выгнать из группы</button></li>
      </ul>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      user: { type: Object, required: true },
    },
  };
</script>

<style lang="scss" scoped>
  .mt-user {
    border: solid 2px #acacac;

    .mt-header {
      display: flex;
      justify-content: stretch;

      background-size: cover;
      background-position: center;
      padding: 15px;

      > *:not(.mt-header-img) {
        flex: 1;
      }

      .user_name span {
        background: rgba(0,0,0,.5);
        color: #fff;
        font-size: 14px;
        margin: 0 0 0 17px;
        padding: 4px 6px;
      }
      .blogger {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-self: flex-end;
        color: #fff;
        font-size: 11px;

        i {
          font-size: 33px;
        }
      }
    }

    .mt-body {
      display: flex;
      text-align: left;
      padding: 10px 15px;

      > * {
        /*width: 60%;*/
        flex: 1;
        padding: 0 20px 0 0;
      }

      .time {
        color: #aaa;
        font-size: 11px;
        line-height: 11px;
      }
      .name {
        color: #5c5c5c;
        font-size: 14px;
        line-height: 14px;
        margin: 5px 0;
      }
      .city {
        color: #5c5c5c;
        font-size: 11px;
        line-height: 11px;
      }
      .like_moto {
        color: #aaa;
        font-size: 10px;
        line-height: 10px;
        margin: 5px 0;
      }
      .model_moto {
        color: #010101;
        font-size: 12px;
        line-height: 16px;
      }
      .all_moto a {
        display: inline-block;
        color: #585858;
        font-size: 10px;
        line-height: 10px;
        text-decoration: underline;
        margin: 5px 0 0 0;
      }
      .all_moto a:hover {
        color: #000;
      }

      ul {
        /*width: 40%;*/
        padding: 0 0 0 20px;

        li {
          a,
          button {
            color: #aaa;
            font-size: 11px;
            line-height: 11px;
            text-decoration: underline;
          }
          a:hover,
          button:hover {
            color: #000;
          }
        }
      }
    }

    .mt-btn-flat {
      padding: 0;
    }
  }
</style>
