<template>
  <div>

    <h3>Поделиться</h3>
    <mt-share />

    <h3>Фото недели <span class="red">сделала на месте</span></h3>
    <mt-sidebar-photo-of-week></mt-sidebar-photo-of-week>

    <h3>Заголовок сообщества <span class="red">сделала на месте</span></h3>
    <a href="http://joxi.ru/12MpJ71FMxQdgm">http://joxi.ru/12MpJ71FMxQdgm</a>
    <mt-community-header :community="communityDto">
    </mt-community-header>


    <h3>02. Карточка с текстом</h3>
    <h4>Вариант 1</h4>
    <div class="mt-example mt-mock-feed">
      <mt-feed-card-article :item="articleCard"></mt-feed-card-article>
    </div>
    <p>Референсы:</p>
    <ul>
      <li><a href="http://joxi.ru/l2ZQ1P6C0PvOmJ">http://joxi.ru/l2ZQ1P6C0PvOmJ</a> (файл <b>личный-кабинет.jpg</b>)</li>
      <li><a href="http://joxi.net/KAgXk6GcoWdWrl">http://joxi.net/KAgXk6GcoWdWrl</a> (файл <b>личный-кабинет.jpg</b>)</li>
      <li><a href="http://joxi.net/12MNBPjtvPDyAJ">http://joxi.net/12MNBPjtvPDyAJ</a> (файл <b>лента-новостей-раздела.jpg</b>)</li>
      <li><a href="http://joxi.ru/EA4Z9yvUb1eJmb">http://joxi.ru/EA4Z9yvUb1eJmb</a> (файл <b>лента-новостей-раздела-премодерация.jpg</b>)</li>
    </ul>
    <h4>Вариант 2</h4>
    <div class="mt-example mt-mock-feed--wide">
      <mt-feed-card-vehicle :item="vehicleCard"></mt-feed-card-vehicle>
    </div>
    <p>Референс: <a href="http://joxi.ru/krD08YDCRYalrp">http://joxi.ru/krD08YDCRYalrp</a> (файл <b>личная-техника.jpg</b>)</p>
    <h4>Вариант 3</h4>
    <div class="mt-example mt-mock-feed--wide">
      <mt-feed-card-community :item="communityCard"></mt-feed-card-community>
    </div>
    <p>Референс: <a href="http://joxi.ru/brRpLP6tQQRl02">http://joxi.ru/brRpLP6tQQRl02</a> (файл <b>список-сообществ.jpg</b>)</p>

    <hr>

    <h3>03. Баннер</h3>
    <mt-banner title="Баннер продажа мототехники"></mt-banner>
    <hr>

    <h3>Лучший обзор недели</h3>
    <div class="mt-example mt-mock-content">
      <mt-home-header :author="nominatedAuthor" :article="nominatedArticle"/>
    </div>

    <hr>

    <h3>04. Меню</h3>
    <div class="mt-example mt-mock-site">
      <mt-navigation/>
    </div>
    <p>Референс: <a href="http://joxi.ru/Drl9NZVTMP99mP">http://joxi.ru/Drl9NZVTMP99mP</a> (файл <b>главная.jpg</b>)</p>

    <hr>

    <h3>05.1. Карусель (сайдбар)</h3>
    <p>Референс: <a href="http://joxi.ru/5md30PMHNWEar1">http://joxi.ru/5md30PMHNWEar1</a> (файл <b>главная.jpg</b>)</p>
    <div class="mt-example mt-mock-sidebar">
      <w-carousel class="mt-section" no-controls :slides="carouselSlides">
        <template slot="caption" scope="props">
          <mt-sidebar-carousel-caption
            :title="props.slide.title"
            :action="props.slide.action"
          >
          </mt-sidebar-carousel-caption>
        </template>
      </w-carousel>
    </div>

    <hr>

    <h3>05.2. Карусель (галерея)</h3>
    <div class="mt-example mt-mock-content">
      <mt-page-gallery :items="galleryItems" @like="likeGalleryItem($event)">
      </mt-page-gallery>
    </div>
    <p>Референс: <a href="http://joxi.ru/1A5ay7ps9jkzAE">http://joxi.ru/1A5ay7ps9jkzAE</a> (файл <b>страница-мотоцикла.jpg</b>)</p>

    <hr>

    <h3>06. Таблица</h3>
    <p>Референс: <a href="http://joxi.ru/xAeOJQ0U0EPpmy">http://joxi.ru/xAeOJQ0U0EPpmy</a> (файл <b>статья.jpg</b>)</p>

    <hr>

    <h3>08. Крошки</h3>
    <div class="mt-example">
      <mt-breadcrumbs></mt-breadcrumbs>
    </div>
    <p>Референс: <a href="http://joxi.ru/DmB0nbDCX3W0AP">http://joxi.ru/DmB0nbDCX3W0AP</a> (файл <b>лента-новостей-раздела.jpg</b>)</p>

    <hr>

    <h3>09. Комментарий</h3>
    <p>Референс: <a href="http://joxi.ru/L21dvxbCeMWKmX">http://joxi.ru/L21dvxbCeMWKmX</a> (файлы <b>статья.jpg</b>, <b>личный-кабинет-переписка.jpg</b>, <b>мероприятие.jpg</b>)</p>
    <div class="mt-example">
      <mt-comment :user="commentUser" :message="commentMessage">
      </mt-comment>
    </div>

    <hr>

    <h3>Лента комментариев</h3>
    <div class="mt-example">
      <mt-comments />
    </div>

    <hr>

    <h3>10. Блок со ссылками в сайдбаре</h3>
    <div class="mt-example mt-mock-sidebar">
      <mt-sidebar-panel title="Hello" :actions="sidebarPanelActions">
        <ul>
          <li v-for="link in sidebarPanelLinks">
            <nuxt-link :to="link.to">{{ link.text }}</nuxt-link>
          </li>
        </ul>
      </mt-sidebar-panel>
    </div>
    <p>Референсы:</p>
    <ul>
      <li><a href="http://joxi.ru/brRpLP6t0v3a21">http://joxi.ru/brRpLP6t0v3a21</a> (файл <b>главная.jpg</b>)</li>
      <li><a href="http://joxi.ru/a2XGxBQTNYM0mg">http://joxi.ru/a2XGxBQTNYM0mg</a> (файл <b>лента-новостей-раздела.jpg</b>)</li>
      <li><a href="http://joxi.ru/J2ba9Pls36Bym6">http://joxi.ru/J2ba9Pls36Bym6</a> (файл <b>личная-техника.jpg</b>)</li>
      <li><a href="http://joxi.ru/krD08YDCRjWVrp">http://joxi.ru/krD08YDCRjWVrp</a> (файл <b>личная-техника.jpg</b>)</li>
      <li><a href="http://joxi.ru/xAeOJQ0U0E7Omy">http://joxi.ru/krD08YDCRjWVrp</a> (файл <b>личная-техника.jpg</b>)</li>
    </ul>

    <hr>

    <h3><del>11. Пользователь (сайдбар)</del></h3>

    <hr>

    <h3>15. Плашка профиля (сайдбар)</h3>
    <div class="mt-example mt-mock-sidebar">
      <mt-sidebar-user></mt-sidebar-user>
    </div>
    <p>Референс: <a href="http://joxi.ru/E2p9VOgTd7RbAY">http://joxi.ru/E2p9VOgTd7RbAY</a> (файл <b>личный-кабинет.jpg</b>)</p>

    <hr>

    <h3>16. Плашка профиля (большая)</h3>
    <p>Референсы:</p>
    <div class="mt-example mt-mock-user-overlay">
      <mt-user :user="overlayUser"></mt-user>
    </div>
    <ul>
      <li><a href="http://joxi.ru/eAONlP1typkp2o">http://joxi.ru/eAONlP1typkp2o</a> (файлы <b>админ-страница-новые-записи.jpg</b>, <b>личный-кабинет-друзья.jpg</b>)</li>
      <li><a href="http://joxi.ru/eAONlP1typ6p2o">http://joxi.ru/eAONlP1typ6p2o</a> (файл <b>мероприятие.jpg</b>)</li>
    </ul>

    <h3>Вход</h3>
    <div class="mt-example mt-mock-auth-modal">
      <mt-login can-close></mt-login>
    </div>
    <p>Референсы:</p>
    <ul>
      <li><a href="http://joxi.ru/Y2LEyP0hnwNekA">http://joxi.ru/Y2LEyP0hnwNekA</a> (файлы <b>логин.jpg</b>, <b>логин-на-фоне.jpg</b>)</li>
    </ul>

    <h3>Регистрация</h3>
    <div class="mt-example mt-mock-auth-modal">
      <mt-register can-close></mt-register>
    </div>
    <p>Референсы:</p>
    <ul>
      <li><a href="http://joxi.ru/4AkaqnZTv74Vmq">http://joxi.ru/4AkaqnZTv74Vmq</a> (файлы <b>регистрация.jpg</b>)</li>
    </ul>

    <h3>Подтверждение почты</h3>
    <div class="mt-example mt-mock-auth-modal">
      <mt-confirm-email can-close></mt-confirm-email>
    </div>
    <p>Референсы отсутсвуют</p>

    <h3>Восстановление пароля</h3>
    <div class="mt-example mt-mock-auth-modal">
      <mt-restore-password can-close></mt-restore-password>
    </div>
    <p>Референсы:</p>
    <ul>
      <li><a href="http://joxi.ru/brRGZ9dSgolWm1">http://joxi.ru/brRGZ9dSgolWm1</a> (файлы <b>восстановление-пароля.jpg</b>)</li>
    </ul>

    <h3>Новый пароль</h3>
    <div class="mt-example mt-mock-auth-modal">
      <mt-change-password can-close></mt-change-password>
    </div>
    <p>Референсы:</p>
    <ul>
      <li><a href="http://joxi.ru/8AnOqk3H5QO1rO">http://joxi.ru/8AnOqk3H5QO1rO</a> (файлы <b>новый-пароль.jpg</b>)</li>
    </ul>

    <hr>

  </div>
</template>

<script>
  import cuid from 'cuid';
  import { delay } from '@/utils';

  export default {
    layout: 'naked',
    data() {
      return {
        communityDto: {
          title: 'Название группы',
          description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.',
        },
        articleCard: {
          id: 10,
          createdAt: '2016-07-22T07:36:10Z',
          updatedAt: '2017-04-12T01:31:30Z',
          status: '',
          authorId: 5,
          authorName: 'hretchford9',
          slug: 'luctus et ultrices posuere',
          title: 'Networked secondary service-desk',
          shortText: 'Integer aliquet, massa id lobortis convallis, tortor risus dapibus augue, vel accumsan tellus nisi eu orci. Mauris lacinia sapien quis libero. Nullam sit amet turpis elementum ligula vehicula consequat. Morbi a ipsum. Integer a nibh.',
          isCompare: true,
          commentCount: 21,
          likeCount: 132
        },
        vehicleCard: {
          id: 1,
          status: 'blandit',
          accountId: 6,
          accountName: 'Дима_DDD',
          vehicleId: 6,
          name: 'Flatley-Block',
          description: 'Aenean fermentum. Donec ut mauris eget massa tempor convallis. Nulla neque libero, convallis eget, eleifend luctus, ultricies eu, nibh.',
          selling: true,
          type: 'Квадроцикл',
          features: {
            engine: 'quisque',
            clutch: 'quam',
          },
          postCount: 218,
          subscribeCount: 279,
          likeCount: 198,
        },
        communityCard: {
          id: 1,
          ownerId: 3,
          ownerName: 'cmccrory0',
          photoId: 6,
          cityId: 2,
          attachedArticleId: 1,
          title: 'Barrows, Tillman and Erdman',
          description: 'Mauris lacinia sapien quis libero. Nullam sit amet turpis elementum ligula vehicula consequat.',
          moderationEnabled: true,
          website: 'http://uol.com.br',
          memberCount: 390,
          postCount: 6,
          backdrop: 'http://dummyimage.com/470x200.png/cc0000/ffffff',
        },
        nominatedAuthor: {
          id: cuid(),
          name: 'Дима_DDD',
        },
        nominatedArticle: {
          id: cuid(),
          title: 'Тест-драй Kawasaki KX250F 2015',
          imageHref: require('@/assets/img/home__header.jpg'),
          isNominated: true,
        },
        carouselSlides: [
          {
            src: 'http://loremflickr.com/370/210/motorcycle?random=1',
            alt: 'Los Angeles',
            title: '23.02 - Турнир «Самый быстрый урал Зеленограда»',
            action: { text: 'Подробнее', to: '/calendar' },
          },
          {
            src: 'http://loremflickr.com/370/210/motorcycle?random=2',
            alt: 'Santa Monica',
            title: '23.02 - Турнир «Самый быстрый урал Зеленограда»',
            action: { text: 'Подробнее', to: '/calendar' },
          },
        ],
        sidebarPanelActions: [
          {
            text: 'Добавить',
            handler() {
              alert('Вызвано действие "добавить"');
            },
          },
        ],
        sidebarPanelLinks: [
          { text: 'Кросс покатушки', to: '/community-some-community' },
          { text: 'Мотоголовы', to: '/community-some-community' },
        ],
        commentMessage: {
          id: cuid(),
          text: 'У планет-гигантов нет твёрдой поверхности, таким образом противостояние иллюстрирует pадиотелескоп Максвелла, таким образом, часовой пробег каждой точки поверхности на экваторе равен 1666км. Вселенная достаточно огромна, чтобы азимут прочно представляет собой непреложный Ганимед, а время ожидания ответа составило бы 80 миллиардов лет. Орбита дает сарос, хотя галактику в созвездии Дракона можно назвать карликовой. Исполинская звездная спираль с поперечником в 50 кпк, после осторожного анализа, отражает поперечник. Различное расположение последовательно меняет непреложный сарос.',
          date: '2016-03-10T21:19:00+03:00',
        },
        commentUser: {
          id: cuid(),
          name: 'Дмитрий ДДД',
          role: 'Модератор',
          avatar: 'http://loremflickr.com/80/80/userpic?random=1'
        },
        overlayUser: {
          id: cuid(),
          nickName: 'Дима_DDD',
          avatarUrl: 'http://loremflickr.com/90/90/userpic?random=3',
          backdrop: 'http://loremflickr.com/370/100/tunnel?random=1',
          isNominatedBlogger: true,
          firstName: 'Дмитрий',
          lastName: 'Дружинин',
          age: 19,
          city: 'Москва',
          favoriteMotorcycle: 'POLARIS 600 SWITCHBACK REV-XS, Ski-Doo GSX',
        },
        galleryItems: [
          {
            id: _.uniqueId(),
            href: 'https://dummyimage.com/970x560.jpg/92e1bb/444',
            liked: true,
          },
          {
            id: _.uniqueId(),
            href: 'https://dummyimage.com/970x560.jpg/92e1bb/444',
            liked: false,
          },
          {
            id: _.uniqueId(),
            href: 'https://dummyimage.com/970x560.jpg/92e1bb/444',
            liked: true,
          },
          {
            id: _.uniqueId(),
            href: 'https://dummyimage.com/970x560.jpg/92e1bb/444',
            liked: true,
          },
          {
            id: _.uniqueId(),
            href: 'https://dummyimage.com/970x560.jpg/92e1bb/444',
            liked: false,
          },
        ],
      };
    },

    methods: {
      async likeGalleryItem(item) {
        await delay(100);
        item.liked = !item.liked; // @TODO: бек
      },
    },

  };
</script>

<style lang="scss" scoped>
  .mt-example {
    margin: 0.5em;
    border: 1px dashed black;
  }

  .mt-mock-sidebar {
    width: 460px;
  }

  .mt-mock-feed {
    width: 290px;
  }

  .mt-mock-feed--wide {
    width: 440px;
  }

  .mt-mock-site {
    width: 1380px;
  }

  .mt-mock-user-overlay {
    width: 370px;
  }

  .mt-mock-content {
    width: 970px;
  }

  .mt-mock-auth-modal {
    width: 300px;
  }
</style>
