<template>
  <div class="mt-page">
    <ul>
      <li v-for="icon in icons">
        <i :class="['mi', 'mi-' + icon]"></i>&nbsp;<span>{{ 'mi mi-' + icon }}</span>
      </li>
    </ul>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        icons: [
          'add',
          'add-article',
          'arrow-next',
          'arrow-prev',
          'calendar',
          'center',
          'close',
          'code',
          'diamond',
          'edit',
          'edit2',
          'email',
          'extract',
          'eye',
          'facebook',
          'fb',
          'foto',
          'gplus',
          'justify',
          'key',
          'left',
          'li',
          'list',
          'lk',
          'lk2',
          'lk-o',
          'location',
          'location2',
          'lock',
          'mail',
          'mail2',
          'marked-box',
          'moto',
          'new-mail',
          'news',
          'odnoklassniki',
          'otpisat',
          'pic',
          'pics',
          'quote',
          'right',
          'rss',
          'sale',
          'search',
          'share',
          'star',
          'star2',
          'thumb-up',
          'tool',
          'tool2',
          'top',
          'twitter',
          'upload',
          'upload-file',
          'vehicle-filter',
          'video',
          'vkontakte',
          'youtube',
        ],
      };
    },
  };
</script>

<style lang="scss" scoped>
  .mt-page {
    padding: 0 10px;
  }
</style>
