<template>
  <div>

    <h3>Textarea ({{textareaValue}})</h3>
    <div class="boxed" style="background: #555">
      <w-textarea v-model="textareaValue" />
    </div>

    <h3>Input ({{inputValue}})</h3>
    <div class="boxed" style="background: #555">
      <w-input v-model="inputValue" />
    </div>

    <h3>Checkbox {{chk}}</h3>
    <div class="boxed" style="background: #555">
      <w-checkbox
        v-model="chk"
        />
    </div>


    <h3>Y-maps {{placemarkPosition}}</h3>
    <div class="boxed">
      <w-ymaps
        v-model="placemarkPosition"
        style="width: 300px; height: 300px;"
        />
    </div>

    <h3>Datepicker - {{date | DDF}}</h3>
    <div class="boxed">
      <w-calendar v-model="date"/>
    </div>
    <br />
    <div class="boxed">
      <w-datepicker v-model="date"/>
    </div>

    <h3>Stars</h3>
    <div class="boxed">
      <w-stars v-model="stars">4.5 / 123</w-stars>
    </div>
    <span> - {{stars}}</span>
    <div><a href="http://joxi.ru/4AkGN03fyeLa4A">статья.jpg</a></div>

    <h3>Cropper.js</h3>
    <div class="boxed" style="height: 300px; width: 100%;">
      <w-cropper v-model="photo" />
    </div>

    <h3>Видосики</h3>
    <youtube v-if="isMounted" video-id="KGuydnEHvF0" />

    <h3>01. Модальное окно</h3>
    <p>Референс: <a href="http://joxi.ru/V2VgaPKUwPZwAv">http://joxi.ru/V2VgaPKUwPZwAv</a> (файл <b>логин-на-фоне.jpg</b>)</p>
    <button class="btn" @click="modalShown = true">Show modal</button>
    <w-modal v-if="modalShown" @close="modalShown = false">
      <h2>Реферат по политологии</h2>
      <h3>Тема: «Эмпирический субъект власти: основные моменты»</h3>
      <p>В ряде стран, среди которых наиболее показателен пример Франции,  натуралистическая парадигма приводит онтологический субъект власти. Политическое учение Платона взаимно. Доиндустриальный тип политической культуры теоретически возможен. Понятие политического участия неизбежно.</p>
      <p>Политическая модернизация неизбежна. Субъект политического процесса представляет собой авторитаризм. Авторитаризм существенно означает культ личности. В России, как и в других странах Восточной Европы, понятие политического участия предсказуемо. Принимая во внимание позицию Ф.Фукуямы, натуралистическая парадигма определяет функциональный гуманизм. В постмодернистской перспективе постиндустриализм означает прагматический англо-американский тип политической культуры.</p>
      <p>Политические учения Гоббса, короче говоря, существенно означает бихевиоризм. Политическая элита теоретически формирует экзистенциальный культ личности. Демократия участия ограничивает гносеологический механизм власти. Согласно концепции М.Маклюэна,  политическое учение Монтескье случайно. Авторитаризм, тем более в условиях социально-экономического кризиса, вызывает христианско-демократический национализм, если взять за основу только формально-юридический аспект. Доиндустриальный тип политической культуры, на первый взгляд, существенно вызывает теоретический бихевиоризм.</p>
    </w-modal>

    <hr>

    <h3>12. WYSIWYG</h3>
    <p>Референс: <a href="http://joxi.ru/xAeOJQ0UWRz4my">http://joxi.ru/xAeOJQ0UWRz4my</a> (файл <b>редактирование-текст.jpg</b>)</p>
    <div>
      <w-tinymce
        v-model="html"
        >
      </w-tinymce>
    </div>


    <hr>

    <h3>13. Поле загрузки файлов</h3>
    <p>Референс: <a href="http://joxi.ru/Y2LEyP0h37kBA6">http://joxi.ru/Y2LEyP0h37kBA6</a> (файл <b>создать-группу.jpg</b>)</p>

    <hr>

    <h3>14. Выпадающий список</h3>
    <p>Референсы:</p>
    <ul>
      <li><a href="http://joxi.ru/52aZ8PYU6E6gA0">http://joxi.ru/52aZ8PYU6E6gA0</a> (файл <b>админ-страница-баннеры.jpg</b>)</li>
      <li><a href="http://joxi.ru/BA0WMXvT0Pvn2y">http://joxi.ru/BA0WMXvT0Pvn2y</a> (файл <b>добавить-технику.jpg</b>)</li>
    </ul>
    <div>
      <w-select v-model="selected" placeholder="Выберите значение" :options="selectOptions"/>
      <span>Выбранное значение: {{ selected }}</span>
    </div>

    <hr>

    <h3>18. Spinner</h3>
    <p>@TODO</p>

    <hr>

    <h3>19. Табы</h3>
    <p>Референсы:</p>
    <ul>
      <li><a href="http://joxi.ru/a2XO5aVH1JYeYm">http://joxi.ru/a2XO5aVH1JYeYm</a></li>
    </ul>
    <w-tabs>
      <w-tab title="first" subtitle="first" icon-class="mi mi-pic">First tab content</w-tab>
      <w-tab title="second" subtitle="second" icon-class="mi mi-calendar">Second</w-tab>
      <w-tab title="third" subtitle="third" icon-class="mi mi-pics">The last of tabs</w-tab>
    </w-tabs>
    <hr>

    <h3>20. Menu button</h3>
    <w-menubutton
      :items="buttonItems"
      v-model="selectedMenubutton"
      >
    </w-menubutton>
    <span>Selected: {{ selectedMenubutton }}</span>

  </div>
</template>

<script>
  export default {
    layout: 'naked',
    data() {
      return {
        chk: true,
        modalShown: false,
        html: '<h1>header</h1><ul><li>list</li></ul>',
        buttonItems: [
          {
            name: 'first',
            value: 1,
          },
          {
            name: 'second',
            value: 2,
          },
        ],
        selectedMenubutton: null,
        selectOptions: [
          { id: 'banana', text: 'Бананы' },
          { id: 'orange', text: 'Апельсины' },
          { id: 'apple', text: 'Яблоки' },
        ],
        selected: null,
        stars: 4,
        photo: null,
        date: new Date(),
        mapCenter: [55.76, 37.64],
        placemarkPosition: [55.76, 37.64],
        inputValue: 'asd',
        textareaValue: 'asd',
      };
    },
  };
</script>

<style lang="scss">
  .boxed {
    border: dashed 1px #000;
    display: inline-block;
  }
</style>

