<template>
  <div>
    <w-tinymce v-model="html"></w-tinymce>
  </div>
</template>

<script>
  export default {
    layout: 'naked',
    data() {
      return {
        html: '<h1>header</h1><ul><li>list</li></ul>',
      };
    },
  };
</script>

<style lang="scss">
  .boxed {
    border: dashed 1px #000;
    display: inline-block;
  }
</style>

